Repository keephq/keep: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, check-yaml

black:
  name: black
  entry: black
  language: system
  require_serial: true

check-yaml:
  name: Check Yaml
  entry: check-yaml
  language: system

fix: polling
  keep-ui/app/alerts/alerts.tsx
  keep-ui/utils/hooks/useAlerts.ts
  keep-ui/utils/hooks/usePusher.ts
  keep/api/routes/alerts.py
  keep/api/routes/preset.py
  keep/api/tasks/process_event_task.py
Due: black

fix: bug
  keep/api/routes/alerts.py
Due: black

Update datetime-compare.mdx
  docs/workflows/functions/datetime-compare.mdx
Due: none

Updated pagerduty_provider.py
  keep/providers/pagerduty_provider/pagerduty_provider.py
Due: black

Updated pagerduty_provider.py - Added escalation_policy to metadata
  keep/providers/pagerduty_provider/pagerduty_provider.py
Due: black

Save alerts from 3rd party providers
  keep/api/routes/alerts.py
  keep/api/routes/preset.py
  keep/api/tasks/process_event_task.py
Due: black

Fix tests
  keep/api/routes/preset.py
Due: black

fix: tests
  tests/test_search_alerts.py
Due: black

fix: tests (#1281)
  tests/test_search_alerts.py
Due: black

Update keep/api/routes/alerts.py
  keep/api/routes/alerts.py
Due: black

fix: fixing postgres
  docker-compose-postgres.yml
  keep/api/core/db.py
Due: black, check-yaml

Post-review fixes
  keep/api/routes/preset.py
Due: black

fix: bugs with presets and pulled alerts (#1276)
  keep-ui/app/alerts/LastReceived.tsx
  keep-ui/app/alerts/TitleAndFilters.tsx
  keep-ui/app/alerts/alert-change-status-modal.tsx
  keep-ui/app/alerts/alerts-table-body.tsx
  keep-ui/app/alerts/alerts.tsx
  keep-ui/utils/hooks/useAlerts.ts
  keep-ui/utils/hooks/usePresets.ts
  keep-ui/utils/hooks/usePusher.ts
  keep/api/models/db/preset.py
  keep/api/routes/alerts.py
  keep/api/routes/preset.py
  keep/api/tasks/process_event_task.py
  keep/searchengine/searchengine.py
Due: black

feat: support complex matcher expressions in mapping
  keep-ui/app/mapping/create-or-edit-mapping.tsx
  keep-ui/app/rules/CorrelationSidebar/RuleFields.tsx
  keep-ui/components/ui/CreateableSearchSelect.tsx
  keep/api/bl/enrichments.py
  tests/test_enrichments.py
Due: black

fix(ui): usePresetAlerts bugs
  keep-ui/app/alerts/alert-pagination.tsx
Due: none

fix(ui): usePresetAlerts small issue (#1286)
  keep-ui/app/alerts/alert-pagination.tsx
Due: none

feat: e2e
  .github/workflows/test-pr-e2e.yml
  tests/conftest.py
  tests/e2e_tests/docker-compose-e2e-mysql.yml
  tests/e2e_tests/docker-compose-e2e-postgres.yml
  tests/e2e_tests/test_end_to_end.py
Due: black, check-yaml

feat: typo
  .github/workflows/test-pr-e2e.yml
Due: check-yaml

feat: e2e (#1287)
  .github/workflows/test-pr-e2e.yml
  tests/conftest.py
  tests/e2e_tests/docker-compose-e2e-mysql.yml
  tests/e2e_tests/docker-compose-e2e-postgres.yml
  tests/e2e_tests/test_end_to_end.py
Due: black, check-yaml

fix: typo
  .github/workflows/test-pr-e2e.yml
Due: check-yaml

feat: e2e (#1288)
  .github/workflows/test-pr-e2e.yml
Due: check-yaml

feat: add playwright
  .github/workflows/test-pr-e2e.yml
  poetry.lock
  pyproject.toml
Due: check-yaml

feat: install playwright
  .github/workflows/test-pr-e2e.yml
Due: check-yaml

feat: test
  .github/workflows/test-pr-e2e.yml
  tests/conftest.py
Due: black, check-yaml

feat: another try
  tests/conftest.py
Due: black

feat: another test
  .github/workflows/test-pr-e2e.yml
Due: check-yaml

feat: another
  .github/workflows/test-pr-e2e.yml
Due: check-yaml

feat: another
  tests/conftest.py
Due: black

feat: add openobserve provider
  README.md
  docs/mint.json
  docs/providers/documentation/openobserve-provider.mdx
  keep-ui/public/icons/openobserve-icon.png
  keep/providers/appdynamics_provider/appdynamics_provider.py
  keep/providers/openobserve_provider/__init__.py
  keep/providers/openobserve_provider/alerttemplate.json
  keep/providers/openobserve_provider/openobserve_provider.py
Due: black

chore: minor fixes
  keep/providers/openobserve_provider/openobserve_provider.py
Due: black

feat: add openobserve provider (#1289)
  README.md
  docs/mint.json
  docs/providers/documentation/openobserve-provider.mdx
  keep-ui/public/icons/openobserve-icon.png
  keep/providers/appdynamics_provider/appdynamics_provider.py
  keep/providers/openobserve_provider/__init__.py
  keep/providers/openobserve_provider/alerttemplate.json
  keep/providers/openobserve_provider/openobserve_provider.py
Due: black

Path conditions:
  black: any of: \.py$
  check-yaml: any of: \.(yaml|yml)$
