Repository keephq/keep: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, check-yaml

black:
  name: black
  entry: black
  language: system
  require_serial: true

check-yaml:
  name: Check Yaml
  entry: check-yaml
  language: system

More doc edits
  docs/mint.json
  docs/overview/comparisons.mdx
Due: none

fix: redis worker
  keep/api/arq_worker.py
  keep/api/tasks/healthcheck_task.py
Due: black

fix: redis worker (#1883)
  keep/api/arq_worker.py
  keep/api/tasks/healthcheck_task.py
Due: black

fix: Update db.py missing unique_api_key_id (#1880)
  keep/api/core/db.py
Due: black

Trying to catch unstable test reason. Adding more observability by making workflow ids unique
  tests/test_workflow_execution.py
Due: black

fix: Trying to catch unstable test reason. Adding more observability by making workflow ids unique (#1875)
  tests/test_workflow_execution.py
Due: black

Remove unused import
  keep/api/routes/incidents.py
Due: black

Configure Sliding window and a minimal amount of fingerprints for mining incidents
  ee/experimental/incident_utils.py
  keep-ui/app/ai/ai.tsx
  keep/api/models/ai.py
  keep/api/routes/incidents.py
Due: black

Removes unused import
  keep/api/models/db/migrations/versions/2024-09-04-09-38_b30d2141e1cb.py
Due: black

resolves conflict again
  keep/api/routes/workflows.py
Due: black

fix: resolves conflicts and applies validator changes
  keep-ui/app/workflows/builder/builder-validators.tsx
  keep-ui/app/workflows/builder/builder.tsx
  keep-ui/app/workflows/builder/editors.tsx
  keep-ui/app/workflows/builder/utils.tsx
Due: none

fix: fixes test
  keep/api/models/db/migrations/versions/2024-08-30-09-34_7ed12220a0d3.py
Due: black

feat: add the option to disable workflow
  docs/workflows/syntax/basic-syntax.mdx
  keep-ui/app/workflows/models.tsx
  keep-ui/app/workflows/workflow-menu.tsx
  keep-ui/app/workflows/workflow-tile.tsx
  keep/api/core/db.py
  keep/api/models/db/migrations/versions/2024-08-30-09-34_7ed12220a0d3.py
  keep/api/models/db/workflow.py
  keep/api/models/workflow.py
  keep/api/routes/workflows.py
  keep/parser/parser.py
  keep/workflowmanager/workflow.py
  keep/workflowmanager/workflowmanager.py
  keep/workflowmanager/workflowstore.py
  tests/test_workflow_execution.py
Due: black

Resolves double-headed migrations
  keep/api/models/db/migrations/versions/2024-09-04-09-38_b30d2141e1cb.py
Due: black

Make rules table more informative
  keep-ui/app/rules/CorrelationTable.tsx
  keep-ui/utils/hooks/useRules.ts
  keep/api/core/db.py
  keep/api/routes/rules.py
Due: black

feat: mssql
  keep/api/models/db/alert.py
  keep/api/models/db/migrations/versions/2024-07-16-12-16_37019ca3eb2e.py
  keep/api/models/db/migrations/versions/2024-07-24-13-39_9ba0aeecd4d0.py
  keep/api/models/db/migrations/versions/2024-07-29-18-10_92f4f93f2140.py
  keep/api/models/db/migrations/versions/2024-08-11-17-38_9453855f3ba0.py
  keep/api/models/db/migrations/versions/2024-08-14-18-30_87594ea6d308.py
  keep/api/models/db/migrations/versions/2024-08-25-16-40_4ef2c767664c.py
  keep/api/models/db/migrations/versions/2024-09-02-12-07_70671c95028e.py
  tests/e2e_tests/test_end_to_end.py
Due: black

Assert that workflow added to workflows_to_run after insert_events and then gone
  tests/test_workflow_execution.py
Due: black

feat: update poetry.lock
  poetry.lock
Due: none

fix: packages
  poetry.lock
  pyproject.toml
Due: none

fix: catching unstable test workflow execution 2 (#1886)
  tests/test_workflow_execution.py
Due: black

feat: Make rules table more informative (#1874)
  keep-ui/app/rules/CorrelationTable.tsx
  keep-ui/utils/hooks/useRules.ts
  keep/api/core/db.py
  keep/api/routes/rules.py
Due: black

feat: clickhouse provider
  README.md
  docs/mint.json
  docs/providers/documentation/clickhouse-provider.mdx
  examples/workflows/query_clickhouse.yml
  keep-ui/public/icons/clickhouse-icon.png
  keep/providers/clickhouse_provider/README.md
  keep/providers/clickhouse_provider/__init__.py
  keep/providers/clickhouse_provider/clickhouse_provider.py
  poetry.lock
  pyproject.toml
Due: black, check-yaml

feat: clickhouse provider
  keep/providers/clickhouse_provider/clickhouse_provider.py
Due: black

feat: clickhouse provider
  docs/providers/documentation/clickhouse-provider.mdx
  keep-ui/public/icons/clickhouse-icon.png
Due: none

feat: clickhouse provider (#1889)
  README.md
  docs/mint.json
  docs/providers/documentation/clickhouse-provider.mdx
  examples/workflows/query_clickhouse.yml
  keep-ui/public/icons/clickhouse-icon.png
  keep/providers/clickhouse_provider/README.md
  keep/providers/clickhouse_provider/__init__.py
  keep/providers/clickhouse_provider/clickhouse_provider.py
  poetry.lock
  pyproject.toml
Due: black, check-yaml

feat: wip
  keep-ui/app/deduplication/models.tsx
  keep/api/alert_deduplicator/alert_deduplicator.py
  keep/api/core/db.py
  keep/api/logging.py
  keep/api/models/alert.py
  keep/api/models/db/alert.py
  keep/api/models/db/migrations/versions/2024-09-05-16-31_373713db6ced.py
  keep/providers/providers_factory.py
Due: black

Removes another double-headed migration
  keep/api/models/db/migrations/versions/2024-09-10-17-59_710b4ff1d19e.py
Due: black

Fixes possible test bug
  tests/test_workflow_execution.py
Due: black

fix: use custom worflowRun hook to run the workflow at all places
  keep-ui/app/workflows/[workflow_id]/executions.tsx
  keep-ui/app/workflows/mockworkflows.tsx
  keep-ui/app/workflows/workflow-menu.tsx
  keep-ui/app/workflows/workflow-tile.tsx
  keep-ui/utils/hooks/useWorkflowRun.ts
  keep/api/routes/workflows.py
  keep/api/utils/pagination.py
  keep/workflowmanager/workflowstore.py
Due: black

chore: remove unwanted imports
  keep/api/routes/workflows.py
Due: black

chore: update query_victoriametrics
  examples/workflows/query_victoriametrics.yml
Due: check-yaml

feat: fixes from customer
  keep/api/models/db/migrations/versions/2024-08-14-18-30_87594ea6d308.py
  keep/api/models/db/migrations/versions/2024-09-04-13-09_e6653be70b62.py
  keep/api/models/db/preset.py
Due: black

Path conditions:
  black: any of: \.py$
  check-yaml: any of: \.(yaml|yml)$
