Repository keephq/keep: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, check-yaml

black:
  name: black
  entry: black
  language: system
  require_serial: true

check-yaml:
  name: Check Yaml
  entry: check-yaml
  language: system

fix: change snowflake pkey to true
  keep/providers/snowflake_provider/snowflake_provider.py
Due: black

feat: Add keep config provider command (#12)
  .gitignore
  keep/cli/cli.py
  keep/providers/elastic_provider/elastic_provider.py
  keep/providers/providers_factory.py
  keep/providers/sentry_provider/sentry_provider.py
  keep/providers/slack_provider/slack_provider.py
  keep/providers/snowflake_provider/snowflake_provider.py
  keep/providers/ssh_provider/ssh_provider.py
  pyproject.toml
Due: black

feat: new relic provider and a few bugfixes
  examples/alerts/db_disk_space.yml
  keep/exceptions/provider_exception.py
  keep/providers/base/base_provider.py
  keep/providers/console_provider/console_provider.py
  keep/providers/newrelic_provider/__init__.py
  keep/providers/newrelic_provider/newrelic_provider.py
  keep/providers/slack_provider/slack_provider.py
  keep/providers/snowflake_provider/snowflake_provider.py
Due: black, check-yaml

fix: documentation
  keep/providers/newrelic_provider/newrelic_provider.py
Due: black

fix: remove slack url
  examples/alerts/db_disk_space.yml
Due: check-yaml

custom: Update issue templates
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
Due: none

custom: Update issue templates (#16)
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
Due: none

Create LICENSE
  LICENSE
Due: none

feat(cli): --providers-file
  examples/alerts/db_disk_space.yml
  keep/alertmanager/alertmanager.py
  keep/cli/cli.py
  keep/parser/parser.py
  keep/providers/base/base_provider.py
  keep/providers/console_provider/console_provider.py
  keep/providers/elastic_provider/elastic_provider.py
  keep/providers/mock_provider/mock_provider.py
  keep/providers/models/provider_config.py
  keep/providers/providers_factory.py
  keep/providers/sentry_provider/sentry_provider.py
  keep/providers/slack_provider/slack_provider.py
  keep/providers/snowflake_provider/snowflake_input_provider.py
  keep/providers/snowflake_provider/snowflake_provider.py
  keep/providers/ssh_provider/ssh_provider.py
Due: black, check-yaml

feat: new relic provider and a few bugfixes (#14)
  examples/alerts/db_disk_space.yml
  keep/exceptions/provider_exception.py
  keep/providers/base/base_provider.py
  keep/providers/console_provider/console_provider.py
  keep/providers/newrelic_provider/__init__.py
  keep/providers/newrelic_provider/newrelic_provider.py
  keep/providers/slack_provider/slack_provider.py
  keep/providers/snowflake_provider/snowflake_provider.py
Due: black, check-yaml

feat(cli): --providers-file (#18)
  examples/alerts/db_disk_space.yml
  keep/alertmanager/alertmanager.py
  keep/cli/cli.py
  keep/parser/parser.py
  keep/providers/base/base_provider.py
  keep/providers/console_provider/console_provider.py
  keep/providers/elastic_provider/elastic_provider.py
  keep/providers/mock_provider/mock_provider.py
  keep/providers/models/provider_config.py
  keep/providers/providers_factory.py
  keep/providers/sentry_provider/sentry_provider.py
  keep/providers/slack_provider/slack_provider.py
  keep/providers/snowflake_provider/snowflake_provider.py
  keep/providers/ssh_provider/ssh_provider.py
Due: black, check-yaml

fix(action): add logger
  keep/action/action.py
Due: black

feat: docs and blocks for slack demo
  docs/commands/cli-config.md
  docs/commands/cli-init.md
  docs/commands/cli-run.md
  docs/commands/cli-version.md
  docs/commands/cli.md
  docs/commands/config-provider.md
  examples/alerts/db_disk_space.yml
Due: check-yaml

fix(db_disk_space): alert
  examples/alerts/db_disk_space.yml
Due: check-yaml

feat(docs): init
  docs/.gitignore
  docs/README.md
  docs/babel.config.js
  docs/docs/intro.md
  docs/docs/tutorial-basics/_category_.json
  docs/docs/tutorial-basics/congratulations.md
  docs/docs/tutorial-basics/create-a-blog-post.md
  docs/docs/tutorial-basics/create-a-document.md
  docs/docs/tutorial-basics/create-a-page.md
  docs/docs/tutorial-basics/deploy-your-site.md
  docs/docs/tutorial-basics/markdown-features.mdx
  docs/docs/tutorial-extras/_category_.json
  docs/docs/tutorial-extras/img/docsVersionDropdown.png
  docs/docs/tutorial-extras/img/localeDropdown.png
  docs/docs/tutorial-extras/manage-docs-versions.md
  docs/docs/tutorial-extras/translate-your-site.md
  docs/docusaurus.config.js
  docs/package-lock.json
  docs/package.json
  docs/sidebars.js
  docs/src/css/custom.css
  docs/src/pages/index.module.css
  docs/src/pages/markdown-page.md
  docs/static/.nojekyll
  docs/static/img/favicon.ico
  docs/static/img/logo.svg
  docs/yarn.lock
Due: none

fix(config): editUrl
  docs/docusaurus.config.js
Due: none

feat: wip readme
  README.md
  assets/keep.png
Due: none

chore: wip
  README.md
  docs/commands/cli-config.md
  docs/commands/cli-init.md
  docs/commands/cli-run.md
  docs/commands/cli-version.md
  docs/commands/cli.md
  docs/commands/config-provider.md
Due: none

chore: cosmetics
  README.md
Due: none

chore: link to license
  README.md
Due: none

chore: continue with readme
  README.md
Due: none

chore: readme cosmetics
  README.md
Due: none

chore: typo readme
  README.md
Due: none

chore: report bug link
  README.md
Due: none

chore: add providers
  README.md
Due: none

15 documentation readme (still WIP) (#19)
  README.md
  assets/keep.png
  docs/.gitignore
  docs/README.md
  docs/babel.config.js
  docs/commands/cli-config.md
  docs/commands/cli-init.md
  docs/commands/cli-run.md
  docs/commands/cli-version.md
  docs/commands/cli.md
  docs/commands/config-provider.md
  docs/docs/intro.md
  docs/docs/tutorial-basics/_category_.json
  docs/docs/tutorial-basics/congratulations.md
  docs/docs/tutorial-basics/create-a-blog-post.md
  docs/docs/tutorial-basics/create-a-document.md
  docs/docs/tutorial-basics/create-a-page.md
  docs/docs/tutorial-basics/deploy-your-site.md
  docs/docs/tutorial-basics/markdown-features.mdx
  docs/docs/tutorial-extras/_category_.json
  docs/docs/tutorial-extras/img/docsVersionDropdown.png
  docs/docs/tutorial-extras/img/localeDropdown.png
  docs/docs/tutorial-extras/manage-docs-versions.md
  docs/docs/tutorial-extras/translate-your-site.md
  docs/docusaurus.config.js
  docs/package-lock.json
  docs/package.json
  docs/sidebars.js
  docs/src/css/custom.css
  docs/src/pages/index.module.css
  docs/src/pages/markdown-page.md
  docs/static/.nojekyll
  docs/static/img/favicon.ico
  docs/static/img/logo.svg
  docs/yarn.lock
  examples/alerts/db_disk_space.yml
  keep/action/action.py
Due: black, check-yaml

Delete CLI.md
  CLI.md
Due: none

Delete config.yaml
  config.yaml
Due: check-yaml

docs: vercel and config
  .gitignore
  docs/docusaurus.config.js
Due: none

feat: new render engine
  examples/alerts/logfile_example.yml
  keep/action/action.py
  keep/alert/alert.py
  keep/conditions/base_condition.py
  keep/conditions/condition_factory.py
  keep/conditions/threshold_condition.py
  keep/contextmanager/__init__.py
  keep/contextmanager/contextmanager.py
  keep/functions/__init__.py
  keep/iohandler/iohandler.py
  keep/parser/parser.py
  keep/providers/logfile_provider/__init__.py
  keep/providers/logfile_provider/logfile_provider.py
  keep/step/step.py
  pyproject.toml
Due: black, check-yaml

Path conditions:
  black: any of: \.py$
  check-yaml: any of: \.(yaml|yml)$
