Repository keephq/keep: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, check-yaml

black:
  name: black
  entry: black
  language: system
  require_serial: true

check-yaml:
  name: Check Yaml
  entry: check-yaml
  language: system

fix: add nextjs portal
  keep-ui/app/globals.css
Due: none

fix: add nextjs portal (#198)
  keep-ui/app/globals.css
Due: none

feat: new providers initial commit
  keep-ui/app/providers/layout.tsx
  keep-ui/app/providers/page.client.tsx
  keep-ui/app/providers/provider-tile.tsx
  keep-ui/app/providers/providers-available.css
  keep-ui/app/providers/providers-available.tsx
  keep-ui/app/providers/providers-installed.tsx
  keep-ui/public/icons/auth0-icon.png
  keep-ui/public/icons/cloudwatch-icon.png
  keep-ui/public/icons/github-icon.png
  keep-ui/public/icons/mysql-icon.png
  keep-ui/public/icons/newrelic-icon.png
  keep-ui/public/icons/resend-icon.png
  keep-ui/public/icons/telegram-icon.png
Due: none

feat: wip
  keep-ui/app/alerts/alerts.client.tsx
  keep-ui/app/globals.css
  keep-ui/app/layout.tsx
  keep-ui/app/providers/layout.tsx
  keep-ui/app/providers/page.client.tsx
  keep-ui/app/providers/provider-tile.tsx
  keep-ui/app/providers/providers-available.tsx
  keep-ui/app/providers/providers-installed.tsx
  keep-ui/package-lock.json
  keep-ui/package.json
  keep-ui/tailwind.config.js
Due: none

feat: side panel
  keep-ui/app/providers/page.client.tsx
  keep-ui/app/providers/provider-form.css
  keep-ui/app/providers/provider-form.tsx
  keep-ui/app/providers/provider-tile.tsx
  keep-ui/app/providers/providers-available.tsx
  keep-ui/app/providers/providers-installed.tsx
Due: none

fix: fixed height for connect btn
  keep-ui/app/providers/provider-tile.tsx
Due: none

feat: error indictator and loader
  keep-ui/app/providers/provider-form.tsx
  keep-ui/app/providers/providers-available.tsx
Due: none

feat: new providers UI (#199)
  keep-ui/app/alerts/alerts.client.tsx
  keep-ui/app/globals.css
  keep-ui/app/layout.tsx
  keep-ui/app/providers/layout.tsx
  keep-ui/app/providers/page.client.tsx
  keep-ui/app/providers/provider-form.css
  keep-ui/app/providers/provider-form.tsx
  keep-ui/app/providers/provider-tile.tsx
  keep-ui/app/providers/providers-available.css
  keep-ui/app/providers/providers-available.tsx
  keep-ui/app/providers/providers-connect.tsx
  keep-ui/app/providers/providers-installed.tsx
  keep-ui/package-lock.json
  keep-ui/package.json
  keep-ui/public/icons/auth0-icon.png
  keep-ui/public/icons/cloudwatch-icon.png
  keep-ui/public/icons/github-icon.png
  keep-ui/public/icons/mysql-icon.png
  keep-ui/public/icons/newrelic-icon.png
  keep-ui/public/icons/resend-icon.png
  keep-ui/public/icons/telegram-icon.png
  keep-ui/tailwind.config.js
Due: none

fix: fallback to anonymous
  keep/api/api.py
Due: black

fix: fallback to anonymous (#200)
  keep/api/api.py
Due: black

fix: change api container to be similar to prod
  docker/Dockerfile.dev.api
  docker/Dockerfile.dev.ui
  keep/providers/mysql_provider/mysql_provider.py
Due: black

fix: change api container to be similar to prod (#202)
  docker/Dockerfile.dev.api
  docker/Dockerfile.dev.ui
  keep/providers/mysql_provider/mysql_provider.py
Due: black

fix: providers installation and remove filters
  keep-ui/app/providers/layout.tsx
  keep/providers/cloudwatch_provider/cloudwatch_provider.py
  keep/providers/mysql_provider/mysql_provider.py
  keep/providers/newrelic_provider/newrelic_provider.py
  keep/providers/postgres_provider/postgres_provider.py
  keep/providers/psql_provider/__init__.py
  keep/providers/psql_provider/psql_provider.py
  keep/providers/snowflake_provider/snowflake_provider.py
  keep/providers/ssh_provider/ssh_provider.py
Due: black

fix: dont fail on coverage report upload
  .github/workflows/test-pr.yml
Due: check-yaml

fix: providers installation and remove filters (#203)
  .github/workflows/test-pr.yml
  keep-ui/app/providers/layout.tsx
  keep/providers/cloudwatch_provider/cloudwatch_provider.py
  keep/providers/mysql_provider/mysql_provider.py
  keep/providers/newrelic_provider/newrelic_provider.py
  keep/providers/postgres_provider/postgres_provider.py
  keep/providers/psql_provider/__init__.py
  keep/providers/psql_provider/psql_provider.py
  keep/providers/snowflake_provider/snowflake_provider.py
  keep/providers/ssh_provider/ssh_provider.py
Due: black, check-yaml

fix: remove dark mode
  keep-ui/tailwind.config.js
Due: none

fix: remove dark mode (#204)
  keep-ui/tailwind.config.js
Due: none

fix: fix useswr
  keep-ui/app/providers/page.client.tsx
  keep-ui/app/providers/page.tsx
Due: none

fix: useswr (#205)
  keep-ui/app/providers/page.client.tsx
  keep-ui/app/providers/page.tsx
Due: none

feat: update nxt
  keep-ui/package-lock.json
  keep-ui/package.json
Due: none

feat: update nxt (#206)
  keep-ui/package-lock.json
  keep-ui/package.json
Due: none

feat: add prom + basic query
  keep/providers/prometheus_provider/__init__.py
  keep/providers/prometheus_provider/prometheus_provider.py
Due: black

feat: add prom + basic query (#207)
  keep/providers/prometheus_provider/__init__.py
  keep/providers/prometheus_provider/prometheus_provider.py
Due: black

fix: dump state file only when exiting
  keep/alertmanager/alertmanager.py
  keep/contextmanager/contextmanager.py
Due: black

fix: test_context_manager_set_last_alert_run
  tests/test_contextmanager.py
Due: black

fix: dump state file only when exiting (#208)
  keep/alertmanager/alertmanager.py
  keep/contextmanager/contextmanager.py
  tests/test_contextmanager.py
Due: black

test helm chart and dockerfile.ui fix
  .gitignore
  chart/keep/Chart.yaml
  chart/keep/templates/keep-backend-service.yaml
  chart/keep/templates/keep-backend.yaml
  chart/keep/templates/keep-frontend-service.yaml
  chart/keep/templates/keep-frontend.yaml
  chart/keep/values.yaml
  docker/Dockerfile.ui
Due: check-yaml

fix: when _run_alert fails in thread
  keep/alertmanager/alertcheduler.py
Due: black

fix: when _run_alert fails in thread (#211)
  keep/alertmanager/alertcheduler.py
Due: black

Path conditions:
  black: any of: \.py$
  check-yaml: any of: \.(yaml|yml)$
