Repository keephq/keep: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, check-yaml

black:
  name: black
  entry: black
  language: system
  require_serial: true

check-yaml:
  name: Check Yaml
  entry: check-yaml
  language: system

Move alembic config
  docker/Dockerfile.api
  docs/development/getting-started.mdx
  keep/alembic.ini
Due: none

Update workflow-run-with-alert-modal.tsx
  keep-ui/app/workflows/workflow-run-with-alert-modal.tsx
Due: none

hardcoded incident assignment updated
  keep/api/api.py
  keep/api/core/db.py
  keep/api/core/incident_utils.py
  keep/api/models/db/alert.py
  keep/api/routes/incidents.py
Due: black

simple alert clustering algorithm added
  keep/api/core/incident_utils.py
  keep/api/routes/incidents.py
Due: black

feat: wip
  .gitignore
  keep-ui/app/alerts/alert-sidebar.tsx
  keep-ui/tailwind.config.js
  package-lock.json
  package.json
Due: none

Please migrate
  alembic.ini
Due: none

Merge
  keep/alembic.ini
Due: none

Absolute path?
  keep/api/core/db_on_start.py
Due: black

Aaaand as a package member?
  keep/alembic.ini
  keep/api/core/db_on_start.py
Due: black

Weird but ok...
  keep/alembic.ini
Due: none

FFFFFF
  keep/alembic.ini
Due: none

0.19.0
  pyproject.toml
Due: none

fix: mobile mode (#1283) (#1364)
  keep-ui/app/dashboard/styles.css
  keep-ui/components/navbar/MinimizeMenuButton.tsx
Due: none

fix: store raw events
  keep/api/tasks/process_event_task.py
Due: black

fix: store raw events (#1372)
  keep/api/tasks/process_event_task.py
Due: black

Fix relative paths
  docker/Dockerfile.api
  keep/alembic.ini
  keep/api/core/db_on_start.py
Due: black

Fix docker image
  docker/Dockerfile.api
Due: none

Implement simple data model and CRUD API for incidents
  docker/Dockerfile.dev.api
  keep/api/api.py
  keep/api/dal/__init__.py
  keep/api/dal/incidents.py
  keep/api/models/alert.py
  keep/api/models/db/alert.py
  keep/api/routes/incidents.py
Due: black

feat: add incidentio provider
  keep/providers/incidentio_provider/incidentio_provider.py
Due: black

bugfix: navbar menu improvement (#1373)
  keep-ui/components/navbar/AlertsLinks.tsx
  keep-ui/components/navbar/DashboardLinks.tsx
  keep-ui/components/navbar/Menu.tsx
  keep-ui/components/navbar/NoiseReductionLinks.tsx
  keep-ui/components/navbar/Search.css
  keep-ui/components/navbar/Search.tsx
Due: none

fix: Create Correlation form overflow (#1375)
  keep-ui/app/rules/CorrelationSidebar/CorrelationSidebarBody.css
  keep-ui/app/rules/CorrelationSidebar/CorrelationSidebarBody.tsx
Due: none

lp-for-ai
  keep-ui/app/ai/ai.tsx
  keep-ui/app/ai/page.tsx
  keep-ui/components/navbar/AILink.tsx
  keep-ui/components/navbar/NoiseReductionLinks.tsx
Due: none

Icon
  keep-ui/components/icons/index.tsx
  keep-ui/components/navbar/AILink.tsx
Due: none

fix: minor
  examples/workflows/autosupress.yml
  keep-ui/app/alerts/alert-graph-viz.tsx
  keep-ui/app/alerts/alert-sidebar.tsx
  keep-ui/app/alerts/alert-timeline.tsx
  keep-ui/package-lock.json
  keep-ui/package.json
  keep-ui/utils/hooks/useAlerts.ts
  keep/api/bl/enrichments.py
  keep/api/core/db.py
  keep/api/models/db/alert.py
  keep/api/routes/alerts.py
  keep/api/tasks/process_event_task.py
  keep/providers/base/base_provider.py
  tests/test_search_alerts.py
Due: black, check-yaml

fix: tests
  keep-ui/app/alerts/alert-graph-viz.tsx
  keep/api/bl/enrichments.py
  keep/api/models/db/alert.py
Due: black

fix: merge from main
  tests/test_search_alerts.py
Due: black

fix: merge from main
  keep-ui/app/alerts/alert-graph-viz.tsx
Due: none

Path conditions:
  black: any of: \.py$
  check-yaml: any of: \.(yaml|yml)$
