Repository keephq/keep: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, check-yaml

black:
  name: black
  entry: black
  language: system
  require_serial: true

check-yaml:
  name: Check Yaml
  entry: check-yaml
  language: system

fix(github provider): cast str to int when coming from state (#110)
  keep/providers/github_provider/github_provider.py
Due: black

feat: add microsoft teams provider (#72)
  README.md
  docs/docs/introduction.md
  docs/docs/providers/documentation/teams.md
  docs/docs/providers/getting-started.md
  examples/providers/teams.yml
  keep/providers/teams_provider/__init__.py
  keep/providers/teams_provider/teams_provider.py
Due: black, check-yaml

feat: WIP
  examples/alerts/DiskGrownDefectsRule.yml
  examples/alerts/NodeFilesystemBalancedRule.yml
  examples/alerts/db_disk_space_multistep_telegram.yml
  examples/alerts/db_disk_space_opsgenie.yml
  examples/alerts/new_github_stars.yml
  examples/alerts/raw_sql_query_datetime.yml
  examples/alerts/sentry_example.yml
  examples/alerts/simple_http_request_ntfy.yml
  keep/action/action.py
  keep/alert/alert.py
  keep/alertmanager/alertmanager.py
  keep/conditions/base_condition.py
  keep/conditions/threshold_condition.py
  keep/contextmanager/contextmanager.py
  keep/iohandler/iohandler.py
  keep/step/step.py
  tests/test_sanity.py
  tests/test_sanity_copy.py
Due: black, check-yaml

feat: remove redundant file
  tests/test_sanity_copy.py
Due: black

feat: wip
  examples/alerts/NodeFilesystemBalancedRule.yml
  keep/alert/alert.py
  keep/conditions/stddev_condition.py
  keep/contextmanager/contextmanager.py
  keep/parser/parser.py
  keep/step/step.py
Due: black, check-yaml

feat: refactor conditions, add foreach step, add stddev condition
  docs/docs/conditions/what-is-a-condition.md
  docs/docs/high-level.md
  docs/docs/syntax.md
  docs/docs/z_examples/multistep-alert-example.md
  tests/test_sanity.py
Due: black

feat: refactor conditions, add foreach step, add stddev condition
  examples/alerts/db_disk_space.yml
  examples/alerts/db_disk_space_pagerduty.yml
  examples/alerts/db_disk_space_pushover.yml
  examples/alerts/db_disk_space_several_alerts_in_one_yaml.yml
  examples/alerts/db_disk_space_telegram.yml
  examples/alerts/db_disk_space_telegram_throttle.yml
  examples/alerts/db_disk_space_zenduty.yml
  examples/alerts/elastic_200_demo.yml
  examples/alerts/keep_semantic_alert_example_datadog.yml
  examples/alerts/logfile_example.yml
  examples/alerts/new_github_stars.yml
  examples/alerts/sentry_example.yml
  examples/alerts/simple_http_request_ntfy.yml
Due: check-yaml

trello provider code added
  keep/providers/trello_provider/__init__.py
  keep/providers/trello_provider/trello_provider.py
Due: black

feat: create example of trello alert when new card is created
  examples/alerts/trello_new_card_alert.yml
  keep/iohandler/iohandler.py
  keep/providers/trello_provider/trello_provider.py
Due: black, check-yaml

feat: remove redundant code
  keep/iohandler/iohandler.py
Due: black

feat: removed extra logs
  keep/providers/trello_provider/trello_provider.py
Due: black

feat: updated query method
  keep/providers/trello_provider/trello_provider.py
Due: black

feat: jira provider added
  keep/providers/jira_provider/__init__.py
  keep/providers/jira_provider/jira_provider.py
Due: black

feat: fix docs build
  docs/docs/021_syntax/01-syntax.md
  docs/docs/021_syntax/04-state.md
Due: none

feat: remove redundant code
  docs/docs/023_conditions/04-stddev.md
Due: none

feat: fix docs
  docs/docs/023_conditions/04-stddev.md
Due: none

Update keep/iohandler/iohandler.py
  keep/iohandler/iohandler.py
Due: black

feat: trello provider code added (#113)
  examples/alerts/trello_new_card_alert.yml
  keep/providers/trello_provider/__init__.py
  keep/providers/trello_provider/trello_provider.py
Due: black, check-yaml

feat: jira provider code added (#114)
  keep/providers/jira_provider/__init__.py
  keep/providers/jira_provider/jira_provider.py
Due: black

f-strings and whitespace
  keep/cli/click_extensions.py
  keep/iohandler/iohandler.py
  keep/providers/console_provider/console_provider.py
  keep/providers/discord_provider/discord_provider.py
  keep/providers/jira_provider/jira_provider.py
  keep/providers/newrelic_provider/newrelic_provider.py
  keep/providers/opsgenie_provider/opsgenie_provider.py
  keep/providers/pagerduty_provider/pagerduty_provider.py
  keep/providers/psql_provider/psql_provider.py
  keep/providers/pushover_provider/pushover_provider.py
  keep/providers/slack_provider/slack_provider.py
  keep/providers/trello_provider/trello_provider.py
  keep/providers/zenduty_provider/zenduty_provider.py
Due: black

language updates
  keep/api/routes/alertsfiles.py
  keep/cli/cli.py
  keep/cli/click_extensions.py
  keep/conditions/threshold_condition.py
  keep/contextmanager/contextmanager.py
  keep/functions/__init__.py
  keep/iohandler/iohandler.py
  keep/providers/github_provider/github_provider.py
Due: black

style: Language updates and fixes (#115)
  keep/api/routes/alertsfiles.py
  keep/cli/cli.py
  keep/cli/click_extensions.py
  keep/conditions/threshold_condition.py
  keep/contextmanager/contextmanager.py
  keep/functions/__init__.py
  keep/iohandler/iohandler.py
  keep/providers/console_provider/console_provider.py
  keep/providers/discord_provider/discord_provider.py
  keep/providers/github_provider/github_provider.py
  keep/providers/jira_provider/jira_provider.py
  keep/providers/newrelic_provider/newrelic_provider.py
  keep/providers/opsgenie_provider/opsgenie_provider.py
  keep/providers/pagerduty_provider/pagerduty_provider.py
  keep/providers/psql_provider/psql_provider.py
  keep/providers/pushover_provider/pushover_provider.py
  keep/providers/slack_provider/slack_provider.py
  keep/providers/trello_provider/trello_provider.py
  keep/providers/zenduty_provider/zenduty_provider.py
Due: black

fix: fixing wrong type checking
  keep/conditions/threshold_condition.py
Due: black

fix: fixing wrong type checking (#117)
  keep/conditions/threshold_condition.py
Due: black

Added sanity test for Parser.parse.
  keep/parser/tests_for_parser/resources/db_disk_space_for_testing.yml
  keep/parser/tests_for_parser/resources/providers_for_testing.yaml
  keep/parser/tests_for_parser/test_parser.py
Due: black, check-yaml

fix: solving https://getkeep.slack.com/archives/C04PT44MATS/p1682185551375159
  keep/action/action.py
Due: black

fix: solving condition parsing bug (see slack link in issue body) (#118)
  keep/action/action.py
Due: black

feat: add bash provider
  keep/providers/bash_provider/__init__.py
  keep/providers/bash_provider/bash_provider.py
Due: black

fix: removing space
  keep/providers/bash_provider/bash_provider.py
Due: black

Path conditions:
  black: any of: \.py$
  check-yaml: any of: \.(yaml|yml)$
