Repository keephq/keep: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, check-yaml

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: black
        name: black
        entry: black
        language: system
        types: [python]
        require_serial: true
      - id: check-added-large-files
        name: Check for added large files
        entry: check-added-large-files
        language: system
      - id: check-yaml
        name: Check Yaml
        entry: check-yaml
        language: system
        types: [yaml]
      - id: end-of-file-fixer
        name: Fix End of Files
        entry: end-of-file-fixer
        language: system
        types: [text]
        stages: [commit, push, manual]
      - id: isort
        name: isort
        entry: isort
        require_serial: true
        language: system
        types_or: [cython, pyi, python]
        args: ["--filter-files", "--profile", "black"]
      - id: trailing-whitespace
        name: Trim Trailing Whitespace
        entry: trailing-whitespace-fixer
        language: system
        types: [text]
        stages: [commit, push, manual]
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v2.6.0
    hooks:
      - id: prettier
  - repo: https://github.com/compilerla/conventional-pre-commit
    rev: v2.1.1
    hooks:
      - id: conventional-pre-commit
        stages: [commit-msg]
        args: [] # optional: list of Conventional Commits types to allow e.g. [feat, fix, ci, chore, test]

fix: missing provider issue in ui (#387)
  keep/providers/linear_provider/linear_provider.py
Due: black

feat: kafka wip
  examples/workflows/create_jira_ticket_upon_alerts.yml
  keep/api/api.py
  keep/api/core/db.py
  keep/api/models/db/provider.py
  keep/event_subscriber/__init__.py
  keep/event_subscriber/event_subscriber.py
  keep/providers/base/base_provider.py
  keep/providers/kafka_provider/README.md
  keep/providers/kafka_provider/__init__.py
  keep/providers/kafka_provider/docker-compose.yml
  keep/providers/kafka_provider/kafka_provider.py
  keep/providers/kafka_provider/kafka_server_jaas.conf
  keep/providers/providers_factory.py
  poetry.lock
  pyproject.toml
Due: black, check-yaml

added support for jira _notify method
  keep/providers/jira_provider/jira_provider.py
Due: black

updated doc
  docs/providers/documentation/jira-provider.mdx
Due: none

fix: wip
  keep/providers/sentry_provider/sentry_provider.py
Due: black

feat: sentry webhook scopes
  keep/api/core/dependencies.py
  keep/providers/sentry_provider/sentry_provider.py
Due: black

feat: kafka
  keep-ui/public/icons/github_workflows-icon.png
  keep-ui/public/icons/kafka-icon.png
  keep/api/api.py
  keep/api/core/db.py
  keep/api/models/db/provider.py
  keep/api/routes/alerts.py
  keep/api/routes/providers.py
  keep/contextmanager/contextmanager.py
  keep/event_subscriber/event_subscriber.py
  keep/parser/parser.py
  keep/providers/base/base_provider.py
  keep/providers/kafka_provider/kafka_provider.py
  keep/providers/providers_factory.py
Due: black

feat: kafka
  keep/api/api.py
  keep/api/routes/providers.py
  keep/event_subscriber/event_subscriber.py
  keep/providers/kafka_provider/docker-compose-no-auth.yml
  keep/providers/kafka_provider/kafka_provider.py
Due: black, check-yaml

feat: kafka wip
  keep/api/api.py
  keep/event_subscriber/event_subscriber.py
  keep/providers/base/base_provider.py
  keep/providers/kafka_provider/README.md
  keep/providers/kafka_provider/kafka_provider.py
  poetry.lock
  pyproject.toml
Due: black

feat: add logs
  keep/api/logging.py
Due: black

feat: add logs (#404)
  keep/api/logging.py
Due: black

feat: kafka
  keep/event_subscriber/event_subscriber.py
  keep/providers/kafka_provider/README.md
  keep/providers/kafka_provider/docker-compose-no-auth.yml
  keep/providers/kafka_provider/kafka_provider.py
Due: black, check-yaml

fix: github workflow provider image
  keep-ui/public/icons/github_workflows-icon.png
Due: none

fix: github workflow provider image (#405)
  keep-ui/public/icons/github_workflows-icon.png
Due: none

feat: kafka
  keep/api/api.py
Due: black

feat: kafka wip
  keep/api/api.py
  keep/storagemanager/gcpstoragemanager.py
Due: black

feat: kafka
  keep/api/api.py
  keep/api/routes/status.py
  keep/event_subscriber/event_subscriber.py
  keep/providers/base/base_provider.py
  keep/providers/kafka_provider/kafka_provider.py
Due: black

feat: kafka icon
  keep-ui/public/icons/kafka-icon.png
Due: none

feat: minor self cr
  keep/api/api.py
  keep/event_subscriber/event_subscriber.py
  keep/providers/kafka_provider/kafka_provider.py
  keep/workflowmanager/workflowmanager.py
Due: black

feat: new icon
  keep-ui/public/icons/kafka-icon.png
Due: none

feat: kafka wip (#402)
  examples/workflows/create_jira_ticket_upon_alerts.yml
  keep-ui/public/icons/kafka-icon.png
  keep/api/api.py
  keep/api/core/db.py
  keep/api/models/db/provider.py
  keep/api/routes/alerts.py
  keep/api/routes/providers.py
  keep/api/routes/status.py
  keep/contextmanager/contextmanager.py
  keep/event_subscriber/__init__.py
  keep/event_subscriber/event_subscriber.py
  keep/parser/parser.py
  keep/providers/base/base_provider.py
  keep/providers/kafka_provider/README.md
  keep/providers/kafka_provider/__init__.py
  keep/providers/kafka_provider/docker-compose-no-auth.yml
  keep/providers/kafka_provider/docker-compose.yml
  keep/providers/kafka_provider/kafka_provider.py
  keep/providers/kafka_provider/kafka_server_jaas.conf
  keep/providers/providers_factory.py
  keep/storagemanager/gcpstoragemanager.py
  keep/workflowmanager/workflowmanager.py
  poetry.lock
  pyproject.toml
Due: black, check-yaml

feat: hide sensitive fields by default
  keep-ui/app/providers/provider-form.tsx
  keep/providers/grafana_provider/grafana_provider.py
  keep/providers/kafka_provider/kafka_provider.py
Due: black

feat: hide sensitive fields by default
  keep-ui/app/providers/provider-form.tsx
Due: none

feat: hide sensitive fields by default (#409)
  keep-ui/app/providers/provider-form.tsx
  keep/providers/grafana_provider/grafana_provider.py
  keep/providers/kafka_provider/kafka_provider.py
Due: black

fix: sentry working
  keep/providers/providers_factory.py
  keep/providers/sentry_provider/sentry_provider.py
Due: black

fix: sentry query
  keep/providers/sentry_provider/sentry_provider.py
Due: black

chore: add notes in sentry docs
  docs/providers/documentation/sentry-provider.mdx
Due: none

fix: sentry when not webhooks exists
  keep/providers/sentry_provider/sentry_provider.py
Due: black

fix: sentry when not webhooks exists (#410)
  keep/providers/sentry_provider/sentry_provider.py
Due: black
