Repository keephq/keep: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, check-yaml

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: black
        name: black
        entry: black
        language: system
        types: [python]
        require_serial: true
      - id: check-added-large-files
        name: Check for added large files
        entry: check-added-large-files
        language: system
      - id: check-yaml
        name: Check Yaml
        entry: check-yaml
        language: system
        types: [yaml]
      - id: end-of-file-fixer
        name: Fix End of Files
        entry: end-of-file-fixer
        language: system
        types: [text]
        stages: [commit, push, manual]
      - id: isort
        name: isort
        entry: isort
        require_serial: true
        language: system
        types_or: [cython, pyi, python]
        args: ["--filter-files", "--profile", "black"]
      - id: trailing-whitespace
        name: Trim Trailing Whitespace
        entry: trailing-whitespace-fixer
        language: system
        types: [text]
        stages: [commit, push, manual]
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v2.6.0
    hooks:
      - id: prettier
  - repo: https://github.com/compilerla/conventional-pre-commit
    rev: v2.1.1
    hooks:
      - id: conventional-pre-commit
        stages: [commit-msg]
        args: [] # optional: list of Conventional Commits types to allow e.g. [feat, fix, ci, chore, test]

feat:create `Search` component
  keep-ui/app/command-menu.tsx
  keep-ui/components/navbar/Search.tsx
  keep-ui/components/navbar/navbar-inner.tsx
  keep-ui/components/navbar/navbar.tsx
  keep-ui/components/navbar/search.tsx
Due: none

fix:prevent selected value from showing
  keep-ui/components/navbar/Search.tsx
Due: none

chore: move to tremor dialog
  keep-ui/components/ui/Modal.tsx
  keep-ui/package-lock.json
  keep-ui/package.json
Due: none

chore: move everything to new modal component
  keep-ui/app/alerts/alert-assign-ticket-modal.tsx
  keep-ui/app/alerts/alert-history.tsx
  keep-ui/app/settings/add-user-modal.tsx
  keep-ui/app/settings/create-api-key-modal.tsx
  keep-ui/app/workflows/workflow-run-with-alert-modal.tsx
  keep-ui/app/workflows/workflows.client.tsx
  keep-ui/components/ui/Modal.tsx
Due: none

chore: remove unused imports
  keep-ui/app/alerts/alert-assign-ticket-modal.tsx
  keep-ui/app/alerts/alert-history.tsx
  keep-ui/app/alerts/alert-run-workflow-modal.tsx
  keep-ui/app/settings/add-user-modal.tsx
  keep-ui/app/settings/create-api-key-modal.tsx
  keep-ui/app/workflows/workflow-run-with-alert-modal.tsx
  keep-ui/app/workflows/workflows.client.tsx
Due: none

fix(datadog): oauth integration in EU
  keep-ui/app/providers/page.tsx
  keep-ui/app/providers/providers-tiles.tsx
  keep/providers/datadog_provider/datadog_provider.py
Due: black

fix: set host in oauth flow
  keep/providers/datadog_provider/datadog_provider.py
Due: black

fix(datadog): oauth integration in EU (#829)
  keep-ui/app/providers/page.tsx
  keep-ui/app/providers/providers-tiles.tsx
  keep/providers/datadog_provider/datadog_provider.py
Due: black

fix: bash provider and examples (#828)
  examples/workflows/bash_example.yml
  keep/providers/bash_provider/bash_provider.py
Due: black, check-yaml

fix(ui): oauth2 datadog from different domains
  keep-ui/app/providers/provider-form.tsx
Due: none

fix(ui): oauth2 datadog from different domains (#830)
  keep-ui/app/providers/provider-form.tsx
Due: none

feat: add index
  keep/api/models/db/alert.py
Due: black

feat: run workflow from alert
  keep-ui/app/alerts/alert-run-workflow-modal.tsx
  keep-ui/utils/hooks/useWorkflows.ts
Due: none

refactor:remove `cmdk` package
  keep-ui/package-lock.json
  keep-ui/package.json
Due: none

feat:create `LinkWithIcon` component
  keep-ui/components/LinkWithIcon.tsx
Due: none

feat:add links to `ConfigureLinks`
  keep-ui/components/navbar/ConfigureLinks.tsx
  keep-ui/components/navbar/navbar.tsx
Due: none

feat:add links to `AnalyseLinks`
  keep-ui/components/navbar/AnalyseLinks.tsx
  keep-ui/components/navbar/AnalyzeLinks.tsx
  keep-ui/components/navbar/MonitorLinks.tsx
  keep-ui/components/navbar/navbar.tsx
Due: none

refactor:add anchor attributes to `LinkWithIcon` props
  keep-ui/components/LinkWithIcon.tsx
Due: none

feat:add links to `LearnLinks`
  keep-ui/components/navbar/LearnLinks.tsx
Due: none

fix:add `overflow-auto` to `AnalyseLinks`
  keep-ui/components/navbar/AnalyseLinks.tsx
Due: none

chore(db): add index for timestamp column in `Alert` table (#831)
  keep/api/models/db/alert.py
Due: black

chore: add workflow to fingerprint execution entry in db
  keep/api/core/db.py
  keep/workflowmanager/workflowscheduler.py
Due: black

[feat] api: presets by user
  keep/api/models/db/preset.py
  keep/api/routes/preset.py
Due: black

refactor:tighten up logic in `Search`
  keep-ui/components/navbar/Search.tsx
Due: none

refactor:prop changes to nav children
  keep-ui/components/navbar/AnalyseLinks.tsx
  keep-ui/components/navbar/ConfigureLinks.tsx
  keep-ui/components/navbar/navbar.tsx
Due: none

fix: only if pusher_client
  keep/api/routes/alerts.py
Due: black

fix: a few clean ups and improvements
  keep-ui/app/alerts/alert-table-headers.tsx
  keep-ui/app/navbar-inner.tsx
  keep-ui/app/providers/provider-tile.tsx
  keep-ui/app/workflows/builder/builder-card.tsx
  keep-ui/utils/hooks/useProviders.ts
  keep-ui/utils/hooks/useUsers.ts
  keep-ui/utils/hooks/useWorkflows.ts
Due: none

chore: add beta to workflow builder
  keep-ui/app/workflows/builder/page.client.tsx
Due: none

fix: only if pusher_client (#833)
  keep/api/routes/alerts.py
Due: black

feat(ui): run workflow from alert (#827)
  keep-ui/app/alerts/alert-assign-ticket-modal.tsx
  keep-ui/app/alerts/alert-history.tsx
  keep-ui/app/alerts/alert-menu.tsx
  keep-ui/app/alerts/alert-method-modal.tsx
  keep-ui/app/alerts/alert-note-modal.tsx
  keep-ui/app/alerts/alert-run-workflow-modal.tsx
  keep-ui/app/alerts/alert-table-headers.tsx
  keep-ui/app/alerts/alert-table-tab-panel.tsx
  keep-ui/app/alerts/alert-table-utils.tsx
  keep-ui/app/alerts/alerts.tsx
  keep-ui/app/navbar-inner.tsx
  keep-ui/app/providers/provider-tile.tsx
  keep-ui/app/settings/add-user-modal.tsx
  keep-ui/app/settings/create-api-key-modal.tsx
  keep-ui/app/workflows/builder/builder-card.tsx
  keep-ui/app/workflows/builder/page.client.tsx
  keep-ui/app/workflows/workflow-run-with-alert-modal.tsx
  keep-ui/app/workflows/workflow-tile.tsx
  keep-ui/app/workflows/workflows.client.tsx
  keep-ui/components/ui/Modal.tsx
  keep-ui/package-lock.json
  keep-ui/package.json
  keep-ui/utils/hooks/useProviders.ts
  keep-ui/utils/hooks/useUsers.ts
  keep-ui/utils/hooks/useWorkflows.ts
  keep/api/core/db.py
  keep/api/models/db/workflow.py
  keep/api/routes/workflows.py
  keep/workflowmanager/workflowscheduler.py
Due: black

chore(ui): add first and last page pagination
  keep-ui/app/alerts/alert-pagination.tsx
Due: none

chore(ui): add first and last page pagination (#834)
  keep-ui/app/alerts/alert-pagination.tsx
Due: none
