Repository keephq/keep: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, check-yaml

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: black
        name: black
        entry: black
        language: system
        types: [python]
        require_serial: true
      - id: check-added-large-files
        name: Check for added large files
        entry: check-added-large-files
        language: system
      - id: check-yaml
        name: Check Yaml
        entry: check-yaml
        language: system
        types: [yaml]
      - id: end-of-file-fixer
        name: Fix End of Files
        entry: end-of-file-fixer
        language: system
        types: [text]
        stages: [commit, push, manual]
      - id: isort
        name: isort
        entry: isort
        require_serial: true
        language: system
        types_or: [cython, pyi, python]
        args: ["--filter-files", "--profile", "black"]
      - id: trailing-whitespace
        name: Trim Trailing Whitespace
        entry: trailing-whitespace-fixer
        language: system
        types: [text]
        stages: [commit, push, manual]
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v2.6.0
    hooks:
      - id: prettier
  - repo: https://github.com/compilerla/conventional-pre-commit
    rev: v2.1.1
    hooks:
      - id: conventional-pre-commit
        stages: [commit-msg]
        args: [] # optional: list of Conventional Commits types to allow e.g. [feat, fix, ci, chore, test]

feat: added statuscake provider
  README.md
  keep-ui/public/icons/statuscake-icon.png
  keep/providers/statuscake_provider/statuscake_provider.py
Due: black

feat: wip
  keep-ui/app/alerts/alert-dismiss-modal.tsx
  keep-ui/app/alerts/alert-table-tab-panel.tsx
  keep-ui/app/alerts/alert-table.tsx
  keep-ui/components/navbar/CustomPresetAlertLinks.tsx
Due: none

feat: add site24X7 as a provider
  docs/providers/documentation/site24x7-provider.mdx
  keep-ui/public/icons/site24x7-icon.png
  keep/providers/site24x7_provider/__init__.py
  keep/providers/site24x7_provider/site24x7_provider.py
Due: black

chore: remove unused imports
  docs/mint.json
  keep/providers/site24x7_provider/site24x7_provider.py
Due: black

chore: add icon to README.md
  README.md
Due: none

chore: better icon
  keep-ui/public/icons/site24x7-icon.png
Due: none

[MOD] removed redudant logo.
  docs/mint.json
Due: none

feat: incident manager provider (#967)
  README.md
  docs/mint.json
  docs/providers/documentation/incidentmanager-provider.mdx
  keep-ui/public/icons/incidentmanager-icon.png
  keep-ui/public/incidentmanager.svg
  keep/providers/incidentmanager_provider/__init__.py
  keep/providers/incidentmanager_provider/incidentmanager_provider.py
Due: black

feat: add site24X7 provider (#1143)
  README.md
  docs/mint.json
  docs/providers/documentation/site24x7-provider.mdx
  keep-ui/public/icons/site24x7-icon.png
  keep/providers/site24x7_provider/__init__.py
  keep/providers/site24x7_provider/site24x7_provider.py
Due: black

0.7.0
  pyproject.toml
Due: none

feat: pass build
  keep-ui/utils/hooks/usePresets.ts
Due: none

feat: move to joinedload
  keep/api/core/db.py
Due: black

feat: more fixes
  keep/api/core/db.py
  keep/api/models/db/alert.py
  keep/api/routes/preset.py
Due: black

feat: fixing test
  tests/conftest.py
Due: black

feat: tests
  keep/api/models/db/alert.py
  tests/conftest.py
Due: black

feat: added statuscake provider
  keep/providers/statuscake_provider/statuscake_provider.py
Due: black

feat: added statuscake provider (#1142)
  README.md
  docs/mint.json
  docs/providers/documentation/statuscake-provider.mdx
  keep-ui/public/icons/statuscake-icon.png
  keep/providers/statuscake_provider/__init__.py
  keep/providers/statuscake_provider/statuscake_provider.py
Due: black

feat: added uptimekuma provider
  README.md
  docs/mint.json
  docs/providers/documentation/uptimekuma-provider.mdx
  keep-ui/public/icons/uptimekuma-icon.png
  keep/providers/uptimekuma_provider/__init__.py
  keep/providers/uptimekuma_provider/uptimekuma_provider.py
  poetry.lock
  pyproject.toml
Due: black

feat: added uptimekuma provider
  keep/providers/uptimekuma_provider/uptimekuma_provider.py
Due: black

feat: minor workaround
  keep/rulesengine/rulesengine.py
Due: black

feat: minor fixes
  keep-ui/components/LinkWithIcon.css
  keep-ui/components/LinkWithIcon.tsx
  keep-ui/components/navbar/AlertsLinks.tsx
Due: none

feat: remove redundant
  keep-ui/next_start.sh
Due: none

feat: remove redundant
  keep-ui/app/alerts/alert-table.tsx
  keep-ui/app/alerts/alerts.tsx
  keep-ui/package.json
  keep-ui/utils/hooks/useAlerts.ts
  keep/api/core/db.py
Due: black

feat: noisy alerts (#1120)
  keep-ui/app/alerts/TitleAndFilters.tsx
  keep-ui/app/alerts/alert-dismiss-modal.tsx
  keep-ui/app/alerts/alert-note-modal.tsx
  keep-ui/app/alerts/alert-presets.tsx
  keep-ui/app/alerts/alert-table-headers.tsx
  keep-ui/app/alerts/alert-table-tab-panel.tsx
  keep-ui/app/alerts/alert-table-utils.tsx
  keep-ui/app/alerts/alert-table.tsx
  keep-ui/app/alerts/alerts-rules-builder.tsx
  keep-ui/app/alerts/alerts.tsx
  keep-ui/app/alerts/models.tsx
  keep-ui/app/providers/providers-tiles.tsx
  keep-ui/components/LinkWithIcon.tsx
  keep-ui/components/icons/index.tsx
  keep-ui/components/navbar/AlertsLinks.tsx
  keep-ui/components/navbar/CustomPresetAlertLink.css
  keep-ui/components/navbar/CustomPresetAlertLinks.tsx
  keep-ui/package-lock.json
  keep-ui/package.json
  keep-ui/public/music/alert.mp3
  keep-ui/utils/hooks/useAlerts.ts
  keep-ui/utils/hooks/usePresets.ts
  keep/api/core/db.py
  keep/api/models/alert.py
  keep/api/models/db/alert.py
  keep/api/models/db/preset.py
  keep/api/routes/alerts.py
  keep/api/routes/preset.py
  keep/api/utils/tenant_utils.py
  keep/rulesengine/rulesengine.py
Due: black

0.8.0
  pyproject.toml
Due: none

feat: fix when preset is deleted
  keep-ui/utils/hooks/usePresets.ts
Due: none

fix: preset is deleted update the local storage (#1145)
  keep-ui/utils/hooks/usePresets.ts
Due: none

feat: some cool progress
  keep-ui/package-lock.json
  keep-ui/package.json
  keep-ui/pages/api/auth/[...nextauth].ts
  keycloak/docker-compose.yaml
  keycloak/keep-realm-backup.json
  keycloak/keycloak_entrypoint copy.sh
  keycloak/keycloak_entrypoint.sh
  keycloak/readme.md
Due: check-yaml
