Repository keephq/keep: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, check-yaml

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: black
        name: black
        entry: black
        language: system
        types: [python]
        require_serial: true
      - id: check-added-large-files
        name: Check for added large files
        entry: check-added-large-files
        language: system
      - id: check-yaml
        name: Check Yaml
        entry: check-yaml
        language: system
        types: [yaml]
      - id: end-of-file-fixer
        name: Fix End of Files
        entry: end-of-file-fixer
        language: system
        types: [text]
        stages: [commit, push, manual]
      - id: isort
        name: isort
        entry: isort
        require_serial: true
        language: system
        types_or: [cython, pyi, python]
        args: ["--filter-files", "--profile", "black"]
      - id: trailing-whitespace
        name: Trim Trailing Whitespace
        entry: trailing-whitespace-fixer
        language: system
        types: [text]
        stages: [commit, push, manual]
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v2.6.0
    hooks:
      - id: prettier
  - repo: https://github.com/compilerla/conventional-pre-commit
    rev: v2.1.1
    hooks:
      - id: conventional-pre-commit
        stages: [commit-msg]
        args: [] # optional: list of Conventional Commits types to allow e.g. [feat, fix, ci, chore, test]

feat: move cloudbuild yamls to be inline
  cloudbuild.api.yaml
  cloudbuild.ui.yaml
Due: check-yaml

fix: remove push-docker-image.yml
  .github/workflows/push-docker-image.yml
Due: check-yaml

fix: remove push-docker-image.yml (#150)
  .github/workflows/push-docker-image.yml
Due: check-yaml

fix: add callback
  keep-ui/pages/signin.tsx
Due: none

fix: add callback (#151)
  keep-ui/pages/signin.tsx
Due: none

feat: gpt-4 and log examples if exists
  keep/api/routes/ai.py
  keep/api/routes/providers.py
  keep/api/utils/gpt_utils.py
  keep/providers/base/base_provider.py
  keep/providers/datadog_provider/datadog_provider.py
  keep/providers/grafana_provider/grafana_provider.py
Due: black

docs: fix
  keep/providers/base/base_provider.py
Due: black

fix: add callback
  keep-ui/app/page.tsx
Due: none

fix: fixing token
  keep-ui/app/page.tsx
Due: none

fix: bugfix/callback (#153)
  keep-ui/app/page.tsx
Due: none

fix: add sources when on dev
  keep-ui/next.config.js
Due: none

fix: add sources when on dev (#154)
  keep-ui/next.config.js
Due: none

docs: github app enhancements
  docs/docs/023_applications/01-github.md
  docs/docs/024_examples/_category_.json
  docs/docusaurus.config.js
  docs/static/img/connect-provider.png
  docs/static/img/first-alert.yaml.png
Due: none

docs: ngrok
  docs/docs/012-quick-start/012-quick-start.md
  docs/docs/012-quick-start/ngrok.md
  docs/docs/023_applications/01-github.md
  docs/docs/024_examples/_category_.json
  docs/docusaurus.config.js
Due: none

docs: move ngrok to github
  docs/012-quick-start.md
  docs/docs/012-quick-start/ngrok.md
  docs/docs/023_applications/01-github.md
Due: none

fix: bring back quick-start
  docs/docs/012-quick-start.md
Due: none

feat: gpt-4 and log examples if exists (#152)
  keep/api/routes/ai.py
  keep/api/routes/providers.py
  keep/api/utils/gpt_utils.py
  keep/providers/base/base_provider.py
  keep/providers/datadog_provider/datadog_provider.py
  keep/providers/grafana_provider/grafana_provider.py
Due: black

fix: remove ngrok from sidebar
  docs/docs/023_applications/01-github.md
Due: none

docs: install docker compose
  docs/docs/012-quick-start.md
Due: none

docs: update providers
  docs/docs/021_platform/core/022_providers/02-new-provider.md
Due: none

fix: new-provider docs
  docs/docs/021_platform/core/022_providers/02-new-provider.md
Due: none

docs: docker-compose and providers enhancements (#156)
  docs/docs/012-quick-start.md
  docs/docs/021_platform/core/022_providers/02-new-provider.md
Due: none

feat: change not found to under construction
  keep-ui/app/alerts/page.tsx
  keep-ui/app/settings/page.tsx
  keep-ui/app/under-construction.module.css
  keep-ui/app/under-construction.tsx
Due: none

feat: change not found to under construction (#157)
  keep-ui/app/alerts/page.tsx
  keep-ui/app/settings/page.tsx
  keep-ui/app/under-construction.module.css
  keep-ui/app/under-construction.tsx
Due: none

feat: add logs
  keep-ui/utils/customAuth.ts
Due: none

fix: token bug and remove console.logs
  keep-ui/app/github-post-installation/page.tsx
  keep-ui/app/page.tsx
  keep-ui/app/posthog-client.tsx
  keep-ui/app/posthog-server.tsx
  keep-ui/app/providers/page.tsx
  keep-ui/app/providers/provider-form.tsx
  keep-ui/app/providers/provider-row.tsx
  keep-ui/app/providers/providers.css
  keep-ui/app/providers/table.tsx
  keep-ui/middleware.tsx
  keep-ui/pages/api/auth/[...nextauth].ts
  keep-ui/utils/customAuth.ts
  keep/api/api.py
  keep/api/core/dependencies.py
Due: black

fix: remove some more redundant
  keep-ui/app/page.tsx
  keep-ui/app/providers/page.tsx
  keep-ui/app/providers/table.tsx
Due: none

fix: session in navbar
  keep-ui/app/nav.tsx
  keep-ui/app/navbar.tsx
Due: none
