Repository keephq/keep: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, check-yaml

black:
  name: black
  entry: black
  language: system
  require_serial: true

check-yaml:
  name: Check Yaml
  entry: check-yaml
  language: system

fix: small issues with sentry
  keep/providers/sentry_provider/sentry_provider.py
Due: black

fix: small issues with sentry (#468)
  keep/providers/sentry_provider/sentry_provider.py
Due: black

fix: a few more updates to sentry
  keep-ui/app/alerts/alerts.client.tsx
  keep-ui/app/providers/page.client.tsx
  keep-ui/app/settings/settings.client.tsx
  keep-ui/pages/api/auth/[...nextauth].ts
  keep/providers/sentry_provider/sentry_provider.py
Due: black

fix: a few more updates to Sentry (#471)
  keep-ui/app/alerts/alerts.client.tsx
  keep-ui/app/providers/page.client.tsx
  keep-ui/app/settings/settings.client.tsx
  keep-ui/pages/api/auth/[...nextauth].ts
  keep/providers/sentry_provider/sentry_provider.py
Due: black

feat: merge from main
  keep-ui/app/settings/api-key-settings.tsx
  keep-ui/pages/api/auth/[...nextauth].ts
Due: none

fix(provider): sentry when url does not exist
  keep/api/routes/alerts.py
  keep/providers/sentry_provider/sentry_provider.py
Due: black

fix: event handling exception
  keep/api/routes/alerts.py
Due: black

fix(provider): sentry when url does not exist (#472)
  keep/api/routes/alerts.py
  keep/providers/sentry_provider/sentry_provider.py
Due: black

fix(provider): sentry environment in webhook
  keep/providers/sentry_provider/sentry_provider.py
Due: black

fix(provider): sentry environment in webhook (#473)
  keep/providers/sentry_provider/sentry_provider.py
Due: black

fix: newline in yaml
  examples/workflows/create_jira_ticket_upon_alerts.yml
  keep-ui/app/workflows/builder/[workflowId]/page.tsx
  keep/api/routes/workflows.py
Due: black, check-yaml

fix: newline in yaml (#474)
  examples/workflows/create_jira_ticket_upon_alerts.yml
  keep-ui/app/workflows/builder/[workflowId]/page.tsx
  keep/api/routes/workflows.py
Due: black, check-yaml

modifications: changed to gunicorna dn wsgi
  docker/Dockerfile.api
  keep/api/api.py
  poetry.lock
  pyproject.toml
Due: black

fix: sentry tags request timeout
  keep/providers/sentry_provider/sentry_provider.py
Due: black

fix: sentry tags request timeout (#477)
  keep/providers/sentry_provider/sentry_provider.py
Due: black

docs: improve docs
  docs/providers/documentation/datadog-provider.mdx
  docs/providers/fingerprints.mdx
Due: none

chore: make all methods work
  keep/providers/datadog_provider/datadog_provider.py
  keep/providers/providers_factory.py
Due: black

fix: loader height
  keep-ui/app/alerts/alerts.tsx
  keep-ui/app/alerts/layout.tsx
  keep-ui/app/loading.tsx
  keep-ui/tailwind.config.js
Due: none

docs: add fingerprints doc
  docs/mint.json
  docs/providers/fingerprints.mdx
  docs/providers/overview.mdx
Due: none

fix: provider-tile proportion
  keep-ui/app/providers/provider-tile.tsx
Due: none

feat(alerts): fingerprint adoption
  keep-ui/app/alerts/alerts.tsx
  keep/api/models/alert.py
  keep/api/routes/alerts.py
  keep/providers/base/base_provider.py
  keep/providers/datadog_provider/datadog_provider.py
Due: black

chore: wip
  keep-ui/app/alerts/alert-method-transition.tsx
  keep/providers/datadog_provider/datadog_provider.py
  keep/providers/grafana_provider/grafana_provider.py
Due: black

fix: isLoading
  keep-ui/app/alerts/alerts.tsx
Due: none

chore: revert
  keep-ui/app/alerts/alerts.tsx
Due: none

fix: remove tags from sentry for now
  keep/providers/sentry_provider/sentry_provider.py
Due: black

fix: remove tags from sentry for now (#479)
  keep/providers/sentry_provider/sentry_provider.py
Due: black

fix: sentry format_alert title
  keep/providers/sentry_provider/sentry_provider.py
Due: black

fix: sentry format_alert title (#480)
  keep/providers/sentry_provider/sentry_provider.py
Due: black

chore: fixing emoji and white spaces in README
  README.md
Due: none

modifications: newrelic provider to support scopes and webhooks
  keep/providers/newrelic_provider/newrelic_provider.py
Due: black

modifcations: removed secrets
  keep/providers/newrelic_provider/newrelic_provider.py
Due: black

feat: workflow
  examples/workflows/blogpost.yml
Due: check-yaml

Path conditions:
  black: any of: \.py$
  check-yaml: any of: \.(yaml|yml)$
