Repository keephq/keep: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, check-yaml

black:
  name: black
  entry: black
  language: system
  require_serial: true

check-yaml:
  name: Check Yaml
  entry: check-yaml
  language: system

alert badge changes
  keep-ui/app/rules/CorrelationSidebar/AlertsFoundBadge.tsx
  keep-ui/app/rules/CorrelationSidebar/CorrelationForm.tsx
  keep-ui/app/rules/CorrelationSidebar/CorrelationSidebarBody.tsx
  keep-ui/app/rules/CorrelationSidebar/CorrelationSubmission.tsx
  keep-ui/app/rules/CorrelationSidebar/RuleFields.tsx
  keep-ui/utils/hooks/useSearchAlerts.ts
Due: none

feat: add missing endpoint
  docs/mint.json
Due: none

feat: wip
  keep-ui/app/layout/create/EditGridItemModal.tsx
  keep-ui/app/layout/create/GridItem.tsx
  keep-ui/app/layout/create/GridItemContainer.tsx
  keep-ui/app/layout/create/GridLayout.tsx
  keep-ui/app/layout/create/MenuButton.tsx
  keep-ui/app/layout/create/Title.tsx
  keep-ui/app/layout/create/WidgetModal.tsx
  keep-ui/app/layout/create/page.tsx
  keep-ui/app/layout/create/styles.css
  keep-ui/app/layout/create/types.tsx
  keep-ui/components/navbar/GridLayoutLinks.tsx
Due: none

feat(providers): improve squadcast provider capabilities
  keep/providers/squadcast_provider/squadcast_provider.py
Due: black

feat(providers): update docs
  docs/providers/documentation/squadcast-provider.mdx
Due: none

chore(providers): improve squadcast provider capabilities (#1256)
  docs/providers/documentation/squadcast-provider.mdx
  keep/providers/squadcast_provider/squadcast_provider.py
Due: black

feat: wip
  keep-ui/app/layout/create/GridItem.tsx
  keep-ui/app/layout/create/GridLayout.tsx
  keep-ui/app/layout/create/MenuButton.tsx
  keep-ui/app/layout/create/styles.css
Due: none

fix: assignee
  keep/api/models/alert.py
Due: black

feat: wip
  keep-ui/app/layout/create/GridItem.tsx
  keep-ui/app/layout/create/GridItemContainer.tsx
  keep-ui/app/layout/create/GridLayout.tsx
  keep-ui/app/layout/create/MenuButton.tsx
  keep-ui/app/layout/create/Title.tsx
  keep-ui/app/layout/create/WidgetModal.tsx
  keep-ui/app/layout/create/page.tsx
  keep-ui/app/layout/create/types.tsx
  keep/api/core/elastic.py
Due: black

Partially fixed issue with text shrinkage, still need to fix badge appearance
  keep-ui/app/alerts/alerts-rules-builder.tsx
Due: none

feat: wip
  keep-ui/app/dashboard/create/EditGridItemModal.tsx
  keep-ui/app/dashboard/create/GridItem.tsx
  keep-ui/app/dashboard/create/GridItemContainer.tsx
  keep-ui/app/dashboard/create/GridLayout.tsx
  keep-ui/app/dashboard/create/MenuButton.tsx
  keep-ui/app/dashboard/create/Title.tsx
  keep-ui/app/dashboard/create/WidgetModal.tsx
  keep-ui/app/dashboard/create/page.tsx
  keep-ui/app/dashboard/create/styles.css
  keep-ui/app/dashboard/create/types.tsx
  keep-ui/components/navbar/DashboardLinks.tsx
  keep-ui/components/navbar/GridLink.tsx
  keep-ui/components/navbar/Navbar.tsx
  keep/api/api.py
  keep/api/core/db.py
  keep/api/core/elastic.py
  keep/api/models/db/dashboard.py
  keep/api/routes/dashboard.py
  superset/Dockerfile
  superset/docker-compose.yml
  superset/superset_config.py
Due: black, check-yaml

docs: providers list
  docs/providers/overview.mdx
  scripts/get_providers_list.py
Due: black

fix: sentry
  docs/providers/overview.mdx
  scripts/get_providers_list.py
Due: black

chore(docs): fix kubernetes logo
  docs/providers/overview.mdx
Due: none

Initial commit
  keep/providers/pagerduty_provider/pagerduty_provider.py
Due: black

feat(scripts): add kubernetes exception
  scripts/get_providers_list.py
Due: black

chore(docs): fix kubernetes logo (#1264)
  docs/providers/overview.mdx
  scripts/get_providers_list.py
Due: black

Fixed margins in the list of Providers
  keep-ui/app/alerts/alerts-rules-builder.tsx
  keep-ui/app/providers/provider-tile.css
  keep-ui/app/providers/provider-tile.tsx
Due: none

Fixed margins on the bottom of the Provider configuration page
  keep-ui/app/providers/provider-form.tsx
Due: none

Fixed webhook settings scaling issue
  keep-ui/app/settings/webhook-settings.tsx
Due: none

Fixed rules overflow
  keep-ui/app/rules/PlaceholderSankey.tsx
Due: none

Reverted changes in alerts-rules-builder
  keep-ui/app/alerts/alerts-rules-builder.tsx
Due: none

Partially solved issue with vertical text when screen is shrinking
  keep-ui/app/alerts/alerts-rules-builder.tsx
Due: none

+Moved badge under the text area to prevent text shrinking. +Added scaling to the items under the badge
  keep-ui/app/alerts/alerts-rules-builder.tsx
Due: none

feat: wip
  keep-ui/app/dashboard/EditGridItemModal.tsx
  keep-ui/app/dashboard/GridItem.tsx
  keep-ui/app/dashboard/GridItemContainer.tsx
  keep-ui/app/dashboard/GridLayout.tsx
  keep-ui/app/dashboard/MenuButton.tsx
  keep-ui/app/dashboard/Title.tsx
  keep-ui/app/dashboard/WidgetModal.tsx
  keep-ui/app/dashboard/[id]/page.tsx
  keep-ui/app/dashboard/styles.css
  keep-ui/app/dashboard/types.tsx
  keep-ui/components/navbar/DashboardLink.tsx
  keep-ui/components/navbar/DashboardLinks.tsx
  keep/api/models/db/dashboard.py
  keep/api/routes/dashboard.py
Due: black

feat: wip
  keep-ui/app/dashboard/[id]/dashboard.tsx
  keep-ui/app/dashboard/[id]/page.tsx
  keep-ui/components/LinkWithIcon.tsx
  keep-ui/components/navbar/CustomPresetAlertLinks.tsx
  keep-ui/components/navbar/DashboardLink.tsx
  keep-ui/components/navbar/DashboardLinks.tsx
  keep-ui/utils/hooks/useDashboards.ts
  keep/api/core/db.py
  keep/api/models/db/dashboard.py
  keep/api/routes/dashboard.py
Due: black

feat: wip
  keep-ui/components/navbar/CustomPresetAlertLinks.tsx
  keep-ui/components/navbar/DashboardLink.tsx
  keep-ui/components/navbar/DashboardLinks.tsx
  keep/api/core/db.py
  keep/api/routes/dashboard.py
Due: black

Fixed minor issues
  keep-ui/app/alerts/alerts-rules-builder.tsx
  keep-ui/app/settings/webhook-settings.tsx
Due: none

feat: build
  keep-ui/app/dashboard/[id]/dashboard.tsx
  keep-ui/app/dashboard/[id]/page.tsx
  keep-ui/components/navbar/DashboardLinks.tsx
  keep-ui/utils/hooks/useDashboards.ts
Due: none

feat(ui): basic dashboard (#1257)
  keep-ui/app/dashboard/EditGridItemModal.tsx
  keep-ui/app/dashboard/GridItem.tsx
  keep-ui/app/dashboard/GridItemContainer.tsx
  keep-ui/app/dashboard/GridLayout.tsx
  keep-ui/app/dashboard/MenuButton.tsx
  keep-ui/app/dashboard/Title.tsx
  keep-ui/app/dashboard/WidgetModal.tsx
  keep-ui/app/dashboard/[id]/dashboard.tsx
  keep-ui/app/dashboard/[id]/page.tsx
  keep-ui/app/dashboard/styles.css
  keep-ui/app/dashboard/types.tsx
  keep-ui/components/LinkWithIcon.tsx
  keep-ui/components/navbar/CustomPresetAlertLinks.tsx
  keep-ui/components/navbar/DashboardLink.tsx
  keep-ui/components/navbar/DashboardLinks.tsx
  keep-ui/components/navbar/Navbar.tsx
  keep-ui/package-lock.json
  keep-ui/package.json
  keep-ui/utils/hooks/useDashboards.ts
  keep/api/api.py
  keep/api/core/db.py
  keep/api/models/db/dashboard.py
  keep/api/routes/dashboard.py
Due: black

Enhance PagerDuty provider: fetch historical incidents & expand metadata
  keep/providers/pagerduty_provider/pagerduty_provider.py
Due: black

Fixed code styling
  keep-ui/app/alerts/alerts-rules-builder.tsx
  keep-ui/app/providers/provider-tile.css
Due: none

Update getting-started.mdx
  docs/development/getting-started.mdx
Due: none

Update ilert_provider.py
  keep/providers/ilert_provider/ilert_provider.py
Due: black

Path conditions:
  black: any of: \.py$
  check-yaml: any of: \.(yaml|yml)$
