Repository keephq/keep: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, check-yaml

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: black
        name: black
        entry: black
        language: system
        types: [python]
        require_serial: true
      - id: check-added-large-files
        name: Check for added large files
        entry: check-added-large-files
        language: system
      - id: check-yaml
        name: Check Yaml
        entry: check-yaml
        language: system
        types: [yaml]
      - id: end-of-file-fixer
        name: Fix End of Files
        entry: end-of-file-fixer
        language: system
        types: [text]
        stages: [commit, push, manual]
      - id: isort
        name: isort
        entry: isort
        require_serial: true
        language: system
        types_or: [cython, pyi, python]
        args: ["--filter-files", "--profile", "black"]
      - id: trailing-whitespace
        name: Trim Trailing Whitespace
        entry: trailing-whitespace-fixer
        language: system
        types: [text]
        stages: [commit, push, manual]
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v2.6.0
    hooks:
      - id: prettier
  - repo: https://github.com/compilerla/conventional-pre-commit
    rev: v2.1.1
    hooks:
      - id: conventional-pre-commit
        stages: [commit-msg]
        args: [] # optional: list of Conventional Commits types to allow e.g. [feat, fix, ci, chore, test]

fix: pull_alerts endless loop (#1442)
  keep/api/routes/preset.py
  keep/api/tasks/process_event_task.py
Due: black

fix: no await for workflow creation
  keep/api/routes/workflows.py
Due: black

fix: no await for workflow creation (#1443)
  keep/api/routes/workflows.py
Due: black

fix(splunk): _raw attribute fallback
  keep/providers/splunk_provider/splunk_provider.py
Due: black

fix(splunk): `_raw` attribute fallback (#1444)
  keep/providers/splunk_provider/splunk_provider.py
Due: black

fix(splunk): exception class from _raw
  keep/providers/splunk_provider/splunk_provider.py
Due: black

fix(splunk): exception class from _raw (#1445)
  keep/providers/splunk_provider/splunk_provider.py
Due: black

#1246 Highlight Enrichments in Alert Details UI #1369 Remove Enrichments using Alert Details UI
  keep-ui/app/alerts/ViewAlertModal.css
  keep-ui/app/alerts/ViewAlertModal.tsx
  keep-ui/app/alerts/alerts.tsx
  keep-ui/app/alerts/models.tsx
  keep/api/bl/enrichments.py
  keep/api/models/alert.py
  keep/api/models/db/alert.py
  keep/api/routes/alerts.py
  keep/api/utils/enrichment_helpers.py
Due: black

#1447 Fix incident Predictions UI table for long texts in cells
  keep-ui/app/incidents/incidents-table.tsx
  keep-ui/app/incidents/predicted-incidents-table.tsx
  keep-ui/components/navbar/IncidentLinks.tsx
Due: none

#1447 Fix incident Predictions UI table for long texts in cells (#1448)
  keep-ui/app/incidents/incidents-table.tsx
  keep-ui/app/incidents/predicted-incidents-table.tsx
  keep-ui/components/navbar/IncidentLinks.tsx
Due: none

#1447 Add wrap for Involved Services column in incidents table
  keep-ui/app/incidents/incidents-table.tsx
Due: none

fix: #1447 incident predictions table long text fix (#1449)
  keep-ui/app/incidents/incidents-table.tsx
Due: none

fix: slack blocks
  keep/providers/slack_provider/slack_provider.py
Due: black

Update keep/providers/slack_provider/slack_provider.py
  keep/providers/slack_provider/slack_provider.py
Due: black

fix: slack blocks (#1450)
  keep/providers/slack_provider/slack_provider.py
Due: black

fix: slack blocks
  keep/identitymanager/identitymanager.py
  keep/identitymanager/keycloakidentitymanager.py
  poetry.lock
Due: black

refactor:handle the tooltip message. add descriptiona dn providers t the card.
  keep-ui/app/workflows/workfflow-graph.tsx
  keep-ui/app/workflows/workflow-tile.tsx
Due: none

feat: wip
  keep/identitymanager/auth0identitymanager.py
  keep/identitymanager/authenticatedentity.py
  keep/identitymanager/authverifierbase.py
  keep/identitymanager/identity_managers/__init__.py
  keep/identitymanager/identity_managers/auth0/__init__.py
  keep/identitymanager/identity_managers/auth0/auth0_authverifier.py
  keep/identitymanager/identity_managers/auth0/auth0_identitymanager.py
  keep/identitymanager/identity_managers/auth0/auth0_utils.py
  keep/identitymanager/identity_managers/db/__init__.py
  keep/identitymanager/identity_managers/db/db_authverifier.py
  keep/identitymanager/identity_managers/db/db_identitymanager.py
  keep/identitymanager/identity_managers/keycloak/__init__.py
  keep/identitymanager/identity_managers/keycloak/keycloak_authverifier.py
  keep/identitymanager/identity_managers/keycloak/keycloak_identitymanager.py
  keep/identitymanager/identity_managers/noauth/__init__.py
  keep/identitymanager/identity_managers/noauth/noauth_authverifier.py
  keep/identitymanager/identity_managers/noauth/noauth_identitymanager.py
  keep/identitymanager/identitymanager.py
  keep/identitymanager/identitymanagerfactory.py
  keep/identitymanager/noauthidentitymanager.py
Due: black

chore:clena up the workflow graph demodata by moving it to utils
  keep-ui/app/workflows/workfflow-graph.tsx
  keep-ui/app/workflows/workflow-graph.tsx
  keep-ui/app/workflows/workflow-tile.tsx
  keep-ui/app/workflows/workflowutils.ts
Due: none

chore:revert the grpah to real data
  keep-ui/app/workflows/workflow-graph.tsx
Due: none

feat: added basic new workflows ui (#1399)
  keep-ui/app/globals.css
  keep-ui/app/workflows/builder/builder-card.tsx
  keep-ui/app/workflows/builder/builder.tsx
  keep-ui/app/workflows/builder/page.client.tsx
  keep-ui/app/workflows/mockworkflows.tsx
  keep-ui/app/workflows/models.tsx
  keep-ui/app/workflows/noworfklows.tsx
  keep-ui/app/workflows/preview/[workflowId]/page.tsx
  keep-ui/app/workflows/preview/page.tsx
  keep-ui/app/workflows/workflow-graph.tsx
  keep-ui/app/workflows/workflow-menu.tsx
  keep-ui/app/workflows/workflow-tile.tsx
  keep-ui/app/workflows/workflows.client.tsx
  keep-ui/app/workflows/workflowutils.ts
  keep-ui/package-lock.json
  keep-ui/package.json
  keep-ui/public/icons/workflow-icon.png
  keep/api/core/db.py
  keep/api/models/workflow.py
  keep/api/routes/workflows.py
  keep/workflowmanager/workflowstore.py
Due: black

fix: workflow examples
  docker/Dockerfile.api
  keep-ui/app/workflows/workflow-tile.tsx
  keep/api/routes/workflows.py
Due: black

fix: workflow examples (#1452)
  docker/Dockerfile.api
  keep-ui/app/workflows/workflow-tile.tsx
  keep/api/routes/workflows.py
Due: black

Fix
  keep/api/routes/incidents.py
Due: black

fix: dedup
  examples/workflows/workflow_start_example.yml
  keep/api/core/db.py
  keep/functions/__init__.py
Due: black, check-yaml

fix: slack
  keep/providers/slack_provider/slack_provider.py
Due: black

fix: slack (#1453)
  keep/providers/slack_provider/slack_provider.py
Due: black

Fix
  ee/experimental/incident_utils.py
Due: black

fix(splunk): enrich exception_class if it doesn't exist
  keep/providers/splunk_provider/splunk_provider.py
Due: black
