Repository keephq/keep: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, check-yaml

black:
  name: black
  entry: black
  language: system
  require_serial: true

check-yaml:
  name: Check Yaml
  entry: check-yaml
  language: system

fix(ui): install providers doesn't work (#1017)
  keep-ui/app/providers/page.client.tsx
Due: none

feat:rename and refactor column selection
  keep-ui/app/alerts/ColumnSelection.tsx
  keep-ui/app/alerts/alert-columns-select.tsx
Due: none

feat:finish table improvements
  keep-ui/app/alerts/LastReceived.tsx
  keep-ui/app/alerts/TitleAndFilters.tsx
  keep-ui/app/alerts/alert-actions.tsx
  keep-ui/app/alerts/alert-streamline.css
  keep-ui/app/alerts/alert-streamline.tsx
  keep-ui/app/alerts/alert-table.tsx
  keep-ui/app/alerts/alerts.tsx
Due: none

Merge branch 'main' into alerts-table-improvements
  keep-ui/app/alerts/alert-presets.tsx
  keep-ui/app/alerts/alert-table.tsx
  keep-ui/app/alerts/alerts.tsx
  keep-ui/app/alerts/models.tsx
  keep-ui/app/dark-mode-toggle.tsx
  keep-ui/app/providers/page.client.tsx
  keep-ui/app/providers/provider-tile.tsx
  keep-ui/app/providers/providers-tiles.tsx
  keep-ui/app/providers/providers.tsx
  keep-ui/components/LinkWithIcon.tsx
  keep-ui/components/icons/index.tsx
  keep-ui/components/navbar/AlertsLinks.tsx
  keep-ui/components/navbar/AnalyseLinks.tsx
  keep-ui/components/navbar/ConfigureLinks.tsx
  keep-ui/components/navbar/CustomPresetAlertLinks.tsx
  keep-ui/components/navbar/LearnLinks.tsx
  keep-ui/components/navbar/Menu.tsx
  keep-ui/components/navbar/Navbar.tsx
  keep-ui/components/navbar/NoiseReductionLinks.tsx
  keep-ui/components/navbar/UserInfo.tsx
  keep/api/core/db.py
  keep/api/models/provider.py
  keep/api/routes/alerts.py
  keep/api/routes/providers.py
  keep/providers/base/base_provider.py
  keep/providers/providers_factory.py
  keep/providers/splunk_provider/splunk_provider.py
  scripts/simulate_alerts.py
Due: black

fix:clear up svg errors
  keep-ui/components/icons/index.tsx
Due: none

fix:improve column selection clickability
  keep-ui/app/alerts/ColumnSelection.tsx
Due: none

fix: provider is None
  keep/providers/providers_factory.py
Due: black

fix: provider is None (#1020)
  keep/providers/providers_factory.py
Due: black

fix(ui): max history data to 1000 and extraPayload
  keep-ui/app/alerts/alert-extra-payload.tsx
  keep-ui/app/alerts/alert-history.tsx
  keep-ui/app/alerts/alert-table-utils.tsx
  keep/api/routes/alerts.py
Due: black

fix(ui): max history data to 1000 and extraPayload (#1021)
  keep-ui/app/alerts/alert-extra-payload.tsx
  keep-ui/app/alerts/alert-history.tsx
  keep-ui/app/alerts/alert-table-utils.tsx
  keep/api/routes/alerts.py
Due: black

feat(ui): Beginning of Table Improvements (#1018)
  keep-ui/app/alerts/ColumnSelection.tsx
  keep-ui/app/alerts/LastReceived.tsx
  keep-ui/app/alerts/TitleAndFilters.tsx
  keep-ui/app/alerts/alert-actions.tsx
  keep-ui/app/alerts/alert-columns-select.tsx
  keep-ui/app/alerts/alert-menu.tsx
  keep-ui/app/alerts/alert-streamline.css
  keep-ui/app/alerts/alert-streamline.tsx
  keep-ui/app/alerts/alert-table.tsx
  keep-ui/app/alerts/alerts.tsx
  keep-ui/app/alerts/layout.tsx
  keep-ui/app/settings/api-key-menu.tsx
  keep-ui/app/settings/users-menu.tsx
  keep-ui/components/icons/index.tsx
  keep-ui/components/navbar/UserInfo.tsx
  keep-ui/package-lock.json
  keep-ui/package.json
Due: none

chore(ui): add state to Slack oauth2
  keep-ui/app/providers/provider-form.tsx
Due: none

fix: const to let
  keep-ui/app/providers/provider-form.tsx
Due: none

fix: workflows
  .github/workflows/run-keep.yml
  .github/workflows/test-pr.yml
Due: check-yaml

chore(ui): add state to Slack oauth2 (#1022)
  .github/workflows/run-keep.yml
  .github/workflows/test-pr.yml
  keep-ui/app/providers/provider-form.tsx
Due: check-yaml

docs(slack): add Add to Slack button
  docs/images/slack/slack-oauth.png
  docs/images/slack/slack-workflow.png
  docs/providers/documentation/slack-provider.mdx
  keep/providers/slack_provider/slack_provider.py
Due: black

docs(slack): add Add to Slack button (#1023)
  docs/images/slack/slack-oauth.png
  docs/images/slack/slack-workflow.png
  docs/providers/documentation/slack-provider.mdx
  keep/providers/slack_provider/slack_provider.py
Due: black

chore(amazon): amazon marketplace basic support
  keep-ui/pages/api/auth/[...nextauth].ts
  keep-ui/pages/api/aws-marketplace.tsx
  keep-ui/pages/signin.tsx
  keep-ui/utils/hooks/useLocalStorage.ts
Due: none

chore(amazon): amazon marketplace basic support (#1025)
  keep-ui/pages/api/auth/[...nextauth].ts
  keep-ui/pages/api/aws-marketplace.tsx
  keep-ui/pages/signin.tsx
  keep-ui/utils/hooks/useLocalStorage.ts
Due: none

fix(aws): marketplace endpoint in middleware
  keep-ui/middleware.tsx
Due: none

fix(aws): marketplace endpoint in middleware (#1026)
  keep-ui/middleware.tsx
Due: none

fix(ui): amt to url safe base64
  keep-ui/pages/api/aws-marketplace.tsx
Due: none

fix(ui): amt to url safe base64 (#1027)
  keep-ui/pages/api/aws-marketplace.tsx
Due: none

chore:delete `layout` component
  keep-ui/app/rules/layout.tsx
Due: none

feat:create `useRules` hook
  keep-ui/utils/hooks/useRules.ts
Due: none

feat:create `CorrelationPlaceholder`
  keep-ui/app/rules/CorrelationPlaceholder.tsx
Due: none

feat:create `CreateCollerationSidebar` skeleton
  keep-ui/app/rules/CorrelationPlaceholder.tsx
  keep-ui/app/rules/CreateCorrelationSidebar/CreateCorrelationSidebarBody.tsx
  keep-ui/app/rules/CreateCorrelationSidebar/CreateCorrelationSidebarHeader.tsx
  keep-ui/app/rules/CreateCorrelationSidebar/index.tsx
Due: none

feat:add form to correlation sidebar body
  keep-ui/app/rules/CreateCorrelationSidebar/CreateCorrelationForm.tsx
  keep-ui/app/rules/CreateCorrelationSidebar/CreateCorrelationSidebarBody.tsx
Due: none

feat:add transition to slideout
  keep-ui/app/rules/CreateCorrelationSidebar/index.tsx
Due: none

feat(api): add last workflow execution to context
  keep/api/core/db.py
  keep/contextmanager/contextmanager.py
Due: black

fix: tests
  keep/contextmanager/contextmanager.py
Due: black

chore(provider): splunk fingerprinting enhancements
  keep/providers/splunk_provider/splunk_provider.py
Due: black

Path conditions:
  black: any of: \.py$
  check-yaml: any of: \.(yaml|yml)$
