Repository keephq/keep: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, check-yaml

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: black
        name: black
        entry: black
        language: system
        types: [python]
        require_serial: true
      - id: check-added-large-files
        name: Check for added large files
        entry: check-added-large-files
        language: system
      - id: check-yaml
        name: Check Yaml
        entry: check-yaml
        language: system
        types: [yaml]
      - id: end-of-file-fixer
        name: Fix End of Files
        entry: end-of-file-fixer
        language: system
        types: [text]
        stages: [commit, push, manual]
      - id: isort
        name: isort
        entry: isort
        require_serial: true
        language: system
        types_or: [cython, pyi, python]
        args: ["--filter-files", "--profile", "black"]
      - id: trailing-whitespace
        name: Trim Trailing Whitespace
        entry: trailing-whitespace-fixer
        language: system
        types: [text]
        stages: [commit, push, manual]
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v2.6.0
    hooks:
      - id: prettier
  - repo: https://github.com/compilerla/conventional-pre-commit
    rev: v2.1.1
    hooks:
      - id: conventional-pre-commit
        stages: [commit-msg]
        args: [] # optional: list of Conventional Commits types to allow e.g. [feat, fix, ci, chore, test]

fix: race (#275)
  keep/api/core/db.py
Due: black

feat: new readme
  README.md
Due: none

feat: new readme
  README.md
  docs/platform/overview.mdx
Due: none

chore: enhancements in workflows page
  examples/workflows/slack_basic.yml
  keep-ui/app/workflows/noworfklows.tsx
  keep-ui/app/workflows/page.tsx
  keep-ui/app/workflows/workflow-menu.tsx
  keep-ui/app/workflows/workflow-tile.css
  keep-ui/app/workflows/workflow-tile.tsx
  keep-ui/app/workflows/workflows.client.tsx
Due: check-yaml

chore: details to list
  keep-ui/app/workflows/workflow-menu.tsx
  keep-ui/app/workflows/workflow-tile.tsx
Due: none

fix: triggers to accordion
  keep-ui/app/workflows/workflow-tile.tsx
Due: none

fix: disabled input when from workflow
  keep-ui/app/providers/provider-form.css
  keep-ui/app/providers/provider-form.tsx
Due: none

chore: touch ups and bug fixes (#272)
  examples/workflows/slack_basic.yml
  keep-ui/app/navbar-inner.tsx
  keep-ui/app/providers/provider-form.css
  keep-ui/app/providers/provider-form.tsx
  keep-ui/app/workflows/noworfklows.tsx
  keep-ui/app/workflows/page.tsx
  keep-ui/app/workflows/workflow-menu.tsx
  keep-ui/app/workflows/workflow-tile.css
  keep-ui/app/workflows/workflow-tile.tsx
  keep-ui/app/workflows/workflows.client.tsx
Due: check-yaml

fix: delete provider
  keep/api/routes/providers.py
Due: black

fix: delete provider (#276)
  keep/api/routes/providers.py
Due: black

fix: badges
  keep-ui/app/workflows/workflow-tile.tsx
Due: none

fix: badges (#277)
  keep-ui/app/workflows/workflow-tile.tsx
Due: none

fix: delete provider
  keep/api/core/db.py
Due: black

fix: delete provider (#278)
  keep/api/core/db.py
Due: black

fix: remove redundant columns from alerts page
  keep-ui/app/alerts/alert-table.tsx
  keep-ui/app/alerts/alerts-table-body.tsx
  keep-ui/app/alerts/models.tsx
Due: none

fix: remove redundant columns from alerts page (#279)
  keep-ui/app/alerts/alert-table.tsx
  keep-ui/app/alerts/alerts-table-body.tsx
  keep-ui/app/alerts/models.tsx
Due: none

feat: adding rollback
  examples/workflows/slack_basic.yml
  keep/api/core/db.py
Due: black, check-yaml

fix: fixes
  keep/api/core/db.py
  keep/workflowmanager/workflowscheduler.py
Due: black

feat: interval (#280)
  examples/workflows/slack_basic.yml
  keep/api/core/db.py
  keep/workflowmanager/workflowscheduler.py
Due: black, check-yaml

fix: fixes
  keep/api/core/db.py
Due: black

fix: interval first time (#281)
  keep/api/core/db.py
Due: black

fix: interval first time (#282)
  keep/api/core/db.py
Due: black

Update README.md
  README.md
Due: none

Add files via upload
  assets/connect_providers.gif
  assets/view_alerts.gif
Due: none

Add files via upload
  assets/connect_and_view_alerts.gif
Due: none

Add files via upload
  assets/upload_workflow.gif
Due: none
