Repository keephq/keep: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, check-yaml

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: black
        name: black
        entry: black
        language: system
        types: [python]
        require_serial: true
      - id: check-added-large-files
        name: Check for added large files
        entry: check-added-large-files
        language: system
      - id: check-yaml
        name: Check Yaml
        entry: check-yaml
        language: system
        types: [yaml]
      - id: end-of-file-fixer
        name: Fix End of Files
        entry: end-of-file-fixer
        language: system
        types: [text]
        stages: [commit, push, manual]
      - id: isort
        name: isort
        entry: isort
        require_serial: true
        language: system
        types_or: [cython, pyi, python]
        args: ["--filter-files", "--profile", "black"]
      - id: trailing-whitespace
        name: Trim Trailing Whitespace
        entry: trailing-whitespace-fixer
        language: system
        types: [text]
        stages: [commit, push, manual]
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v2.6.0
    hooks:
      - id: prettier
  - repo: https://github.com/compilerla/conventional-pre-commit
    rev: v2.1.1
    hooks:
      - id: conventional-pre-commit
        stages: [commit-msg]
        args: [] # optional: list of Conventional Commits types to allow e.g. [feat, fix, ci, chore, test]

feat: k8s secret manager (when deploying with helm) (#301)
  chart/keep/templates/cluster-role-binding-secret-manager.yaml
  chart/keep/templates/cluster-role-secret-manager.yaml
  chart/keep/values.yaml
  keep-ui/app/providers/provider-form.tsx
  keep/api/core/dependencies.py
  keep/secretmanager/kubernetessecretmanager.py
  keep/secretmanager/secretmanagerfactory.py
  poetry.lock
  pyproject.toml
Due: black, check-yaml

fix(KubernetesSecretManager): load_incluster_config
  keep/secretmanager/kubernetessecretmanager.py
Due: black

fix(KubernetesSecretManager): load_incluster_config (#302)
  keep/secretmanager/kubernetessecretmanager.py
Due: black

fix: tests
  tests/conftest.py
  tests/test_contextmanager.py
Due: black

fix: tests pass
  keep/contextmanager/contextmanager.py
  tests/conftest.py
  tests/test_conditions.py
  tests/test_contextmanager.py
  tests/test_parser.py
Due: black

fix: tests
  .github/workflows/test-pr.yml
Due: check-yaml

fix: again
  tests/conftest.py
Due: black

fix: try again
  tests/test_contextmanager.py
Due: black

fix: try fix
  tests/test_contextmanager.py
Due: black

fix(tests): make tests pass (#303)
  .github/workflows/test-pr.yml
  keep/contextmanager/contextmanager.py
  tests/conftest.py
  tests/test_conditions.py
  tests/test_contextmanager.py
  tests/test_parser.py
Due: black, check-yaml

fix: alert dto to have trigger property
  keep/api/models/alert.py
  keep/workflowmanager/workflowmanager.py
Due: black

fix: alert dto to have trigger property (#304)
  keep/api/models/alert.py
  keep/workflowmanager/workflowmanager.py
Due: black

fix: alert filters
  keep/workflowmanager/workflowmanager.py
Due: black

fix: alert filters (#305)
  keep/workflowmanager/workflowmanager.py
Due: black

chore: add blacklisted endpoints for http provider
  keep/providers/http_provider/http_provider.py
  keep/workflowmanager/workflowmanager.py
Due: black

fix: styles and texts
  keep-ui/app/builder/builder-validators.tsx
  keep-ui/app/builder/editors.tsx
  keep-ui/app/builder/page.client.tsx
Due: none

chore: add blacklisted endpoints for http provider (#306)
  .github/workflows/test-pr.yml
  keep-ui/app/builder/builder-validators.tsx
  keep-ui/app/builder/editors.tsx
  keep-ui/app/builder/page.client.tsx
  keep/providers/http_provider/http_provider.py
  keep/workflowmanager/workflowmanager.py
Due: black, check-yaml

Update introduction.mdx
  docs/overview/introduction.mdx
Due: none

docs: fix typo in Introduction (#308)
  docs/overview/introduction.mdx
Due: none

feat(provider): grafana on-call provider
  keep-ui/public/icons/oncall-icon.png
  keep/api/models/provider.py
  keep/providers/base/base_provider.py
  keep/providers/oncall_provider/__init__.py
  keep/providers/oncall_provider/oncall_provider.py
  keep/providers/providers_factory.py
Due: black

fix: minor bugs with oncal provider
  keep/providers/oncall_provider/oncall_provider.py
Due: black

docs: add oncall docs
  docs/providers/documentation/grafana-oncall-provider.mdx
Due: none

chore: add provider description
  keep-ui/app/providers/page.client.tsx
  keep-ui/app/providers/provider-form.tsx
  keep-ui/app/providers/providers.tsx
Due: none

feat(provider): grafana oncall (#311)
  docs/providers/documentation/grafana-oncall-provider.mdx
  keep-ui/app/providers/page.client.tsx
  keep-ui/app/providers/provider-form.tsx
  keep-ui/app/providers/providers.tsx
  keep-ui/public/icons/oncall-icon.png
  keep/api/models/provider.py
  keep/providers/base/base_provider.py
  keep/providers/oncall_provider/__init__.py
  keep/providers/oncall_provider/oncall_provider.py
  keep/providers/providers_factory.py
Due: black

fix: grafana on call icon
  keep-ui/public/icons/oncall-icon.png
Due: none

fix: discord parameters
  keep/providers/discord_provider/discord_provider.py
Due: black

fix: grafana on call icon and discord parameters (#312)
  keep-ui/public/icons/oncall-icon.png
  keep/providers/discord_provider/discord_provider.py
Due: black

fix: auth0 provider and bugs
  keep-ui/app/builder/[workflowId]/page.tsx
  keep-ui/app/builder/alert.tsx
  keep-ui/app/builder/utils.tsx
  keep-ui/app/providers/provider-form.tsx
  keep/functions/__init__.py
  keep/iohandler/iohandler.py
  keep/providers/auth0_provider/auth0_provider.py
Due: black
