Repository keephq/keep: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, check-yaml

black:
  name: black
  entry: black
  language: system
  require_serial: true

check-yaml:
  name: Check Yaml
  entry: check-yaml
  language: system

Adding .gitignore
  .gitignore
Due: none

Add pre-commit as dev dependency
  .python-version
  poetry.lock
  pyproject.toml
Due: none

feat: Making the lint works
  .gitignore
  .pre-commit-config.yaml
  CLI.md
  examples/alerts/db_disk_space.yml
  examples/alerts/monitor_migration_version.yml
  examples/alerts/purchase_fails.yml
  examples/alerts/service_failed.yml
  examples/hosts/datadog.yml
  examples/hosts/db-server.yml
  examples/hosts/elastic.yml
  examples/hosts/github.yml
  examples/hosts/slack.yml
  examples/hosts/snowflake.yml
  examples/templates/slack.yaml
  poetry.lock
  pyproject.toml
Due: check-yaml

feat: fixing linting
  examples/alerts/db_disk_space.yml
  keep/action/__init__.py
  keep/action/action.py
  keep/alert/__init__.py
  keep/alert/alert.py
  keep/alertmanager/__init__.py
  keep/alertmanager/alertmanager.py
  keep/cli/cli.py
  keep/parser/parser.py
  keep/step/__init__.py
  keep/step/step.py
  poetry.lock
  pyproject.toml
Due: black, check-yaml

feat: provider init, work in progress
  .gitignore
  examples/hosts/datadog.yml
  examples/hosts/elastic.yml
  examples/hosts/github.yml
  examples/hosts/prod-db.yml
  examples/hosts/slack.yml
  examples/hosts/snowflake.yml
  keep/providers/__init__.py
  keep/providers/base/__init__.py
  keep/providers/base/base_input_provider.py
  keep/providers/base/base_output_provider.py
  keep/providers/base/base_provider.py
  keep/providers/models/__init__.py
  keep/providers/models/provider_config.py
  keep/providers/outputs/console_output/__init__.py
  keep/providers/outputs/console_output/console_output_provider.py
  poetry.lock
Due: black, check-yaml

feat: changing hosts to providers + cont WIP
  examples/providers/datadog.yml
  examples/providers/elastic.yml
  examples/providers/github.yml
  examples/providers/prod-db.yml
  examples/providers/slack.yml
  examples/providers/snowflake.yml
  keep/alert/alert.py
  keep/alertmanager/alertmanager.py
  keep/cli/cli.py
  keep/parser/parser.py
  keep/step/step.py
Due: black, check-yaml

feat: providers factory
  keep/cli/cli.py
  keep/exceptions/__init__.py
  keep/exceptions/provider_config_exception.py
  keep/providers/base/base_input_provider.py
  keep/providers/base/base_output_provider.py
  keep/providers/base/base_provider.py
  keep/providers/console_provider/__init__.py
  keep/providers/console_provider/console_provider.py
  keep/providers/providers_factory.py
  keep/providers/slack_provider/__init__.py
  keep/providers/slack_provider/slack_provider.py
  keep/providers/snowflake_provider/__init__.py
  keep/providers/snowflake_provider/snowflake_input_provider.py
  pyproject.toml
Due: black

feat: wip adding functions and step logic
  examples/alerts/db_disk_space.yml
  examples/alerts/monitor_migration_version.yml
  keep/alert/alert.py
  keep/alertmanager/alertmanager.py
  keep/cli/cli.py
  keep/functions/__init__.py
  keep/parser/parser.py
  keep/step/step.py
Due: black, check-yaml

feat: snowflake provider
  keep/providers/base/base_provider.py
  keep/providers/models/provider_config.py
  keep/providers/slack_provider/slack_provider.py
  keep/providers/snowflake_provider/snowflake_input_provider.py
  keep/providers/snowflake_provider/snowflake_provider.py
  pyproject.toml
Due: black

feat: improve factory interface
  keep/providers/providers_factory.py
Due: black

feat: tmp
  examples/alerts/db_disk_space.yml
  examples/alerts/monitor_migration_version.yml
  examples/alerts/purchase_fails.yml
  examples/alerts/service_failed.yml
  keep/alert/alert.py
  keep/alertmanager/alertmanager.py
  keep/cli/cli.py
  keep/conditions/__init__.py
  keep/conditions/condition_factory.py
  keep/exceptions/__init__.py
  keep/exceptions/provider_config_exception.py
  keep/parser/parser.py
  keep/providers/base/base_input_provider.py
  keep/providers/base/base_output_provider.py
  keep/providers/base/base_provider.py
  keep/providers/console_provider/__init__.py
  keep/providers/console_provider/console_provider.py
  keep/providers/mock_provider/__init__.py
  keep/providers/mock_provider/mock_provider.py
  keep/providers/models/provider_config.py
  keep/providers/slack_provider/__init__.py
  keep/providers/slack_provider/slack_provider.py
  keep/providers/snowflake_provider/__init__.py
  keep/providers/snowflake_provider/snowflake_input_provider.py
  keep/step/step.py
  pyproject.toml
Due: black, check-yaml

feat: SSH provider
  keep/providers/base/base_provider.py
  keep/providers/console_provider/console_provider.py
  keep/providers/models/provider_config.py
  keep/providers/slack_provider/slack_provider.py
  keep/providers/snowflake_provider/snowflake_provider.py
  keep/providers/ssh_provider/__init__.py
  keep/providers/ssh_provider/ssh_provider.py
  pyproject.toml
Due: black

feat: SSH provider (#2)
  keep/providers/base/base_provider.py
  keep/providers/console_provider/console_provider.py
  keep/providers/models/provider_config.py
  keep/providers/slack_provider/slack_provider.py
  keep/providers/snowflake_provider/snowflake_provider.py
  keep/providers/ssh_provider/__init__.py
  keep/providers/ssh_provider/ssh_provider.py
  pyproject.toml
Due: black

feat: Add basic condition and now working on actions
  examples/alerts/db_disk_space.yml
  keep/action/action.py
  keep/alert/alert.py
  keep/conditions/base_condition.py
  keep/conditions/condition_factory.py
  keep/conditions/threshold_condition.py
  keep/parser/parser.py
  keep/step/step.py
Due: black, check-yaml

feat: elasticsearch provider
  keep/exceptions/provider_connection_failed.py
  keep/providers/console_provider/console_provider.py
  keep/providers/elastic_provider/__init__.py
  keep/providers/elastic_provider/elastic_provider.py
  pyproject.toml
Due: black

feat: elasticsearch provider (#3)
  keep/exceptions/provider_connection_failed.py
  keep/providers/console_provider/console_provider.py
  keep/providers/elastic_provider/__init__.py
  keep/providers/elastic_provider/elastic_provider.py
  pyproject.toml
Due: black

feat: commiting leftovers from the day
  examples/alerts/monitor_migration_version.yml
  examples/alerts/purchase_fails.yml
  keep/action/action.py
  keep/parser/parser.py
  keep/providers/mock_provider/mock_provider.py
Due: black, check-yaml

feat: first alert e2e fired
  examples/alerts/db_disk_space.yml
  keep/action/action.py
  keep/alert/alert.py
  keep/iohandler/iohandler.py
  keep/parser/parser.py
  keep/providers/base/base_provider.py
  keep/providers/mock_provider/mock_provider.py
  keep/providers/slack_provider/slack_provider.py
  pyproject.toml
Due: black, check-yaml

feat: elastic alert works
  examples/alerts/db_disk_space.yml
  examples/alerts/elastic_200_demo.yml
  keep/alert/alert.py
  keep/cli/cli.py
  keep/conditions/base_condition.py
  keep/conditions/threshold_condition.py
  keep/functions/__init__.py
  keep/iohandler/iohandler.py
  keep/providers/base/base_provider.py
  keep/providers/elastic_provider/elastic_provider.py
  keep/providers/mock_provider/mock_provider.py
  keep/providers/models/provider_config.py
  keep/providers/slack_provider/slack_provider.py
  keep/step/step.py
  pyproject.toml
Due: black, check-yaml

feat: adding sentry provider and adding logs
  examples/alerts/sentry_example.yml
  examples/providers/sentry.yml
  keep/action/action.py
  keep/alert/alert.py
  keep/cli/cli.py
  keep/iohandler/iohandler.py
  keep/providers/sentry_provider/__init__.py
  keep/providers/sentry_provider/sentry_provider.py
  keep/step/step.py
  pyproject.toml
Due: black, check-yaml

feat: simplify action and step
  keep/action/action.py
  keep/cli/cli.py
  keep/exceptions/action_error.py
  keep/parser/parser.py
  keep/providers/base/base_provider.py
  keep/providers/elastic_provider/elastic_provider.py
  keep/providers/mock_provider/mock_provider.py
  keep/providers/providers_factory.py
  keep/providers/slack_provider/slack_provider.py
  keep/step/step.py
Due: black

fix(baseprovider): kwargs are redundant
  keep/providers/base/base_provider.py
  keep/providers/providers_factory.py
  keep/providers/slack_provider/slack_provider.py
Due: black

feat: add keep init command with keep.yaml
  .gitignore
  config.yaml
  examples/alerts/sentry_example.yml
  keep/cli/cli.py
Due: black, check-yaml

fix: providers parameters to with
  examples/alerts/db_disk_space.yml
  keep/parser/parser.py
  keep/providers/base/base_provider.py
Due: black, check-yaml

fix: simplify actions
  examples/alerts/db_disk_space.yml
  keep/action/action.py
  keep/parser/parser.py
  keep/providers/base/base_provider.py
  keep/providers/slack_provider/slack_provider.py
Due: black, check-yaml

feat: simplify action and step (#4)
  examples/alerts/db_disk_space.yml
  keep/action/action.py
  keep/cli/cli.py
  keep/exceptions/action_error.py
  keep/parser/parser.py
  keep/providers/base/base_provider.py
  keep/providers/elastic_provider/elastic_provider.py
  keep/providers/mock_provider/mock_provider.py
  keep/providers/providers_factory.py
  keep/providers/slack_provider/slack_provider.py
  keep/step/step.py
Due: black, check-yaml

feat: url shortener if api_key and api_url
  keep/action/action.py
  keep/cli/cli.py
  keep/exceptions/provider_notify_exception.py
  keep/providers/slack_provider/slack_provider.py
Due: black

fix: doc
  keep/action/action.py
Due: black

feat: Add keep config provider command
  .gitignore
  keep/cli/cli.py
  keep/providers/elastic_provider/elastic_provider.py
  keep/providers/providers_factory.py
  keep/providers/sentry_provider/sentry_provider.py
  keep/providers/slack_provider/slack_provider.py
  keep/providers/snowflake_provider/snowflake_provider.py
  keep/providers/ssh_provider/ssh_provider.py
  pyproject.toml
Due: black

Path conditions:
  black: any of: \.py$
  check-yaml: any of: \.(yaml|yml)$
