Repository keephq/keep: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, check-yaml

black:
  name: black
  entry: black
  language: system
  require_serial: true

check-yaml:
  name: Check Yaml
  entry: check-yaml
  language: system

test: threshold condition
  keep/conditions/threshold_condition.py
  tests/test_conditions.py
Due: black

feat: refactor readme (#163)
  README.md
Due: none

fix: fix type in api key secret name (#164)
  keep/api/routes/tenant.py
Due: black

test: stddev condition basics
  tests/test_conditions.py
Due: black

tests: increase code coverage (#162)
  .github/workflows/test-pr.yml
  .gitignore
  keep/alert/alert.py
  keep/conditions/threshold_condition.py
  keep/contextmanager/contextmanager.py
  keep/functions/__init__.py
  tests/conftest.py
  tests/test_conditions.py
  tests/test_contextmanager.py
  tests/test_functions.py
Due: black, check-yaml

feat: settings to navbar and builder page
  keep-ui/app/builder/page.tsx
  keep-ui/app/navbar-inner.tsx
Due: none

feat: get providers from the api
  keep-ui/app/error.tsx
  keep/api/routes/providers.py
  keep/providers/grafana_provider/grafana_provider.py
  keep/providers/providers_factory.py
Due: black

feat: wip
  keep-ui/app/builder/builder.tsx
  keep-ui/app/builder/editors.tsx
  keep-ui/app/builder/page.css
  keep-ui/app/builder/page.tsx
  keep-ui/app/navbar-inner.tsx
  keep-ui/app/page.tsx
  keep-ui/app/under-construction.module.css
  keep-ui/app/under-construction.tsx
  keep-ui/package-lock.json
  keep-ui/package.json
  keep-ui/public/mock-icon.png
  keep-ui/public/slack-icon.png
Due: none

feat: get providers from server instead of hardcoded
  keep-ui/app/providers/page.tsx
  keep-ui/app/providers/provider-form.tsx
  keep-ui/app/providers/provider-row.tsx
  keep-ui/app/providers/providers.css
  keep-ui/app/providers/providers.tsx
  keep-ui/app/providers/table.tsx
  keep-ui/public/bigquery.svg
  keep-ui/public/cloudwatch.svg
  keep-ui/public/elasticsearch.svg
  keep-ui/public/github.svg
  keep-ui/public/jira.svg
  keep-ui/public/mysql.svg
  keep-ui/public/opsgenie.svg
  keep-ui/public/pagerduty.svg
  keep-ui/public/psql.svg
  keep-ui/public/sentry.svg
  keep-ui/public/snowflake.svg
  keep-ui/public/teams.svg
  keep-ui/public/telegram.svg
  keep/providers/grafana_provider/grafana_provider.py
  keep/providers/pagerduty_provider/pagerduty_provider.py
Due: black

feat: wip
  examples/alerts/bigquery.yml
  keep-ui/app/builder/builder.tsx
  keep-ui/app/builder/loader.tsx
  keep-ui/app/builder/page.css
  keep-ui/app/builder/page.tsx
  keep-ui/app/builder/types.tsx
  keep-ui/package-lock.json
  keep-ui/package.json
  keep-ui/public/bigquery-icon.png
  keep-ui/public/github.stars-icon.png
  keep-ui/public/http-icon.png
  keep-ui/public/mysql-icon.png
  keep-ui/public/opsgenie-icon.png
  keep-ui/public/postgres-icon.png
  keep-ui/public/trello-icon.png
Due: check-yaml

fix: foreach
  keep-ui/app/builder/builder.tsx
Due: none

feat: style
  keep-ui/app/builder/builder.tsx
  keep-ui/app/builder/editors.tsx
  keep-ui/app/builder/page.tsx
Due: none

feat: wip
  keep-ui/app/auth-provider.tsx
  keep-ui/app/builder/builder.tsx
  keep-ui/app/builder/editors.tsx
  keep-ui/app/builder/page.css
  keep-ui/app/builder/page.tsx
  keep-ui/app/globals.css
  keep-ui/app/layout.tsx
  keep-ui/app/nav.tsx
  keep-ui/app/navbar.tsx
  keep-ui/app/providers/providers.tsx
  keep-ui/app/providers/table.tsx
  keep-ui/package-lock.json
  keep-ui/package.json
  keep-ui/public/console-icon.png
  keep-ui/public/pagerduty-icon.png
  keep-ui/public/teams-icon.png
  keep-ui/public/telegram-icon.png
  keep-ui/utils/apiUrl.ts
  keep/api/models/provider.py
  keep/api/routes/providers.py
  keep/providers/elastic_provider/elastic_provider.py
  keep/providers/providers_factory.py
Due: black

feat: remove my icons
  keep-ui/app/builder/builder.tsx
  keep-ui/public/bigquery-icon.png
  keep-ui/public/console-icon.png
  keep-ui/public/github.stars-icon.png
  keep-ui/public/http-icon.png
  keep-ui/public/mock-icon.png
  keep-ui/public/mysql-icon.png
  keep-ui/public/opsgenie-icon.png
  keep-ui/public/pagerduty-icon.png
  keep-ui/public/postgres-icon.png
  keep-ui/public/slack-icon.png
  keep-ui/public/teams-icon.png
  keep-ui/public/telegram-icon.png
  keep-ui/public/trello-icon.png
Due: none

feat: wip
  keep-ui/app/ci/page.tsx
  keep-ui/app/navbar-inner.tsx
  keep-ui/app/page.tsx
  keep-ui/app/providers/page.tsx
  keep-ui/app/providers/provider-form.css
  keep-ui/app/providers/provider-form.tsx
  keep-ui/app/providers/providers-connect.css
  keep-ui/app/providers/providers-connect.tsx
  keep-ui/app/providers/providers.tsx
  keep-ui/package-lock.json
  keep-ui/package.json
  keep-ui/public/datadog.svg
  keep-ui/public/discord.svg
  keep-ui/public/elastic.svg
  keep-ui/public/grafana.svg
  keep-ui/public/newrelic.svg
  keep-ui/public/opsgenie.svg
  keep-ui/public/pagerduty.svg
  keep-ui/public/pushover.svg
  keep-ui/public/slack.svg
  keep-ui/public/ssh.svg
  keep-ui/public/teams.svg
  keep-ui/public/trello.svg
  keep-ui/public/zenduty.svg
  keep/api/routes/providers.py
  keep/providers/datadog_provider/datadog_provider.py
  keep/providers/grafana_provider/grafana_provider.py
Due: black

feat: updates
  keep-ui/app/globals.css
  keep-ui/app/page.tsx
  keep-ui/app/providers/page.tsx
  keep-ui/app/providers/provider-form.css
  keep-ui/app/providers/providers-connect.css
  keep-ui/app/providers/providers-connect.tsx
  keep-ui/app/providers/providers.tsx
  keep-ui/app/providers/table.tsx
  keep-ui/public/opsgenie.svg
  keep-ui/public/pagerduty.svg
  keep-ui/public/teams.svg
  keep/api/routes/providers.py
  keep/providers/providers_factory.py
Due: black

feat: end of day
  keep-ui/app/navbar-inner.tsx
  keep-ui/app/providers/page.tsx
  keep-ui/app/providers/provider-row.css
  keep-ui/app/providers/provider-row.tsx
  keep-ui/app/providers/providers.tsx
  keep-ui/app/providers/table.tsx
  keep-ui/next.config.js
  keep/api/routes/providers.py
Due: black

Update README.md
  README.md
Due: none

fix: add assets and set README
  README.md
  assets/alert-example.png
  assets/keep.png
Due: none

docs: Keep issue #77 (#167)
  README.md
Due: none

feat: get providers from server instead of hardcoded
  keep-ui/app/auth-provider.tsx
  keep-ui/app/layout.tsx
  keep-ui/app/page.tsx
  keep-ui/app/providers/page.tsx
  keep-ui/app/providers/provider-form.tsx
  keep-ui/app/providers/provider-row.tsx
  keep-ui/app/providers/providers-connect.tsx
  keep-ui/app/providers/table.tsx
  keep-ui/utils/customAuth.ts
  keep/api/routes/providers.py
Due: black

feat: fix build
  keep-ui/app/page.tsx
  keep-ui/app/providers/page.tsx
Due: none

feat: wip
  keep-ui/app/builder/builder.tsx
  keep-ui/app/builder/page.client.tsx
  keep-ui/app/builder/page.css
  keep-ui/app/builder/page.tsx
  keep-ui/app/builder/utils.tsx
  keep-ui/app/providers/providers.tsx
  keep-ui/public/icons/bash-icon.png
  keep-ui/public/icons/bigquery-icon.png
  keep-ui/public/icons/console-icon.png
  keep-ui/public/icons/datadog-icon.png
  keep-ui/public/icons/discord-icon.png
  keep-ui/public/icons/elastic-icon.png
  keep-ui/public/icons/foreach-icon.png
  keep-ui/public/icons/grafana-icon.png
  keep-ui/public/icons/http-icon.png
  keep-ui/public/icons/jira-icon.png
  keep-ui/public/icons/logfile-icon.png
  keep-ui/public/icons/mysql-icon.png
  keep-ui/public/icons/newrelic-icon.png
  keep-ui/public/icons/opsgenie-icon.png
  keep-ui/public/icons/pagerduty-icon.png
  keep-ui/public/icons/postgres-icon.png
  keep-ui/public/icons/psql-icon.png
  keep-ui/public/icons/pushover-icon.png
  keep-ui/public/icons/python-icon.png
  keep-ui/public/icons/sentry-icon.png
  keep-ui/public/icons/slack-icon.png
  keep-ui/public/icons/snowflake-icon.png
  keep-ui/public/icons/ssh-icon.png
  keep-ui/public/icons/teams-icon.png
  keep-ui/public/icons/telegram-icon.png
  keep-ui/public/icons/threshold-icon.png
  keep-ui/public/icons/trello-icon.png
  keep-ui/public/icons/zenduty-icon.png
  keep/api/models/provider.py
  keep/providers/providers_factory.py
Due: black

feat: wip
  keep-ui/app/builder/builder-validators.tsx
  keep-ui/app/builder/builder.tsx
  keep-ui/app/builder/editors.tsx
  keep-ui/app/builder/page.client.tsx
  keep-ui/app/builder/page.css
  keep-ui/app/builder/utils.tsx
  keep-ui/public/icons/mock-icon.png
Due: none

feat: styling
  keep-ui/app/builder/page.client.tsx
  keep-ui/app/builder/page.css
Due: none

feat: typo
  keep/api/routes/providers.py
Due: black

fix: new providers endpoint
  keep-ui/app/builder/builder.tsx
  keep-ui/app/builder/page.client.tsx
  keep-ui/app/builder/utils.tsx
Due: none

feat: let's try again
  keep/api/routes/providers.py
Due: black

feat: let the UI query the actual api
  keep-ui/utils/apiUrl.ts
Due: none

feat: the change should be in the build
  keep-ui/next_build.sh
  keep-ui/package.json
  keep-ui/utils/apiUrl.ts
Due: none

Path conditions:
  black: any of: \.py$
  check-yaml: any of: \.(yaml|yml)$
