Repository keephq/keep: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, check-yaml

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: black
        name: black
        entry: black
        language: system
        types: [python]
        require_serial: true
      - id: check-added-large-files
        name: Check for added large files
        entry: check-added-large-files
        language: system
      - id: check-yaml
        name: Check Yaml
        entry: check-yaml
        language: system
        types: [yaml]
      - id: end-of-file-fixer
        name: Fix End of Files
        entry: end-of-file-fixer
        language: system
        types: [text]
        stages: [commit, push, manual]
      - id: isort
        name: isort
        entry: isort
        require_serial: true
        language: system
        types_or: [cython, pyi, python]
        args: ["--filter-files", "--profile", "black"]
      - id: trailing-whitespace
        name: Trim Trailing Whitespace
        entry: trailing-whitespace-fixer
        language: system
        types: [text]
        stages: [commit, push, manual]
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v2.6.0
    hooks:
      - id: prettier
  - repo: https://github.com/compilerla/conventional-pre-commit
    rev: v2.1.1
    hooks:
      - id: conventional-pre-commit
        stages: [commit-msg]
        args: [] # optional: list of Conventional Commits types to allow e.g. [feat, fix, ci, chore, test]

fix: editor broke
  keep-ui/app/workflows/builder/editors.tsx
  keep-ui/app/workflows/builder/utils.tsx
Due: none

fix: editor broke (#968)
  keep-ui/app/workflows/builder/editors.tsx
  keep-ui/app/workflows/builder/utils.tsx
Due: none

[MOD] removed unsused imports
  keep/providers/incident_manager_provider/incident_manager_provider.py
Due: black

fix: remove group payload for now
  keep/rulesengine/rulesengine.py
Due: black

fix: remove group payload for now (#970)
  keep/rulesengine/rulesengine.py
Due: black

fix: dedup perf
  keep/api/alert_deduplicator/alert_deduplicator.py
  keep/api/core/db.py
Due: black

fix: dedup perf (#971)
  keep/api/alert_deduplicator/alert_deduplicator.py
  keep/api/core/db.py
Due: black

feat: gcp monitoring
  docs/images/gcpmonitoring_1.png
  docs/images/gcpmonitoring_2.png
  docs/images/gcpmonitoring_3.png
  docs/images/gcpmonitoring_4.png
  docs/images/gcpmonitoring_5.png
  docs/images/gcpmonitoring_6.png
  docs/mint.json
  docs/providers/documentation/azuremonitoring-provider.mdx
  docs/providers/documentation/gcpmonitoring-provider.mdx
  keep-ui/public/icons/gcpmonitoring-icon.png
  keep/api/models/alert.py
  keep/providers/gcpmonitoring_provider/__init__.py
  keep/providers/gcpmonitoring_provider/gcpmonitoring_provider.py
Due: black

feat: gcp monitoring
  README.md
Due: none

feat: google cloud monitoring (#972)
  README.md
  docs/images/gcpmonitoring_1.png
  docs/images/gcpmonitoring_2.png
  docs/images/gcpmonitoring_3.png
  docs/images/gcpmonitoring_4.png
  docs/images/gcpmonitoring_5.png
  docs/images/gcpmonitoring_6.png
  docs/mint.json
  docs/providers/documentation/azuremonitoring-provider.mdx
  docs/providers/documentation/gcpmonitoring-provider.mdx
  keep-ui/public/icons/gcpmonitoring-icon.png
  keep/api/models/alert.py
  keep/providers/gcpmonitoring_provider/__init__.py
  keep/providers/gcpmonitoring_provider/gcpmonitoring_provider.py
Due: black

feat:wip
  keep-ui/app/alerts/alert-presets.tsx
  keep-ui/app/alerts/alerts-rules-builder.tsx
  keep-ui/app/rules/rules.client.tsx
Due: none

feat:move components into `alert-table`
  keep-ui/app/alerts/alert-actions.tsx
  keep-ui/app/alerts/alert-table-tab-panel.tsx
  keep-ui/app/alerts/alert-table.tsx
Due: none

feat:add `json-query` to project
  keep-ui/package-lock.json
  keep-ui/package.json
Due: none

fix(providers): check if provided sns_topic already exists or not
  keep/providers/cloudwatch_provider/cloudwatch_provider.py
Due: black

fix(providers): check if provided sns_topic already exists or not (#973)
  keep/providers/cloudwatch_provider/cloudwatch_provider.py
Due: black

fix(api): validate oauth provider scopes
  keep/api/routes/providers.py
Due: black

fix: validation
  keep/api/routes/workflows.py
Due: black

feat(doc): Update Keep CLI installation information requiring Python 3.11
  docs/cli/installation.mdx
Due: none

fix: validation (#975)
  keep/api/routes/workflows.py
Due: black

feat (doc): Change to a more positive wording
  docs/cli/installation.mdx
Due: none

feat: add new functions
  keep/functions/__init__.py
Due: black

feat(docs): add new functions docs
  docs/workflows/functions/last.mdx
  docs/workflows/functions/lowercase.mdx
  docs/workflows/functions/uppercase.mdx
Due: none

feat(tests): update test_functions
  tests/test_functions.py
Due: black

feat: auto supress
  examples/workflows/autosupress.yml
  keep/providers/mock_provider/mock_provider.py
Due: black, check-yaml

feat: auto supress (#978)
  examples/workflows/autosupress.yml
  keep/providers/mock_provider/mock_provider.py
Due: black, check-yaml

feat(doc): Update Keep CLI installation information requiring Python 3.11 (#976)
  docs/cli/installation.mdx
Due: none

feat: add new functions (#977)
  docs/workflows/functions/last.mdx
  docs/workflows/functions/lowercase.mdx
  docs/workflows/functions/uppercase.mdx
  keep/functions/__init__.py
  tests/test_functions.py
Due: black

feat(provider): keep provider get distinct alerts with filter
  keep/api/core/db.py
  keep/providers/keep_provider/keep_provider.py
Due: black

feat(provider): keep provider get distinct alerts with filter (#979)
  keep/api/core/db.py
  keep/providers/keep_provider/keep_provider.py
Due: black

fix(api): validate oauth provider scopes (#974)
  keep/api/routes/providers.py
Due: black
