Repository keephq/keep: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, check-yaml

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: black
        name: black
        entry: black
        language: system
        types: [python]
        require_serial: true
      - id: check-added-large-files
        name: Check for added large files
        entry: check-added-large-files
        language: system
      - id: check-yaml
        name: Check Yaml
        entry: check-yaml
        language: system
        types: [yaml]
      - id: end-of-file-fixer
        name: Fix End of Files
        entry: end-of-file-fixer
        language: system
        types: [text]
        stages: [commit, push, manual]
      - id: isort
        name: isort
        entry: isort
        require_serial: true
        language: system
        types_or: [cython, pyi, python]
        args: ["--filter-files", "--profile", "black"]
      - id: trailing-whitespace
        name: Trim Trailing Whitespace
        entry: trailing-whitespace-fixer
        language: system
        types: [text]
        stages: [commit, push, manual]
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v2.6.0
    hooks:
      - id: prettier
  - repo: https://github.com/compilerla/conventional-pre-commit
    rev: v2.1.1
    hooks:
      - id: conventional-pre-commit
        stages: [commit-msg]
        args: [] # optional: list of Conventional Commits types to allow e.g. [feat, fix, ci, chore, test]

fix: expand only appropriate row (#790)
  keep-ui/app/alerts/alert-table-utils.tsx
Due: none

fix(provider): enrichment when value is '' and zipped foreach context
  keep/providers/base/base_provider.py
Due: black

chore(ui): add bg color to action/step runs
  keep-ui/app/workflows/[workflow_id]/runs/[workflow_execution_id]/page.tsx
Due: none

fix(provider): enrichment when value is '' and zipped foreach context (#791)
  keep-ui/app/workflows/[workflow_id]/runs/[workflow_execution_id]/page.tsx
  keep/providers/base/base_provider.py
Due: black

refactor: Import-export-configs (#778)
  docs/api-ref/providers/export-providers.mdx
  docs/api-ref/users/create-user.mdx
  docs/api-ref/users/delete-user-by-email.mdx
  docs/api-ref/users/get-users.mdx
  docs/api-ref/workflows/export-workflows.mdx
  keep/api/core/db.py
  keep/api/routes/providers.py
  keep/api/routes/workflows.py
  keep/workflowmanager/workflowstore.py
Due: black

chore(provider): LinearB display name
  keep/providers/linearb_provider/linearb_provider.py
Due: black

chore(provider): LinearB display name (#792)
  keep/providers/linearb_provider/linearb_provider.py
Due: black

fix(api): alerts history is limited to 1 alert
  keep/api/routes/alerts.py
Due: black

fix(api): alerts history is limited to 1 alert (#793)
  keep/api/routes/alerts.py
Due: black

fix:add `columnOrder` when selecting cols
  keep-ui/app/alerts/alert-columns-select.tsx
Due: none

fix:add `getVisibleCols` func
  keep-ui/app/alerts/alert-table-utils.tsx
  keep-ui/app/alerts/alert-table.tsx
Due: none

refactor:switch to CONSTANTS
  keep-ui/app/alerts/alert-table-utils.tsx
  keep-ui/app/alerts/alert-table.tsx
Due: none

fix:maintain original order when selecting new columns
  keep-ui/app/alerts/alert-columns-select.tsx
Due: none

fix(ui): new cols are always hidden (#795)
  keep-ui/app/alerts/alert-columns-select.tsx
  keep-ui/app/alerts/alert-table-utils.tsx
  keep-ui/app/alerts/alert-table.tsx
Due: none

fix: posthog
  docker-compose.common.yml
  docker-compose.yml
  docker/Dockerfile.ui
  keep-ui/app/posthog-provider.tsx
  keep-ui/pages/api/config.tsx
  keep-ui/types/internal-config.ts
Due: check-yaml

fix: remove redunant
  docker-compose.yml
Due: check-yaml

fix: posthog (#796)
  docker-compose.common.yml
  docker/Dockerfile.ui
  keep-ui/app/posthog-provider.tsx
  keep-ui/pages/api/config.tsx
  keep-ui/types/internal-config.ts
Due: check-yaml

feat: another sev
  keep/providers/prometheus_provider/prometheus_provider.py
Due: black

chore(api): add error severity (#797)
  keep/providers/prometheus_provider/prometheus_provider.py
Due: black

fix: try to solve high cpu consumption when receiving tons of alerts parallel
  keep-ui/app/alerts/alert-assignee.tsx
  keep-ui/app/alerts/alert-menu.tsx
  keep-ui/app/alerts/alerts.tsx
  keep-ui/utils/helpers.ts
  keep-ui/utils/hooks/useAlerts.ts
  keep-ui/utils/hooks/useConfig.ts
  keep-ui/utils/hooks/useProviders.ts
  keep-ui/utils/hooks/useUsers.ts
  keep/api/routes/alerts.py
Due: black

fix: try to solve high cpu consumption when receiving tons of alerts (#798)
  keep-ui/app/alerts/alert-assignee.tsx
  keep-ui/app/alerts/alert-menu.tsx
  keep-ui/app/alerts/alerts.tsx
  keep-ui/utils/helpers.ts
  keep-ui/utils/hooks/useAlerts.ts
  keep-ui/utils/hooks/useConfig.ts
  keep-ui/utils/hooks/useProviders.ts
  keep-ui/utils/hooks/useUsers.ts
  keep/api/routes/alerts.py
Due: black

fix(ui): remove zlib and small fix in useAlerts
  keep-ui/package-lock.json
  keep-ui/utils/hooks/useAlerts.ts
Due: none

fix(ui): remove zlib and small fix in useAlerts (#799)
  keep-ui/package-lock.json
  keep-ui/utils/hooks/useAlerts.ts
Due: none

feat: async db
  keep/api/core/db.py
  keep/api/routes/alerts.py
  keep/rulesengine/rulesengine.py
  scripts/simulate_alerts.py
Due: black

feat: async db
  keep/api/core/db.py
Due: black

fix:skeleton add new columns to table
  keep-ui/app/alerts/alerts-table-body.tsx
Due: none

fix:remove max width from name; move menu to left
  keep-ui/app/alerts/alert-table-utils.tsx
Due: none

fix:formatting
  keep-ui/app/alerts/alert-name.tsx
Due: none

refactor:use `fingerprint` instead of id for history
  keep-ui/app/alerts/alert-menu.tsx
Due: none

refactor:prevent history modal from closing; remove loading
  keep-ui/app/alerts/alert-history.tsx
Due: none

fix: loading state and minor issue with extra payload in history mode
  keep-ui/app/alerts/alert-history.tsx
  keep-ui/app/alerts/alert-table-utils.tsx
Due: none
