Repository keephq/keep: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, check-yaml

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: black
        name: black
        entry: black
        language: system
        types: [python]
        require_serial: true
      - id: check-added-large-files
        name: Check for added large files
        entry: check-added-large-files
        language: system
      - id: check-yaml
        name: Check Yaml
        entry: check-yaml
        language: system
        types: [yaml]
      - id: end-of-file-fixer
        name: Fix End of Files
        entry: end-of-file-fixer
        language: system
        types: [text]
        stages: [commit, push, manual]
      - id: isort
        name: isort
        entry: isort
        require_serial: true
        language: system
        types_or: [cython, pyi, python]
        args: ["--filter-files", "--profile", "black"]
      - id: trailing-whitespace
        name: Trim Trailing Whitespace
        entry: trailing-whitespace-fixer
        language: system
        types: [text]
        stages: [commit, push, manual]
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v2.6.0
    hooks:
      - id: prettier
  - repo: https://github.com/compilerla/conventional-pre-commit
    rev: v2.1.1
    hooks:
      - id: conventional-pre-commit
        stages: [commit-msg]
        args: [] # optional: list of Conventional Commits types to allow e.g. [feat, fix, ci, chore, test]

fix: docker compose
  docker-compose.common.yml
Due: check-yaml

fix(deployment): docker compose (#1269)
  docker-compose.common.yml
Due: check-yaml

feat(api): mapping matcher to support regex pattern
  keep/api/bl/enrichments.py
  tests/test_enrichments.py
Due: black

feat(api): mapping matcher to support regex pattern (#1270)
  keep/api/bl/enrichments.py
  tests/test_enrichments.py
Due: black

feat(workflow): run wf when severity changes
  examples/workflows/severity_changed.yml
  keep-ui/app/providers/provider-tile.tsx
  keep-ui/components/navbar/DashboardLinks.tsx
  keep-ui/package-lock.json
  keep-ui/package.json
  keep/api/models/alert.py
  keep/workflowmanager/workflowmanager.py
Due: black, check-yaml

fix: example
  examples/workflows/severity_changed.yml
Due: check-yaml

feat(workflow): run wf when severity changes (#1271)
  examples/workflows/severity_changed.yml
  keep-ui/app/providers/provider-tile.tsx
  keep-ui/components/navbar/DashboardLinks.tsx
  keep-ui/package-lock.json
  keep-ui/package.json
  keep/api/models/alert.py
  keep/workflowmanager/workflowmanager.py
Due: black, check-yaml

Format dev logs as strings, not otel
  docs/development/getting-started.mdx
  keep-ui/.env.local.example
  keep/api/logging.py
Due: black

feat(ui): Alert Correlation Rule Badges (#1189)
  keep-ui/app/rules/CorrelationSidebar/AlertsFoundBadge.tsx
  keep-ui/app/rules/CorrelationSidebar/CorrelationForm.tsx
  keep-ui/app/rules/CorrelationSidebar/CorrelationSidebarBody.tsx
  keep-ui/app/rules/CorrelationSidebar/CorrelationSubmission.tsx
  keep-ui/app/rules/CorrelationSidebar/RuleFields.tsx
  keep-ui/utils/fetcher.ts
  keep-ui/utils/hooks/useDebouncedValue.ts
  keep-ui/utils/hooks/useSearchAlerts.ts
  keep/api/routes/alerts.py
Due: black

0.16.0
  pyproject.toml
Due: none

feat: fetch all incidents ilert provider
  keep/providers/ilert_provider/ilert_provider.py
Due: black

fix: typo
  keep/api/routes/alerts.py
Due: black

feat: arq/elastic (#1252)
  .github/workflows/test-pr.yml
  docker-compose-with-arq.yml
  docker-compose-with-otel.yaml
  docker-compose.common.yml
  keep-ui/app/alerts/TitleAndFilters.tsx
  keep-ui/app/alerts/alert-dismiss-modal.tsx
  keep-ui/app/alerts/alert-menu.tsx
  keep-ui/app/alerts/alert-method-modal.tsx
  keep-ui/app/alerts/alert-pagination.tsx
  keep-ui/app/alerts/alert-table.tsx
  keep-ui/app/alerts/alerts-table-body.tsx
  keep-ui/app/alerts/alerts.tsx
  keep-ui/utils/hooks/useAlerts.ts
  keep/api/api.py
  keep/api/arq_worker.py
  keep/api/bl/enrichments.py
  keep/api/core/db.py
  keep/api/core/elastic.py
  keep/api/models/alert.py
  keep/api/models/db/preset.py
  keep/api/models/search_alert.py
  keep/api/routes/alerts.py
  keep/api/routes/preset.py
  keep/api/tasks/__init__.py
  keep/api/tasks/process_event_task.py
  keep/api/utils/enrichment_helpers.py
  keep/providers/base/base_provider.py
  keep/providers/kibana_provider/kibana_provider.py
  keep/providers/parseable_provider/parseable_provider.py
  keep/searchengine/searchengine.py
  poetry.lock
  pyproject.toml
  scripts/migrate_to_elastic.py
  scripts/simulate_alerts.py
  tests/conftest.py
  tests/docker-compose-elastic.yml
  tests/docker-compose-mysql.yml
  tests/test_auth.py
  tests/test_search_alerts.py
Due: black, check-yaml

feat: poetry lock
  poetry.lock
Due: none

fix: typo
  keep/api/core/db.py
Due: black

fix(api): process event parameters
  keep/api/routes/alerts.py
Due: black

fix(api): process event parameters (#1274)
  keep/api/routes/alerts.py
Due: black

refactor(pagerduty): Update alert formatting and improve test coverage
  keep/providers/pagerduty_provider/pagerduty_provider.py
  tests/sample_incident_data.json
  tests/test_pagerduty_provider.py
Due: black

fix: Set DEFAULT_LOOKBACK_DAYS to 365 to limit incident fetch to the last year
  keep/providers/pagerduty_provider/pagerduty_provider.py
Due: black

fix: remove comments
  keep/providers/pagerduty_provider/pagerduty_provider.py
Due: black

fix: some bugs
  keep/api/arq_worker.py
  keep/api/core/elastic.py
  keep/searchengine/searchengine.py
Due: black

fix: some bugs (#1275)
  keep/api/arq_worker.py
  keep/api/core/elastic.py
  keep/searchengine/searchengine.py
Due: black

fix: bugs with presets and pulled alerts
  keep-ui/app/alerts/LastReceived.tsx
  keep-ui/app/alerts/TitleAndFilters.tsx
  keep-ui/app/alerts/alert-change-status-modal.tsx
  keep-ui/app/alerts/alerts-table-body.tsx
  keep-ui/app/alerts/alerts.tsx
  keep-ui/utils/hooks/useAlerts.ts
  keep-ui/utils/hooks/usePresets.ts
  keep/api/models/db/preset.py
  keep/api/routes/alerts.py
  keep/api/routes/preset.py
  keep/searchengine/searchengine.py
Due: black

fix: search
  keep/searchengine/searchengine.py
Due: black

fix: search (#1277)
  keep/searchengine/searchengine.py
Due: black

allow to expand reusable actions
  docs/api-ref/actions/add-actions.mdx
  docs/api-ref/actions/create-actions.mdx
  docs/api-ref/actions/delete-action.mdx
  docs/api-ref/actions/get-actions.mdx
  docs/api-ref/actions/put-action.mdx
  docs/api-ref/actions/update-action.mdx
  docs/api-ref/alerts/webhook-challenge.mdx
  docs/generate_readme_from_openapijson.sh
  docs/mint.json
  docs/openapi.json
  docs/workflows/examples/reusable-action-alert.mdx
  keep/actions/__init__.py
  keep/actions/actions_exception.py
  keep/actions/actions_factory.py
  keep/api/api.py
  keep/api/core/db.py
  keep/api/models/action.py
  keep/api/models/db/action.py
  keep/api/routes/actions.py
  keep/contextmanager/contextmanager.py
  keep/parser/parser.py
  keep/workflowmanager/workflowstore.py
  tests/test_actions.py
  tests/test_parser.py
  tests/workflows/reusable_actions_for_testing.yml
  tests/workflows/reusable_alert_for_testing.yml
  tests/workflows/reusable_alert_with_actions_for_testing.yml
Due: black, check-yaml

Refactor: improve code quality of resuable actions
  keep/actions/actions_exception.py
  keep/actions/actions_factory.py
  keep/api/core/db.py
  keep/api/routes/actions.py
  keep/parser/parser.py
  tests/test_actions.py
Due: black

Updated pagerduty_provider.py - Additional metadata
  keep/providers/pagerduty_provider/pagerduty_provider.py
Due: black

Removed TODO
  keep/providers/pagerduty_provider/pagerduty_provider.py
Due: black

made necessary changes
  keep/providers/servicenow/__init__.py
  keep/providers/servicenow/servicenow_provider.py
  keep/searchengine/searchengine.py
  tests/providers/test_servicenow_provider.py
Due: black
