Repository keephq/keep: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, check-yaml

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: black
        name: black
        entry: black
        language: system
        types: [python]
        require_serial: true
      - id: check-added-large-files
        name: Check for added large files
        entry: check-added-large-files
        language: system
      - id: check-yaml
        name: Check Yaml
        entry: check-yaml
        language: system
        types: [yaml]
      - id: end-of-file-fixer
        name: Fix End of Files
        entry: end-of-file-fixer
        language: system
        types: [text]
        stages: [commit, push, manual]
      - id: isort
        name: isort
        entry: isort
        require_serial: true
        language: system
        types_or: [cython, pyi, python]
        args: ["--filter-files", "--profile", "black"]
      - id: trailing-whitespace
        name: Trim Trailing Whitespace
        entry: trailing-whitespace-fixer
        language: system
        types: [text]
        stages: [commit, push, manual]
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v2.6.0
    hooks:
      - id: prettier
  - repo: https://github.com/compilerla/conventional-pre-commit
    rev: v2.1.1
    hooks:
      - id: conventional-pre-commit
        stages: [commit-msg]
        args: [] # optional: list of Conventional Commits types to allow e.g. [feat, fix, ci, chore, test]

Trying to fix strange behaviour in test_incident_status_change test
  tests/test_incidents.py
Due: black

Flatten migrations history
  keep/api/models/db/migrations/versions/2024-07-25-17-13_67f1efb93c99.py
  keep/api/models/db/migrations/versions/2024-07-28-16-24_8e5942040de6.py
  keep/api/models/db/migrations/versions/2024-07-29-18-10_92f4f93f2140.py
  keep/api/models/db/migrations/versions/2024-08-08-13-55_42098785763c.py
  keep/api/models/db/migrations/versions/2024-08-09-10-53_6e353161f5a8.py
  keep/api/models/db/migrations/versions/2024-08-11-17-38_9453855f3ba0.py
  keep/api/models/db/migrations/versions/2024-08-11-19-45_005efc57cc1c.py
  keep/api/models/db/migrations/versions/2024-08-13-19-22_0832e0d9889a.py
  keep/api/models/db/migrations/versions/2024-09-01-14-04_94886bc59c11.py
  keep/api/models/db/migrations/versions/2024-09-04-09-38_b30d2141e1cb.py
  keep/api/models/db/migrations/versions/2024-09-10-17-59_710b4ff1d19e.py
  keep/api/models/db/migrations/versions/2024-09-11-23-30_c5443d9deb0f.py
  keep/api/models/db/migrations/versions/2024-09-13-10-48_938b1aa62d5c.py
Due: black

Fix typo in log_middleware function name
  keep/api/api.py
Due: black

Update keep/api/routes/incidents.py
  keep/api/routes/incidents.py
Due: black

Resolve migrations conflict
  keep/api/models/db/migrations/versions/2024-09-09-23-08_0147559658d9.py
Due: black

Resolve migrations conflict
  keep/api/models/db/migrations/versions/2024-09-11-23-30_c5443d9deb0f.py
Due: black

feat: add status for incidents (#1905)
  keep-ui/app/incidents/[id]/incident-alerts.tsx
  keep-ui/app/incidents/[id]/incident-info.tsx
  keep-ui/app/incidents/create-or-update-incident.tsx
  keep-ui/app/incidents/incident-candidate-actions.tsx
  keep-ui/app/incidents/incident-change-status-modal.tsx
  keep-ui/app/incidents/incident-pagination.tsx
  keep-ui/app/incidents/incident-table-component.tsx
  keep-ui/app/incidents/incident.tsx
  keep-ui/app/incidents/incidents-table.tsx
  keep-ui/app/incidents/models.ts
  keep-ui/app/incidents/predicted-incidents-table.tsx
  keep-ui/utils/hooks/useIncidents.ts
  keep/api/api.py
  keep/api/core/db.py
  keep/api/models/alert.py
  keep/api/models/db/alert.py
  keep/api/models/db/migrations/versions/2024-07-25-17-13_67f1efb93c99.py
  keep/api/models/db/migrations/versions/2024-07-28-16-24_8e5942040de6.py
  keep/api/models/db/migrations/versions/2024-07-29-18-10_92f4f93f2140.py
  keep/api/models/db/migrations/versions/2024-08-08-13-55_42098785763c.py
  keep/api/models/db/migrations/versions/2024-08-09-10-53_6e353161f5a8.py
  keep/api/models/db/migrations/versions/2024-08-11-17-38_9453855f3ba0.py
  keep/api/models/db/migrations/versions/2024-08-11-19-45_005efc57cc1c.py
  keep/api/models/db/migrations/versions/2024-08-13-19-22_0832e0d9889a.py
  keep/api/models/db/migrations/versions/2024-09-01-14-04_94886bc59c11.py
  keep/api/models/db/migrations/versions/2024-09-04-09-38_b30d2141e1cb.py
  keep/api/models/db/migrations/versions/2024-09-10-17-59_710b4ff1d19e.py
  keep/api/models/db/migrations/versions/2024-09-11-23-30_c5443d9deb0f.py
  keep/api/models/db/migrations/versions/2024-09-13-10-48_938b1aa62d5c.py
  keep/api/routes/alerts.py
  keep/api/routes/incidents.py
  tests/conftest.py
  tests/test_incidents.py
Due: black

fix: almost
  keep-ui/app/alerts/alert-severity.tsx
  keep-ui/app/incidents/[id]/incident-timeline.tsx
  keep-ui/tailwind.config.js
Due: none

feat: working
  keep-ui/app/incidents/[id]/incident-alerts.tsx
  keep-ui/app/incidents/[id]/incident-timeline.tsx
  keep-ui/app/incidents/[id]/incident.tsx
  keep-ui/utils/hooks/useTopology.ts
  keep/api/routes/alerts.py
Due: black

chore: cleanup
  keep-ui/app/incidents/[id]/incident-alerts.tsx
  keep-ui/app/incidents/[id]/incident-info.tsx
  keep-ui/app/incidents/[id]/incident-timeline.tsx
  keep-ui/app/incidents/[id]/incident.tsx
Due: none

fix: fix
  keep-ui/app/incidents/[id]/incident-timeline.tsx
Due: none

fix: style better format time
  keep-ui/app/incidents/[id]/incident-info.tsx
Due: none

fix(ui): update presets after pushing an alert
  keep-ui/app/alerts/alert-push-alert-to-server-modal.tsx
Due: none

fix(ui): update presets after pushing an alert (#1954)
  keep-ui/app/alerts/alert-push-alert-to-server-modal.tsx
Due: none

feat: add time frame filter to dashboards
  keep-ui/app/dashboard/GridLayout.tsx
  keep-ui/app/dashboard/[id]/dashboard.tsx
  keep-ui/components/filters/GenericFilters.tsx
  keep-ui/components/popover/GenericPopover.tsx
  keep-ui/utils/hooks/usePresets.ts
  keep/api/core/db.py
  keep/api/models/time_stamp.py
  keep/api/routes/preset.py
  keep/searchengine/searchengine.py
Due: black

chore(deps): posthog latest version
  docs/providers/overview.mdx
  keep-ui/package-lock.json
  keep-ui/package.json
Due: none

fix: overview and script
  docs/providers/overview.mdx
  scripts/docs_get_providers_list.py
Due: black

chore(deps): posthog latest version (#1956)
  docs/providers/overview.mdx
  keep-ui/package-lock.json
  keep-ui/package.json
  scripts/docs_get_providers_list.py
Due: black

chore(internal): add prettier to pre commits
  .pre-commit-config.yaml
Due: check-yaml

fix: remove yaml linter
  .pre-commit-config.yaml
Due: check-yaml

fix: add datetime import
  keep/api/routes/incidents.py
Due: black

fix(api): mapping rule default type
  keep/api/models/db/mapping.py
  keep/api/models/db/migrations/versions/2024-09-18-14-08_5d7ae55efc6a.py
Due: black

fix: length
  keep/api/models/db/mapping.py
Due: black

fix: max length
  keep/api/models/db/mapping.py
Due: black

fix: length
  keep/api/models/db/migrations/versions/2024-09-18-14-08_5d7ae55efc6a.py
Due: black

chore(internal): add prettier to pre commits (#1958)
  .pre-commit-config.yaml
Due: check-yaml

fix: specificiation docs
  docs/deployment/stress-testing.mdx
Due: none

fix(api): mapping rule default type (#1960)
  docs/deployment/stress-testing.mdx
  keep/api/models/db/mapping.py
  keep/api/models/db/migrations/versions/2024-09-18-14-08_5d7ae55efc6a.py
Due: black

refactor: correct used parameters
  keep-ui/app/ai/ai.tsx
  keep/api/models/ai.py
Due: black

fix: netdata
  keep/api/routes/alerts.py
Due: black

fix: netdata GET trigger 500 (google bot) (#1961)
  keep/api/routes/alerts.py
Due: black

fix: clean secret if service already exists
  keep/providers/providers_service.py
Due: black

fix: clean secret
  keep/providers/providers_service.py
Due: black
