Repository keephq/keep: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, check-yaml

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: black
        name: black
        entry: black
        language: system
        types: [python]
        require_serial: true
      - id: check-added-large-files
        name: Check for added large files
        entry: check-added-large-files
        language: system
      - id: check-yaml
        name: Check Yaml
        entry: check-yaml
        language: system
        types: [yaml]
      - id: end-of-file-fixer
        name: Fix End of Files
        entry: end-of-file-fixer
        language: system
        types: [text]
        stages: [commit, push, manual]
      - id: isort
        name: isort
        entry: isort
        require_serial: true
        language: system
        types_or: [cython, pyi, python]
        args: ["--filter-files", "--profile", "black"]
      - id: trailing-whitespace
        name: Trim Trailing Whitespace
        entry: trailing-whitespace-fixer
        language: system
        types: [text]
        stages: [commit, push, manual]
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v2.6.0
    hooks:
      - id: prettier
  - repo: https://github.com/compilerla/conventional-pre-commit
    rev: v2.1.1
    hooks:
      - id: conventional-pre-commit
        stages: [commit-msg]
        args: [] # optional: list of Conventional Commits types to allow e.g. [feat, fix, ci, chore, test]

feat: tests
  tests/conftest.py
Due: black

feat: tests
  keep/api/core/db.py
Due: black

feat: another test
  keep/api/core/db.py
Due: black

feat: test
  keep/api/api.py
Due: black

feat: tests
  keep/api/config.py
  keep/api/core/db.py
  keep/api/core/db_on_start.py
  tests/e2e_tests/docker-compose-e2e-postgres.yml
  tests/e2e_tests/docker-entrypoint-initdb.d/update-postgresql-conf.sh
  tests/e2e_tests/postgres-custom.conf
Due: black, check-yaml

changes ingest_into_keep function
  keep/providers/servicenow_provider/servicenow_provider.py
Due: black

feat: tests
  keep/api/core/db.py
  keep/api/core/db_on_start.py
  keep/api/core/db_utils.py
  keep/cli/cli.py
Due: black

fix: unit tests
  tests/conftest.py
Due: black

fix: revert
  keep/api/api.py
Due: black

fix: revert some changes
  keep/api/core/db.py
Due: black

feat: more comments
  keep/api/core/db.py
  keep/api/core/db_on_start.py
  keep/api/core/db_utils.py
Due: black

undone the comments restakenly removed
  keep/providers/servicenow_provider/servicenow_provider.py
Due: black

Update servicenow_provider.py
  keep/providers/servicenow_provider/servicenow_provider.py
Due: black

Update servicenow_provider.py - made changes to ingest_into_keep method
  keep/providers/servicenow_provider/servicenow_provider.py
Due: black

fix: e2e tests (#1304)
  .github/workflows/test-pr-e2e.yml
  keep-ui/components/navbar/InitPostHog.tsx
  keep/api/api.py
  keep/api/config.py
  keep/api/core/db.py
  keep/api/core/db_on_start.py
  keep/api/core/db_utils.py
  keep/cli/cli.py
  tests/conftest.py
  tests/e2e_tests/docker-compose-e2e-mysql.yml
  tests/e2e_tests/docker-compose-e2e-postgres.yml
  tests/e2e_tests/docker-entrypoint-initdb.d/update-postgresql-conf.sh
  tests/e2e_tests/postgres-custom.conf
  tests/e2e_tests/test_end_to_end.py
Due: black, check-yaml

fix: presets
  keep-ui/utils/hooks/useAlerts.ts
Due: none

fix: presets (#1309)
  keep-ui/utils/hooks/useAlerts.ts
Due: none

feat: grafana incident provider (#1297)
  README.md
  docs/mint.json
  docs/providers/documentation/grafana-incident-provider.mdx
  keep-ui/public/icons/grafana_incident-icon.png
  keep/providers/grafana_incident_provider/__init__.py
  keep/providers/grafana_incident_provider/grafana_incident_provider.py
Due: black

feat: run workflows within builder (#1222)
  docs/openapi.json
  docs/openapi_converter.py
  keep-ui/app/workflows/[workflow_id]/page.tsx
  keep-ui/app/workflows/[workflow_id]/runs/[workflow_execution_id]/page.tsx
  keep-ui/app/workflows/builder/builder-card.tsx
  keep-ui/app/workflows/builder/builder-workflow-testrun-modal.tsx
  keep-ui/app/workflows/builder/builder.tsx
  keep-ui/app/workflows/builder/page.client.tsx
  keep-ui/app/workflows/builder/types.tsx
  keep-ui/app/workflows/builder/workflow-execution-results.tsx
  keep-ui/components/LinkWithIcon.tsx
  keep/api/routes/workflows.py
  keep/workflowmanager/workflowmanager.py
  keep/workflowmanager/workflowscheduler.py
  keep/workflowmanager/workflowstore.py
  tests/test_workflowmanager.py
Due: black

fix: broken doc links
  docs/mint.json
  docs/providers/documentation/google_chat-provider.mdx
  docs/providers/documentation/grafana_incident-provider.mdx
  docs/providers/documentation/grafana_oncall-provider.mdx
  keep/providers/grafana_oncall_provider/__init__.py
  keep/providers/grafana_oncall_provider/grafana_oncall_provider.py
Due: black

fix: broken doc links
  keep/providers/grafana_oncall_provider/grafana_oncall_provider.py
Due: black

fix: broken doc links (#1311)
  docs/mint.json
  docs/providers/documentation/google_chat-provider.mdx
  docs/providers/documentation/grafana_incident-provider.mdx
  docs/providers/documentation/grafana_oncall-provider.mdx
  keep/providers/grafana_oncall_provider/__init__.py
  keep/providers/grafana_oncall_provider/grafana_oncall_provider.py
Due: black

fix: grafana_oncall logo
  README.md
  keep-ui/public/icons/grafana_oncall-icon.png
Due: none

fix: grafana_oncall logo (#1312)
  README.md
  keep-ui/public/icons/grafana_oncall-icon.png
Due: none

feat: add incidentio provider
  README.md
  docs/mint.json
  docs/providers/documentation/incidentio-provider.mdx
  keep-ui/public/icons/incidentio-icon.png
  keep/providers/incidentio_provider/__init__.py
  keep/providers/incidentio_provider/incidentio_provider.py
Due: black

fix: small issue with grafana provider fingerprint
  keep/api/core/db_utils.py
  keep/providers/grafana_provider/grafana_provider.py
  keep/searchengine/searchengine.py
Due: black

fix: small issue with grafana provider fingerprint (#1314)
  keep/api/core/db_utils.py
  keep/providers/grafana_provider/grafana_provider.py
  keep/searchengine/searchengine.py
Due: black

docs:how to run tests
  .gitignore
  docs/development/getting-started.mdx
Due: none

feat: support complex matcher expressions in mapping (#1285)
  keep-ui/app/mapping/create-or-edit-mapping.tsx
  keep-ui/app/rules/CorrelationSidebar/RuleFields.tsx
  keep-ui/components/ui/CreateableSearchSelect.tsx
  keep/api/bl/enrichments.py
  tests/test_enrichments.py
Due: black
