Repository keephq/keep: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, check-yaml

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: black
        name: black
        entry: black
        language: system
        types: [python]
        require_serial: true
      - id: check-added-large-files
        name: Check for added large files
        entry: check-added-large-files
        language: system
      - id: check-yaml
        name: Check Yaml
        entry: check-yaml
        language: system
        types: [yaml]
      - id: end-of-file-fixer
        name: Fix End of Files
        entry: end-of-file-fixer
        language: system
        types: [text]
        stages: [commit, push, manual]
      - id: isort
        name: isort
        entry: isort
        require_serial: true
        language: system
        types_or: [cython, pyi, python]
        args: ["--filter-files", "--profile", "black"]
      - id: trailing-whitespace
        name: Trim Trailing Whitespace
        entry: trailing-whitespace-fixer
        language: system
        types: [text]
        stages: [commit, push, manual]
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v2.6.0
    hooks:
      - id: prettier
  - repo: https://github.com/compilerla/conventional-pre-commit
    rev: v2.1.1
    hooks:
      - id: conventional-pre-commit
        stages: [commit-msg]
        args: [] # optional: list of Conventional Commits types to allow e.g. [feat, fix, ci, chore, test]

feat: added updated_at and updated_by
  keep-ui/app/mapping/models.tsx
  keep-ui/app/mapping/rules-table.tsx
  keep/api/core/db.py
  keep/api/models/db/mapping.py
  keep/api/routes/mapping.py
Due: black

feat: wip
  keep-ui/app/alerts/TitleAndFilters.tsx
  keep-ui/app/alerts/alert-presets.tsx
  keep-ui/app/alerts/alert-table.tsx
  keep-ui/app/alerts/models.tsx
  keep-ui/components/LinkWithIcon.tsx
  keep-ui/components/icons/index.tsx
  keep-ui/components/navbar/AlertsLinks.tsx
  keep-ui/components/navbar/CustomPresetAlertLinks.tsx
  keep-ui/next_start.sh
  keep-ui/utils/hooks/usePresets.ts
  keep/api/models/db/preset.py
  keep/api/routes/preset.py
Due: black

feat: noisy alerts
  keep-ui/app/alerts/TitleAndFilters.tsx
  keep-ui/app/alerts/alerts.tsx
  keep-ui/components/LinkWithIcon.tsx
  keep-ui/components/icons/index.tsx
Due: none

feat: noisy alerts
  keep-ui/app/alerts/alert-presets.tsx
  keep-ui/app/alerts/alert-table-utils.tsx
  keep-ui/components/icons/index.tsx
Due: none

feat: noisy alerts
  keep/api/core/db.py
Due: black

feat: add openshift provider
  docs/mint.json
  docs/providers/documentation/openshift-provider.mdx
  keep-ui/public/icons/openshift-icon.png
  keep/providers/openshift_provider/__init__.py
  keep/providers/openshift_provider/openshift_provider.py
Due: black

feat: add openshift provider
  README.md
  keep/providers/openshift_provider/openshift_provider.py
Due: black

feat: add openshift provider
  keep/providers/openshift_provider/openshift_provider.py
Due: black

feat: add openshift provider (#1123)
  README.md
  docs/mint.json
  docs/providers/documentation/openshift-provider.mdx
  keep-ui/public/icons/openshift-icon.png
  keep/providers/openshift_provider/__init__.py
  keep/providers/openshift_provider/openshift_provider.py
Due: black

0.4.0
  pyproject.toml
Due: none

feat: add static presets to local storage
  keep-ui/components/navbar/AlertsLinks.tsx
  keep-ui/components/navbar/CustomPresetAlertLinks.tsx
  keep-ui/utils/hooks/usePresets.ts
Due: none

feat: added ntfy provider
  keep-ui/public/icons/ntfy-icon.png
  keep/providers/ntfy_provider/__init__.py
  keep/providers/ntfy_provider/ntfy_provider.py
Due: black

feat: add dispose
  keep/providers/ntfy_provider/ntfy_provider.py
Due: black

fix: add oc dep
  keep/providers/providers_factory.py
  poetry.lock
  pyproject.toml
Due: black

fix: add oc dep (#1126)
  keep/providers/providers_factory.py
  poetry.lock
  pyproject.toml
Due: black

feat: added ntfy provider
  keep/providers/ntfy_provider/ntfy_provider.py
Due: black

feat: added ntfy provider
  README.md
  docs/providers/documentation/ntfy-provider.mdx
Due: none

feat: add kubernetes provider
  README.md
  docs/mint.json
  docs/providers/documentation/kubernetes-provider.mdx
  keep-ui/public/icons/kubernetes-icon.png
  keep/providers/kubernetes_provider/__init__.py
  keep/providers/kubernetes_provider/kubernetes_provider.py
Due: black

feat: add kubernetes provider
  docs/providers/documentation/kubernetes-provider.mdx
Due: none

feat: add kubernetes provider (#1128)
  README.md
  docs/mint.json
  docs/providers/documentation/kubernetes-provider.mdx
  keep-ui/public/icons/kubernetes-icon.png
  keep/providers/kubernetes_provider/__init__.py
  keep/providers/kubernetes_provider/kubernetes_provider.py
Due: black

feat: added ntfy provider
  README.md
Due: none

feat: added ntfy provider
  docs/mint.json
  docs/providers/documentation/ntfy-provider.mdx
Due: none

feat: added ntfy provider
  keep/providers/ntfy_provider/docker-compose.yml
Due: check-yaml

feat: added ntfy provider
  keep/providers/ntfy_provider/README.md
  keep/providers/ntfy_provider/ntfy_provider.py
Due: black

fix: extraction create error
  keep/api/routes/extraction.py
Due: black

feat: add last updated timestamp to mapping ui
  keep-ui/app/mapping/rules-table.tsx
Due: none

feat: added ntfy provider (#1125)
  README.md
  docs/mint.json
  docs/providers/documentation/ntfy-provider.mdx
  keep-ui/public/icons/ntfy-icon.png
  keep/providers/ntfy_provider/README.md
  keep/providers/ntfy_provider/__init__.py
  keep/providers/ntfy_provider/docker-compose.yml
  keep/providers/ntfy_provider/ntfy_provider.py
Due: black, check-yaml

0.5.0
  pyproject.toml
Due: none

feat: wip
  keep-ui/components/navbar/AlertsLinks.tsx
  keep-ui/components/navbar/CustomPresetAlertLinks.tsx
  keep-ui/utils/hooks/usePresets.ts
  keep/api/core/db.py
  keep/api/models/db/preset.py
  keep/api/routes/alerts.py
  keep/api/routes/preset.py
Due: black

feat(api): fingerprint in query params can override alert fingerprint (#1117)
  keep/api/routes/alerts.py
Due: black

Update keep/api/routes/mapping.py
  keep/api/routes/mapping.py
Due: black
