Repository keephq/keep: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, check-yaml

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: black
        name: black
        entry: black
        language: system
        types: [python]
        require_serial: true
      - id: check-added-large-files
        name: Check for added large files
        entry: check-added-large-files
        language: system
      - id: check-yaml
        name: Check Yaml
        entry: check-yaml
        language: system
        types: [yaml]
      - id: end-of-file-fixer
        name: Fix End of Files
        entry: end-of-file-fixer
        language: system
        types: [text]
        stages: [commit, push, manual]
      - id: isort
        name: isort
        entry: isort
        require_serial: true
        language: system
        types_or: [cython, pyi, python]
        args: ["--filter-files", "--profile", "black"]
      - id: trailing-whitespace
        name: Trim Trailing Whitespace
        entry: trailing-whitespace-fixer
        language: system
        types: [text]
        stages: [commit, push, manual]
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v2.6.0
    hooks:
      - id: prettier
  - repo: https://github.com/compilerla/conventional-pre-commit
    rev: v2.1.1
    hooks:
      - id: conventional-pre-commit
        stages: [commit-msg]
        args: [] # optional: list of Conventional Commits types to allow e.g. [feat, fix, ci, chore, test]

chore(provider): splunk fingerprinting enhancements (#1030)
  keep/providers/splunk_provider/splunk_provider.py
Due: black

fix(provider): splunk alert name from result if possible
  keep/providers/splunk_provider/splunk_provider.py
Due: black

fix(provider): splunk alert name from result if possible (#1032)
  keep/providers/splunk_provider/splunk_provider.py
Due: black

fix(provider): splunk fingerprint
  keep/providers/splunk_provider/splunk_provider.py
Due: black

fix(splunk): fingerprint (#1033)
  keep/providers/splunk_provider/splunk_provider.py
Due: black

fix(api): mapping filter condition
  keep/api/routes/mapping.py
Due: black

fix(api): mapping filter condition (#1035)
  keep/api/routes/mapping.py
Due: black

fix(api): don't raise when fails
  keep/api/core/dependencies.py
Due: black

fix(api): don't raise when fails (#1036)
  keep/api/core/dependencies.py
Due: black

feat(ci): add semantic version releasing mechanism
  .github/workflows/release.yml
  CHANGELOG.md
  pyproject.toml
Due: check-yaml

fix(db): triggered by length
  keep/api/core/db.py
Due: black

fix(db): triggered by length (#1040)
  keep/api/core/db.py
Due: black

fix(api): create tenant in no auth
  keep/api/config.py
Due: black

fix(api): create tenant in no auth (#1041)
  keep/api/config.py
Due: black

feat(ci): ci test
  .gitignore
Due: none

feat(ci): ci test
  .github/workflows/release.yml
Due: check-yaml

feat(ci): test ci
  templates/CHANGELOG.md
Due: none

feat(ci): test ci
  pyproject.toml
Due: none

0.3.0
  CHANGELOG.md
  pyproject.toml
Due: none

fix(api): _render safe to False when there is inverted section
  keep/iohandler/iohandler.py
Due: black

fix(api): `_render` safe to `false` when there is inverted section (#1042)
  keep/iohandler/iohandler.py
Due: black

0.4.0
  pyproject.toml
Due: none

feat: verify false for snow
  keep/providers/servicenow_provider/servicenow_provider.py
Due: black

feat: verify false for snow (#1043)
  keep/providers/servicenow_provider/servicenow_provider.py
Due: black

0.5.0
  pyproject.toml
Due: none

feat(api): add keep.slice function
  keep/functions/__init__.py
Due: black

feat(api): add `keep.slice` function (#1044)
  keep/functions/__init__.py
Due: black
