Repository keephq/keep: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, check-yaml

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: black
        name: black
        entry: black
        language: system
        types: [python]
        require_serial: true
      - id: check-added-large-files
        name: Check for added large files
        entry: check-added-large-files
        language: system
      - id: check-yaml
        name: Check Yaml
        entry: check-yaml
        language: system
        types: [yaml]
      - id: end-of-file-fixer
        name: Fix End of Files
        entry: end-of-file-fixer
        language: system
        types: [text]
        stages: [commit, push, manual]
      - id: isort
        name: isort
        entry: isort
        require_serial: true
        language: system
        types_or: [cython, pyi, python]
        args: ["--filter-files", "--profile", "black"]
      - id: trailing-whitespace
        name: Trim Trailing Whitespace
        entry: trailing-whitespace-fixer
        language: system
        types: [text]
        stages: [commit, push, manual]
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v2.6.0
    hooks:
      - id: prettier
  - repo: https://github.com/compilerla/conventional-pre-commit
    rev: v2.1.1
    hooks:
      - id: conventional-pre-commit
        stages: [commit-msg]
        args: [] # optional: list of Conventional Commits types to allow e.g. [feat, fix, ci, chore, test]

feat: change to 4 workers
  docker/Dockerfile.api
Due: none

feat: add logs
  keep/providers/providers_factory.py
Due: black

feat: load the cached providers on startup
  keep/api/api.py
Due: black

feat: fix typo
  keep-ui/app/settings/smtp-settings.tsx
Due: none

feat: improve
  keep-ui/app/settings/smtp-settings.tsx
Due: none

feat: remove dep
  keep/api/core/dependencies.py
Due: black

feat: gunicorn (#591)
  docker/Dockerfile.api
  keep-ui/app/settings/smtp-settings.tsx
  keep/api/api.py
  keep/api/core/db.py
  keep/api/core/dependencies.py
  keep/api/logging.py
  keep/api/routes/settings.py
  keep/contextmanager/contextmanager.py
  keep/providers/providers_factory.py
  poetry.lock
  pyproject.toml
Due: black

fix: smtp
  keep-ui/app/settings/smtp-settings.tsx
Due: none

fix: smtp (#597)
  keep-ui/app/settings/smtp-settings.tsx
Due: none

feat: hide nh from navbar
  keep-ui/app/alerts/alerts.tsx
  keep-ui/app/navbar-inner.tsx
Due: none

chore(ui): icons and notifications hub
  keep-ui/app/navbar-inner.tsx
Due: none

fix(ui): cmdk and settings page
  keep-ui/app/command-menu.tsx
  keep-ui/app/settings/settings.client.tsx
Due: none

chore: notifications hub init
  keep-ui/app/notifications-hub/layout.tsx
  keep-ui/app/notifications-hub/page.tsx
Due: none

chore: cmd+k enhancements (#596)
  keep-ui/app/alerts/alerts.tsx
  keep-ui/app/command-menu.tsx
  keep-ui/app/navbar-inner.tsx
  keep-ui/app/notifications-hub/layout.tsx
  keep-ui/app/notifications-hub/page.tsx
  keep-ui/app/settings/settings.client.tsx
Due: none

feat: simulate alerts
  keep/cli/cli.py
Due: black

fix: Alert and AlertEnrichment relationship fixed
  keep/api/models/db/alert.py
Due: black

fix: change sentry condition
  keep/providers/sentry_provider/sentry_provider.py
Due: black

fix: sentry
  keep/providers/sentry_provider/sentry_provider.py
Due: black

fix: change sentry condition (#602)
  keep/providers/sentry_provider/sentry_provider.py
Due: black

fix: Alert and AlertEnrichment relationship (#601)
  keep/api/models/db/alert.py
Due: black

feat: ngrok static domain
  docker-compose-with-auth.yml
  docker-compose-with-otel.yaml
  docker-compose.yml
  keep/api/api.py
  poetry.lock
  pyproject.toml
Due: black, check-yaml

chore: remove entry point
  docker-compose-with-auth.yml
  docker-compose-with-otel.yaml
  docker-compose.yml
Due: check-yaml

feat: ngrok static domain (#603)
  docker-compose-with-auth.yml
  docker-compose-with-otel.yaml
  docker-compose.yml
  keep/api/api.py
  poetry.lock
  pyproject.toml
Due: black, check-yaml

fix: failed to remove context + no flush to posthog
  keep/api/api.py
  keep/api/logging.py
Due: black

feat: bugfix
  keep/api/api.py
  keep/api/core/db.py
Due: black

feat: bugfix
  keep/api/api.py
Due: black

fix: failed to remove context + no flush to posthog (#605)
  keep/api/api.py
  keep/api/core/db.py
  keep/api/logging.py
Due: black

fix: remove use_ngrok as well
  docker-compose-with-auth.yml
Due: check-yaml

fix: remove ngrok from docker-compose-with-auth and rotate
  docker-compose-with-auth.yml
Due: check-yaml

fix: ngrok multiple init
  docker-compose-with-auth.yml
  keep/api/api.py
  keep/api/routes/ai.py
  keep/api/utils/gpt_utils.py
  keep/providers/providers_factory.py
  poetry.lock
  pyproject.toml
Due: black, check-yaml

fix: server=None
  keep/api/api.py
  keep/api/config.py
Due: black

fix: server startup
  docker/Dockerfile.api
  keep/api/api.py
  keep/api/config.py
Due: black
