Repository keephq/keep: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, check-yaml

black:
  name: black
  entry: black
  language: system
  require_serial: true

check-yaml:
  name: Check Yaml
  entry: check-yaml
  language: system

feat: implement mapping priority (#908)
  keep-ui/app/mapping/rules-table.tsx
  keep/api/bl/enrichments.py
  keep/cli/cli.py
Due: black

feat: add support for pg and db create
  keep/api/core/db.py
  keep/api/models/db/workflow.py
  poetry.lock
  pyproject.toml
Due: black

feat: add dialect
  keep/api/core/db.py
Due: black

feat: add support for pg and db create (#910)
  keep/api/core/db.py
  keep/api/models/db/workflow.py
  poetry.lock
  pyproject.toml
Due: black

feat: add frontend for private presets
  keep-ui/app/alerts/alert-presets.tsx
  keep-ui/app/alerts/models.tsx
  keep/api/models/db/preset.py
  keep/api/routes/preset.py
Due: black

fix: add log
  keep/api/utils/tenant_utils.py
Due: black

fix: add protection if the key is none (#911)
  keep/api/utils/tenant_utils.py
Due: black

feat: wip
  keep/workflowmanager/workflowscheduler.py
Due: black

feat: add lock and more logs
  keep/workflowmanager/workflowscheduler.py
Due: black

feat: last
  keep/workflowmanager/workflowmanager.py
Due: black

fix: add locks to workflow scheduler (#912)
  keep/workflowmanager/workflowmanager.py
  keep/workflowmanager/workflowscheduler.py
Due: black

m
  docs/mint.json
  examples/workflows/squadcast_example.yml
  keep-ui/app/alerts/alert-history.tsx
  keep-ui/app/alerts/alert-table-utils.tsx
  keep-ui/app/loading.tsx
  keep-ui/app/mapping/rules-table.tsx
  keep-ui/app/providers/provider-row.tsx
  keep-ui/app/workflows/builder/alert.tsx
  keep-ui/app/workflows/builder/builder-validators.tsx
  keep-ui/app/workflows/builder/utils.tsx
  keep/api/bl/enrichments.py
  keep/api/core/db.py
  keep/api/models/alert.py
  keep/api/models/db/workflow.py
  keep/api/utils/tenant_utils.py
  keep/cli/cli.py
  keep/iohandler/iohandler.py
  keep/providers/squadcast_provider/squadcast_provider.py
  keep/workflowmanager/workflowmanager.py
  keep/workflowmanager/workflowscheduler.py
  poetry.lock
  pyproject.toml
Due: black, check-yaml

fix: dont create db in cloud run
  keep/api/core/db.py
Due: black

fix: failed to detect if db exist
  keep/api/core/db.py
Due: black

fix: create db (#913)
  keep/api/core/db.py
Due: black

feat: normalize fingerprint
  keep/api/models/alert.py
Due: black

feat: normalize fingerprint (#914)
  keep/api/models/alert.py
Due: black

Llama.cpp-working prototype
  keep-ui/public/icons/ai-icon.png
  keep/providers/ai_provider/__init__.py
  keep/providers/ai_provider/ai_provider.py
Due: black

feat: new icon
  keep-ui/public/icons/signalfx-icon.png
Due: none

feat: new icon (#916)
  keep-ui/public/icons/signalfx-icon.png
Due: none

fix: revert changes
  keep/api/models/alert.py
Due: black

fix: update modal size
  keep-ui/app/alerts/alert-presets.tsx
Due: none

fix: revert changes (#918)
  keep/api/models/alert.py
Due: black

feat(providers): add self hosted sentry support
  docs/providers/documentation/sentry-provider.mdx
  keep/providers/sentry_provider/sentry_provider.py
Due: black

feat(providers): add self hosted sentry support
  keep/providers/sentry_provider/sentry_provider.py
Due: black

feat(cli): handle if no alerts found
  keep/cli/cli.py
Due: black

feat(cli): handle if no alerts found (#922)
  keep/cli/cli.py
Due: black

fix: update components
  keep-ui/app/alerts/alert-presets.tsx
Due: none

feat(ui): add priority input to mapping ui
  keep-ui/app/mapping/create-new-mapping.tsx
Due: none

fix: some CR comments for sentry provider
  keep/providers/sentry_provider/sentry_provider.py
Due: black

chore: add tooltip and move down
  keep-ui/app/mapping/create-new-mapping.tsx
Due: none

feat(providers): add self hosted sentry support (#921)
  docs/providers/documentation/sentry-provider.mdx
  keep/providers/sentry_provider/sentry_provider.py
Due: black

Path conditions:
  black: any of: \.py$
  check-yaml: any of: \.(yaml|yml)$
