Repository keephq/keep: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, check-yaml

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: black
        name: black
        entry: black
        language: system
        types: [python]
        require_serial: true
      - id: check-added-large-files
        name: Check for added large files
        entry: check-added-large-files
        language: system
      - id: check-yaml
        name: Check Yaml
        entry: check-yaml
        language: system
        types: [yaml]
      - id: end-of-file-fixer
        name: Fix End of Files
        entry: end-of-file-fixer
        language: system
        types: [text]
        stages: [commit, push, manual]
      - id: isort
        name: isort
        entry: isort
        require_serial: true
        language: system
        types_or: [cython, pyi, python]
        args: ["--filter-files", "--profile", "black"]
      - id: trailing-whitespace
        name: Trim Trailing Whitespace
        entry: trailing-whitespace-fixer
        language: system
        types: [text]
        stages: [commit, push, manual]
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v2.6.0
    hooks:
      - id: prettier
  - repo: https://github.com/compilerla/conventional-pre-commit
    rev: v2.1.1
    hooks:
      - id: conventional-pre-commit
        stages: [commit-msg]
        args: [] # optional: list of Conventional Commits types to allow e.g. [feat, fix, ci, chore, test]

feat: workaround requests monkeypatch
  tests/conftest.py
Due: black

feat: workaround requests monkeypatch
  keep-ui/app/settings/layout.tsx
  keep-ui/public/icons/okta-icon.png
Due: none

feat: workaround requests monkeypatch
  keep-ui/app/settings/layout.tsx
Due: none

Update docs/mint.json
  docs/mint.json
Due: none

Fix trailing comma
  docs/mint.json
Due: none

Move scripts to the scripts folers
  .github/workflows/test-docs.yml
  docs/generate_readme_from_openapijson.sh
  scripts/docs_generate_readme_from_openapijson.sh
  scripts/docs_get_providers_list.py
  scripts/docs_openapi_converter.py
  scripts/docs_validate_navigation.sh
Due: black, check-yaml

User-friendly test errors
  .github/workflows/test-pr-e2e.yml
  docs/mint.json
  scripts/docs_generate_api_docs_from_openapi.sh
  scripts/docs_validate_navigation.sh
  scripts/docs_validate_openapi_is_actual.sh
Due: check-yaml

Fix tests
  docs/mint.json
Due: none

Fix tests
  .github/workflows/test-pr-e2e.yml
Due: check-yaml

Fix
  scripts/docs_validate_openapi_is_actual.sh
Due: none

Testing test failing 🤭
  docs/openapi.json
Due: none

Polishing
  openapi.json
  scripts/docs_generate_api_docs_from_openapi.sh
Due: none

fix(zabbix): pull alerts 2 weeks and timeout
  keep/providers/zabbix_provider/zabbix_provider.py
Due: black

feat: docs and ee
  docs/deployment/authentication/auth0-auth.mdx
  docs/deployment/authentication/basic-auth.mdx
  docs/deployment/authentication/db-auth.mdx
  docs/deployment/authentication/enterprise-auth.mdx
  docs/deployment/authentication/keycloak-auth.mdx
  docs/deployment/authentication/multi-tenant-auth.mdx
  docs/deployment/authentication/no-auth.mdx
  docs/deployment/authentication/overview copy.mdx
  docs/deployment/authentication/overview.mdx
  docs/images/auth0auth.png
  docs/images/dbauth.png
  docs/images/keycloakauth.png
  docs/mint.json
  ee/identitymanager/__init__.py
  ee/identitymanager/identity_managers/__init__.py
  ee/identitymanager/identity_managers/auth0/__init__.py
  ee/identitymanager/identity_managers/auth0/auth0_authverifier.py
  ee/identitymanager/identity_managers/auth0/auth0_identitymanager.py
  ee/identitymanager/identity_managers/auth0/auth0_utils.py
  examples/workflows/http_example.yml
  keep/api/routes/incidents.py
Due: black, check-yaml

incident name generation added
  ee/experimental/graph_utils.py
  ee/experimental/incident_utils.py
  keep/api/arq_worker.py
  keep/api/core/db.py
  keep/api/tasks/process_background_ai_task.py
  keep/api/utils/import_ee.py
  scripts/shoot_alerts_from_dump.py
Due: black

feat: merge from main
  keep-ui/app/settings/layout.tsx
  keep/api/routes/metrics.py
Due: black

user_name / generated_name added to models
  ee/experimental/incident_utils.py
  keep-ui/app/alerts/alert-associate-incident-modal.tsx
  keep-ui/app/incidents/[id]/incident-info.tsx
  keep-ui/app/incidents/create-or-update-incident.tsx
  keep-ui/app/incidents/incidents-table.tsx
  keep-ui/app/incidents/model.ts
  keep-ui/app/incidents/predicted-incidents-table.tsx
  keep-ui/components/navbar/IncidentLinks.tsx
  keep/api/core/db.py
  keep/api/models/alert.py
  keep/api/models/db/alert.py
  keep/api/models/db/migrations/versions/2024-09-01-14-04_94886bc59c11.py
  scripts/shoot_alerts_from_dump.py
Due: black

uncomment code section
  ee/experimental/graph_utils.py
Due: black

feat: update docs
  docs/api-ref/auth/create-group.mdx
  docs/api-ref/auth/create-permissions.mdx
  docs/api-ref/auth/create-role.mdx
  docs/api-ref/auth/create-user.mdx
  docs/api-ref/auth/delete-group.mdx
  docs/api-ref/auth/delete-role.mdx
  docs/api-ref/auth/delete-user.mdx
  docs/api-ref/auth/get-groups.mdx
  docs/api-ref/auth/get-permissions.mdx
  docs/api-ref/auth/get-roles.mdx
  docs/api-ref/auth/get-scopes.mdx
  docs/api-ref/auth/get-users.mdx
  docs/api-ref/auth/update-group.mdx
  docs/api-ref/auth/update-role.mdx
  docs/api-ref/auth/update-user.mdx
  docs/api-ref/incidents/confirm-incident.mdx
  docs/api-ref/settings/get-sso-settings.mdx
  docs/api-ref/users/update-user.mdx
  docs/deployment/authentication/overview.mdx
  openapi.json
Due: none

feat: update docs
  docs/api-ref/users/create-user.mdx
  docs/api-ref/users/delete-user-by-email.mdx
  docs/api-ref/users/delete-user.mdx
  docs/api-ref/users/get-users.mdx
  docs/api-ref/users/update-user.mdx
  docs/mint.json
Due: none

feat: update docs
  docs/api-ref/users/create-user.mdx
  docs/api-ref/users/delete-user.mdx
  docs/api-ref/users/get-users.mdx
  docs/api-ref/users/update-user.mdx
  docs/mint.json
  docs/openapi_backup.json
Due: none

chore: fix
  keep-ui/app/alerts/alert-menu.tsx
  keep/api/logging.py
  keep/providers/zabbix_provider/zabbix_provider.py
  keep/providers/zabbix_provider/zabbix_provider_script.js
Due: black

fix(provider): Zabbix enhancements (#1773)
  keep-ui/app/alerts/alert-menu.tsx
  keep/api/logging.py
  keep/providers/zabbix_provider/zabbix_provider.py
  keep/providers/zabbix_provider/zabbix_provider_script.js
Due: black

chore:handled the golbal step validations and added toast for save and hide the tigger steps if it is already there in the workflow
  keep-ui/app/workflows/builder/CustomNode.tsx
  keep-ui/app/workflows/builder/ReactFlowEditor.tsx
  keep-ui/app/workflows/builder/ToolBox.tsx
  keep-ui/app/workflows/builder/builder-store.tsx
  keep-ui/app/workflows/builder/builder-validators.tsx
  keep-ui/app/workflows/builder/builder.tsx
  keep-ui/app/workflows/builder/editors.tsx
  keep-ui/app/workflows/builder/utils.tsx
  keep-ui/utils/reactFlow.ts
Due: none

Polish docs scripts
  scripts/docs_generate_api_docs_from_openapi.sh
  scripts/docs_validate_navigation.sh
Due: none

feat: update docs
  docs/images/singletenant.png
  docs/mint.json
  docs/openapi.json
  docs/openapi_backup.json
  keep-ui/app/providers/providers-tiles.tsx
  keep-ui/app/settings/settings.client.tsx
  keep/api/api.py
  openapi.json
Due: black

feat: wip
  tests/test_keycloak.py
Due: black

fix: Polish docs scripts (#1775)
  scripts/docs_generate_api_docs_from_openapi.sh
  scripts/docs_validate_navigation.sh
Due: none

delete unused imports
  keep/api/models/db/migrations/versions/2024-09-01-14-04_94886bc59c11.py
Due: black

feat: wip
  docs/deployment/authentication/keycloak-auth.mdx
Due: none

chore: fix typo
  keep-ui/utils/reactFlow.ts
Due: none

Docs navigation links
  docs/mint.json
  docs/openapi.json
Due: none

feat: basic working
  keep/api/bl/blackouts.py
  keep/api/bl/blackouts_bl.py
  keep/api/bl/enrichments_bl.py
  keep/api/routes/alerts.py
  keep/api/tasks/process_event_task.py
  keep/functions/__init__.py
  keep/providers/base/base_provider.py
  tests/test_blackouts_bl.py
  tests/test_enrichments.py
  tests/test_functions.py
  tests/test_search_alerts.py
Due: black

feat: wip
  keep-ui/app/settings/auth/api-key-settings.tsx
  keep-ui/app/settings/auth/users-settings.tsx
  keep-ui/app/settings/auth/users-sidebar.tsx
  keep-ui/app/settings/auth/users-table.tsx
  keep-ui/app/settings/settings.client.tsx
  keep-ui/components/navbar/UserInfo.tsx
  keep-ui/next.config.js
  keep-ui/pages/api/auth/[...nextauth].ts
  keep-ui/pages/api/config.tsx
  keep-ui/public/sso-dark.png
  keep-ui/utils/authenticationType.ts
Due: none

update incident.name to incident.user_name
  keep/api/routes/metrics.py
Due: black

fix: basic docs
  docs/images/blackout-creation.png
  docs/mint.json
  docs/overview/blackouts.mdx
  keep/api/bl/blackouts_bl.py
  keep/api/models/db/blackout.py
  keep/api/models/db/migrations/versions/2024-09-01-17-23_dfeaa5383cc6.py
  tests/test_blackouts_bl.py
Due: black
