Repository keephq/keep: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, check-yaml

black:
  name: black
  entry: black
  language: system
  require_serial: true

check-yaml:
  name: Check Yaml
  entry: check-yaml
  language: system

feat: wip
  keep-ui/pages/api/auth/[...nextauth].ts
  keep-ui/pages/signin.tsx
  keep-ui/tailwind.config.js
  keep-ui/utils/authenticationType.ts
  keep/api/core/config.py
  keep/api/core/dependencies.py
  keycloak/docker-compose.yaml
  keycloak/keep-realm.json
  keycloak/themes/keep.jar
  poetry.lock
  pyproject.toml
Due: black, check-yaml

fix: workflow with non existing provider
  keep/api/routes/workflows.py
Due: black

fix: workflow with non existing provider (#816)
  keep/api/routes/workflows.py
Due: black

fix(ui): new Map because Map is immutable
  keep-ui/app/alerts/alert-assignee.tsx
  keep-ui/app/settings/webhook-settings.tsx
  keep-ui/utils/hooks/useAlerts.ts
Due: none

fix(ui): new Map because Map is immutable (#818)
  keep-ui/app/alerts/alert-assignee.tsx
  keep-ui/app/settings/webhook-settings.tsx
  keep-ui/utils/hooks/useAlerts.ts
Due: none

feat: wip
  keep-ui/package.json
  keep-ui/pages/api/auth/[...nextauth].ts
  keep-ui/tailwind.config.js
  keycloak/keep-realm.json
Due: none

fix: str bytes
  keep/providers/bash_provider/bash_provider.py
Due: black

fix: str bytes (#819)
  keep/providers/bash_provider/bash_provider.py
Due: black

fix: tests
  tests/test_alert_dto.py
Due: black

fix: add default truncate
  keep-ui/app/alerts/alert-extra-payload.tsx
  keep-ui/app/alerts/alert-table-utils.tsx
Due: none

feat(ui): Column Width Resizing (#808)
  keep-ui/app/alerts/alert-extra-payload.tsx
  keep-ui/app/alerts/alert-table-headers.tsx
  keep-ui/app/alerts/alert-table-utils.tsx
  keep-ui/app/alerts/alert-table.tsx
Due: none

feat: wip
  keep-ui/pages/api/auth/[...nextauth].ts
  keep/api/core/dependencies.py
  keycloak/docker-compose.yaml
  keycloak/keep-realm.json
Due: black, check-yaml

chore: wip
  keep-ui/app/alerts/alert-menu.tsx
  keep-ui/app/alerts/alert-method-modal.tsx
  keep-ui/app/alerts/alerts.tsx
  keep-ui/utils/hooks/useProviders.ts
Due: none

chore: add FreeTDS driver
  docker/Dockerfile.api
Due: none

chore: don't close
  keep-ui/app/alerts/alert-method-modal.tsx
Due: none

fix(ui): methods modal closes (#821)
  keep-ui/app/alerts/alert-menu.tsx
  keep-ui/app/alerts/alert-method-modal.tsx
  keep-ui/app/alerts/alerts.tsx
  keep-ui/utils/hooks/useProviders.ts
Due: none

chore(deps): update posthog to 1.105.7
  keep-ui/package-lock.json
  keep-ui/package.json
  package-lock.json
  package.json
Due: none

chore(deps): update posthog to 1.105.7 (#822)
  keep-ui/package-lock.json
  keep-ui/package.json
  package-lock.json
  package.json
Due: none

fix(api): previous_alert referenced before assignment
  keep/workflowmanager/workflowmanager.py
Due: black

fix(api): previous_alert referenced before assignment (#824)
  keep/workflowmanager/workflowmanager.py
Due: black

refactor:clean up posthog init component
  keep-ui/app/init-posthog.tsx
  keep-ui/app/navbar-inner.tsx
  keep-ui/app/navbar.tsx
  keep-ui/app/posthog-provider.tsx
Due: none

chore: some cleanups and Modal component
  keep-ui/app/alerts/alert-menu.tsx
  keep-ui/app/alerts/alert-method-modal.tsx
  keep-ui/app/alerts/alert-note-modal.tsx
  keep-ui/app/alerts/alert-run-workflow-modal.tsx
  keep-ui/app/alerts/alert-table-tab-panel.tsx
  keep-ui/app/alerts/alert-table-utils.tsx
  keep-ui/app/alerts/alerts.tsx
  keep-ui/app/workflows/workflow-tile.tsx
  keep-ui/components/ui/Modal.tsx
  keep/api/models/db/workflow.py
  keep/api/routes/workflows.py
  keep/workflowmanager/workflowscheduler.py
Due: black

refactor:move navbar to component folder
  keep-ui/app/layout.tsx
  keep-ui/app/navbar-inner.tsx
  keep-ui/app/providers/page.client.tsx
  keep-ui/app/rules/rules.client.tsx
  keep-ui/app/settings/api-key-settings.tsx
  keep-ui/app/settings/users-settings.tsx
  keep-ui/app/workflows/workflow-tile.tsx
  keep-ui/app/workflows/workflows.client.tsx
  keep-ui/components/navbar/init-posthog.tsx
  keep-ui/components/navbar/navbar-inner.tsx
  keep-ui/components/navbar/navbar.tsx
  keep-ui/components/navbar/search.tsx
Due: none

feat:create empty skeleton for links
  keep-ui/components/navbar/AnalyzeLinks.tsx
  keep-ui/components/navbar/ConfigureLinks.tsx
  keep-ui/components/navbar/LearnLinks.tsx
  keep-ui/components/navbar/MonitorLinks.tsx
  keep-ui/components/navbar/UserInfo.tsx
  keep-ui/components/navbar/navbar-inner.tsx
  keep-ui/components/navbar/navbar.tsx
Due: none

refactor:add scroll to body
  keep-ui/app/layout.tsx
Due: none

feat: wip
  keep/api/core/dependencies.py
  keycloak/docker-compose.yaml
  keycloak/readme.md
Due: black, check-yaml

fix: bash provider and examples
  examples/workflows/bash_example.yml
  keep/providers/bash_provider/bash_provider.py
Due: black, check-yaml

fix: example
  examples/workflows/bash_example.yml
Due: check-yaml

fix:add components dir to tailwind config
  keep-ui/tailwind.config.js
Due: none

Path conditions:
  black: any of: \.py$
  check-yaml: any of: \.(yaml|yml)$
