Repository keephq/keep: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, check-yaml

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: black
        name: black
        entry: black
        language: system
        types: [python]
        require_serial: true
      - id: check-added-large-files
        name: Check for added large files
        entry: check-added-large-files
        language: system
      - id: check-yaml
        name: Check Yaml
        entry: check-yaml
        language: system
        types: [yaml]
      - id: end-of-file-fixer
        name: Fix End of Files
        entry: end-of-file-fixer
        language: system
        types: [text]
        stages: [commit, push, manual]
      - id: isort
        name: isort
        entry: isort
        require_serial: true
        language: system
        types_or: [cython, pyi, python]
        args: ["--filter-files", "--profile", "black"]
      - id: trailing-whitespace
        name: Trim Trailing Whitespace
        entry: trailing-whitespace-fixer
        language: system
        types: [text]
        stages: [commit, push, manual]
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v2.6.0
    hooks:
      - id: prettier
  - repo: https://github.com/compilerla/conventional-pre-commit
    rev: v2.1.1
    hooks:
      - id: conventional-pre-commit
        stages: [commit-msg]
        args: [] # optional: list of Conventional Commits types to allow e.g. [feat, fix, ci, chore, test]

chore:minor style changes
  keep-ui/app/workflows/builder/CustomEdge.tsx
  keep-ui/app/workflows/builder/CustomNode.tsx
  keep-ui/app/workflows/builder/ToolBox.tsx
  keep-ui/app/workflows/builder/builder-store.tsx
  keep-ui/app/workflows/builder/builder.tsx
Due: none

fix: unique
  keep/api/core/db.py
Due: black

fix(db): call `unique()` when getting all presets (#1591)
  keep/api/core/db.py
Due: black

#1592 - Replace usage of imported AlertDto in migration "fields for prepopulated data from alerts" with local simplified model
  keep/api/models/db/migrations/versions/2024-07-25-17-13_67f1efb93c99.py
Due: black

fix: replace usage of imported AlertDto in migration (#1593)
  keep/api/models/db/migrations/versions/2024-07-25-17-13_67f1efb93c99.py
Due: black

chore: Keep provider to support different operators when filtering
  keep/api/core/db.py
Due: black

fix: release
  .github/workflows/release.yml
Due: check-yaml

fix: main
  .github/workflows/release.yml
Due: check-yaml

Over-complicated imports so noone will ever be able to debug this
  .github/workflows/test-pr-e2e.yml
  docker/Dockerfile.api
  keep/api/utils/import_ee.py
Due: black, check-yaml

fix: try
  .github/workflows/release.yml
Due: check-yaml

Removing hack to bypass faulty migration
  keep/api/models/db/migrations/versions/2024-07-25-17-13_67f1efb93c99.py
Due: black

Fix tests
  keep/api/models/db/migrations/versions/2024-08-11-19-45_005efc57cc1c.py
Due: black

fix: fix
  .github/workflows/release.yml
Due: check-yaml

feat:integrated the validations check and deploy features
  keep-ui/app/workflows/builder/ReactFlowBuilder.tsx
  keep-ui/app/workflows/builder/ReactFlowEditor.tsx
  keep-ui/app/workflows/builder/builder-validators.tsx
  keep-ui/app/workflows/builder/builder.tsx
Due: none

chore:hidding the switch
  keep-ui/app/workflows/builder/builder.tsx
Due: none

Update keep/providers/jiraonprem_provider/jiraonprem_provider.py
  keep/providers/jiraonprem_provider/jiraonprem_provider.py
Due: black

feat: support update ticket jira and jira on-prem
  keep/providers/jira_provider/jira_provider.py
  keep/providers/jiraonprem_provider/jiraonprem_provider.py
Due: black

feat: wip
  keep/api/api.py
  keep/api/routes/tags.py
  keep/identitymanager/identity_managers/keycloak/keycloak_identitymanager.py
  keycloak/KEYCLOAK_LDAP.md
  keycloak/docker-compose.yaml
  keycloak/event_listeners/last-login-event-listener-0.0.1-SNAPSHOT.jar
  keycloak/ldap.ldif
Due: black, check-yaml

Make migrations even more isolated - create virtual copy of tables with fixed fields
  keep/api/models/db/migrations/versions/2024-07-25-17-13_67f1efb93c99.py
  keep/api/models/db/migrations/versions/2024-07-29-12-51_c91b348b94f2.py
Due: black

Remove unused imports
  keep/api/models/db/migrations/versions/2024-07-25-17-13_67f1efb93c99.py
Due: black

Remove more unused imports
  keep/api/models/db/migrations/versions/2024-07-25-17-13_67f1efb93c99.py
Due: black

feat: allow provision api key
  keep/api/core/db_on_start.py
Due: black

feat: provision api keys
  keep/api/core/db_on_start.py
Due: black

fix: another go
  .github/workflows/release.yml
Due: check-yaml

feat: dynamic slack messages
  keep/providers/slack_provider/slack_provider.py
Due: black

0.21.0
  pyproject.toml
Due: none

feat: allow provision api key (#1598)
  keep/api/core/db_on_start.py
Due: black

chore: add documentation
  docs/providers/documentation/slack-provider.mdx
Due: none

feat: wip
  keep-ui/app/settings/auth/users-settings.tsx
  keep-ui/app/settings/auth/users-sidebar.tsx
  keep/identitymanager/identity_managers/keycloak/keycloak_identitymanager.py
  keycloak/event_listeners/last-login-event-listener-0.0.1-SNAPSHOT.jar
Due: black

fix: keep the api key on secret manager
  keep/api/core/db_on_start.py
Due: black

fix: keep the api key on secret manager (#1603)
  keep/api/core/db_on_start.py
Due: black
