Repository keephq/keep: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, check-yaml

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: black
        name: black
        entry: black
        language: system
        types: [python]
        require_serial: true
      - id: check-added-large-files
        name: Check for added large files
        entry: check-added-large-files
        language: system
      - id: check-yaml
        name: Check Yaml
        entry: check-yaml
        language: system
        types: [yaml]
      - id: end-of-file-fixer
        name: Fix End of Files
        entry: end-of-file-fixer
        language: system
        types: [text]
        stages: [commit, push, manual]
      - id: isort
        name: isort
        entry: isort
        require_serial: true
        language: system
        types_or: [cython, pyi, python]
        args: ["--filter-files", "--profile", "black"]
      - id: trailing-whitespace
        name: Trim Trailing Whitespace
        entry: trailing-whitespace-fixer
        language: system
        types: [text]
        stages: [commit, push, manual]
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v2.6.0
    hooks:
      - id: prettier
  - repo: https://github.com/compilerla/conventional-pre-commit
    rev: v2.1.1
    hooks:
      - id: conventional-pre-commit
        stages: [commit-msg]
        args: [] # optional: list of Conventional Commits types to allow e.g. [feat, fix, ci, chore, test]

feat: dynatrace provider (#427)
  keep-ui/public/icons/dynatrace-icon.png
  keep/api/api.py
  keep/api/core/dependencies.py
  keep/api/observability.py
  keep/providers/dynatrace_provider/__init__.py
  keep/providers/dynatrace_provider/dynatrace_provider.py
  poetry.lock
  pyproject.toml
Due: black

feat: improved gke
  keep-ui/app/providers/provider-form.tsx
  keep-ui/app/providers/providers.tsx
  keep-ui/app/workflows/workflows.client.tsx
  keep/api/routes/providers.py
  keep/providers/dynatrace_provider/dynatrace_provider.py
  keep/providers/gke_provider/gke_provider.py
  keep/providers/kafka_provider/kafka_provider.py
Due: black

feat: improved gke (#429)
  keep-ui/app/providers/provider-form.tsx
  keep-ui/app/providers/providers.tsx
  keep-ui/app/workflows/workflows.client.tsx
  keep/api/routes/providers.py
  keep/providers/dynatrace_provider/dynatrace_provider.py
  keep/providers/gke_provider/gke_provider.py
  keep/providers/kafka_provider/kafka_provider.py
Due: black

feat: merged pulled and push, improved severity and last received
  keep-ui/app/alerts/alert-table.tsx
  keep-ui/app/alerts/alerts-table-body.css
  keep-ui/app/alerts/alerts-table-body.tsx
  keep-ui/app/alerts/alerts.tsx
  keep-ui/app/alerts/models.tsx
  keep-ui/components/ui/push-pulled-badge/push-pulled-badge.tsx
  keep-ui/package-lock.json
  keep-ui/package.json
Due: none

fix: last received order by time
  keep-ui/app/alerts/alert-table.tsx
  keep-ui/app/alerts/alert-transition.tsx
  keep-ui/app/alerts/alerts-table-body.tsx
  keep-ui/app/alerts/alerts.tsx
  keep-ui/app/alerts/mock-data.tsx
Due: none

feat: clean distintion between pull and push modes in the UI (#430)
  keep-ui/app/alerts/alert-table.tsx
  keep-ui/app/alerts/alert-transition.tsx
  keep-ui/app/alerts/alerts-table-body.css
  keep-ui/app/alerts/alerts-table-body.tsx
  keep-ui/app/alerts/alerts.tsx
  keep-ui/app/alerts/mock-data.tsx
  keep-ui/app/alerts/models.tsx
  keep-ui/components/ui/push-pulled-badge/push-pulled-badge.tsx
  keep-ui/package-lock.json
  keep-ui/package.json
Due: none

feat: added support for jira `_notify` method (#403)
  docs/providers/documentation/jira-provider.mdx
  keep/providers/jira_provider/jira_provider.py
Due: black

fix(readme): new provider link
  README.md
Due: none

fix(readme): new provider link (#432)
  README.md
Due: none

feat: wip
  keep-ui/app/auth-provider.tsx
  keep-ui/app/providers/page.client.tsx
  keep-ui/app/providers/provider-form.tsx
  keep-ui/app/settings/users-settings.tsx
  keep-ui/middleware.tsx
  keep-ui/pages/api/auth/[...nextauth].ts
  keep-ui/utils/customAuth.ts
  keep/api/api.py
  keep/api/core/db.py
  keep/api/core/dependencies.py
  keep/api/models/db/user.py
  keep/api/routes/settings.py
Due: black

feat: wip
  keep/api/models/workflow.py
  keep/api/routes/workflows.py
Due: black

fix: minor bugs in running workflow logs (#433)
  keep/api/models/workflow.py
  keep/api/routes/workflows.py
Due: black

feat: merge from main
  docker-compose_with_auth.yml
  keep-ui/utils/customAuth.ts
  keep/api/core/db.py
  keep/api/routes/settings.py
Due: black, check-yaml

feat: wip
  keep-ui/app/alerts/alert-menu.tsx
  keep-ui/app/alerts/alert-table.tsx
  keep-ui/app/alerts/alerts-table-body.tsx
  keep-ui/app/alerts/alerts.tsx
  keep/providers/models/provider_method.py
Due: black

feat: wip
  keep-ui/app/workflows/[workflow_id]/runs/[workflow_execution_id]/layout.tsx
  keep-ui/app/workflows/[workflow_id]/runs/[workflow_execution_id]/page.tsx
  keep/api/core/db.py
  keep/api/models/db/workflow.py
  keep/api/models/workflow.py
  keep/api/routes/workflows.py
  keep/providers/base/base_provider.py
  keep/providers/console_provider/console_provider.py
  keep/step/step.py
  keep/workflowmanager/workflowmanager.py
Due: black

feat: bugfixes
  keep-ui/app/workflows/[workflow_id]/runs/[workflow_execution_id]/page.tsx
  keep/api/routes/workflows.py
Due: black

feat: more bugfixes
  keep/api/core/db.py
  keep/api/routes/providers.py
Due: black

feat: add results table to the workflow execution page (#434)
  keep-ui/app/workflows/[workflow_id]/runs/[workflow_execution_id]/layout.tsx
  keep-ui/app/workflows/[workflow_id]/runs/[workflow_execution_id]/page.tsx
  keep/api/core/db.py
  keep/api/models/db/workflow.py
  keep/api/models/workflow.py
  keep/api/routes/providers.py
  keep/api/routes/workflows.py
  keep/providers/base/base_provider.py
  keep/providers/console_provider/console_provider.py
  keep/step/step.py
  keep/workflowmanager/workflowmanager.py
Due: black

feat: working in alert menu
  keep-ui/app/alerts/alert-menu.tsx
  keep-ui/app/alerts/alerts.tsx
  keep-ui/app/providers/page.client.tsx
  keep-ui/app/providers/providers.tsx
  keep/api/models/provider.py
  keep/providers/base/base_provider.py
  keep/providers/models/provider_method.py
  keep/providers/providers_factory.py
  keep/providers/zabbix_provider/zabbix_provider.py
Due: black

feat: wip
  keep-ui/app/alerts/alert-menu.tsx
  keep-ui/app/alerts/alert-table.tsx
  keep-ui/app/alerts/alerts-table-body.tsx
  keep-ui/app/alerts/alerts.tsx
  keep-ui/app/providers/providers.tsx
  keep/api/routes/providers.py
  keep/providers/base/provider_exceptions.py
  keep/providers/zabbix_provider/zabbix_provider.py
Due: black

fix: alert menu apperance, revert #352
  keep-ui/app/alerts/alert-menu.tsx
Due: none

chore: remove unsued imports
  keep-ui/app/alerts/alert-menu.tsx
Due: none

fix(menu): alert menu apperance, revert #352 (#437)
  keep-ui/app/alerts/alert-menu.tsx
Due: none

fix: alert-menu from main
  keep-ui/app/alerts/alert-menu.tsx
Due: none

feat: wip
  keep-ui/app/alerts/alert-menu.tsx
  keep-ui/app/alerts/alerts-table-body.tsx
  keep/providers/zabbix_provider/zabbix_provider.py
Due: black

fix: remove log in zabbix provider with auth
  keep/providers/zabbix_provider/zabbix_provider.py
Due: black

feat: add users management to single tenant (#436)
  docker-compose-with-auth.yml
  docs/development/authentication.mdx
  docs/images/multitenant.png
  docs/images/singletenant.png
  docs/mint.json
  docs/package-lock.json
  docs/providers/overview.mdx
  keep-ui/app/auth-provider.tsx
  keep-ui/app/providers/page.client.tsx
  keep-ui/app/providers/provider-form.tsx
  keep-ui/app/settings/users-settings.tsx
  keep-ui/middleware.tsx
  keep-ui/pages/api/auth/[...nextauth].ts
  keep-ui/pages/signin.tsx
  keep-ui/public/keep_big.svg
  keep-ui/utils/customAuth.ts
  keep/api/api.py
  keep/api/core/db.py
  keep/api/core/dependencies.py
  keep/api/models/db/user.py
  keep/api/routes/settings.py
Due: black, check-yaml

feat: fixes
  keep-ui/middleware.tsx
  keep/api/api.py
Due: black

feat: fixes
  keep/api/api.py
Due: black

feat: add users management to single tenant (#438)
  keep-ui/middleware.tsx
  keep/api/api.py
Due: black
