Repository keephq/keep: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, check-yaml

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: black
        name: black
        entry: black
        language: system
        types: [python]
        require_serial: true
      - id: check-added-large-files
        name: Check for added large files
        entry: check-added-large-files
        language: system
      - id: check-yaml
        name: Check Yaml
        entry: check-yaml
        language: system
        types: [yaml]
      - id: end-of-file-fixer
        name: Fix End of Files
        entry: end-of-file-fixer
        language: system
        types: [text]
        stages: [commit, push, manual]
      - id: isort
        name: isort
        entry: isort
        require_serial: true
        language: system
        types_or: [cython, pyi, python]
        args: ["--filter-files", "--profile", "black"]
      - id: trailing-whitespace
        name: Trim Trailing Whitespace
        entry: trailing-whitespace-fixer
        language: system
        types: [text]
        stages: [commit, push, manual]
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v2.6.0
    hooks:
      - id: prettier
  - repo: https://github.com/compilerla/conventional-pre-commit
    rev: v2.1.1
    hooks:
      - id: conventional-pre-commit
        stages: [commit-msg]
        args: [] # optional: list of Conventional Commits types to allow e.g. [feat, fix, ci, chore, test]

fix: generic event and alert deletion (#511)
  keep-ui/app/alerts/alert-menu.tsx
  keep-ui/app/alerts/alert-table.tsx
  keep-ui/app/alerts/alerts-table-body.tsx
  keep-ui/app/alerts/alerts.tsx
  keep/api/models/alert.py
  keep/api/routes/alerts.py
Due: black

feat: better auth control
  docker-compose-with-auth.yml
  docker-compose.yml
  docs/development/authentication.mdx
  keep-ui/app/settings/users-settings.tsx
  keep-ui/middleware.tsx
  keep-ui/pages/api/auth/[...nextauth].ts
  keep-ui/pages/api/config.tsx
  keep-ui/utils/authenticationType.ts
  keep-ui/utils/customAuth.ts
  keep/api/api.py
  keep/api/core/config.py
  keep/api/core/dependencies.py
  keep/api/routes/settings.py
  keep/cli/cli.py
  keep/workflowmanager/workflowmanager.py
Due: black, check-yaml

modifications: poetry.lock conflict resolved
  poetry.lock
Due: none

added: newrelic docs
  docs/providers/documentation/new-relic-provider.mdx
Due: none

feat: front wip
  docker-compose-with-auth.yml
  docs/development/authentication.mdx
  keep-ui/app/settings/users-settings.tsx
  keep-ui/middleware.tsx
  keep-ui/pages/api/auth/[...nextauth].ts
  keep-ui/pages/api/config.tsx
  keep-ui/pages/signin.tsx
  keep/api/core/dependencies.py
Due: black, check-yaml

feat: kibana 8.1 alerts and connectors
  keep-ui/public/icons/kibana-icon.png
  keep/api/routes/providers.py
  keep/providers/kibana_provider/__init__.py
  keep/providers/kibana_provider/kibana_provider.py
Due: black

fix: elastic to kibana
  keep/providers/kibana_provider/kibana_provider.py
Due: black

fix: json as dump
  keep/providers/kibana_provider/kibana_provider.py
Due: black

fix: description title
  keep-ui/app/alerts/alerts-table-body.tsx
Due: none

docs: in-provider and for docs
  docs/providers/documentation/kibana-provider.mdx
  keep/providers/kibana_provider/kibana_provider.py
Due: black

docs: added docs and scopes
  docs/images/kibana/api-keys.png
  docs/images/kibana/copy-created-key.png
  docs/images/kibana/create-api-key.png
  docs/images/kibana/kibana_host.png
  docs/mint.json
  docs/providers/documentation/kibana-provider.mdx
  keep/providers/kibana_provider/kibana_provider.py
Due: black

feat: better auth
  keep-ui/middleware.tsx
  keep-ui/pages/api/auth/[...nextauth].ts
  keep-ui/pages/signin.tsx
  keep-ui/tsconfig.json
  keep-ui/utils/customAuth.ts
  keep/api/api.py
  keep/api/core/config.py
  keep/api/core/dependencies.py
Due: black

feat: minor fixes
  keep-ui/app/ci/page.tsx
  keep-ui/middleware.tsx
  keep-ui/pages/api/auth/[...nextauth].ts
  keep-ui/pages/api/config.tsx
Due: none

feat: add watcher payload support
  keep/providers/kibana_provider/kibana_provider.py
Due: black

feat: typo
  keep-ui/pages/api/auth/[...nextauth].ts
Due: none

fix: redundant
  keep-ui/tsconfig.json
Due: none

feat: change
  keep-ui/utils/authenticationType.ts
Due: none

fix: change str to enum
  keep/api/api.py
Due: black

feat: change str to enum
  keep/api/api.py
Due: black

docs: new relic provider (#514)
  docs/providers/documentation/new-relic-provider.mdx
Due: none

fix: remove useCustom and fix posthog
  keep-ui/app/alerts/alert-menu.tsx
  keep-ui/app/alerts/alert-method-transition.tsx
  keep-ui/app/alerts/alerts.client.tsx
  keep-ui/app/ci/page.tsx
  keep-ui/app/github-post-installation/page.tsx
  keep-ui/app/navbar.tsx
  keep-ui/app/posthog-provider.tsx
  keep-ui/app/posthog-server.tsx
  keep-ui/app/providers/oauth2/[providerType]/page.tsx
  keep-ui/app/providers/page.client.tsx
  keep-ui/app/providers/page.tsx
  keep-ui/app/providers/provider-form.tsx
  keep-ui/app/settings/settings.client.tsx
  keep-ui/app/settings/users-menu.tsx
  keep-ui/app/settings/users-settings.tsx
  keep-ui/app/workflows/[workflow_id]/page.tsx
  keep-ui/app/workflows/[workflow_id]/runs/[workflow_execution_id]/page.tsx
  keep-ui/app/workflows/builder/[workflowId]/page.tsx
  keep-ui/app/workflows/builder/page.client.tsx
  keep-ui/app/workflows/dragndrop.tsx
  keep-ui/app/workflows/workflow-tile.tsx
  keep-ui/app/workflows/workflows.client.tsx
  keep-ui/pages/api/auth/[...nextauth].ts
  keep-ui/utils/authenticationType.ts
  keep-ui/utils/customAuth.ts
Due: none

feat: remove redundant env
  chart/keep/values.yaml
  docker-compose-with-otel.yaml
  docker-compose.dev.yml
  docker/Dockerfile.ui
  keep-ui/.env.local.example
Due: check-yaml

fix: bugfix
  docker-compose.dev.yml
  keep-ui/app/alerts/alerts.client.tsx
  keep-ui/app/alerts/alerts.tsx
  keep-ui/pages/api/auth/[...nextauth].ts
  keep-ui/utils/authenticationType.ts
  keep/api/core/dependencies.py
Due: black, check-yaml

feat: fix
  keep-ui/app/alerts/alerts.client.tsx
  keep-ui/app/alerts/alerts.tsx
Due: none

fix: remove redundant
  docker-compose.dev.yml
Due: check-yaml

fix: bugfix (#516)
  keep-ui/app/alerts/alerts.tsx
  keep-ui/pages/api/auth/[...nextauth].ts
  keep-ui/utils/authenticationType.ts
  keep/api/core/dependencies.py
Due: black

feat: kibana watcher
  docs/providers/documentation/kibana-provider.mdx
  keep/api/routes/alerts.py
  keep/providers/kibana_provider/kibana_provider.py
Due: black

fix: add except
  keep/providers/kibana_provider/kibana_provider.py
Due: black

feat: kibana 8.1 alerts and connectors (#515)
  docs/images/kibana/api-keys.png
  docs/images/kibana/copy-created-key.png
  docs/images/kibana/create-api-key.png
  docs/images/kibana/kibana_host.png
  docs/mint.json
  docs/providers/documentation/kibana-provider.mdx
  keep-ui/app/alerts/alerts-table-body.tsx
  keep-ui/public/icons/kibana-icon.png
  keep/api/routes/alerts.py
  keep/api/routes/providers.py
  keep/providers/kibana_provider/__init__.py
  keep/providers/kibana_provider/kibana_provider.py
Due: black

fix: kibana scopes bug
  keep/providers/kibana_provider/kibana_provider.py
Due: black

fix: kibana scopes bug (#517)
  keep/providers/kibana_provider/kibana_provider.py
Due: black

fix: alerts
  keep-ui/app/navbar-inner.tsx
  keep-ui/app/posthog-provider.tsx
Due: none

fix: tenant (#518)
  keep-ui/app/navbar-inner.tsx
  keep-ui/app/posthog-provider.tsx
Due: none
