Repository keephq/keep: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, check-yaml

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: black
        name: black
        entry: black
        language: system
        types: [python]
        require_serial: true
      - id: check-added-large-files
        name: Check for added large files
        entry: check-added-large-files
        language: system
      - id: check-yaml
        name: Check Yaml
        entry: check-yaml
        language: system
        types: [yaml]
      - id: end-of-file-fixer
        name: Fix End of Files
        entry: end-of-file-fixer
        language: system
        types: [text]
        stages: [commit, push, manual]
      - id: isort
        name: isort
        entry: isort
        require_serial: true
        language: system
        types_or: [cython, pyi, python]
        args: ["--filter-files", "--profile", "black"]
      - id: trailing-whitespace
        name: Trim Trailing Whitespace
        entry: trailing-whitespace-fixer
        language: system
        types: [text]
        stages: [commit, push, manual]
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v2.6.0
    hooks:
      - id: prettier
  - repo: https://github.com/compilerla/conventional-pre-commit
    rev: v2.1.1
    hooks:
      - id: conventional-pre-commit
        stages: [commit-msg]
        args: [] # optional: list of Conventional Commits types to allow e.g. [feat, fix, ci, chore, test]

fix: fix the throttling mechanism
  keep/action/action.py
Due: black

fix: fix the throttling mechanism (#120)
  keep/action/action.py
Due: black

feat: add exit code and stderr to bash provider
  keep/functions/__init__.py
  keep/iohandler/iohandler.py
  keep/providers/bash_provider/bash_provider.py
Due: black

fix: fixing the bash provider
  keep/conditions/threshold_condition.py
  keep/providers/bash_provider/bash_provider.py
Due: black

fix: assert doesn't work when special characters appear
  keep/conditions/assert_condition.py
Due: black

feat: initial commit for semantic chatbot layer
  keep/api/api.py
  keep/api/models/chat_response.py
  keep/api/routes/chat.py
  keep/api/utils/callback.py
  keep/api/utils/query_data.py
  pyproject.toml
Due: black

feat: wip minor fix
  keep/api/routes/chat.py
Due: black

feat: wip run alert from text
  keep/api/api.py
  keep/api/routes/alert.py
  keep/api/routes/alertsfiles.py
  keep/api/utils/query_data.py
Due: black

Fix #105: Raise exception if condition name is missing
  keep/action/action.py
Due: black

fix: fixing bash provider
  keep/conditions/assert_condition.py
  keep/providers/slack_provider/slack_provider.py
Due: black

feat: add bash provider (#119)
  keep/conditions/assert_condition.py
  keep/conditions/threshold_condition.py
  keep/functions/__init__.py
  keep/iohandler/iohandler.py
  keep/providers/bash_provider/__init__.py
  keep/providers/bash_provider/bash_provider.py
  keep/providers/slack_provider/slack_provider.py
Due: black

feat: add test to throttling
  keep/action/action.py
  keep/alert/alert.py
  keep/api/routes/alertsfiles.py
  keep/cli/cli.py
  keep/contextmanager/contextmanager.py
  keep/providers/mock_provider/mock_provider.py
  keep/throttles/one_until_resolved_throttle.py
  tests/alerts/one_until_resolved.yaml
  tests/test_throttling.py
Due: black, check-yaml

feat: axiom provider inital commit
  keep/providers/axiom_provider/__init__.py
  keep/providers/axiom_provider/axiom_provider.py
Due: black

Update keep/providers/axiom_provider/axiom_provider.py
  keep/providers/axiom_provider/axiom_provider.py
Due: black

fix: typos and docs
  keep/providers/axiom_provider/axiom_provider.py
Due: black

feat: add test to throttling
  tests/test_throttling.py
Due: black

docs: added axiom docs
  docs/docs/022_providers/documentation/axiom.md
  keep/providers/axiom_provider/axiom_provider.py
Due: black

Update example alerts to have condition names
  examples/alerts/db_disk_space.yml
  examples/alerts/keep_semantic_alert_example_datadog.yml
  examples/alerts/new_github_stars.yml
  examples/alerts/raw_sql_query_datetime.yml
  examples/alerts/simple_http_request_ntfy.yml
  examples/alerts/trello_new_card_alert.yml
Due: check-yaml

Update docs to have required condition names
  docs/docs/023_conditions/02-threshold.md
  docs/docs/023_conditions/03-assert.md
  docs/docs/023_conditions/04-stddev.md
Due: none

fix: Raise exception if condition name is missing (#122)
  docs/docs/023_conditions/02-threshold.md
  docs/docs/023_conditions/03-assert.md
  docs/docs/023_conditions/04-stddev.md
  examples/alerts/db_disk_space.yml
  examples/alerts/keep_semantic_alert_example_datadog.yml
  examples/alerts/new_github_stars.yml
  examples/alerts/raw_sql_query_datetime.yml
  examples/alerts/simple_http_request_ntfy.yml
  examples/alerts/trello_new_card_alert.yml
  keep/action/action.py
Due: black, check-yaml

feat: add test to throttling
  keep/action/action.py
  keep/alert/alert.py
  keep/contextmanager/contextmanager.py
  pyproject.toml
  tests/test_conditions.py
  tests/test_throttling.py
Due: black

feat(provider): Axiom (#121)
  docs/docs/022_providers/documentation/axiom.md
  keep/providers/axiom_provider/__init__.py
  keep/providers/axiom_provider/axiom_provider.py
Due: black

feat: add test to throttling
  examples/alerts/opsgenie_get_alerts.yml
  keep/action/action.py
  keep/alert/alert.py
  keep/alertmanager/alertmanager.py
  keep/contextmanager/contextmanager.py
  keep/providers/opsgenie_provider/opsgenie_provider.py
Due: black, check-yaml

feat: add query to opsgenie
  keep/providers/opsgenie_provider/opsgenie_provider.py
Due: black

feat: opsgenie improvements
  examples/alerts/opsgenie_open_alerts.yml
  keep/action/action.py
Due: black, check-yaml

feat: opsgenie improvements
  examples/alerts/opsgenie_open_alerts.yml
Due: check-yaml

feat: opsgenie improvements (#124)
  examples/alerts/opsgenie_open_alerts.yml
  keep/action/action.py
  keep/providers/opsgenie_provider/opsgenie_provider.py
Due: black, check-yaml

feat: add query to opsgenie
  examples/alerts/db_disk_space_bash.yml
  examples/alerts/opsgenie_get_alerts.yml
  examples/alerts/opsgenie_open_alerts.yml
Due: check-yaml

Found a bug. The call to parser is dependent on previous calls. Marked the last test function with a xfail that will be no longer relevant once the bug is fixed.
  keep/parser/tests_for_parser/test_parser.py
Due: black

Added test automation.
  .github/workflows/test-pr.yml
Due: check-yaml

docs: trello docs added
  docs/docs/022_providers/documentation/trello.md
  keep/providers/trello_provider/trello_provider.py
Due: black

docs: jira docs added
  docs/docs/022_providers/documentation/jira.md
  keep/providers/jira_provider/jira_provider.py
Due: black

docs: trello docs added (#125)
  docs/docs/022_providers/documentation/trello.md
  keep/providers/trello_provider/trello_provider.py
Due: black

docs: jira docs updated
  docs/docs/022_providers/documentation/jira.md
Due: none
