Repository keephq/keep: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, check-yaml

black:
  name: black
  entry: black
  language: system
  require_serial: true

check-yaml:
  name: Check Yaml
  entry: check-yaml
  language: system

Create mattermost-provider.mdx
  docs/providers/documentation/mattermost-provider.mdx
Due: none

Add files via upload
  keep-ui/public/icons/linear-icon.svg
Due: none

Add files via upload
  keep-ui/public/linear.svg
Due: none

Add files via upload
  keep-ui/public/microsoft-planner.svg
Due: none

Add files via upload
  keep-ui/public/icons/microsoft-planner-icon.svg
Due: none

added planner provider
  keep/providers/planner_provider/__init__.py
  keep/providers/planner_provider/planner_provider.py
Due: black

poetry updates
  poetry.lock
  pyproject.toml
Due: none

Update microsoft-planner-provider.py
  keep/providers/microsoft-planner-provider/microsoft-planner-provider.py
Due: black

feat: end to end works
  examples/workflows/update_service_now_tickets_status.yml
  keep/api/core/db.py
  keep/api/models/db/alert.py
  keep/api/routes/alerts.py
Due: black, check-yaml

added docs
  docs/providers/documentation/planner-provider.mdx
Due: none

Update microsoft-planner-provider.mdx
  docs/providers/documentation/microsoft-planner-provider.mdx
Due: none

added svg and icon
  keep-ui/public/icons/planner-icon.png
  keep-ui/public/planner.svg
Due: none

feat: added planner provider (#359)
  docs/providers/documentation/planner-provider.mdx
  keep-ui/public/icons/planner-icon.png
  keep-ui/public/planner.svg
  keep/providers/planner_provider/__init__.py
  keep/providers/planner_provider/planner_provider.py
  poetry.lock
  pyproject.toml
Due: black

updated bucket_id details
  docs/providers/documentation/planner-provider.mdx
Due: none

fix: update planner bucket_id detail (#361)
  docs/providers/documentation/planner-provider.mdx
Due: none

feat: logs with context
  keep-ui/app/workflows/[workflow_id]/runs/[workflow_execution_id]/page.tsx
  keep/api/core/db.py
  keep/api/models/workflow.py
  keep/api/routes/workflows.py
Due: black

feat: logs with context
  keep/providers/servicenow_provider/servicenow_provider.py
Due: black

feat: typo
  keep/providers/servicenow_provider/servicenow_provider.py
Due: black

feat: typo
  tests/test_conditions.py
Due: black

feat: servicenow provider (#360)
  .DS_Store
  docs/providers/documentation/datadog-provider.mdx
  examples/workflows/create_service_now_ticket_upon_alerts.yml
  examples/workflows/update_service_now_tickets_status.yml
  keep-ui/app/workflows/[workflow_id]/runs/[workflow_execution_id]/page.tsx
  keep-ui/public/icons/servicenow-icon.png
  keep/api/core/db.py
  keep/api/logging.py
  keep/api/models/alert.py
  keep/api/models/db/alert.py
  keep/api/models/db/workflow.py
  keep/api/models/workflow.py
  keep/api/routes/alerts.py
  keep/api/routes/workflows.py
  keep/conditions/assert_condition.py
  keep/conditions/base_condition.py
  keep/contextmanager/contextmanager.py
  keep/providers/base/base_provider.py
  keep/providers/keep_provider/keep_provider.py
  keep/providers/prometheus_provider/prometheus_provider.py
  keep/providers/providers_factory.py
  keep/providers/resend_provider/resend_provider.py
  keep/providers/servicenow_provider/__init__.py
  keep/providers/servicenow_provider/servicenow_provider.py
  keep/providers/slack_provider/slack_provider.py
  keep/providers/telegram_provider/telegram_provider.py
  keep/providers/zenduty_provider/zenduty_provider.py
  keep/step/step.py
  keep/storagemanager/filesystemstoragemanager.py
  keep/storagemanager/gcpstoragemanager.py
  keep/storagemanager/storagemanager.py
  keep/workflowmanager/workflow.py
  keep/workflowmanager/workflowmanager.py
  keep/workflowmanager/workflowscheduler.py
  tests/test_conditions.py
Due: black, check-yaml

feat: typo
  keep/api/core/db.py
  keep/providers/keep_provider/keep_provider.py
Due: black

fix: get all alerts (#362)
  keep/api/core/db.py
  keep/providers/keep_provider/keep_provider.py
Due: black

Create google-chat.svg
  keep-ui/public/google-chat.svg
Due: none

Add files via upload
  keep-ui/public/google-chat.png
Due: none

Delete keep-ui/public/google-chat.png
  keep-ui/public/google-chat.png
Due: none

Add files via upload
  keep-ui/public/icons/google-chat.png
Due: none

Delete keep-ui/public/icons/google-chat.png
  keep-ui/public/icons/google-chat.png
Due: none

Add files via upload
  keep-ui/public/icons/google-chat-icon.png
Due: none

feat: Google Chat Provider (#347)
  docs/providers/documentation/google-chat-provider.mdx
  keep-ui/public/google-chat.svg
  keep-ui/public/icons/google-chat-icon.png
  keep/providers/google_chat_provider/__init__.py
  keep/providers/google_chat_provider/google_provider.py
Due: black

added github workflows provider
  keep/providers/github_workflows_provider/__init__.py
  keep/providers/github_workflows_provider/github_workflows_provider.py
Due: black

updated planner provider
  examples/workflows/planner_basic.yml
  keep/providers/planner_provider/planner_provider.py
  poetry.lock
  pyproject.toml
Due: black, check-yaml

fix: updated planner provider (#364)
  examples/workflows/planner_basic.yml
  keep/providers/planner_provider/planner_provider.py
  poetry.lock
  pyproject.toml
Due: black, check-yaml

Path conditions:
  black: any of: \.py$
  check-yaml: any of: \.(yaml|yml)$
