Repository keephq/keep: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, check-yaml

black:
  name: black
  entry: black
  language: system
  require_serial: true

check-yaml:
  name: Check Yaml
  entry: check-yaml
  language: system

fix: Change ordering of error throwing and added error boundry for providers.
  keep-ui/app/providers/error.tsx
  keep-ui/app/providers/page.client.tsx
Due: none

feat: wip
  poetry.lock
  pyproject.toml
  tests/conftest.py
  tests/e2e_tests/docker-compose-e2e-mysql.yml
  tests/e2e_tests/docker-compose-e2e-postgres.yml
  tests/e2e_tests/test_end_to_end.py
Due: black, check-yaml

feat: test
  .github/workflows/test-pr-e2e.yml
  tests/e2e_tests/docker-compose-e2e-mysql.yml
  tests/e2e_tests/docker-compose-e2e-postgres.yml
  tests/e2e_tests/test_end_to_end.py
Due: black, check-yaml

feat: allow to expand reusable actions (#1234)
  docs/api-ref/actions/add-actions.mdx
  docs/api-ref/actions/create-actions.mdx
  docs/api-ref/actions/delete-action.mdx
  docs/api-ref/actions/get-actions.mdx
  docs/api-ref/actions/put-action.mdx
  docs/api-ref/actions/update-action.mdx
  docs/api-ref/alerts/webhook-challenge.mdx
  docs/generate_readme_from_openapijson.sh
  docs/mint.json
  docs/openapi.json
  docs/workflows/examples/reusable-action-alert.mdx
  keep/actions/__init__.py
  keep/actions/actions_exception.py
  keep/actions/actions_factory.py
  keep/api/api.py
  keep/api/core/db.py
  keep/api/models/action.py
  keep/api/models/db/action.py
  keep/api/routes/actions.py
  keep/contextmanager/contextmanager.py
  keep/parser/parser.py
  keep/workflowmanager/workflowstore.py
  tests/test_actions.py
  tests/test_parser.py
  tests/workflows/reusable_actions_for_testing.yml
  tests/workflows/reusable_alert_for_testing.yml
  tests/workflows/reusable_alert_with_actions_for_testing.yml
Due: black, check-yaml

fix: json should contain the 3.0.2 version instead (#1251)
  docs/generate_readme_from_openapijson.sh
  docs/mint.json
  docs/openapi.json
Due: none

docs: update datetime-compare.mdx (#1279)
  docs/workflows/functions/datetime-compare.mdx
Due: none

feat: fetch all incidents ilert provider (#1273)
  keep/providers/ilert_provider/ilert_provider.py
Due: black

0.17.0
  pyproject.toml
Due: none

feat: tests
  tests/e2e_tests/docker-compose-e2e-mysql.yml
Due: check-yaml

feat: tests
  tests/e2e_tests/docker-compose-e2e-mysql.yml
  tests/e2e_tests/docker-compose-e2e-postgres.yml
Due: check-yaml

feat: test
  tests/e2e_tests/docker-compose-e2e-mysql.yml
Due: check-yaml

feat: tests
  .github/workflows/test-pr-e2e.yml
Due: check-yaml

feat: tests
  poetry.lock
  pyproject.toml
Due: none

feat: e2e tests (#1291)
  .github/workflows/test-pr-e2e.yml
  poetry.lock
  pyproject.toml
  tests/conftest.py
  tests/e2e_tests/docker-compose-e2e-mysql.yml
  tests/e2e_tests/docker-compose-e2e-postgres.yml
  tests/e2e_tests/test_end_to_end.py
Due: black, check-yaml

Update README.md
  README.md
Due: none

feat: tests
  .github/workflows/test-pr-e2e.yml
  t
  tests/conftest.py
  tests/e2e_tests/test_end_to_end.py
Due: black, check-yaml

feat: tests (#1293)
  .github/workflows/test-pr-e2e.yml
  t
  tests/conftest.py
  tests/e2e_tests/test_end_to_end.py
Due: black, check-yaml

feat: remove redundant
  t
Due: none

fix: typo
  t
Due: none

fix: typo (#1295)
  t
Due: none

fix: tests
  tests/e2e_tests/test_end_to_end.py
Due: black

feat: tests
  .github/workflows/test-pr-e2e.yml
  tests/e2e_tests/test_end_to_end.py
Due: black, check-yaml

feat: tests
  tests/e2e_tests/test_end_to_end.py
Due: black

feat: fix
  tests/e2e_tests/test_end_to_end.py
Due: black

Path conditions:
  black: any of: \.py$
  check-yaml: any of: \.(yaml|yml)$
