Repository keephq/keep: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, check-yaml

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: black
        name: black
        entry: black
        language: system
        types: [python]
        require_serial: true
      - id: check-added-large-files
        name: Check for added large files
        entry: check-added-large-files
        language: system
      - id: check-yaml
        name: Check Yaml
        entry: check-yaml
        language: system
        types: [yaml]
      - id: end-of-file-fixer
        name: Fix End of Files
        entry: end-of-file-fixer
        language: system
        types: [text]
        stages: [commit, push, manual]
      - id: isort
        name: isort
        entry: isort
        require_serial: true
        language: system
        types_or: [cython, pyi, python]
        args: ["--filter-files", "--profile", "black"]
      - id: trailing-whitespace
        name: Trim Trailing Whitespace
        entry: trailing-whitespace-fixer
        language: system
        types: [text]
        stages: [commit, push, manual]
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v2.6.0
    hooks:
      - id: prettier
  - repo: https://github.com/compilerla/conventional-pre-commit
    rev: v2.1.1
    hooks:
      - id: conventional-pre-commit
        stages: [commit-msg]
        args: [] # optional: list of Conventional Commits types to allow e.g. [feat, fix, ci, chore, test]

chore(docs): default fingerprints
  docs/providers/fingerprints.mdx
Due: none

fix: sentry format_alert title (#480)
  keep/providers/sentry_provider/sentry_provider.py
Due: black

fix: remove tags from sentry for now (#479)
  keep/providers/sentry_provider/sentry_provider.py
Due: black

fix(prom): lastReceived
  keep/providers/prometheus_provider/prometheus_provider.py
Due: black

fix(prom): enviornment
  keep/providers/prometheus_provider/prometheus_provider.py
Due: black

fix(prom): severity
  keep/providers/prometheus_provider/prometheus_provider.py
Due: black

fix(prom): last received
  keep/providers/prometheus_provider/prometheus_provider.py
Due: black

chore(logs): remove intializing nextauthprovider
  keep-ui/app/auth-provider.tsx
Due: none

fix(sentry): datetimes
  keep/providers/sentry_provider/sentry_provider.py
Due: black

chore(deps): remove axios
  keep-ui/package-lock.json
  keep-ui/package.json
Due: none

modifications: regenerated poetry lock.
  poetry.lock
Due: none

modifications: removed prints, changed description
  keep/providers/newrelic_provider/newrelic_provider.py
Due: black

chore: wip
  keep-ui/app/alerts/alerts-table-body.tsx
  keep-ui/app/alerts/alerts.tsx
  keep-ui/app/loading.tsx
  keep/api/models/alert.py
  keep/providers/auth0_provider/auth0_provider.py
  keep/providers/axiom_provider/axiom_provider.py
  keep/providers/datadog_provider/datadog_provider.py
  keep/providers/dynatrace_provider/dynatrace_provider.py
  keep/providers/grafana_provider/grafana_provider.py
  keep/providers/newrelic_provider/newrelic_provider.py
  keep/providers/pagerduty_provider/pagerduty_provider.py
  keep/providers/parseable_provider/parseable_provider.py
  keep/providers/prometheus_provider/prometheus_provider.py
  keep/providers/sentry_provider/sentry_provider.py
Due: black

chore: wip
  keep/providers/zabbix_provider/zabbix_provider.py
  tests/test_alert_dto.py
Due: black

modifications: complete test on ui,format alert changes.
  keep/providers/newrelic_provider/newrelic_provider.py
Due: black

fix(zabbix): tags
  keep/providers/zabbix_provider/zabbix_provider.py
Due: black

fix(sentry): much better now
  keep-ui/app/alerts/alerts-table-body.tsx
  keep-ui/app/alerts/models.tsx
  keep/api/models/alert.py
  keep/providers/sentry_provider/sentry_provider.py
Due: black

feat(providers): 467 adopt fingerprints (#476)
  docs/mint.json
  docs/providers/documentation/datadog-provider.mdx
  docs/providers/fingerprints.mdx
  docs/providers/overview.mdx
  keep-ui/app/alerts/alert-method-transition.tsx
  keep-ui/app/alerts/alerts-table-body.tsx
  keep-ui/app/alerts/alerts.tsx
  keep-ui/app/alerts/layout.tsx
  keep-ui/app/alerts/models.tsx
  keep-ui/app/auth-provider.tsx
  keep-ui/app/loading.tsx
  keep-ui/app/providers/provider-tile.tsx
  keep-ui/package-lock.json
  keep-ui/package.json
  keep-ui/tailwind.config.js
  keep/api/models/alert.py
  keep/api/routes/alerts.py
  keep/providers/auth0_provider/auth0_provider.py
  keep/providers/axiom_provider/axiom_provider.py
  keep/providers/base/base_provider.py
  keep/providers/datadog_provider/datadog_provider.py
  keep/providers/dynatrace_provider/dynatrace_provider.py
  keep/providers/grafana_provider/grafana_provider.py
  keep/providers/newrelic_provider/newrelic_provider.py
  keep/providers/pagerduty_provider/pagerduty_provider.py
  keep/providers/parseable_provider/parseable_provider.py
  keep/providers/prometheus_provider/prometheus_provider.py
  keep/providers/providers_factory.py
  keep/providers/sentry_provider/sentry_provider.py
  keep/providers/zabbix_provider/zabbix_provider.py
  tests/test_alert_dto.py
Due: black

fix(ui): scopes updated after revalidate
  keep-ui/app/providers/provider-form.tsx
Due: none

fix(ui): scopes updated after revalidate (#486)
  keep-ui/app/providers/provider-form.tsx
Due: none

fix(api): no token provided
  keep/api/core/dependencies.py
Due: black

fix(api): no token provided (#487)
  keep/api/core/dependencies.py
Due: black

modifcations: removed test imports, logs
  keep/providers/newrelic_provider/newrelic_provider.py
Due: black

chore: response compression when available and some spans
  keep/api/api.py
  keep/providers/base/base_provider.py
  keep/providers/datadog_provider/datadog_provider.py
  keep/providers/dynatrace_provider/dynatrace_provider.py
  keep/providers/grafana_provider/grafana_provider.py
  keep/providers/newrelic_provider/newrelic_provider.py
  keep/providers/pagerduty_provider/pagerduty_provider.py
  keep/providers/prometheus_provider/prometheus_provider.py
  keep/providers/sentry_provider/sentry_provider.py
  keep/providers/zabbix_provider/zabbix_provider.py
  keep/secretmanager/gcpsecretmanager.py
Due: black

chore: add deps and enable Cloud Trace exporter
  keep/api/observability.py
  poetry.lock
  pyproject.toml
Due: black

feat: works e2e
  examples/workflows/blogpost.yml
  keep/api/core/db.py
  keep/api/routes/providers.py
  keep/api/routes/workflows.py
  keep/cli/cli.py
  keep/iohandler/iohandler.py
  keep/providers/base/base_provider.py
  keep/providers/mysql_provider/mysql_provider.py
  keep/providers/servicenow_provider/servicenow_provider.py
  keep/step/step.py
  keep/workflowmanager/workflow.py
  keep/workflowmanager/workflowmanager.py
Due: black, check-yaml

chore: response compression when available and some spans (#488)
  keep/api/api.py
  keep/api/observability.py
  keep/providers/base/base_provider.py
  keep/providers/datadog_provider/datadog_provider.py
  keep/providers/dynatrace_provider/dynatrace_provider.py
  keep/providers/grafana_provider/grafana_provider.py
  keep/providers/newrelic_provider/newrelic_provider.py
  keep/providers/pagerduty_provider/pagerduty_provider.py
  keep/providers/prometheus_provider/prometheus_provider.py
  keep/providers/sentry_provider/sentry_provider.py
  keep/providers/zabbix_provider/zabbix_provider.py
  keep/secretmanager/gcpsecretmanager.py
  poetry.lock
  pyproject.toml
Due: black

chore: sampler always on
  keep/api/observability.py
Due: black

chore: sampler always on (#489)
  keep/api/observability.py
Due: black

feat: fixes
  examples/workflows/blogpost.yml
  keep-ui/app/settings/api-key-settings.tsx
  keep/cli/cli.py
  keep/providers/datadog_provider/datadog_provider.py
  keep/providers/servicenow_provider/servicenow_provider.py
Due: black, check-yaml

feat: minor
  examples/workflows/blogpost.yml
Due: check-yaml

feat: add docs
  docs/images/settings_apikey.png
  docs/images/settings_smtp.png
  docs/images/settings_users.png
  docs/images/settings_webhook.png
  docs/platform/settings.mdx
Due: none

feat: make updated_by optional
  keep/api/models/db/workflow.py
Due: black

fix: revert grafana fingerprint adoption
  keep/providers/grafana_provider/grafana_provider.py
Due: black

fix: revert the revert
  keep/providers/grafana_provider/grafana_provider.py
Due: black
