Repository keephq/keep: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, check-yaml

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: black
        name: black
        entry: black
        language: system
        types: [python]
        require_serial: true
      - id: check-added-large-files
        name: Check for added large files
        entry: check-added-large-files
        language: system
      - id: check-yaml
        name: Check Yaml
        entry: check-yaml
        language: system
        types: [yaml]
      - id: end-of-file-fixer
        name: Fix End of Files
        entry: end-of-file-fixer
        language: system
        types: [text]
        stages: [commit, push, manual]
      - id: isort
        name: isort
        entry: isort
        require_serial: true
        language: system
        types_or: [cython, pyi, python]
        args: ["--filter-files", "--profile", "black"]
      - id: trailing-whitespace
        name: Trim Trailing Whitespace
        entry: trailing-whitespace-fixer
        language: system
        types: [text]
        stages: [commit, push, manual]
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v2.6.0
    hooks:
      - id: prettier
  - repo: https://github.com/compilerla/conventional-pre-commit
    rev: v2.1.1
    hooks:
      - id: conventional-pre-commit
        stages: [commit-msg]
        args: [] # optional: list of Conventional Commits types to allow e.g. [feat, fix, ci, chore, test]

fix: fix
  examples/workflows/simple_http_request_ntfy.yml
Due: check-yaml

feat: tests
  .github/workflows/test-pr.yml
Due: check-yaml

feat: tests
  .github/workflows/test-pr.yml
  keycloak/keycloak_entrypoint.sh
  tests/Dockerfile.keycloak.test
  tests/docker-compose-keycloak.yml
  tests/keycloak-test-realm-export.json
Due: check-yaml

feat: wip
  keycloak/keycloak_entrypoint.sh
  tests/docker-compose-keycloak.yml
Due: check-yaml

chore: wip
  keep-ui/app/blackout/blackout.tsx
  keep-ui/app/blackout/create-or-update-blackout-rule.tsx
  keep-ui/app/blackout/layout.tsx
  keep-ui/app/extraction/extraction.tsx
  keep-ui/app/extraction/layout.tsx
  keep-ui/app/mapping/layout.tsx
  keep-ui/app/mapping/mapping.tsx
Due: none

feat: added trigger inputs in the flow itself.
  keep-ui/app/workflows/builder/CustomEdge.tsx
  keep-ui/app/workflows/builder/CustomNode.tsx
  keep-ui/app/workflows/builder/NodeMenu.tsx
  keep-ui/app/workflows/builder/ReactFlowEditor.tsx
  keep-ui/app/workflows/builder/ToolBox.tsx
  keep-ui/app/workflows/builder/builder-store.tsx
  keep-ui/app/workflows/builder/editors.tsx
  keep-ui/app/workflows/builder/utils.tsx
  keep-ui/utils/hooks/useWorkflowInitialization.ts
  keep-ui/utils/reactFlow.ts
Due: none

feat: a
  tests/conftest.py
Due: black

fix: trigger input issue reoslved
  keep-ui/app/workflows/builder/builder-store.tsx
  keep-ui/app/workflows/builder/utils.tsx
Due: none

chore:remove commented code and unwanted logs
  keep-ui/app/workflows/builder/editors.tsx
  keep-ui/utils/reactFlow.ts
Due: none

summary generation moved to a separate pool
  ee/experimental/incident_utils.py
  keep/api/arq_pool.py
  keep/api/arq_worker.py
  keep/api/core/db.py
  keep/api/routes/alerts.py
  keep/api/tasks/process_background_ai_task.py
  keep/api/utils/import_ee.py
Due: black

remove unused import from arq_worker.py
  keep/api/arq_worker.py
Due: black

delete unused imports from incident_utils.py and arq_worker.py
  ee/experimental/incident_utils.py
  keep/api/arq_worker.py
Due: black

add generate_update_incident_summary as NotImplemented to import_ee.py
  keep/api/utils/import_ee.py
Due: black

0.22.0
  pyproject.toml
Due: none

chore: wip, crud working
  .github/workflows/release.yml
  keep-ui/app/blackout/blackout-table.tsx
  keep-ui/app/blackout/blackout.tsx
  keep-ui/app/blackout/create-or-update-blackout-rule.tsx
  keep-ui/app/blackout/page.tsx
  keep-ui/app/extraction/extraction.tsx
  keep/api/models/db/blackout.py
  keep/api/routes/blackout.py
Due: black, check-yaml

chore:fix the lint issues
  keep-ui/utils/reactFlow.ts
Due: none

feat: openobserve improvements
  keep/providers/openobserve_provider/openobserve_provider.py
Due: black

fix:fix build es lint issue
  keep-ui/utils/reactFlow.ts
Due: none

feat: oo improve
  keep/providers/openobserve_provider/openobserve_provider.py
Due: black

feat(provider): open observe improvements (#1745)
  keep/providers/openobserve_provider/openobserve_provider.py
Due: black

Basic prometheus exporter
  keep/api/api.py
  keep/api/routes/metrics.py
  poetry.lock
  pyproject.toml
  tests/test_metrics.py
Due: black

Changes requested in PR comments
  ee/experimental/incident_utils.py
  keep/api/arq_worker.py
  keep/api/tasks/process_background_ai_task.py
  keep/api/utils/import_ee.py
Due: black

Drop excessive lib
  keep/api/routes/metrics.py
  poetry.lock
  pyproject.toml
Due: black

feat: wip
  tests/test_auth.py
  tests/test_keycloak.py
Due: black

fix: json
  examples/workflows/http_example.yml
  keep/functions/__init__.py
Due: black, check-yaml

fix: json
  examples/workflows/http_example.yml
Due: check-yaml

fix: json (#1749)
  examples/workflows/http_example.yml
  keep/functions/__init__.py
Due: black, check-yaml

Updating mintlify
  docs/api-ref/ai/create-alert.mdx
  docs/api-ref/ai/repair-alert.mdx
  docs/api-ref/alerts/get-alert-audit.mdx
  docs/api-ref/alerts/unenrich-alert.mdx
  docs/api-ref/dashboard/create-dashboard.mdx
  docs/api-ref/dashboard/delete-dashboard.mdx
  docs/api-ref/dashboard/read-dashboards.mdx
  docs/api-ref/dashboard/update-dashboard.mdx
  docs/api-ref/groups/get-groups.mdx
  docs/api-ref/incidents/add-alerts-to-incident.mdx
  docs/api-ref/incidents/create-incident-endpoint.mdx
  docs/api-ref/incidents/delete-alerts-from-incident.mdx
  docs/api-ref/incidents/delete-incident.mdx
  docs/api-ref/incidents/get-all-incidents.mdx
  docs/api-ref/incidents/get-incident-alerts.mdx
  docs/api-ref/incidents/get-incident.mdx
  docs/api-ref/incidents/update-incident-1.mdx
  docs/api-ref/incidents/update-incident.mdx
  docs/api-ref/metrics/get-metrics.mdx
  docs/api-ref/preset/create-preset-tab.mdx
  docs/api-ref/preset/delete-tab.mdx
  docs/api-ref/preset/get-preset-alerts.mdx
  docs/api-ref/providers/get-alert-count.mdx
  docs/api-ref/tags/get-tags.mdx
  docs/api-ref/topology/get-topology-data.mdx
  docs/api-ref/workflows/create-workflow-from-body.mdx
  docs/api-ref/workflows/get-random-workflow-templates.mdx
  docs/generate_readme_from_openapijson.sh
  docs/openapi.json
  docs/platform/metrics.mdx
  keep/api/routes/ai.py
  keep/api/routes/incidents.py
Due: black

refactor: move summary generation to a separate pool (#1742)
  ee/experimental/incident_utils.py
  keep/api/arq_pool.py
  keep/api/arq_worker.py
  keep/api/core/db.py
  keep/api/routes/alerts.py
  keep/api/tasks/process_background_ai_task.py
  keep/api/utils/import_ee.py
Due: black

fix enqueue job error
  ee/experimental/incident_utils.py
Due: black

typo-induced indentation removed
  ee/experimental/incident_utils.py
Due: black

fix: handle enqueue_job error (#1752)
  ee/experimental/incident_utils.py
Due: black

Fixed broken links, added missing files to the nav
  docs/cli/commands/extraction-create.mdx
  docs/cli/commands/mappings-create.mdx
  docs/development/getting-started.mdx
  docs/development/installation.mdx
  docs/development/overview.mdx
  docs/generate_readme_from_openapijson.sh
  docs/mint.json
  docs/overview/keyconcepts.mdx
  docs/platform/alerts.mdx
  docs/platform/metrics.mdx
  docs/platform/overview.mdx
  docs/platform/providers.mdx
  docs/platform/workflowbuilder.mdx
  docs/platform/workflows.mdx
  docs/providers/documentation/pingdom-provider.mdx
  docs/providers/overview.mdx
  docs/validate_mint_json.sh
  docs/workflows/conditions/what-is-a-condition.mdx
  docs/workflows/functions/datetime-compare.mdx
  docs/workflows/functions/diff.mdx
  docs/workflows/state.mdx
  docs/workflows/syntax/basic-syntax.mdx
  docs/workflows/syntax/context-syntax.mdx
  docs/workflows/throttles/what-is-a-throttle.mdx
  docs/workflows/ui/getting-started.mdx
Due: none
