Repository keephq/keep: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, check-yaml

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: black
        name: black
        entry: black
        language: system
        types: [python]
        require_serial: true
      - id: check-added-large-files
        name: Check for added large files
        entry: check-added-large-files
        language: system
      - id: check-yaml
        name: Check Yaml
        entry: check-yaml
        language: system
        types: [yaml]
      - id: end-of-file-fixer
        name: Fix End of Files
        entry: end-of-file-fixer
        language: system
        types: [text]
        stages: [commit, push, manual]
      - id: isort
        name: isort
        entry: isort
        require_serial: true
        language: system
        types_or: [cython, pyi, python]
        args: ["--filter-files", "--profile", "black"]
      - id: trailing-whitespace
        name: Trim Trailing Whitespace
        entry: trailing-whitespace-fixer
        language: system
        types: [text]
        stages: [commit, push, manual]
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v2.6.0
    hooks:
      - id: prettier
  - repo: https://github.com/compilerla/conventional-pre-commit
    rev: v2.1.1
    hooks:
      - id: conventional-pre-commit
        stages: [commit-msg]
        args: [] # optional: list of Conventional Commits types to allow e.g. [feat, fix, ci, chore, test]

feat: tests
  tests/test_auth.py
Due: black

feat: minor fix
  tests/conftest.py
Due: black

chore(deps): uppdate posthog
  keep-ui/package-lock.json
  keep-ui/package.json
Due: none

fix: remove always on sampler
  keep/api/observability.py
Due: black

chore: improve get-alerts efficiency (#698)
  chart/keep/values.yaml
  docker-compose-with-auth.yml
  docker-compose.common.yml
  docker/Dockerfile.ui
  docs/development/getting-started.mdx
  keep-ui/app/alerts/alert-actions.tsx
  keep-ui/app/alerts/alert-extra-payload.tsx
  keep-ui/app/alerts/alert-history-charts.tsx
  keep-ui/app/alerts/alert-history.tsx
  keep-ui/app/alerts/alert-menu.tsx
  keep-ui/app/alerts/alert-pagination.tsx
  keep-ui/app/alerts/alert-table-checkbox.tsx
  keep-ui/app/alerts/alert-table.tsx
  keep-ui/app/alerts/alerts.client.tsx
  keep-ui/app/alerts/alerts.tsx
  keep-ui/app/alerts/models.tsx
  keep-ui/middleware.tsx
  keep-ui/package-lock.json
  keep-ui/package.json
  keep-ui/pages/api/config.tsx
  keep-ui/types/internal-config.ts
  keep-ui/utils/fatigue.ts
  keep/api/core/db.py
  keep/api/models/alert.py
  keep/api/observability.py
  keep/api/routes/alerts.py
  keep/providers/base/base_provider.py
  keep/providers/providers_factory.py
Due: black, check-yaml

fix(pusher): host and port not mandatory
  keep-ui/app/alerts/alerts.client.tsx
  keep-ui/pages/api/config.tsx
  keep-ui/types/internal-config.ts
Due: none

fix(pusher): host and port not mandatory (#703)
  keep-ui/app/alerts/alerts.client.tsx
  keep-ui/pages/api/config.tsx
  keep-ui/types/internal-config.ts
Due: none

feat: more tests
  keep/api/core/dependencies.py
  tests/test_auth.py
Due: black

fix: alert enrichment alert_fingerprint
  keep/providers/base/base_provider.py
Due: black

fix: alert enrichment alert_fingerprint (#704)
  keep/providers/base/base_provider.py
Due: black

feat: tests
  keep/api/core/dependencies.py
  tests/test_auth.py
Due: black

feat: tests for auth (#701)
  keep/api/core/dependencies.py
  tests/conftest.py
  tests/test_auth.py
Due: black

feat:add `Node` and `Python` examples
  keep-ui/app/settings/webhook-settings.tsx
Due: none

feat: Different API languages in `webhook-settings` (#687)
  keep-ui/app/settings/webhook-settings.tsx
Due: none

added ability for labels and custom fields
  keep/providers/jira_provider/jira_provider.py
  keep/providers/jiraonprem_provider/jiraonprem_provider.py
Due: black

Revert "added ability for labels and custom fields"
  keep/providers/jira_provider/jira_provider.py
  keep/providers/jiraonprem_provider/jiraonprem_provider.py
Due: black

added labels and custom fields for jira provider
  keep/providers/jira_provider/jira_provider.py
  keep/providers/jiraonprem_provider/jiraonprem_provider.py
Due: black

check grafana version and if it is less then 9.4.7 send api_key as query param
  keep/providers/grafana_provider/grafana_provider.py
Due: black

added the changes
  keep/providers/jira_provider/jira_provider.py
  keep/providers/jiraonprem_provider/jiraonprem_provider.py
Due: black

cleanup
  keep/providers/jira_provider/jira_provider.py
Due: black

feat: minor fixes
  keep/providers/grafana_provider/README.md
  keep/providers/grafana_provider/grafana_provider.py
Due: black

cleanup
  keep/providers/jiraonprem_provider/jiraonprem_provider.py
Due: black

feat: typo
  keep/providers/grafana_provider/grafana_provider.py
Due: black

fix: Grafana auth pre 9.4.7 fix (#707)
  keep/providers/grafana_provider/README.md
  keep/providers/grafana_provider/grafana_provider.py
Due: black

feat: Ability to set labels or custom fields like Component/s when creating Jira ticket (#706)
  keep/providers/jira_provider/jira_provider.py
  keep/providers/jiraonprem_provider/jiraonprem_provider.py
Due: black

fix: pushed alerts to be replaced if timestamp is more recent
  keep-ui/app/alerts/alerts.tsx
Due: none

fix: try fix logging dump
  keep/api/logging.py
Due: black

fix: better way to check if dbworkflowhandler
  keep/api/logging.py
Due: black

fix: pushed alerts to be replaced if timestamp is more recent (#709)
  keep-ui/app/alerts/alerts.tsx
  keep/api/logging.py
Due: black

fix: leak
  keep/api/logging.py
Due: black
