Repository keephq/keep: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, check-yaml

black:
  name: black
  entry: black
  language: system
  require_serial: true

check-yaml:
  name: Check Yaml
  entry: check-yaml
  language: system

Update docs/overview/comparison.mdx
  docs/overview/comparison.mdx
Due: none

Updating the list of things Keep solves
  docs/overview/introduction.mdx
Due: none

Rename script
  scripts/get_providers_list.py
Due: black

Remove old info
  docs/overview/introduction.mdx
Due: none

feat: chnage status from menu
  .gitignore
  keep-ui/app/alerts/alert-change-status-modal.tsx
  keep-ui/app/alerts/alert-menu.tsx
  keep-ui/app/alerts/alert-table-tab-panel.tsx
  keep-ui/app/alerts/alert-table-utils.tsx
  keep-ui/app/alerts/alerts.tsx
  keep-ui/app/alerts/models.tsx
Due: none

feat: some change
  keep-ui/app/alerts/alert-change-status-modal.tsx
Due: none

CR
  .gitignore
  keep/api/core/db.py
  keep/api/routes/workflows.py
Due: black

Last touches
  docs/overview/comparison.mdx
  docs/providers/documentation/slack-provider.mdx
  scripts/get_providers_list.py
Due: black

aks_basic.yml has been updated (#1241)
  examples/workflows/aks_basic.yml
Due: check-yaml

Fix gitignore
  .gitignore
Due: none

Fix titles
  docs/overview/comparison.mdx
Due: none

Revert "fix: Optimize UI for smaller screens"
  keep-ui/app/extraction/extraction.tsx
  keep-ui/app/providers/provider-form.tsx
  keep-ui/app/providers/provider-tile.tsx
  keep-ui/app/rules/CorrelationPlaceholder.tsx
  keep-ui/app/rules/PlaceholderSankey.tsx
  keep-ui/app/settings/webhook-settings.tsx
Due: none

Slack Provider
  docs/providers/documentation/slack-provider.mdx
Due: none

Reverting Slack changes
  docs/providers/documentation/slack-provider.mdx
Due: none

Script update
  scripts/get_providers_list.py
Due: black

docs(competition): Competition clarification (#1239)
  .gitignore
  docs/README.md
  docs/overview/comparison.mdx
  docs/overview/introduction.mdx
  docs/providers/documentation/centreon-provider.mdx
  docs/providers/documentation/ilert-provider.mdx
  docs/providers/documentation/incidentmanager-provider.mdx
  docs/providers/documentation/netdata-provider.mdx
  docs/providers/documentation/ntfy-provider.mdx
  docs/providers/documentation/rollbar-provider.mdx
  docs/providers/documentation/statuscake-provider.mdx
  docs/providers/documentation/uptimekuma-provider.mdx
  docs/providers/documentation/victoriametrics-provider.mdx
  scripts/get_providers_list.py
Due: black

docs: update aks_basic workflow example (#1242)
  examples/workflows/aks_basic.yml
Due: check-yaml

feat: dark mode improvements
  keep-ui/app/alerts/alert-assign-ticket-modal.tsx
  keep-ui/app/dark-mode-toggle.tsx
  keep-ui/components/LinkWithIcon.tsx
  keep-ui/components/icons/index.tsx
  keep-ui/components/navbar/AlertsLinks.tsx
  keep-ui/components/navbar/CustomPresetAlertLinks.tsx
  keep-ui/components/navbar/NoiseReductionLinks.tsx
  keep-ui/components/navbar/Search.tsx
  keep-ui/components/navbar/UserInfo.tsx
  keep-ui/tailwind.config.js
Due: none

feat: make build pass
  keep-ui/app/providers/provider-tile.tsx
  keep-ui/components/navbar/CustomPresetAlertLinks.tsx
Due: none

feat: make build pass
  keep-ui/app/rules/PlaceholderSankey.tsx
Due: none

feat(ui): dark mode improvements (#1245)
  keep-ui/app/alerts/alert-assign-ticket-modal.tsx
  keep-ui/app/alerts/alert-change-status-modal.tsx
  keep-ui/app/dark-mode-toggle.tsx
  keep-ui/app/providers/provider-tile.tsx
  keep-ui/app/rules/PlaceholderSankey.tsx
  keep-ui/components/LinkWithIcon.tsx
  keep-ui/components/icons/index.tsx
  keep-ui/components/navbar/AlertsLinks.tsx
  keep-ui/components/navbar/CustomPresetAlertLinks.tsx
  keep-ui/components/navbar/NoiseReductionLinks.tsx
  keep-ui/components/navbar/Search.tsx
  keep-ui/components/navbar/UserInfo.tsx
  keep-ui/tailwind.config.js
Due: none

fix: json should contain the 3.0.2 version instead
  docs/generate_readme_from_openapijson.sh
  docs/openapi.json
Due: none

feat: wip
  superset/docker-compose.yml
Due: check-yaml

feat: gitignore
  .gitignore
Due: none

feat: poetry
  poetry.lock
Due: none

feat: wip
  superset/Dockerfile
  superset/docker-compose.yml
  superset/superset_config.py
Due: black, check-yaml

fix: linearb
  keep/providers/linearb_provider/linearb_provider.py
Due: black

fix: linearb (#1254)
  keep/providers/linearb_provider/linearb_provider.py
Due: black

feat: add missing endpoints
  docs/mint.json
Due: none

fix: z-index issue on remaining badge
  keep-ui/components/navbar/CustomPresetAlertLinks.tsx
Due: none

fix: button width and button display based on flow
  keep-ui/app/workflows/builder/page.client.tsx
Due: none

feat: show specific errors even when failure is during parsing phase
  keep-ui/app/workflows/builder/builder-workflow-testrun-modal.tsx
  keep-ui/app/workflows/builder/builder.tsx
  keep-ui/app/workflows/builder/types.tsx
  keep/api/routes/workflows.py
Due: black

Path conditions:
  black: any of: \.py$
  check-yaml: any of: \.(yaml|yml)$
