Repository keephq/keep: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, check-yaml

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: black
        name: black
        entry: black
        language: system
        types: [python]
        require_serial: true
      - id: check-added-large-files
        name: Check for added large files
        entry: check-added-large-files
        language: system
      - id: check-yaml
        name: Check Yaml
        entry: check-yaml
        language: system
        types: [yaml]
      - id: end-of-file-fixer
        name: Fix End of Files
        entry: end-of-file-fixer
        language: system
        types: [text]
        stages: [commit, push, manual]
      - id: isort
        name: isort
        entry: isort
        require_serial: true
        language: system
        types_or: [cython, pyi, python]
        args: ["--filter-files", "--profile", "black"]
      - id: trailing-whitespace
        name: Trim Trailing Whitespace
        entry: trailing-whitespace-fixer
        language: system
        types: [text]
        stages: [commit, push, manual]
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v2.6.0
    hooks:
      - id: prettier
  - repo: https://github.com/compilerla/conventional-pre-commit
    rev: v2.1.1
    hooks:
      - id: conventional-pre-commit
        stages: [commit-msg]
        args: [] # optional: list of Conventional Commits types to allow e.g. [feat, fix, ci, chore, test]

feat: bit better logs
  keep/cli/cli.py
Due: black

feat: bit better logs (#41)
  keep/cli/cli.py
Due: black

feat: add -j flag to allow json logs
  keep/cli/cli.py
  pyproject.toml
Due: black

feat: add -j flag to allow json logs (#42)
  keep/cli/cli.py
  pyproject.toml
Due: black

Python language updates
  keep/action/action.py
  keep/alert/alert.py
  keep/cli/cli.py
  keep/conditions/base_condition.py
  keep/conditions/condition_factory.py
  keep/conditions/threshold_condition.py
  keep/contextmanager/contextmanager.py
  keep/functions/__init__.py
  keep/iohandler/iohandler.py
  keep/parser/parser.py
  keep/providers/base/base_provider.py
  keep/providers/console_provider/console_provider.py
  keep/providers/elastic_provider/elastic_provider.py
  keep/providers/logfile_provider/logfile_provider.py
  keep/providers/mock_provider/mock_provider.py
  keep/providers/mysql_provider/mysql_provider.py
  keep/providers/newrelic_provider/newrelic_provider.py
  keep/providers/providers_factory.py
  keep/providers/sentry_provider/sentry_provider.py
  keep/providers/slack_provider/slack_provider.py
  keep/providers/snowflake_provider/snowflake_provider.py
  keep/providers/ssh_provider/ssh_provider.py
  keep/step/step.py
Due: black

Update cli.py
  keep/cli/cli.py
Due: black

What is a Provider - typo/grammar
  docs/docs/providers/what-is-a-provider.md
Due: none

Docs: What is a Provider - typo/grammar (#44)
  docs/docs/providers/what-is-a-provider.md
Due: none

Fix typo
  README.md
Due: none

fix(typo): slack webhook in README (#45)
  README.md
Due: none

docs(cloudwatch): added template
  docs/docs/providers/documentation/cloudwatch.md
Due: none

feat(providers): aws cloudwatch logs & metrics - WIP
  docs/docs/providers/documentation/cloudwatch-logs.md
  docs/docs/providers/documentation/cloudwatch-metrics.md
  examples/alerts/service_5xx.yml
  keep/providers/cloudwatch_provider/__init__.py
  keep/providers/cloudwatch_provider/cloudwatch_provider.py
  keep/providers/providers_factory.py
  pyproject.toml
Due: black, check-yaml

feat: wip
  keep/providers/cloudwatch_provider/cloudwatch_provider.py
Due: black

fix: aws_client_type
  keep/providers/cloudwatch_provider/cloudwatch_provider.py
Due: black

fix: raise NotImplementedError for CloudwatchMetricsProvider
  keep/providers/cloudwatch_provider/cloudwatch_provider.py
Due: black

fix: remove redundant example alert
  examples/alerts/service_5xx.yml
Due: check-yaml

feat: add dockerfile
  Dockerfile
  README.md
  docs/docs/quick-start.md
Due: none

docs: created docs
  docs/docs/providers/documentation/cloudwatch-logs.md
  docs/docs/providers/documentation/cloudwatch-metrics.md
  keep/providers/cloudwatch_provider/cloudwatch_provider.py
Due: black

feat: add dockerfile (#47)
  Dockerfile
  README.md
  docs/docs/quick-start.md
Due: none

fix: fix the docker docs
  README.md
Due: none

[WIP] Feature/AWS CloudWatch Providers (#46)
  docs/docs/providers/documentation/cloudwatch-logs.md
  docs/docs/providers/documentation/cloudwatch-metrics.md
  keep/providers/cloudwatch_provider/__init__.py
  keep/providers/cloudwatch_provider/cloudwatch_provider.py
  keep/providers/providers_factory.py
  pyproject.toml
Due: black

feat: add Pushover as a provider
  examples/alerts/db_disk_space_pushover.yml
  keep/providers/pushover_provider/__init__.py
  keep/providers/pushover_provider/pushover_provider.py
Due: black, check-yaml

feat: fixing some minor things
  keep/providers/pushover_provider/pushover_provider.py
Due: black

feat: add Pushover as a provider (#50)
  examples/alerts/db_disk_space_pushover.yml
  keep/providers/pushover_provider/__init__.py
  keep/providers/pushover_provider/pushover_provider.py
Due: black, check-yaml

feat: add Pushover docs
  docs/docs/providers/documentation/pushover.md
  docs/docs/providers/documentation/pushover_api_token.jpg
  docs/docs/providers/documentation/pushover_user_key.jpg
Due: none

feat: http provider, wip
  examples/alerts/simple_http_request_ntfy.yml
  keep/providers/http_provider/__init__.py
  keep/providers/http_provider/http_provider.py
Due: black, check-yaml

fix: small refactor to parser and http provider
  keep/alert/alert.py
  keep/parser/parser.py
  keep/providers/http_provider/http_provider.py
Due: black

fix: remove redundant code from http provider
  keep/providers/http_provider/http_provider.py
Due: black

docs: add http provioder docs
  docs/docs/providers/documentation/http.md
Due: none

48 missing ntfy as notification provider (#53)
  docs/docs/providers/documentation/http.md
  examples/alerts/simple_http_request_ntfy.yml
  keep/alert/alert.py
  keep/parser/parser.py
  keep/providers/http_provider/__init__.py
  keep/providers/http_provider/http_provider.py
Due: black, check-yaml
