Repository keephq/keep: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, check-yaml

black:
  name: black
  entry: black
  language: system
  require_serial: true

check-yaml:
  name: Check Yaml
  entry: check-yaml
  language: system

fix(provider): sentry to keep exception details as well (#847)
  keep/providers/jiraonprem_provider/jiraonprem_provider.py
  keep/providers/sentry_provider/sentry_provider.py
Due: black

fix: docker compose dev
  docker-compose.common.yml
  keep/api/core/config.py
Due: black, check-yaml

fix: docker compose dev (#848)
  docker-compose.common.yml
  keep/api/core/config.py
Due: black, check-yaml

fix(ui): redirect when clicking workflow execution in alert name
  keep-ui/app/alerts/alert-name.tsx
Due: none

fix(ui): another one
  keep-ui/app/alerts/alert-name.tsx
Due: none

fix(ui): redirect when clicking workflow execution in alert name (#849)
  keep-ui/app/alerts/alert-name.tsx
Due: none

fix: tests
  keep/api/models/db/alert.py
Due: black

fix(provider): sentry to take weburl first
  keep/providers/sentry_provider/sentry_provider.py
Due: black

fix(provider): sentry to take weburl first (#850)
  keep/providers/sentry_provider/sentry_provider.py
Due: black

feat(io_handler): add json_dumps function to pretty print jsons
  keep/functions/__init__.py
Due: black

chore: add tests
  tests/test_iohandler.py
Due: black

feat(io_handler): add json_dumps function to pretty print jsons (#851)
  keep/functions/__init__.py
  tests/test_iohandler.py
Due: black

fix(ui): tooltips in provider form & datadog domain
  keep-ui/app/providers/provider-form.css
  keep-ui/app/providers/provider-form.tsx
  keep-ui/app/providers/providers.css
  keep/providers/datadog_provider/datadog_provider.py
Due: black

chore: set max width
  keep-ui/app/providers/provider-form.css
Due: none

fix(ui): tooltips in provider form & datadog domain (#852)
  keep-ui/app/providers/provider-form.css
  keep-ui/app/providers/provider-form.tsx
  keep-ui/app/providers/providers.css
  keep/providers/datadog_provider/datadog_provider.py
Due: black

feat: more tests and fixes
  keep/rulesengine/rulesengine.py
  tests/test_rules_engine.py
Due: black

feat: more tests and fixes (#853)
  keep/rulesengine/rulesengine.py
  tests/test_rules_engine.py
Due: black

feat: add mailchimp provider
  README.md
  docs/providers/documentation/mailchimp-provider.mdx
  keep-ui/public/icons/mailchimp-icon.png
  keep/providers/mailchimp_provider/__init__.py
  keep/providers/mailchimp_provider/mailchimp_provider.py
  poetry.lock
  pyproject.toml
Due: black

ref: fix docs typo
  docs/providers/documentation/mailchimp-provider.mdx
Due: none

feat: conditional user assignment in preset update
  keep-ui/app/alerts/alert-presets.tsx
  keep-ui/app/alerts/models.tsx
Due: none

feat: add mailchimp provider (#855)
  README.md
  docs/providers/documentation/mailchimp-provider.mdx
  keep-ui/public/icons/mailchimp-icon.png
  keep/providers/mailchimp_provider/__init__.py
  keep/providers/mailchimp_provider/mailchimp_provider.py
  poetry.lock
  pyproject.toml
Due: black

fix(ui): self-assign was hidden when assigned
  keep-ui/app/alerts/alert-menu.tsx
Due: none

docs: todo
  keep-ui/app/alerts/alert-menu.tsx
Due: none

fix(ui): self-assign was hidden when assigned (#856)
  keep-ui/app/alerts/alert-menu.tsx
Due: none

fix(ui): webhook installation and duplicate provider name
  keep-ui/app/providers/provider-form.tsx
  keep/api/routes/providers.py
Due: black

fix(ui): webhook installation and duplicate provider name (#857)
  keep-ui/app/providers/provider-form.tsx
  keep/api/routes/providers.py
Due: black

[MOD] changed logic to handle private preset [MOD] refactor is_global to is_private everywhere
  keep-ui/app/alerts/alert-presets.tsx
  keep/api/models/db/preset.py
  keep/api/routes/preset.py
Due: black

fix: control pool size from environment variable
  keep/api/alert_deduplicator/alert_deduplicator.py
  keep/api/core/db.py
Due: black

fix: support sqlite also
  keep/api/core/db.py
Due: black

[MOD] cahnged get statement for presets
  keep/api/routes/preset.py
Due: black

Path conditions:
  black: any of: \.py$
  check-yaml: any of: \.(yaml|yml)$
