Repository keephq/keep: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, check-yaml

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: black
        name: black
        entry: black
        language: system
        types: [python]
        require_serial: true
      - id: check-added-large-files
        name: Check for added large files
        entry: check-added-large-files
        language: system
      - id: check-yaml
        name: Check Yaml
        entry: check-yaml
        language: system
        types: [yaml]
      - id: end-of-file-fixer
        name: Fix End of Files
        entry: end-of-file-fixer
        language: system
        types: [text]
        stages: [commit, push, manual]
      - id: isort
        name: isort
        entry: isort
        require_serial: true
        language: system
        types_or: [cython, pyi, python]
        args: ["--filter-files", "--profile", "black"]
      - id: trailing-whitespace
        name: Trim Trailing Whitespace
        entry: trailing-whitespace-fixer
        language: system
        types: [text]
        stages: [commit, push, manual]
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v2.6.0
    hooks:
      - id: prettier
  - repo: https://github.com/compilerla/conventional-pre-commit
    rev: v2.1.1
    hooks:
      - id: conventional-pre-commit
        stages: [commit-msg]
        args: [] # optional: list of Conventional Commits types to allow e.g. [feat, fix, ci, chore, test]

feat: helm chart
  chart/keep/Chart.yaml
  chart/keep/templates/keep-backend-service.yaml
  chart/keep/templates/keep-backend.yaml
  chart/keep/templates/keep-frontend-service.yaml
  chart/keep/templates/keep-frontend.yaml
  chart/keep/values.yaml
  docker/Dockerfile.ui
  keep-ui/entrypoint.sh
  keep-ui/next_build.sh
Due: check-yaml

feat: add prom + basic query
  chart/keep/templates/keep-frontend.yaml
  chart/keep/values.yaml
  docker/Dockerfile.ui
  keep-ui/entrypoint.sh
Due: check-yaml

feat: last fixes
  chart/keep/values.yaml
Due: check-yaml

feat: last fixes
  chart/keep/Chart.yaml
Due: check-yaml

feat: helm chart (#212)
  chart/keep/Chart.yaml
  chart/keep/templates/keep-backend-service.yaml
  chart/keep/templates/keep-backend.yaml
  chart/keep/templates/keep-frontend-service.yaml
  chart/keep/templates/keep-frontend.yaml
  chart/keep/values.yaml
  docker/Dockerfile.ui
  keep-ui/entrypoint.sh
  keep-ui/next_build.sh
Due: check-yaml

feat: helm chart
  chart/keep/Chart.yaml
  chart/keep/templates/keep-frontend.yaml
  chart/keep/values.yaml
  docker/Dockerfile.dev.ui
  keep-ui/entrypoint.sh
  keep-ui/next.config.js
  keep-ui/next_build.sh
  keep-ui/package-lock.json
  keep-ui/package.json
Due: check-yaml

feat: kubernetes helm chart (#213)
  chart/keep/Chart.yaml
  chart/keep/templates/keep-frontend.yaml
  chart/keep/values.yaml
  docker/Dockerfile.dev.ui
  keep-ui/entrypoint.sh
  keep-ui/next.config.js
  keep-ui/next_build.sh
  keep-ui/package-lock.json
  keep-ui/package.json
Due: check-yaml

feat: helm docs
  chart/keep/README.md
  docs/platform/getting-started.mdx
  docs/platform/ui/getting-started.mdx
Due: none

feat: helm docs (#216)
  chart/keep/README.md
  docs/platform/getting-started.mdx
  docs/platform/ui/getting-started.mdx
Due: none

feat: add support for reverse proxy
  chart/keep/values.yaml
  keep-ui/next.config.js
  keep-ui/utils/apiUrl.ts
Due: check-yaml

feat: redundant change
  chart/keep/values.yaml
Due: check-yaml

feat: fix comments
  keep-ui/utils/apiUrl.ts
Due: none

feat: add support for reverse proxy (#217)
  chart/keep/values.yaml
  keep-ui/next.config.js
  keep-ui/utils/apiUrl.ts
Due: check-yaml

feat: get alerts from installed providers
  keep-ui/app/alerts/alerts.client.tsx
  keep-ui/public/icons/prometheus-icon.png
  keep/api/routes/alerts.py
  keep/api/routes/providers.py
  keep/providers/base/base_provider.py
  keep/providers/datadog_provider/datadog_provider.py
  keep/providers/grafana_provider/grafana_provider.py
  keep/providers/providers_factory.py
Due: black

chore: add text to connect providers
  keep-ui/app/alerts/alerts.client.tsx
Due: none

feat: dynamic alert page (#218)
  keep-ui/app/alerts/alerts.client.tsx
  keep-ui/public/icons/prometheus-icon.png
  keep/api/routes/alerts.py
  keep/api/routes/providers.py
  keep/providers/base/base_provider.py
  keep/providers/datadog_provider/datadog_provider.py
  keep/providers/grafana_provider/grafana_provider.py
  keep/providers/providers_factory.py
Due: black

fix: remove / from alerts endpoint
  keep/api/routes/alerts.py
Due: black

fix: verify_bearer_token instead verify_api_key
  keep/api/routes/alerts.py
Due: black

fix: add env
  docker/Dockerfile.ui
Due: none

fix: add env (#219)
  docker/Dockerfile.ui
Due: none

fix: other fixes
  chart/keep/templates/keep-frontend.yaml
  docker/Dockerfile.ui
Due: check-yaml

fix: api url env (#220)
  chart/keep/templates/keep-frontend.yaml
  docker/Dockerfile.ui
Due: check-yaml

fix: .
  docker/Dockerfile.ui
  keep-ui/entrypoint.sh
Due: none

fix: api url (#221)
  docker/Dockerfile.ui
  keep-ui/entrypoint.sh
Due: none

fix: api (#222)
  docker/Dockerfile.ui
  keep-ui/entrypoint.sh
Due: none

chore: some enhancements for @DmarshalTU
  keep-ui/app/alerts/alerts.client.tsx
  keep-ui/app/alerts/layout.tsx
  keep-ui/app/alerts/models.tsx
  keep-ui/app/providers/page.client.tsx
  keep-ui/app/providers/provider-tile.tsx
  keep-ui/app/providers/providers-installed.tsx
  keep/api/routes/providers.py
  keep/providers/grafana_provider/grafana_provider.py
  keep/providers/prometheus_provider/prometheus_provider.py
  keep/secretmanager/filesecretmanager.py
  keep/secretmanager/gcpsecretmanager.py
  keep/secretmanager/secretmanager.py
Due: black

chore: some enhancements for @DmarshalTU (#223)
  keep-ui/app/alerts/alerts.client.tsx
  keep-ui/app/alerts/layout.tsx
  keep-ui/app/alerts/models.tsx
  keep-ui/app/providers/page.client.tsx
  keep-ui/app/providers/provider-tile.tsx
  keep-ui/app/providers/providers-installed.tsx
  keep/api/routes/providers.py
  keep/providers/grafana_provider/grafana_provider.py
  keep/providers/prometheus_provider/prometheus_provider.py
  keep/secretmanager/filesecretmanager.py
  keep/secretmanager/gcpsecretmanager.py
  keep/secretmanager/secretmanager.py
Due: black
