Repository keephq/keep: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, check-yaml

black:
  name: black
  entry: black
  language: system
  require_serial: true

check-yaml:
  name: Check Yaml
  entry: check-yaml
  language: system

Update keep/api/models/db/provider.py
  keep/api/models/db/provider.py
Due: black

fix: updated provider db model to make name unique (#1208)
  keep/api/models/db/provider.py
Due: black

feat: elastic
  keep-ui/app/alerts/TitleAndFilters.tsx
  keep-ui/app/alerts/alert-table.tsx
  keep-ui/app/alerts/alerts-table-body.tsx
  keep-ui/app/alerts/alerts.tsx
  keep/api/core/elastic.py
  keep/searchengine/searchengine.py
  scripts/migrate_to_elastic.py
Due: black

feat: remove redundant
  a.py
Due: black

feat: elastic
  keep/api/core/elastic.py
  keep/api/routes/alerts.py
  keep/api/routes/preset.py
  keep/searchengine/searchengine.py
  tests/conftest.py
  tests/test_search_alerts.py
Due: black

feat: add elastic to tests
  .github/workflows/test-pr.yml
Due: check-yaml

feat: elastic
  keep/api/core/elastic.py
  tests/conftest.py
Due: black

feat: fix
  tests/conftest.py
Due: black

feat: elastic
  keep-ui/app/alerts/TitleAndFilters.tsx
  keep-ui/app/alerts/alert-method-modal.tsx
  keep-ui/app/alerts/alert-pagination.tsx
  keep-ui/app/alerts/alert-table.tsx
Due: none

feat: add VictoriaMetrics Provider
  README.md
  docs/mint.json
  docs/providers/documentation/victoriametrics-provider.mdx
  keep-ui/public/icons/victoriametrics-icon.png
  keep/providers/victoriametrics_provider/__init__.py
  keep/providers/victoriametrics_provider/victoriametrics_provider.py
Due: black

feat: add webhook integration
  docs/providers/documentation/victoriametrics-provider.mdx
  keep-ui/public/icons/victoriametrics-icon.png
  keep/providers/victoriametrics_provider/victoriametrics_provider.py
Due: black

feat: add VictoriaMetrics Provider (#1212)
  README.md
  docs/mint.json
  docs/providers/documentation/victoriametrics-provider.mdx
  keep-ui/public/icons/victoriametrics-icon.png
  keep/providers/victoriametrics_provider/__init__.py
  keep/providers/victoriametrics_provider/victoriametrics_provider.py
Due: black

chore(ui): remove intercom
  keep-ui/app/layout.tsx
  keep-ui/app/providers/page.client.tsx
  keep-ui/app/providers/providers-tiles.tsx
  keep-ui/components/ui/Intercom.tsx
Due: none

feat: update posthog
  keep-ui/package-lock.json
Due: none

feat: update posthog (#1214)
  keep-ui/package-lock.json
Due: none

Initial commit
  docs/overview/keyconcepts.mdx
Due: none

feat: netdata provider
  README.md
  docs/mint.json
  docs/providers/documentation/netdata-provider.mdx
  keep-ui/public/icons/netdata_provider.png
  keep/api/routes/alerts.py
  keep/providers/netdata_provider/__init__.py
  keep/providers/netdata_provider/netdata_provider.py
Due: black

feat(cli): add extraction command
  keep/cli/cli.py
Due: black

feat(cli): add extraction command docs
  docs/cli/commands/extraction-create.mdx
  docs/cli/commands/extraction-delete.mdx
  docs/cli/commands/extractions-list.mdx
  docs/cli/commands/mappings-create.mdx
  keep/cli/cli.py
Due: black

feat(cli): add extraction command (#1217)
  docs/cli/commands/extraction-create.mdx
  docs/cli/commands/extraction-delete.mdx
  docs/cli/commands/extractions-list.mdx
  docs/cli/commands/mappings-create.mdx
  keep/cli/cli.py
Due: black

feat: netdata provider
  keep-ui/public/icons/netdata-icon.png
  keep/providers/netdata_provider/netdata_provider.py
Due: black

feat: update poetry
  poetry.lock
Due: none

feat: merges from main
  keep/api/core/db.py
  keep/api/core/dependencies.py
  keep/api/logging.py
Due: black

Minor fixes of local dev env setup documentation
  docs/development/getting-started.mdx
  keep-ui/.env.local.example
Due: none

Small note for the PD documentation
  docs/providers/documentation/pagerduty-provider.mdx
Due: none

Wrong docker command.
  docs/development/getting-started.mdx
Due: none

+ simulate alerts
  docs/development/getting-started.mdx
Due: none

feat: run from definition endpoint
  keep/api/routes/workflows.py
Due: black

feat: running working from the ui and showing results
  keep-ui/app/workflows/[workflow_id]/runs/[workflow_execution_id]/page.tsx
  keep-ui/app/workflows/builder/builder-card.tsx
  keep-ui/app/workflows/builder/builder.tsx
  keep-ui/app/workflows/builder/page.client.tsx
  keep-ui/app/workflows/builder/workflow-execution-results.tsx
Due: none

fix: button text and gap
  keep-ui/app/workflows/builder/builder.tsx
  keep-ui/app/workflows/builder/page.client.tsx
Due: none

fix: event trigger
  keep/workflowmanager/workflowscheduler.py
Due: black

Path conditions:
  black: any of: \.py$
  check-yaml: any of: \.(yaml|yml)$
