Repository keephq/keep: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, check-yaml

black:
  name: black
  entry: black
  language: system
  require_serial: true

check-yaml:
  name: Check Yaml
  entry: check-yaml
  language: system

feat: wip
  keep/api/core/db.py
  keep/providers/cloudwatch_provider/cloudwatch_provider.py
  keep/providers/keep_provider/keep_provider.py
Due: black

feat: add session token for temp credentials
  keep/providers/cloudwatch_provider/cloudwatch_provider.py
Due: black

feat: add session token for temp credentials (#334)
  keep/providers/cloudwatch_provider/cloudwatch_provider.py
Due: black

feat: add SNS topic
  keep/providers/cloudwatch_provider/cloudwatch_provider.py
Due: black

feat: add SNS topic to aws cloud provider (#335)
  keep/providers/cloudwatch_provider/cloudwatch_provider.py
Due: black

feat: add protection against multiple subscription to the same sns (#336)
  keep/providers/cloudwatch_provider/cloudwatch_provider.py
Due: black

feat: alert basic statistics in history
  keep-ui/app/alerts/alert-transition.tsx
  keep-ui/app/alerts/alerts-table-body.tsx
  keep-ui/app/alerts/alerts.tsx
  keep-ui/app/alerts/models.tsx
Due: none

chore: add some raw data
  keep-ui/app/alerts/alert-transition.tsx
Due: none

feat: use contextmanager logs
  keep/api/routes/alerts.py
  keep/api/routes/providers.py
  keep/api/utils/tenant_utils.py
  keep/contextmanager/contextmanager.py
  keep/providers/base/base_provider.py
  keep/providers/providers_factory.py
  keep/secretmanager/filesecretmanager.py
  keep/secretmanager/gcpsecretmanager.py
  keep/secretmanager/kubernetessecretmanager.py
  keep/secretmanager/secretmanager.py
  keep/secretmanager/secretmanagerfactory.py
  keep/storagemanager/storagemanagerfactory.py
Due: black

feat: basic alert statistics in history (#337)
  keep-ui/app/alerts/alert-transition.tsx
  keep-ui/app/alerts/alerts-table-body.tsx
  keep-ui/app/alerts/alerts.tsx
  keep-ui/app/alerts/models.tsx
Due: none

feat: add more context to logs + patch uvicorn logger to contain the trace id
  keep/api/api.py
  keep/api/logging.py
  keep/api/observability.py
  keep/storagemanager/storagemanagerfactory.py
Due: black

feat: add more context to logs + patch uvicorn logger to contain the trace id
  keep/api/api.py
  keep/api/observability.py
Due: black

chore: add more context and trace_id to uvicorn logger (#338)
  keep/api/api.py
  keep/api/logging.py
  keep/api/observability.py
  keep/api/routes/alerts.py
  keep/api/routes/providers.py
  keep/api/utils/tenant_utils.py
  keep/contextmanager/contextmanager.py
  keep/providers/base/base_provider.py
  keep/providers/providers_factory.py
  keep/secretmanager/filesecretmanager.py
  keep/secretmanager/gcpsecretmanager.py
  keep/secretmanager/kubernetessecretmanager.py
  keep/secretmanager/secretmanager.py
  keep/secretmanager/secretmanagerfactory.py
Due: black

fix: minor fixes
  keep/api/logging.py
Due: black

feat: wip
  examples/workflows/update_service_now_tickets_status.yml
  keep/api/logging.py
  keep/providers/cloudwatch_provider/cloudwatch_provider.py
  keep/providers/servicenow_provider/servicenow_provider.py
Due: black, check-yaml

fix: minor fixes
  keep/providers/cloudwatch_provider/cloudwatch_provider.py
Due: black

fix: minor fixes (#340)
  keep/providers/cloudwatch_provider/cloudwatch_provider.py
Due: black

chore: builder to workflow page
  keep-ui/app/command-menu.tsx
  keep-ui/app/navbar-inner.tsx
  keep-ui/app/workflows/builder/[workflowId]/page.tsx
  keep-ui/app/workflows/builder/alert.tsx
  keep-ui/app/workflows/builder/builder-card.tsx
  keep-ui/app/workflows/builder/builder-modal.tsx
  keep-ui/app/workflows/builder/builder-validators.tsx
  keep-ui/app/workflows/builder/builder.tsx
  keep-ui/app/workflows/builder/editors.tsx
  keep-ui/app/workflows/builder/loader.tsx
  keep-ui/app/workflows/builder/page.client.tsx
  keep-ui/app/workflows/builder/page.css
  keep-ui/app/workflows/builder/page.tsx
  keep-ui/app/workflows/builder/types.tsx
  keep-ui/app/workflows/builder/utils.tsx
  keep-ui/app/workflows/layout.tsx
  keep-ui/app/workflows/noworfklows.tsx
  keep-ui/app/workflows/workflow-tile.tsx
  keep-ui/app/workflows/workflows.client.tsx
Due: none

fix: grafana provider
  keep/providers/grafana_provider/grafana_provider.py
Due: black

chore: intercom
  keep-ui/app/layout.tsx
  keep-ui/app/providers/page.client.tsx
  keep-ui/app/workflows/layout.tsx
  keep-ui/components/ui/Intercom.tsx
  keep-ui/tsconfig.json
Due: none

chore: intercom in UI (#341)
  keep-ui/app/command-menu.tsx
  keep-ui/app/layout.tsx
  keep-ui/app/navbar-inner.tsx
  keep-ui/app/providers/page.client.tsx
  keep-ui/app/workflows/builder/[workflowId]/page.tsx
  keep-ui/app/workflows/builder/alert.tsx
  keep-ui/app/workflows/builder/builder-card.tsx
  keep-ui/app/workflows/builder/builder-modal.tsx
  keep-ui/app/workflows/builder/builder-validators.tsx
  keep-ui/app/workflows/builder/builder.tsx
  keep-ui/app/workflows/builder/editors.tsx
  keep-ui/app/workflows/builder/loader.tsx
  keep-ui/app/workflows/builder/page.client.tsx
  keep-ui/app/workflows/builder/page.css
  keep-ui/app/workflows/builder/page.tsx
  keep-ui/app/workflows/builder/types.tsx
  keep-ui/app/workflows/builder/utils.tsx
  keep-ui/app/workflows/layout.tsx
  keep-ui/app/workflows/noworfklows.tsx
  keep-ui/app/workflows/workflow-tile.tsx
  keep-ui/app/workflows/workflows.client.tsx
  keep-ui/components/ui/Intercom.tsx
  keep-ui/tsconfig.json
  keep/providers/grafana_provider/grafana_provider.py
Due: black

fix: grafana provider small issue
  keep/providers/grafana_provider/grafana_provider.py
Due: black

fix: grafana provider small issue (#342)
  keep/providers/grafana_provider/grafana_provider.py
Due: black

fix: alert menu create workflow
  keep-ui/app/alerts/alert-menu.tsx
Due: none

fix: alert menu create workflow (#343)
  keep-ui/app/alerts/alert-menu.tsx
Due: none

fix: alert-menu padding
  keep-ui/app/alerts/alert-menu.tsx
Due: none

fix: grafana always same recieved at
  keep/providers/grafana_provider/grafana_provider.py
Due: black

fix: grafana provider webhook name
  keep/providers/grafana_provider/grafana_provider.py
Due: black

Path conditions:
  black: any of: \.py$
  check-yaml: any of: \.(yaml|yml)$
