Repository keephq/keep: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, check-yaml

black:
  name: black
  entry: black
  language: system
  require_serial: true

check-yaml:
  name: Check Yaml
  entry: check-yaml
  language: system

fix(ui): Column Width & History Modal (#802)
  keep-ui/app/alerts/alert-history.tsx
  keep-ui/app/alerts/alert-menu.tsx
  keep-ui/app/alerts/alert-name.tsx
  keep-ui/app/alerts/alert-table-utils.tsx
  keep-ui/app/alerts/alerts-table-body.tsx
Due: none

feat: add deps
  poetry.lock
  pyproject.toml
Due: none

fix: simple migration to make sure we're ok with oss
  keep/api/core/db.py
Due: black

feat: add the ability to run workflow on alert state change
  examples/workflows/change.yml
  keep/api/core/db.py
  keep/providers/prometheus_provider/prometheus_provider.py
  keep/rulesengine/rulesengine.py
  keep/workflowmanager/workflowmanager.py
Due: black, check-yaml

feat: typo
  examples/workflows/change.yml
Due: check-yaml

feat: add the ability to run workflow on alert state change (#803)
  examples/workflows/change.yml
  keep/api/core/db.py
  keep/providers/prometheus_provider/prometheus_provider.py
  keep/rulesengine/rulesengine.py
  keep/workflowmanager/workflowmanager.py
Due: black, check-yaml

feat: async
  keep/api/core/db.py
  keep/api/core/db_debugger.py
  keep/api/routes/alerts.py
  poetry.lock
  pyproject.toml
  tests/docker-compose.yml
  tests/initdb/rule.csv
Due: black, check-yaml

feat: wip
  keep/api/core/db.py
  keep/rulesengine/rulesengine.py
Due: black

feat: wip
  scripts/simulate_alerts.py
Due: black

fix: expire groups
  keep/api/core/db.py
  keep/api/models/db/alert.py
Due: black

fix: expire groups (#805)
  keep/api/core/db.py
  keep/api/models/db/alert.py
Due: black

fix(ui): joined state for alerts based on api and pusher
  keep-ui/app/alerts/alerts.tsx
  keep-ui/package-lock.json
  keep-ui/package.json
  keep-ui/utils/hooks/useAlerts.ts
Due: none

fix(ui): joined state for alerts based on api and pusher (#806)
  keep-ui/app/alerts/alerts.tsx
  keep-ui/package-lock.json
  keep-ui/package.json
  keep-ui/utils/hooks/useAlerts.ts
Due: none

feat: improve api key ux (#752)
  keep-ui/app/settings/api-key-menu.tsx
  keep-ui/app/settings/api-key-settings.tsx
  keep-ui/app/settings/create-api-key-modal.tsx
  keep-ui/app/settings/users-settings.tsx
  keep/api/core/db.py
  keep/api/core/dependencies.py
  keep/api/models/alert.py
  keep/api/models/db/tenant.py
  keep/api/routes/alerts.py
  keep/api/routes/settings.py
  keep/api/utils/tenant_utils.py
Due: black

fix: minor change
  keep/api/routes/settings.py
Due: black

fix: minor change (#807)
  keep/api/routes/settings.py
Due: black

fix:remove scroll lines when unnecessary
  keep-ui/app/alerts/alert-extra-payload.tsx
Due: none

fix:add `minSize`s to column definitions
  keep-ui/app/alerts/alert-table-utils.tsx
Due: none

feature:add `columnResizing` state to `alert-table`
  keep-ui/app/alerts/alert-table.tsx
Due: none

feature:add column resizers to `th`
  keep-ui/app/alerts/alert-table-headers.tsx
Due: none

fix: no auth
  keep/api/core/dependencies.py
Due: black

fix: no auth (#809)
  keep/api/core/dependencies.py
Due: black

fix: noauth
  keep/api/core/dependencies.py
Due: black

fix: noauth (#810)
  keep/api/core/dependencies.py
Due: black

feat: group expired
  keep/api/core/db.py
  keep/api/models/db/alert.py
  keep/rulesengine/rulesengine.py
Due: black

feat: group expired (#813)
  keep/api/core/db.py
  keep/api/models/db/alert.py
  keep/rulesengine/rulesengine.py
Due: black

feat(db): mssql support
  keep-ui/app/alerts/models.tsx
  keep/api/core/db.py
  keep/api/models/alert.py
  keep/api/models/db/alert.py
  keep/api/models/db/preset.py
  keep/api/models/db/provider.py
  keep/api/models/db/rule.py
  keep/api/models/db/tenant.py
  keep/api/models/db/user.py
  keep/api/models/db/workflow.py
  poetry.lock
  pyproject.toml
Due: black

fix(ui): Update models.tsx, remove environment from KnownKeys
  keep-ui/app/alerts/models.tsx
Due: none

fix(ui): Update models.tsx, remove environment from KnownKeys (#815)
  keep-ui/app/alerts/models.tsx
Due: none

Path conditions:
  black: any of: \.py$
  check-yaml: any of: \.(yaml|yml)$
