Repository keephq/keep: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, check-yaml

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: black
        name: black
        entry: black
        language: system
        types: [python]
        require_serial: true
      - id: check-added-large-files
        name: Check for added large files
        entry: check-added-large-files
        language: system
      - id: check-yaml
        name: Check Yaml
        entry: check-yaml
        language: system
        types: [yaml]
      - id: end-of-file-fixer
        name: Fix End of Files
        entry: end-of-file-fixer
        language: system
        types: [text]
        stages: [commit, push, manual]
      - id: isort
        name: isort
        entry: isort
        require_serial: true
        language: system
        types_or: [cython, pyi, python]
        args: ["--filter-files", "--profile", "black"]
      - id: trailing-whitespace
        name: Trim Trailing Whitespace
        entry: trailing-whitespace-fixer
        language: system
        types: [text]
        stages: [commit, push, manual]
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v2.6.0
    hooks:
      - id: prettier
  - repo: https://github.com/compilerla/conventional-pre-commit
    rev: v2.1.1
    hooks:
      - id: conventional-pre-commit
        stages: [commit-msg]
        args: [] # optional: list of Conventional Commits types to allow e.g. [feat, fix, ci, chore, test]

feat: add last updated timestamp to mapping ui (#1115)
  keep-ui/app/mapping/mapping.tsx
  keep-ui/app/mapping/models.tsx
  keep-ui/app/mapping/rules-table.tsx
  keep/api/core/db.py
  keep/api/models/db/mapping.py
  keep/api/routes/mapping.py
Due: black

0.6.0
  pyproject.toml
Due: none

chore(gh): Update sync-keep-workflows.yml, disble on push.
  .github/workflows/sync-keep-workflows.yml
Due: check-yaml

feat: add keep.replace function
  keep/functions/__init__.py
Due: black

feat: add `keep.replace` function (#1134)
  keep/functions/__init__.py
Due: black

fix(provider): zabbix scope validation
  keep/providers/zabbix_provider/zabbix_provider.py
Due: black

feat: wip
  keep-ui/app/alerts/TitleAndFilters.tsx
  keep-ui/app/alerts/alert-table.tsx
  keep-ui/app/alerts/models.tsx
  keep-ui/components/navbar/CustomPresetAlertLinks.tsx
  keep-ui/utils/hooks/usePresets.ts
  keep/api/routes/alerts.py
  keep/api/routes/preset.py
Due: black

chore: comment out alert dropdowns
  keep-ui/app/rules/CorrelationSidebar/CorrelationForm.tsx
Due: none

feat:add delete button to rule rows
  keep-ui/app/rules/CorrelationSidebar/DeleteRule.tsx
  keep-ui/app/rules/CorrelationTable.tsx
Due: none

feat: pagertree provider
  README.md
  docs/mint.json
  docs/providers/documentation/pagertree-provider.mdx
  keep-ui/public/icons/pagertree-icon.png
  keep/providers/pagertree_provider/__init__.py
  keep/providers/pagertree_provider/pagertree_provider.py
Due: black

chore: remove formatting
  docs/mint.json
Due: none

chore: remove background
  keep-ui/public/icons/pagertree-icon.png
Due: none

feat: add pagertree provider (#1135)
  README.md
  docs/mint.json
  docs/providers/documentation/pagertree-provider.mdx
  keep-ui/public/icons/pagertree-icon.png
  keep/providers/pagertree_provider/__init__.py
  keep/providers/pagertree_provider/pagertree_provider.py
Due: black

feat: wip
  keep-ui/components/LinkWithIcon.css
  keep-ui/components/LinkWithIcon.tsx
  keep-ui/components/navbar/AlertsLinks.tsx
  keep-ui/components/navbar/CustomPresetAlertLinks.tsx
  keep-ui/utils/hooks/usePresets.ts
  keep/api/models/alert.py
  keep/api/routes/alerts.py
  keep/api/routes/preset.py
Due: black

fix: fixed event_id logic and some typos
  keep/api/core/db.py
  keep/api/models/provider.py
  keep/api/routes/alerts.py
Due: black

fix: control workflow parallelism
  keep/parser/parser.py
  keep/workflowmanager/workflow.py
Due: black

fix: allow workflow parallelism control
  keep/workflowmanager/workflowscheduler.py
Due: black

chore(provider): signalfx handle inputs dictionary
  keep/providers/signalfx_provider/signalfx_provider.py
Due: black

fix(api): use tenant_id in get_workflow_execution
  keep/api/core/db.py
Due: black

feat: workflow strategies
  keep/api/core/db.py
  keep/api/models/db/workflow.py
  keep/parser/parser.py
  keep/workflowmanager/workflow.py
  keep/workflowmanager/workflowscheduler.py
Due: black

feat: minor fixes
  examples/workflows/autosupress.yml
  keep/api/core/db.py
Due: black, check-yaml

feat: add migrations
  keep/api/core/db.py
Due: black

fix: redundant
  keep/api/core/db.py
Due: black

feat: max int
  keep/api/core/db.py
Due: black

fix: workflow parallelism (#1138)
  examples/workflows/autosupress.yml
  keep/api/core/db.py
  keep/api/models/db/workflow.py
  keep/parser/parser.py
  keep/workflowmanager/workflow.py
  keep/workflowmanager/workflowscheduler.py
Due: black, check-yaml

fix: scheduler
  keep/workflowmanager/workflowscheduler.py
Due: black

fix: scheduler (#1140)
  keep/workflowmanager/workflowscheduler.py
Due: black

feat: wip
  keep-ui/app/alerts/alert-table-utils.tsx
  keep-ui/app/alerts/alert-table.tsx
  keep-ui/app/alerts/models.tsx
  keep-ui/components/LinkWithIcon.tsx
  keep-ui/components/navbar/AlertsLinks.tsx
  keep-ui/components/navbar/CustomPresetAlertLinks.tsx
  keep/api/routes/preset.py
Due: black

feat: added statuscake provider
  docs/mint.json
  docs/providers/documentation/statuscake-provider.mdx
  keep-ui/public/icons/statuscake-icon.png
  keep/providers/statuscake_provider/__init__.py
  keep/providers/statuscake_provider/statuscake_provider.py
Due: black
