Repository keephq/keep: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, check-yaml

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: black
        name: black
        entry: black
        language: system
        types: [python]
        require_serial: true
      - id: check-added-large-files
        name: Check for added large files
        entry: check-added-large-files
        language: system
      - id: check-yaml
        name: Check Yaml
        entry: check-yaml
        language: system
        types: [yaml]
      - id: end-of-file-fixer
        name: Fix End of Files
        entry: end-of-file-fixer
        language: system
        types: [text]
        stages: [commit, push, manual]
      - id: isort
        name: isort
        entry: isort
        require_serial: true
        language: system
        types_or: [cython, pyi, python]
        args: ["--filter-files", "--profile", "black"]
      - id: trailing-whitespace
        name: Trim Trailing Whitespace
        entry: trailing-whitespace-fixer
        language: system
        types: [text]
        stages: [commit, push, manual]
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v2.6.0
    hooks:
      - id: prettier
  - repo: https://github.com/compilerla/conventional-pre-commit
    rev: v2.1.1
    hooks:
      - id: conventional-pre-commit
        stages: [commit-msg]
        args: [] # optional: list of Conventional Commits types to allow e.g. [feat, fix, ci, chore, test]

fix: iohandler
  keep/iohandler/iohandler.py
  tests/test_iohandler.py
Due: black

fix: test
  tests/test_iohandler.py
Due: black

fix: smtp
  keep/api/routes/settings.py
Due: black

fix: smtp (#995)
  keep/api/routes/settings.py
Due: black

fix: comment test
  tests/test_iohandler.py
Due: black

fix: iohandler with complex payload (#984)
  keep-ui/app/workflows/[workflow_id]/runs/[workflow_execution_id]/page.tsx
  keep/iohandler/iohandler.py
  keep/workflowmanager/workflow.py
  keep/workflowmanager/workflowscheduler.py
  tests/conftest.py
  tests/test_functions.py
  tests/test_iohandler.py
Due: black

chore(api): support escaped nested object in enrichments
  keep/api/bl/enrichments.py
Due: black

chore(api): support escaped nested object in enrichments (#996)
  keep/api/bl/enrichments.py
Due: black

fix: update-last-alert-on-provider
  keep/api/routes/alerts.py
Due: black

feat: api key update
  keep/api/core/db.py
  keep/api/core/dependencies.py
  keep/api/routes/alerts.py
  keep/api/utils/tenant_utils.py
Due: black

feat: minor typo
  keep/api/routes/alerts.py
Due: black

fix: update-last-alert-on-provider (#997)
  keep/api/core/db.py
  keep/api/core/dependencies.py
  keep/api/routes/alerts.py
  keep/api/utils/tenant_utils.py
Due: black

feat(ui): display workflow last update time in workflows page (#991)
  keep-ui/app/workflows/models.tsx
  keep-ui/app/workflows/workflow-tile.tsx
  keep/api/routes/workflows.py
Due: black

feat(ui): use workflow name and description
  keep-ui/app/workflows/models.tsx
  keep-ui/app/workflows/workflow-tile.tsx
Due: none

feat(ui): use tailwind truncate
  keep-ui/app/workflows/workflow-tile.tsx
Due: none

feat: wip
  keep-ui/app/alerts/alerts-rules-builder.tsx
Due: none

feat: wip
  keep-ui/app/alerts/alert-presets.tsx
  keep-ui/app/alerts/alerts-rules-builder.tsx
Due: none

feat(ui): use workflow name and description (#998)
  keep-ui/app/workflows/models.tsx
  keep-ui/app/workflows/workflow-tile.tsx
Due: none

feat(cli): add new config subcommands
  keep/cli/cli.py
Due: black

feat(docs): add docs
  docs/cli/commands/cli-config-new.mdx
  docs/cli/commands/cli-config-provider.mdx
  docs/cli/commands/cli-config-show.mdx
  docs/cli/commands/cli-config.mdx
Due: none

feat(cli): handle no response better
  keep/cli/cli.py
Due: black

feat(cli): add new config subcommands (#999)
  docs/cli/commands/cli-config-new.mdx
  docs/cli/commands/cli-config-provider.mdx
  docs/cli/commands/cli-config-show.mdx
  docs/cli/commands/cli-config.mdx
  keep/cli/cli.py
Due: black

feat(cli): better no resp handle (#1000)
  keep/cli/cli.py
Due: black

feat: add option to edit mappings
  keep-ui/app/mapping/create-new-mapping.tsx
  keep-ui/app/mapping/mapping.tsx
  keep-ui/app/mapping/rules-table.tsx
  keep/api/models/db/mapping.py
  keep/api/routes/mapping.py
Due: black

feat: update database conn envs
  docker-compose.common.yml
  docs/deployment/ecs.mdx
  keep/api/core/db.py
  tests/conftest.py
Due: black, check-yaml

chore: remove log statements
  keep-ui/app/mapping/create-new-mapping.tsx
Due: none

chore: support create preset from alert
  keep-ui/app/alerts/alert-actions.tsx
Due: none

chore: remove unused imports
  keep-ui/app/alerts/alert-presets.tsx
  keep-ui/app/alerts/alerts-rules-builder.tsx
Due: none
