Repository keephq/keep: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, check-yaml

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: black
        name: black
        entry: black
        language: system
        types: [python]
        require_serial: true
      - id: check-added-large-files
        name: Check for added large files
        entry: check-added-large-files
        language: system
      - id: check-yaml
        name: Check Yaml
        entry: check-yaml
        language: system
        types: [yaml]
      - id: end-of-file-fixer
        name: Fix End of Files
        entry: end-of-file-fixer
        language: system
        types: [text]
        stages: [commit, push, manual]
      - id: isort
        name: isort
        entry: isort
        require_serial: true
        language: system
        types_or: [cython, pyi, python]
        args: ["--filter-files", "--profile", "black"]
      - id: trailing-whitespace
        name: Trim Trailing Whitespace
        entry: trailing-whitespace-fixer
        language: system
        types: [text]
        stages: [commit, push, manual]
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v2.6.0
    hooks:
      - id: prettier
  - repo: https://github.com/compilerla/conventional-pre-commit
    rev: v2.1.1
    hooks:
      - id: conventional-pre-commit
        stages: [commit-msg]
        args: [] # optional: list of Conventional Commits types to allow e.g. [feat, fix, ci, chore, test]

fix: catch validate scope error and add jira on prem example (#1323)
  examples/workflows/jira_on_prem.yml
  keep/api/routes/providers.py
Due: black, check-yaml

feat: wip
  keep/api/core/db.py
  keep/searchengine/searchengine.py
  scripts/migrate_to_elastic.py
Due: black

feat: add time to date
  docs/workflows/functions/add-time-to-date.mdx
  keep/functions/__init__.py
  tests/test_functions.py
  tests/test_iohandler.py
Due: black

feat: add time
  docs/mint.json
Due: none

feat: add date
  docs/workflows/functions/add-time-to-date.mdx
Due: none

feat: add time to date (#1324)
  docs/mint.json
  docs/workflows/functions/add-time-to-date.mdx
  keep/functions/__init__.py
  tests/test_functions.py
  tests/test_iohandler.py
Due: black

feat: wip
  keep/api/bl/enrichments.py
  keep/api/core/elastic.py
  keep/api/core/tenant_configuration.py
  keep/api/routes/alerts.py
  keep/api/tasks/process_event_task.py
  keep/providers/base/base_provider.py
  keep/searchengine/searchengine.py
  scripts/migrate_to_elastic.py
  tests/conftest.py
  tests/test_search_alerts.py
Due: black

feat: wip
  keep/api/core/elastic.py
  keep/searchengine/searchengine.py
Due: black

feat: wip
  keep/api/core/tenant_configuration.py
  keep/api/models/alert.py
  keep/api/utils/enrichment_helpers.py
  keep/providers/base/base_provider.py
  scripts/migrate_to_elastic.py
  tests/test_search_alerts_configuration.py
Due: black

E2E with prometheus
  .gitignore
  keep-ui/app/alerts/alert-menu.tsx
  tests/e2e_tests/docker-compose-e2e-mysql.yml
  tests/e2e_tests/test_end_to_end.py
  tests/e2e_tests/test_pushing_prometheus_alerts.py
  tests/e2e_tests/test_pushing_prometheus_config.yaml
  tests/e2e_tests/test_pushing_prometheus_rules.yaml
Due: black, check-yaml

Cleanu
  tests/e2e_tests/test_pushing_prometheus_config.yaml
  tests/e2e_tests/test_pushing_prometheus_rules.yaml
Due: check-yaml

Trying to kick the test to run
  .github/workflows/test-pr-e2e.yml
Due: check-yaml

Trying to kick tests...
  .github/workflows/test-pr-e2e.yml
Due: check-yaml

Trying...
  .github/workflows/test-pr-e2e.yml
Due: check-yaml

Fix
  tests/e2e_tests/test_pushing_prometheus_alerts.py
Due: black

feat: remove redundant
  examples/workflows/jira_onprem.yml
Due: check-yaml

feat: wip
  keep/api/core/db.py
  keep/api/core/db_on_start.py
  keep/api/core/elastic.py
  keep/api/core/tenant_configuration.py
  tests/test_enrichments.py
Due: black

More wait
  tests/e2e_tests/test_pushing_prometheus_alerts.py
Due: black

feat: wip
  keep/api/models/alert.py
  tests/docker-compose-elastic.yml
  tests/test_search_alerts.py
Due: black, check-yaml

feat: minor fixes
  .github/workflows/test-pr-e2e.yml
  keep/api/core/elastic.py
  keep/api/core/tenant_configuration.py
Due: black, check-yaml

feat: wip
  .github/workflows/test-pr-e2e.yml
  keep/api/core/tenant_configuration.py
Due: black, check-yaml

fix: elastic order
  keep/searchengine/searchengine.py
  tests/test_search_alerts.py
Due: black

fix: elastic order (#1328)
  keep/searchengine/searchengine.py
  tests/test_search_alerts.py
Due: black

feat: deploy script
  scripts/deploy.sh
Due: none

fix: last alerts
  keep-ui/app/alerts/alerts.tsx
  keep/api/consts.py
  keep/api/core/db.py
  keep/api/routes/preset.py
  keep/rulesengine/rulesengine.py
Due: black

fix: last alerts (#1331)
  keep-ui/app/alerts/alerts.tsx
  keep/api/consts.py
  keep/api/core/db.py
  keep/api/routes/preset.py
  keep/rulesengine/rulesengine.py
Due: black

feat: multitenant elastic
  scripts/migrate_to_elastic.py
  tests/test_search_alerts.py
Due: black

feat: make tests pass
  tests/test_search_alerts.py
Due: black

feat: multitenant elastic (#1326)
  .github/workflows/test-pr-e2e.yml
  keep/api/bl/enrichments.py
  keep/api/core/db.py
  keep/api/core/elastic.py
  keep/api/core/tenant_configuration.py
  keep/api/models/alert.py
  keep/api/models/db/tenant.py
  keep/api/routes/alerts.py
  keep/api/tasks/process_event_task.py
  keep/api/utils/enrichment_helpers.py
  keep/providers/base/base_provider.py
  keep/searchengine/searchengine.py
  scripts/migrate_to_elastic.py
  tests/conftest.py
  tests/docker-compose-elastic.yml
  tests/test_enrichments.py
  tests/test_search_alerts.py
  tests/test_search_alerts_configuration.py
Due: black, check-yaml
