Repository keephq/keep: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, check-yaml

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: black
        name: black
        entry: black
        language: system
        types: [python]
        require_serial: true
      - id: check-added-large-files
        name: Check for added large files
        entry: check-added-large-files
        language: system
      - id: check-yaml
        name: Check Yaml
        entry: check-yaml
        language: system
        types: [yaml]
      - id: end-of-file-fixer
        name: Fix End of Files
        entry: end-of-file-fixer
        language: system
        types: [text]
        stages: [commit, push, manual]
      - id: isort
        name: isort
        entry: isort
        require_serial: true
        language: system
        types_or: [cython, pyi, python]
        args: ["--filter-files", "--profile", "black"]
      - id: trailing-whitespace
        name: Trim Trailing Whitespace
        entry: trailing-whitespace-fixer
        language: system
        types: [text]
        stages: [commit, push, manual]
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v2.6.0
    hooks:
      - id: prettier
  - repo: https://github.com/compilerla/conventional-pre-commit
    rev: v2.1.1
    hooks:
      - id: conventional-pre-commit
        stages: [commit-msg]
        args: [] # optional: list of Conventional Commits types to allow e.g. [feat, fix, ci, chore, test]

feat(docs): update squadcast provider docs
  docs/providers/documentation/squadcast-provider.mdx
Due: none

chore(providers): update eval function and remove replace
  keep/providers/squadcast_provider/squadcast_provider.py
Due: black

chore(providers): use json.loads instead of aeval
  keep/providers/squadcast_provider/squadcast_provider.py
Due: black

fix: manual
  keep/api/routes/workflows.py
  keep/rulesengine/rulesengine.py
  keep/workflowmanager/workflowscheduler.py
Due: black

fix: manual (#943)
  keep/api/routes/workflows.py
  keep/rulesengine/rulesengine.py
  keep/workflowmanager/workflowscheduler.py
Due: black

chore(providers): use json.loads
  keep/providers/squadcast_provider/squadcast_provider.py
Due: black

chore(providers): add new field for squadcast provider (#942)
  docs/providers/documentation/squadcast-provider.mdx
  keep/providers/squadcast_provider/squadcast_provider.py
Due: black

Draft of both providers
  examples/workflows/ai_service_and_severity.yaml
  keep-ui/public/icons/ai_service_assignation-icon.png
  keep-ui/public/icons/ai_severity-icon.png
  keep/contextmanager/contextmanager.py
  keep/providers/ai_provider/ai_provider.py
  keep/providers/ai_service_assignation_provider/__init__.py
  keep/providers/ai_service_assignation_provider/ai_service_assignation_provider.py
  keep/providers/ai_severity_provider/__init__.py
  keep/providers/ai_severity_provider/ai_severity_provider.py
  keep/providers/base/base_provider.py
  keep/providers/base_ai_provider/__init__.py
  keep/providers/base_ai_provider/base_ai_provider.py
  keep/providers/providers_factory.py
Due: black, check-yaml

Working service enrichment
  keep/providers/ai_service_assignation_provider/ai_service_assignation_provider.py
  keep/providers/ai_severity_provider/ai_severity_provider.py
  keep/providers/base_ai_provider/base_ai_provider.py
Due: black

AI providers under a feature flag
  keep/providers/ai_severity_provider/ai_severity_provider.py
  keep/providers/providers_factory.py
Due: black

Extra icon, removing
  keep-ui/public/icons/ai-icon.png
Due: none

fix(api): revert file upload and support pkey as file
  keep/api/routes/providers.py
  keep/providers/ssh_provider/ssh_provider.py
Due: black

fix: sometimes not value error?
  keep/api/routes/providers.py
Due: black

Merge mess fix.
  keep/providers/squadcast_provider/squadcast_provider.py
Due: black

fix(api): revert file upload and support pkey as file (#945)
  keep/api/routes/providers.py
  keep/providers/ssh_provider/ssh_provider.py
Due: black

Ollama package is required
  poetry.lock
  pyproject.toml
Due: none

Black
  keep/providers/ai_service_assignation_provider/ai_service_assignation_provider.py
  keep/providers/ai_severity_provider/ai_severity_provider.py
  keep/providers/base_ai_provider/base_ai_provider.py
Due: black

roof
  keep/providers/base_ai_provider/base_ai_provider.py
Due: black

Test fix
  keep/contextmanager/contextmanager.py
Due: black

Linter
  keep/contextmanager/contextmanager.py
Due: black

chore(cli): update mappings priority flag type
  keep/cli/cli.py
Due: black

chore(cli): update mappings create docs
  docs/cli/commands/mappings-create.mdx
Due: none

Simple banhammer
  keep/api/routes/alerts.py
Due: black

feat: splunk provider
  docs/providers/documentation/splunk-provider.mdx
  keep-ui/public/icons/splunk-icon.png
  keep/providers/splunk_provider/__init__.py
  keep/providers/splunk_provider/splunk_provider.py
  poetry.lock
  pyproject.toml
Due: black

chore: replace splunk logo
  keep-ui/public/icons/splunk-icon.png
Due: none

WIP
  keep/providers/awsincident_provider/awsincident_provider.py
Due: black

chore(cli): update mappings priority flag type (#947)
  docs/cli/commands/mappings-create.mdx
  keep/cli/cli.py
Due: black

fix(providers): fix cloudwatch provider scope
  keep/providers/cloudwatch_provider/cloudwatch_provider.py
Due: black

chore: update auth method
  keep/providers/splunk_provider/splunk_provider.py
Due: black

chore: update docs
  docs/providers/documentation/splunk-provider.mdx
Due: none

fix(providers): fix cloudwatch provider scope validation
  keep/providers/cloudwatch_provider/cloudwatch_provider.py
Due: black

fix(providers): fix logic
  keep/providers/cloudwatch_provider/cloudwatch_provider.py
Due: black

chore: update docs and remove comments
  docs/providers/documentation/splunk-provider.mdx
  keep/providers/splunk_provider/splunk_provider.py
Due: black
