Repository keephq/keep: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, check-yaml

black:
  name: black
  entry: black
  language: system
  require_serial: true

check-yaml:
  name: Check Yaml
  entry: check-yaml
  language: system

chore:fix typo
  keep/workflowmanager/workflowstore.py
Due: black

feat: inject env vars
  keep/parser/parser.py
  pyproject.toml
Due: black

feat: inject env vars into provider provision json (#1910)
  keep/parser/parser.py
  pyproject.toml
Due: black

refactor: minor style change on exection page using grid to make it more responsive
  keep-ui/app/workflows/[workflow_id]/executions.tsx
  keep-ui/app/workflows/[workflow_id]/side-nav-bar.tsx
Due: none

fic: improve logging and push notification
  ee/experimental/incident_utils.py
Due: black

perf: introduce conditional expiration threshold
  ee/experimental/incident_utils.py
  keep/api/arq_worker.py
Due: black

fix: remove TenantAiConfig table
  ee/experimental/incident_utils.py
  keep/api/core/db.py
  keep/api/core/db_on_start.py
  keep/api/models/db/migrations/versions/2024-09-05-18-09_081c538eab67.py
  keep/api/models/db/tenant.py
Due: black

refactor: remove draft code
  keep/api/core/db.py
Due: black

chore: fix filename typo
  keep-ui/app/workflows/workflow-tile.tsx
  keep-ui/utils/hooks/useWorkflowValidator.ts
Due: none

feat: don't allow update/edit provisioned resources
  keep-ui/app/providers/provider-form.tsx
  keep-ui/app/providers/provider-tile.tsx
  keep-ui/app/providers/providers.tsx
  keep/api/core/db.py
  keep/api/models/db/migrations/versions/2024-09-13-10-48_938b1aa62d5c.py
  keep/api/models/db/provider.py
  keep/api/models/db/workflow.py
  keep/api/models/provider.py
  keep/api/models/workflow.py
  keep/api/routes/workflows.py
  keep/providers/providers_factory.py
  keep/providers/providers_service.py
  keep/workflowmanager/workflowstore.py
Due: black

chore: update query_victoriametrics (#1892)
  examples/workflows/query_victoriametrics.yml
Due: check-yaml

feat: wip
  keep-ui/app/providers/provider-form.tsx
Due: none

feat: provisioning
  keep/api/api.py
  keep/api/core/db.py
  keep/api/models/db/migrations/versions/2024-09-13-10-48_938b1aa62d5c.py
  keep/api/models/db/workflow.py
  keep/api/models/workflow.py
  keep/workflowmanager/workflowstore.py
Due: black

feat: provision
  keep-ui/app/workflows/models.tsx
  keep-ui/app/workflows/workflow-menu.tsx
  keep-ui/app/workflows/workflow-tile.tsx
  keep/api/api.py
  keep/api/core/db.py
  keep/api/routes/workflows.py
  keep/providers/providers_service.py
  keep/workflowmanager/workflowstore.py
  tests/provision/workflows_1/provision_example_1.yml
  tests/provision/workflows_1/provision_example_2.yml
  tests/provision/workflows_1/provision_example_3.yml
  tests/provision/workflows_2/provision_example_1.yml
  tests/provision/workflows_2/provision_example_2.yml
  tests/test_provisioning.py
Due: black, check-yaml

feat: provision
  docs/deployment/provision/overview.mdx
  docs/deployment/provision/provider.mdx
  docs/deployment/provision/workflow.mdx
  docs/mint.json
  keep/api/api.py
  tests/fixtures/client.py
  tests/test_provisioning.py
Due: black

feat: provision
  docs/deployment/provision/overview.mdx
Due: none

feat: fix tests
  tests/test_auth.py
  tests/test_enrichments.py
  tests/test_extraction_rules.py
  tests/test_metrics.py
  tests/test_rules_api.py
  tests/test_search_alerts.py
  tests/test_search_alerts_configuration.py
Due: black

feat: fix tests
  tests/test_extraction_rules.py
Due: black

feat: fix tests
  tests/test_metrics.py
Due: black

fix: migration
  keep/api/models/db/migrations/versions/2024-09-13-10-48_938b1aa62d5c.py
Due: black

feat: provisioning
  tests/test_search_alerts.py
Due: black

refactor: add unit test cases for workflow creation and minor refactoring based on feedback
  keep/api/core/db.py
  keep/api/routes/workflows.py
  keep/parser/parser.py
  keep/workflowmanager/workflowstore.py
  tests/test_create_workflow.py
  tests/test_workflowmanager.py
Due: black

chore:minor validation refactor
  keep-ui/app/workflows/builder/builder-validators.tsx
  keep-ui/utils/hooks/useWorkflowInitialization.ts
Due: none

chore: fix the test case fail issue
  keep/parser/parser.py
  tests/test_workflowmanager.py
Due: black

feat: don't allow update/edit provisioned resources (#1916)
  docs/deployment/provision/overview.mdx
  docs/deployment/provision/provider.mdx
  docs/deployment/provision/workflow.mdx
  docs/mint.json
  keep-ui/app/providers/provider-form.tsx
  keep-ui/app/providers/provider-tile.tsx
  keep-ui/app/providers/providers.tsx
  keep-ui/app/workflows/models.tsx
  keep-ui/app/workflows/workflow-menu.tsx
  keep-ui/app/workflows/workflow-tile.tsx
  keep/api/api.py
  keep/api/core/db.py
  keep/api/models/db/migrations/versions/2024-09-13-10-48_938b1aa62d5c.py
  keep/api/models/db/provider.py
  keep/api/models/db/workflow.py
  keep/api/models/provider.py
  keep/api/models/workflow.py
  keep/api/routes/workflows.py
  keep/providers/providers_factory.py
  keep/providers/providers_service.py
  keep/workflowmanager/workflowstore.py
  tests/fixtures/client.py
  tests/provision/workflows_1/provision_example_1.yml
  tests/provision/workflows_1/provision_example_2.yml
  tests/provision/workflows_1/provision_example_3.yml
  tests/provision/workflows_2/provision_example_1.yml
  tests/provision/workflows_2/provision_example_2.yml
  tests/test_auth.py
  tests/test_enrichments.py
  tests/test_extraction_rules.py
  tests/test_metrics.py
  tests/test_provisioning.py
  tests/test_rules_api.py
  tests/test_search_alerts.py
  tests/test_search_alerts_configuration.py
Due: black, check-yaml

fix: default workflows directory
  keep/api/routes/workflows.py
Due: black

fix: add comment
  keep/api/routes/workflows.py
Due: black

fix: default workflows directory (#1919)
  keep/api/routes/workflows.py
Due: black

chore(release): 0.24.4
  pyproject.toml
Due: none

chore(release): 0.24.4 (#1921)
  pyproject.toml
Due: none

refactor: delete accidental whitespaces
  keep/api/core/db.py
  keep/api/core/db_on_start.py
Due: black

fix: don't fail the server if api key already in the secret manager
  keep/api/core/db_on_start.py
Due: black

fix: don't fail the server if api key already in the secret manager (#1923)
  keep/api/core/db_on_start.py
Due: black

Path conditions:
  black: any of: \.py$
  check-yaml: any of: \.(yaml|yml)$
