Repository keephq/keep: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, check-yaml

black:
  name: black
  entry: black
  language: system
  require_serial: true

check-yaml:
  name: Check Yaml
  entry: check-yaml
  language: system

chore: 0.24.1
  pyproject.toml
Due: none

chore: 0.24.1 (#1894)
  pyproject.toml
Due: none

feat: add the option to disable workflow (#1766)
  docs/workflows/syntax/basic-syntax.mdx
  keep-ui/app/workflows/builder/builder-validators.tsx
  keep-ui/app/workflows/builder/builder.tsx
  keep-ui/app/workflows/builder/editors.tsx
  keep-ui/app/workflows/builder/utils.tsx
  keep-ui/app/workflows/models.tsx
  keep-ui/app/workflows/workflow-menu.tsx
  keep-ui/app/workflows/workflow-tile.tsx
  keep/api/core/db.py
  keep/api/models/db/migrations/versions/2024-08-30-09-34_7ed12220a0d3.py
  keep/api/models/db/migrations/versions/2024-09-04-09-38_b30d2141e1cb.py
  keep/api/models/db/migrations/versions/2024-09-10-17-59_710b4ff1d19e.py
  keep/api/models/db/workflow.py
  keep/api/models/workflow.py
  keep/api/routes/workflows.py
  keep/parser/parser.py
  keep/workflowmanager/workflow.py
  keep/workflowmanager/workflowmanager.py
  keep/workflowmanager/workflowstore.py
  tests/test_workflow_execution.py
Due: black

feat: wip
  keep-ui/app/deduplication/DeduplicationSidebar.tsx
  keep-ui/app/deduplication/DeduplicationTable.tsx
  keep/api/alert_deduplicator/alert_deduplicator.py
  keep/api/models/alert.py
  keep/api/models/db/alert.py
  keep/api/models/db/migrations/versions/2024-09-11-10-03_e066535d7d76.py
  keep/api/routes/deduplications.py
Due: black

feat: wip
  keep/api/core/db.py
  keep/rulesengine/rulesengine.py
Due: black

fix: disabled
  keep/api/routes/workflows.py
Due: black

fix: disabled (#1897)
  keep/api/routes/workflows.py
Due: black

fix: making sure disable has value always.
  keep/api/models/workflow.py
  keep/api/routes/workflows.py
Due: black

fix: workflow is_disabled (#1900)
  keep/api/routes/workflows.py
Due: black

fix: resolve conflict changes
  keep/api/routes/workflows.py
Due: black

fix: minor refactor and removed redundant code for run functionality
  keep-ui/app/workflows/workflow-menu.tsx
  keep-ui/utils/hooks/useWorkflowRun.ts
  keep/api/routes/workflows.py
Due: black

refactor: rmoved unwanted propes in workflow menu
  keep-ui/app/workflows/workflow-menu.tsx
  keep-ui/app/workflows/workflow-tile.tsx
Due: none

performance: move incident candidates to RAM during correlation process
  ee/experimental/incident_utils.py
  keep/api/core/db.py
Due: black

feat: wip
  keep/api/models/db/migrations/env.py
  keep/api/models/db/migrations/versions/2024-09-11-10-03_e066535d7d76.py
  keep/rulesengine/rulesengine.py
Due: black

refactor: move incident candidates to RAM during correlation process
  ee/experimental/incident_utils.py
  keep/api/core/db.py
Due: black

feat: wip"
  keep-ui/app/deduplication/DeduplicationSidebar.tsx
  keep-ui/utils/hooks/useDeduplicationRules.ts
  keep/api/alert_deduplicator/alert_deduplicator.py
  keep/api/core/db.py
  keep/api/logging.py
  keep/api/models/alert.py
  keep/api/models/db/alert.py
  keep/api/models/db/migrations/versions/2024-09-11-15-17_74eff4617402.py
  keep/api/routes/deduplications.py
  keep/api/tasks/process_event_task.py
  keep/providers/base/base_provider.py
  keep/providers/providers_service.py
Due: black

refactor: improve alert2inciedt attribution logging
  ee/experimental/incident_utils.py
  keep/api/core/db.py
Due: black

fix: use custom worflowRun hook to run the workflow at all places (#1890)
  keep-ui/app/workflows/[workflow_id]/executions.tsx
  keep-ui/app/workflows/mockworkflows.tsx
  keep-ui/app/workflows/workflow-menu.tsx
  keep-ui/app/workflows/workflow-tile.tsx
  keep-ui/utils/hooks/useWorkflowRun.ts
  keep/api/models/workflow.py
  keep/api/routes/workflows.py
  keep/api/utils/pagination.py
  keep/workflowmanager/workflowstore.py
Due: black

refactor: delete unused imports
  keep/api/core/db.py
Due: black

chore: update query_victoriametrics
  examples/workflows/query_victoriametrics.yml
Due: check-yaml

fix: workflow interval can be None
  keep/api/models/workflow.py
Due: black

fix: workflow interval can be None (#1904)
  keep/api/models/workflow.py
Due: black

feat: wip
  keep-ui/app/deduplication/DeduplicationSidebar.tsx
  keep-ui/app/deduplication/DeduplicationTable.tsx
  keep-ui/app/deduplication/models.tsx
  keep-ui/components/ui/MultiSelect.tsx
  keep-ui/components/ui/Select.tsx
  keep-ui/utils/hooks/useDeduplicationRules.ts
  keep/api/alert_deduplicator/alert_deduplicator.py
Due: black

performance: increase arq worker expiration threshold for jobs
  keep/api/arq_worker.py
  keep/api/models/db/migrations/versions/2024-09-05-18-09_081c538eab67.py
Due: black

feat: handle uploading of workflow via upload and show validation error at card level
  keep-ui/app/workflows/builder/utils.tsx
  keep-ui/app/workflows/workflow-tile.tsx
  keep-ui/app/workflows/workflows.client.tsx
  keep-ui/utils/hooks/useWorkflowInitialization.ts
  keep-ui/utils/hooks/useWorklowValidator.ts
  keep/api/core/db.py
  keep/parser/parser.py
  keep/workflowmanager/workflowstore.py
Due: black

refactor: minor changes on workflow menu. add workflow validation error
  keep-ui/app/workflows/workflow-tile.tsx
Due: none

chore: fix lint issues
  keep/parser/parser.py
Due: black

chore(release): 0.24.2
  pyproject.toml
Due: none

chore(release): 0.24.2 (#1909)
  pyproject.toml
Due: none

chore: fix test case fail issues
  keep/parser/parser.py
  keep/workflowmanager/workflowstore.py
Due: black

Path conditions:
  black: any of: \.py$
  check-yaml: any of: \.(yaml|yml)$
