Repository keephq/keep: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, check-yaml

black:
  name: black
  entry: black
  language: system
  require_serial: true

check-yaml:
  name: Check Yaml
  entry: check-yaml
  language: system

feat: multitenant elastic (#1326)
  .github/workflows/test-pr-e2e.yml
  keep/api/bl/enrichments.py
  keep/api/core/db.py
  keep/api/core/elastic.py
  keep/api/core/tenant_configuration.py
  keep/api/models/alert.py
  keep/api/models/db/tenant.py
  keep/api/routes/alerts.py
  keep/api/tasks/process_event_task.py
  keep/api/utils/enrichment_helpers.py
  keep/providers/base/base_provider.py
  keep/searchengine/searchengine.py
  scripts/migrate_to_elastic.py
  tests/conftest.py
  tests/docker-compose-elastic.yml
  tests/test_enrichments.py
  tests/test_search_alerts.py
  tests/test_search_alerts_configuration.py
Due: black, check-yaml

fix: ilert
  keep/providers/ilert_provider/ilert_provider.py
Due: black

fix: ilert (#1332)
  keep/providers/ilert_provider/ilert_provider.py
Due: black

feat: bit more logs
  keep/searchengine/searchengine.py
Due: black

feat: bit more logs (#1333)
  keep/searchengine/searchengine.py
Due: black

fix: some bug fixes
  keep/api/core/tenant_configuration.py
  keep/api/logging.py
  keep/api/routes/preset.py
  keep/api/tasks/process_event_task.py
  keep/parser/parser.py
  keep/providers/ilert_provider/ilert_provider.py
  keep/workflowmanager/workflowmanager.py
  keep/workflowmanager/workflowscheduler.py
Due: black

feat: redundant
  keep/api/logging.py
Due: black

fix: change to sync
  keep/api/routes/preset.py
Due: black

feat: solve test issue
  tests/test_search_alerts.py
Due: black

fix: several bug fixes (#1335)
  keep/api/core/tenant_configuration.py
  keep/api/logging.py
  keep/api/routes/preset.py
  keep/api/tasks/process_event_task.py
  keep/parser/parser.py
  keep/providers/ilert_provider/ilert_provider.py
  keep/workflowmanager/workflowmanager.py
  keep/workflowmanager/workflowscheduler.py
  tests/test_search_alerts.py
Due: black

0.18.0
  pyproject.toml
Due: none

Proofreading
  docs/overview/comparison.mdx
  playwright_dump_test_pushing_prometheus_alerts_test_pulling_prometheus_alerts_to_provider.html
  playwright_dump_test_pushing_prometheus_alerts_test_pulling_prometheus_alerts_to_provider.png
Due: none

Remove extra files
  playwright_dump_test_pushing_prometheus_alerts_test_pulling_prometheus_alerts_to_provider.html
  playwright_dump_test_pushing_prometheus_alerts_test_pulling_prometheus_alerts_to_provider.png
Due: none

It can't be it...
  tests/e2e_tests/docker-compose-e2e-postgres.yml
Due: check-yaml

fix: disposable enrichments
  keep-ui/app/alerts/alert-change-status-modal.tsx
  keep-ui/app/alerts/alerts-table-body.tsx
  keep/api/bl/enrichments.py
  keep/api/core/db.py
  keep/api/routes/alerts.py
  keep/api/tasks/process_event_task.py
Due: black

fix: revert
  keep-ui/app/alerts/alerts-table-body.tsx
Due: none

Waiting for the prometheus
  tests/e2e_tests/test_pushing_prometheus_alerts.py
Due: black

Wrong URL for prometheus...
  tests/e2e_tests/test_pushing_prometheus_alerts.py
Due: black

Localhost:9090?
  tests/e2e_tests/test_pushing_prometheus_alerts.py
Due: black

fix: gcp monitoring
  keep/providers/gcpmonitoring_provider/gcpmonitoring_provider.py
Due: black

Update keep/providers/gcpmonitoring_provider/gcpmonitoring_provider.py
  keep/providers/gcpmonitoring_provider/gcpmonitoring_provider.py
Due: black

fix: gcp monitoring
  keep/providers/gcpmonitoring_provider/alerts_mock.py
Due: black

fix: gcp monitoring (#1340)
  keep/providers/gcpmonitoring_provider/alerts_mock.py
  keep/providers/gcpmonitoring_provider/gcpmonitoring_provider.py
Due: black

Updated pagerduty_provider.py
  keep/providers/pagerduty_provider/pagerduty_provider.py
Due: black

Try 5 times?
  tests/e2e_tests/test_pushing_prometheus_alerts.py
Due: black

Updated pagerduty_provider.py, added unit tests
  keep/providers/pagerduty_provider/pagerduty_provider.py
  tests/test.json
  tests/test_pagerduty_provider.py
Due: black

fix: mapping
  keep/api/bl/enrichments.py
  keep/api/routes/preset.py
  keep/workflowmanager/workflowmanager.py
  tests/conftest.py
  tests/test_enrichments.py
  tests/test_search_alerts.py
Due: black

fix: typo
  tests/test_enrichments.py
Due: black

Path conditions:
  black: any of: \.py$
  check-yaml: any of: \.(yaml|yml)$
