Repository keephq/keep: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, check-yaml

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: black
        name: black
        entry: black
        language: system
        types: [python]
        require_serial: true
      - id: check-added-large-files
        name: Check for added large files
        entry: check-added-large-files
        language: system
      - id: check-yaml
        name: Check Yaml
        entry: check-yaml
        language: system
        types: [yaml]
      - id: end-of-file-fixer
        name: Fix End of Files
        entry: end-of-file-fixer
        language: system
        types: [text]
        stages: [commit, push, manual]
      - id: isort
        name: isort
        entry: isort
        require_serial: true
        language: system
        types_or: [cython, pyi, python]
        args: ["--filter-files", "--profile", "black"]
      - id: trailing-whitespace
        name: Trim Trailing Whitespace
        entry: trailing-whitespace-fixer
        language: system
        types: [text]
        stages: [commit, push, manual]
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v2.6.0
    hooks:
      - id: prettier
  - repo: https://github.com/compilerla/conventional-pre-commit
    rev: v2.1.1
    hooks:
      - id: conventional-pre-commit
        stages: [commit-msg]
        args: [] # optional: list of Conventional Commits types to allow e.g. [feat, fix, ci, chore, test]

fix: merge from main
  keep-ui/app/alerts/alert-sidebar.tsx
  tests/test_search_alerts.py
Due: black

fix: merge from main
  keep/api/core/db.py
Due: black

fix: merge from main
  keep-ui/package-lock.json
  keep-ui/package.json
Due: none

fix: migration for alertaudit table
  keep/api/models/db/migrations/versions/2024-07-15-15-10_c37ec8f6db3e.py
Due: black

fix: converting workflow results datetime objects (#1255)
  keep/api/core/db.py
Due: black

Basic CRUD UI for Incidents
  keep-ui/app/incidents/IncidentPlaceholder.tsx
  keep-ui/app/incidents/create-or-update-incident.tsx
  keep-ui/app/incidents/incident.tsx
  keep-ui/app/incidents/incidents-table.tsx
  keep-ui/app/incidents/model.ts
  keep-ui/app/incidents/page.tsx
  keep-ui/components/navbar/IncidentLinks.tsx
  keep-ui/components/navbar/Navbar.tsx
  keep-ui/utils/hooks/useIncidents.ts
Due: none

Add methods and routes to add/remove alerts to the incident
  keep/api/dal/incidents.py
  keep/api/routes/incidents.py
Due: black

adding incidents to models
  keep/api/models/db/alert.py
Due: black

Implement simple data model and CRUD API for incidents
  docker/Dockerfile.dev.api
  keep/api/api.py
  keep/api/dal/__init__.py
  keep/api/dal/incidents.py
  keep/api/models/alert.py
  keep/api/models/db/alert.py
  keep/api/routes/incidents.py
Due: black

feat: tests
  keep-ui/utils/hooks/usePusher.ts
  keep/api/api.py
  keep/api/config.py
  keep/api/core/db.py
  keep/api/logging.py
  keep/api/models/db/migrations/env.py
  tests/conftest.py
  tests/e2e_tests/test_pushing_prometheus_alerts.py
Due: black

feat: tests
  tests/e2e_tests/test_pushing_prometheus_alerts.py
Due: black

feat: alert sidepanel, audit trail, servicemap (#1378)
  .gitignore
  examples/workflows/autosupress.yml
  keep-ui/app/alerts/alert-graph-viz.tsx
  keep-ui/app/alerts/alert-menu.tsx
  keep-ui/app/alerts/alert-sidebar.tsx
  keep-ui/app/alerts/alert-table.tsx
  keep-ui/app/alerts/alert-timeline.tsx
  keep-ui/app/alerts/alerts-table-body.tsx
  keep-ui/package-lock.json
  keep-ui/package.json
  keep-ui/tailwind.config.js
  keep-ui/utils/hooks/useAlerts.ts
  keep-ui/utils/hooks/usePusher.ts
  keep/api/api.py
  keep/api/bl/enrichments.py
  keep/api/config.py
  keep/api/core/db.py
  keep/api/core/elastic.py
  keep/api/logging.py
  keep/api/models/db/alert.py
  keep/api/models/db/migrations/env.py
  keep/api/models/db/migrations/versions/2024-07-15-15-10_c37ec8f6db3e.py
  keep/api/routes/alerts.py
  keep/api/tasks/process_event_task.py
  keep/providers/base/base_provider.py
  package-lock.json
  package.json
  scripts/migrate_to_elastic.py
  tests/conftest.py
  tests/e2e_tests/test_pushing_prometheus_alerts.py
  tests/test_search_alerts.py
Due: black, check-yaml

fix: desc
  keep/api/models/db/alert.py
Due: black

fix: desc
  keep/api/models/db/migrations/versions/2024-07-15-15-10_c37ec8f6db3e.py
Due: black

Simple page
  keep-ui/app/ai/ai.tsx
  keep-ui/app/ai/model.ts
  keep-ui/components/navbar/AILink.tsx
  keep-ui/utils/hooks/useAIStats.ts
  keep/api/api.py
  keep/api/dal/alerts.py
  keep/api/dal/incidents.py
  keep/api/routes/ai.py
Due: black

Fix issue with getting incident's alerts
  keep/api/dal/incidents.py
Due: black

Delete alerts-to-incidents relations on deleting incidents
  keep/api/dal/incidents.py
Due: black

Polishing
  keep-ui/components/navbar/AILink.tsx
Due: none

Add simple UI for alerts-to-incidents association
  keep-ui/app/alerts/alert-actions.tsx
  keep-ui/app/alerts/alert-associate-incident-modal.tsx
  keep-ui/app/alerts/models.tsx
Due: none

chore: wip
  keep-ui/app/incidents/[id]/incident-alerts.tsx
  keep-ui/app/incidents/[id]/incident-info.tsx
  keep-ui/utils/hooks/useIncidents.ts
Due: none

chore: wip
  keep-ui/app/incidents/[id]/incident-alerts.tsx
  keep-ui/app/incidents/[id]/incident-info.tsx
  keep-ui/app/incidents/incidents-table.tsx
  keep-ui/app/mapping/rules-table.tsx
  keep-ui/app/rules/PlaceholderSankey.tsx
  keep-ui/components/icons/index.tsx
  keep-ui/public/grafana.svg
  keep-ui/public/incidentmanager.svg
  keep-ui/public/psql.svg
Due: none

chore: begin of incident view
  keep-ui/app/alerts/alert-graph-viz.tsx
  keep-ui/app/alerts/alert-sidebar.tsx
  keep-ui/app/incidents/[id]/incident-alerts.tsx
  keep-ui/app/incidents/[id]/incident-info.tsx
  keep-ui/app/incidents/[id]/incident-topology.tsx
  keep-ui/app/incidents/[id]/incident.tsx
  keep-ui/app/incidents/[id]/layout.tsx
  keep-ui/app/incidents/[id]/page.tsx
  keep-ui/components/icons/index.tsx
  keep-ui/components/navbar/AILink.tsx
  keep-ui/utils/hooks/useIncidents.ts
  keep/api/models/db/migrations/versions/2024-07-16-12-16_37019ca3eb2e.py
Due: black

Removed dal module and move all functions to db.py
  keep/api/core/db.py
  keep/api/dal/__init__.py
  keep/api/dal/alerts.py
  keep/api/dal/incidents.py
  keep/api/routes/ai.py
  keep/api/routes/incidents.py
Due: black

License moves
  LICENSE
  ee/LICENSE
  ee/experimental/incident_utils.py
  keep/api/routes/incidents.py
  poetry.lock
  pyproject.toml
Due: black

chore: wip
  keep-ui/app/incidents/[id]/incident-alerts.tsx
  keep-ui/app/incidents/[id]/incident-info.tsx
  keep-ui/app/incidents/[id]/incident-topology.tsx
  keep-ui/app/incidents/[id]/incident.tsx
  keep-ui/app/incidents/[id]/layout.tsx
  keep-ui/components/icons/index.tsx
  keep-ui/components/navbar/AILink.tsx
Due: none

0.20.0
  pyproject.toml
Due: none

feat: wip
  keep-ui/app/alerts/alerts-rules-builder.tsx
  keep-ui/app/incidents/IncidentPlaceholder.tsx
  keep-ui/app/incidents/incident.tsx
  keep-ui/app/incidents/incidents-table.tsx
  keep-ui/app/incidents/model.ts
  keep/api/core/db.py
  keep/api/models/alert.py
  keep/api/models/db/alert.py
  keep/api/routes/incidents.py
Due: black

chore: wip
  keep-ui/app/incidents/[id]/incident.tsx
Due: none

chore(ui): incident view (#1385)
  keep-ui/app/alerts/alert-graph-viz.tsx
  keep-ui/app/alerts/alert-sidebar.tsx
  keep-ui/app/incidents/[id]/incident-alerts.tsx
  keep-ui/app/incidents/[id]/incident-info.tsx
  keep-ui/app/incidents/[id]/incident.tsx
  keep-ui/app/incidents/[id]/layout.tsx
  keep-ui/app/incidents/[id]/page.tsx
  keep-ui/app/incidents/incidents-table.tsx
  keep-ui/app/mapping/rules-table.tsx
  keep-ui/app/rules/PlaceholderSankey.tsx
  keep-ui/components/icons/index.tsx
  keep-ui/components/navbar/AILink.tsx
  keep-ui/public/grafana.svg
  keep-ui/public/incidentmanager.svg
  keep-ui/public/psql.svg
  keep-ui/utils/hooks/useIncidents.ts
  keep/api/models/db/migrations/versions/2024-07-15-15-10_c37ec8f6db3e.py
  keep/api/models/db/migrations/versions/2024-07-16-12-16_37019ca3eb2e.py
Due: black

fix(wf): workflow id bad attribute access
  keep/workflowmanager/workflowmanager.py
Due: black

feat: wip
  keep-ui/app/alerts/alert-associate-incident-modal.tsx
  keep-ui/app/incidents/create-or-update-incident.tsx
  keep-ui/app/incidents/incident.tsx
  keep-ui/app/incidents/incidents-table.tsx
  keep-ui/app/incidents/model.ts
  keep/api/core/db.py
  keep/api/models/alert.py
  keep/api/models/db/alert.py
  keep/api/routes/incidents.py
Due: black

fix: models
  keep/workflowmanager/workflowstore.py
Due: black

Optional mining
  docker/Dockerfile.api
  ee/LICENSE
  ee/experimental/__init__.py
  keep-ui/app/ai/ai.tsx
  keep-ui/app/ai/model.ts
  keep/api/core/db.py
  keep/api/models/db/migrations/script.py.mako
  keep/api/routes/ai.py
  keep/api/routes/incidents.py
Due: black

Apply suggestions from code review
  ee/LICENSE
Due: none

fix(wf): workflow id bad attribute access (#1387)
  keep/workflowmanager/workflowmanager.py
  keep/workflowmanager/workflowstore.py
Due: black
