Repository keephq/keep: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, check-yaml

black:
  name: black
  entry: black
  language: system
  require_serial: true

check-yaml:
  name: Check Yaml
  entry: check-yaml
  language: system

feat: providers
  keep/api/routes/providers.py
Due: black

feat: wip api
  examples/alerts/db_disk_space_multistep_telegram.yml
  keep/alert/alert.py
  keep/api/routes/alertsfiles.py
  keep/contextmanager/contextmanager.py
Due: black, check-yaml

fix: jsonable_encoder
  examples/alerts/db_disk_space_multistep_telegram.yml
  keep/api/routes/alertsfiles.py
Due: black, check-yaml

feat: add request
  examples/alerts/db_disk_space_multistep_telegram.yml
  keep/action/action.py
  keep/alert/alert.py
  keep/alertmanager/alertmanager.py
  keep/api/api.py
  keep/api/routes/alertsfiles.py
  pyproject.toml
Due: black, check-yaml

fix: fixing examples
  examples/alerts/elastic_200_demo.yml
  examples/alerts/monitor_migration_version.yml
  examples/alerts/purchase_fails.yml
  examples/alerts/sentry_example.yml
  examples/alerts/service_failed.yml
  keep/providers/elastic_provider/elastic_provider.py
Due: black, check-yaml

fix: build for m1
  .github/workflows/push-docker-image.yml
  Dockerfile.api
  Dockerfile.cli
  keep/alertmanager/alertmanager.py
Due: black, check-yaml

feat: wip api
  examples/alerts/db_disk_space.yml
  examples/alerts/elastic_200_demo.yml
  keep/api/routes/alertsfiles.py
  keep/api/routes/providers.py
  keep/cli/cli.py
  keep/exceptions/provider_config_exception.py
  keep/parser/parser.py
  keep/providers/elastic_provider/elastic_provider.py
  keep/providers/logfile_provider/logfile_provider.py
Due: black, check-yaml

feat: add run action
  keep/api/routes/alertsfiles.py
Due: black

feat: add run action
  Dockerfile.api
  keep/providers/logfile_provider/logfile_provider.py
  keep/providers/newrelic_provider/newrelic_provider.py
  keep/providers/pagerduty_provider/pagerduty_provider.py
  keep/providers/python_provider/python_provider.py
Due: black

feat: add run action
  examples/alerts/db_disk_space_pagerduty.yml
  examples/alerts/db_disk_space_pushover.yml
  examples/alerts/db_disk_space_several_alerts_in_one_yaml.yml
Due: check-yaml

fix: typo
  keep/api/routes/alertsfiles.py
Due: black

feat: minor cr fixes
  keep/action/action.py
  keep/alert/alert.py
Due: black

fix: cosmetics
  keep/action/action.py
  keep/api/api.py
  keep/api/routes/alertsfiles.py
Due: black

feat(api): initial commit (#74)
  .github/workflows/push-docker-image.yml
  Dockerfile.api
  Dockerfile.cli
  examples/alerts/db_disk_space.yml
  examples/alerts/db_disk_space_pagerduty.yml
  examples/alerts/db_disk_space_pushover.yml
  examples/alerts/db_disk_space_several_alerts_in_one_yaml.yml
  examples/alerts/db_disk_space_telegram.yml
  examples/alerts/db_disk_space_zenduty.yml
  examples/alerts/elastic_200_demo.yml
  examples/alerts/logfile_example.yml
  examples/alerts/monitor_migration_version.yml
  examples/alerts/purchase_fails.yml
  examples/alerts/sentry_example.yml
  examples/alerts/service_failed.yml
  keep/action/action.py
  keep/alert/alert.py
  keep/alertmanager/alertmanager.py
  keep/api/__init__.py
  keep/api/api.py
  keep/api/models/__init__.py
  keep/api/models/step_context.py
  keep/api/routes/__init__.py
  keep/api/routes/alertsfiles.py
  keep/api/routes/healthcheck.py
  keep/api/routes/providers.py
  keep/cli/cli.py
  keep/contextmanager/contextmanager.py
  keep/exceptions/provider_config_exception.py
  keep/parser/parser.py
  keep/providers/base/base_provider.py
  keep/providers/elastic_provider/elastic_provider.py
  keep/providers/logfile_provider/logfile_provider.py
  keep/providers/models/provider_config.py
  keep/providers/mysql_provider/mysql_provider.py
  keep/providers/newrelic_provider/newrelic_provider.py
  keep/providers/pagerduty_provider/pagerduty_provider.py
  keep/providers/python_provider/python_provider.py
  keep/step/step.py
  pyproject.toml
Due: black, check-yaml

custom: replace keep logo
  docs/static/img/keep.png
Due: none

Update README.md
  README.md
Due: none

fix: replace keep image in docs
  docs/docusaurus.config.js
  docs/static/img/keep.svg
Due: none

fix: replace keep's logo broadly (#87)
  README.md
  docs/docusaurus.config.js
  docs/static/img/keep.png
  docs/static/img/keep.svg
Due: none

fix: cosmetics in readme
  README.md
Due: none

fix: cosmetics in readme (#88)
  README.md
Due: none

fix: documentation favicon
  docs/static/img/favicon.ico
Due: none

fix: documentation favicon (#89)
  docs/static/img/favicon.ico
Due: none

docs: add semantic layer first auto generated alert
  examples/alerts/keep_semantic_alert_example_datadog.yml
Due: check-yaml

docs: add semantic layer first auto generated alert (#90)
  examples/alerts/keep_semantic_alert_example_datadog.yml
Due: check-yaml

Update CONTRIBUTING.md
  CONTRIBUTING.md
Due: none

updated Readme
  README.md
Due: none

docs: updated Readme (#93)
  README.md
Due: none

docs: Update CONTRIBUTING.md (#91)
  CONTRIBUTING.md
Due: none

fix(alertsfiles.py): alerts_file typo
  keep/api/routes/alertsfiles.py
Due: black

fix(alertsfiles.py): alerts_file typo (#95)
  keep/api/routes/alertsfiles.py
Due: black

Path conditions:
  black: any of: \.py$
  check-yaml: any of: \.(yaml|yml)$
