Repository keephq/keep: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, check-yaml

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: black
        name: black
        entry: black
        language: system
        types: [python]
        require_serial: true
      - id: check-added-large-files
        name: Check for added large files
        entry: check-added-large-files
        language: system
      - id: check-yaml
        name: Check Yaml
        entry: check-yaml
        language: system
        types: [yaml]
      - id: end-of-file-fixer
        name: Fix End of Files
        entry: end-of-file-fixer
        language: system
        types: [text]
        stages: [commit, push, manual]
      - id: isort
        name: isort
        entry: isort
        require_serial: true
        language: system
        types_or: [cython, pyi, python]
        args: ["--filter-files", "--profile", "black"]
      - id: trailing-whitespace
        name: Trim Trailing Whitespace
        entry: trailing-whitespace-fixer
        language: system
        types: [text]
        stages: [commit, push, manual]
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v2.6.0
    hooks:
      - id: prettier
  - repo: https://github.com/compilerla/conventional-pre-commit
    rev: v2.1.1
    hooks:
      - id: conventional-pre-commit
        stages: [commit-msg]
        args: [] # optional: list of Conventional Commits types to allow e.g. [feat, fix, ci, chore, test]

feat: newrelic get alerts
  keep/providers/newrelic_provider/newrelic_provider.py
Due: black

feat: newrelic get alerts (#379)
  keep/providers/newrelic_provider/newrelic_provider.py
Due: black

fix: sort alerts by timestamp
  keep-ui/app/alerts/alert-table.tsx
Due: none

feat: wip
  keep-ui/app/providers/provider-form-scopes.tsx
  keep-ui/app/providers/provider-form.tsx
  keep/api/routes/providers.py
Due: black

chore: remove unused imports
  keep-ui/app/alerts/alerts.tsx
Due: none

feat: wip
  keep-ui/app/providers/provider-form-scopes.tsx
  keep-ui/app/providers/provider-form.css
  keep-ui/app/providers/provider-form.tsx
  keep-ui/app/providers/provider-tile.tsx
  keep-ui/app/workflows/workflow-tile.tsx
  keep-ui/utils/helpers.ts
  keep/api/routes/providers.py
  keep/providers/datadog_provider/datadog_provider.py
Due: black

feat: wip
  keep-ui/app/providers/page.client.tsx
  keep-ui/app/providers/provider-form-scopes.tsx
  keep-ui/app/providers/provider-form.tsx
  keep-ui/app/providers/providers.tsx
  keep/api/logging.py
  keep/api/models/db/provider.py
  keep/api/routes/providers.py
  keep/providers/datadog_provider/datadog_provider.py
  keep/providers/models/provider_config.py
Due: black

chore: implement update and refresh scopes
  keep-ui/app/providers/page.client.tsx
  keep-ui/app/providers/provider-form.tsx
  keep-ui/app/providers/provider-menu.tsx
  keep-ui/app/providers/provider-tile.tsx
  keep-ui/app/providers/providers-installed.tsx
  keep-ui/app/providers/providers-tiles.css
  keep-ui/app/providers/providers-tiles.tsx
  keep/api/routes/providers.py
  keep/providers/providers_factory.py
Due: black

feat: wip
  docs/providers/documentation/datadog-provider.mdx
  keep/providers/base/base_provider.py
  keep/providers/datadog_provider/datadog_provider.py
  keep/providers/models/provider_config.py
Due: black

feat: wip
  docs/providers/documentation/datadog-provider.mdx
  keep/api/models/provider.py
  keep/providers/base/base_provider.py
  keep/providers/datadog_provider/datadog_provider.py
  keep/providers/models/provider_config.py
  keep/providers/providers_factory.py
Due: black

feat: add validatedScopes from db
  keep-ui/app/providers/page.client.tsx
  keep-ui/app/providers/provider-form.tsx
  keep-ui/app/providers/providers.tsx
  keep/api/core/db.py
  keep/api/models/db/provider.py
  keep/api/models/provider.py
  keep/providers/providers_factory.py
Due: black

fix: wip
  keep-ui/app/providers/provider-form.css
  keep-ui/app/providers/provider-form.tsx
Due: none

fix: bugs
  keep-ui/app/providers/page.client.tsx
  keep-ui/app/providers/provider-form.tsx
Due: none

added docs and icons for github_workflows provider
  docs/providers/documentation/github_workflows_provider.mdx
  keep-ui/public/githubworkflows.svg
  keep-ui/public/icons/githubworkflows-icon.png
  keep/providers/github_workflows_provider/github_workflows_provider.py
Due: black

wip: sentry get alerts
  keep/providers/sentry_provider/sentry_provider.py
Due: black

fix: fix
  keep-ui/app/providers/page.client.tsx
  keep-ui/app/providers/provider-form.tsx
  keep/api/routes/providers.py
Due: black

feat: configure and test scopes, edit provider details (#378)
  docs/providers/documentation/datadog-provider.mdx
  keep-ui/app/alerts/alert-table.tsx
  keep-ui/app/alerts/alerts.tsx
  keep-ui/app/providers/page.client.tsx
  keep-ui/app/providers/provider-form-scopes.tsx
  keep-ui/app/providers/provider-form.css
  keep-ui/app/providers/provider-form.tsx
  keep-ui/app/providers/provider-menu.tsx
  keep-ui/app/providers/provider-tile.tsx
  keep-ui/app/providers/providers-installed.tsx
  keep-ui/app/providers/providers-tiles.css
  keep-ui/app/providers/providers-tiles.tsx
  keep-ui/app/providers/providers.tsx
  keep-ui/app/workflows/workflow-tile.tsx
  keep-ui/utils/helpers.ts
  keep/api/core/db.py
  keep/api/logging.py
  keep/api/models/db/provider.py
  keep/api/models/provider.py
  keep/api/routes/providers.py
  keep/providers/base/base_provider.py
  keep/providers/datadog_provider/datadog_provider.py
  keep/providers/models/provider_config.py
  keep/providers/providers_factory.py
Due: black

fix: when scopes in db is null
  keep-ui/app/providers/page.client.tsx
Due: none

fix: when scopes in db is null (#382)
  keep-ui/app/providers/page.client.tsx
Due: none

fix: label containers
  keep-ui/app/providers/provider-form.tsx
Due: none

fix: label containers (#383)
  keep-ui/app/providers/provider-form.tsx
Due: none

fix(ui): bad hostname
  chart/keep/values.yaml
Due: check-yaml

fix(ui): bad hostname (#384)
  chart/keep/values.yaml
Due: check-yaml

fix: linear provider
  keep/providers/linear_provider/linear_provider.py
Due: black

refactor
  keep/providers/linear_provider/linear_provider.py
Due: black

updated docs
  docs/providers/documentation/linear_provider.mdx
Due: none

feat: added github workflows provider (#363)
  docs/providers/documentation/github_workflows_provider.mdx
  keep-ui/public/githubworkflows.svg
  keep-ui/public/icons/githubworkflows-icon.png
  keep/providers/github_workflows_provider/__init__.py
  keep/providers/github_workflows_provider/github_workflows_provider.py
Due: black

fix: linear provider (#385)
  docs/providers/documentation/linear_provider.mdx
  keep/providers/linear_provider/linear_provider.py
Due: black

feat: wip
  keep/api/models/alert.py
  keep/api/routes/alerts.py
  keep/cli/cli.py
Due: black

fix: missing provider issue in ui
  keep/providers/linear_provider/linear_provider.py
Due: black

fix: missing provider issue in ui (#387)
  keep/providers/linear_provider/linear_provider.py
Due: black
