Repository keephq/keep: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, check-yaml

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: black
        name: black
        entry: black
        language: system
        types: [python]
        require_serial: true
      - id: check-added-large-files
        name: Check for added large files
        entry: check-added-large-files
        language: system
      - id: check-yaml
        name: Check Yaml
        entry: check-yaml
        language: system
        types: [yaml]
      - id: end-of-file-fixer
        name: Fix End of Files
        entry: end-of-file-fixer
        language: system
        types: [text]
        stages: [commit, push, manual]
      - id: isort
        name: isort
        entry: isort
        require_serial: true
        language: system
        types_or: [cython, pyi, python]
        args: ["--filter-files", "--profile", "black"]
      - id: trailing-whitespace
        name: Trim Trailing Whitespace
        entry: trailing-whitespace-fixer
        language: system
        types: [text]
        stages: [commit, push, manual]
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v2.6.0
    hooks:
      - id: prettier
  - repo: https://github.com/compilerla/conventional-pre-commit
    rev: v2.1.1
    hooks:
      - id: conventional-pre-commit
        stages: [commit-msg]
        args: [] # optional: list of Conventional Commits types to allow e.g. [feat, fix, ci, chore, test]

fix(alertsfiles.py): alerts_file typo (#95)
  keep/api/routes/alertsfiles.py
Due: black

docs: slack provider document updated
  docs/docs/providers/documentation/slack.md
Due: none

docs: slack provider document updated (#96)
  docs/docs/providers/documentation/slack.md
Due: none

fix(docs): slack provider typo fix
  docs/docs/providers/documentation/slack.md
Due: none

feat: slack doc (#97)
  docs/docs/providers/documentation/slack.md
Due: none

Added first test's for parser
  keep/parser/tests_for_parser/test_parser.py
  pyproject.toml
Due: black

Little changes to the syntax of the test functions created so far
  keep/parser/tests_for_parser/test_parser.py
Due: black

feat: adding postgres provider + multivalue threshold
  deploy.sh
  examples/alerts/logfile_example.yml
  keep/action/action.py
  keep/conditions/assert_condition.py
  keep/conditions/base_condition.py
  keep/conditions/condition_factory.py
  keep/conditions/threshold_condition.py
  keep/contextmanager/contextmanager.py
  keep/iohandler/iohandler.py
  keep/providers/logfile_provider/logfile_provider.py
  keep/providers/postgres_provider/__init__.py
  keep/providers/postgres_provider/postgres_provider.py
  keep/providers/providers_factory.py
  keep/step/step.py
Due: black, check-yaml

feat: fix
  examples/alerts/logfile_example.yml
Due: check-yaml

feat: fixes and docs'
  examples/alerts/logfile_example.yml
  keep/conditions/base_condition.py
  keep/conditions/threshold_condition.py
  keep/iohandler/iohandler.py
  keep/providers/postgres_provider/postgres_provider.py
Due: black, check-yaml

feat: add the alert itself
  examples/alerts/DiskGrownDefectsRule.yml
Due: check-yaml

feat: fix typo
  examples/alerts/DiskGrownDefectsRule.yml
Due: check-yaml

feat: pr
  deploy.sh
  keep/conditions/base_condition.py
  keep/iohandler/iohandler.py
  keep/providers/providers_factory.py
  keep/step/step.py
Due: black

feat: pr
  keep/conditions/threshold_condition.py
  keep/contextmanager/contextmanager.py
  keep/providers/postgres_provider/postgres_provider.py
Due: black

feat: adding postgres provider + multivalue threshold (#101)
  examples/alerts/DiskGrownDefectsRule.yml
  examples/alerts/logfile_example.yml
  keep/action/action.py
  keep/conditions/assert_condition.py
  keep/conditions/base_condition.py
  keep/conditions/condition_factory.py
  keep/conditions/threshold_condition.py
  keep/contextmanager/contextmanager.py
  keep/iohandler/iohandler.py
  keep/providers/logfile_provider/logfile_provider.py
  keep/providers/postgres_provider/__init__.py
  keep/providers/postgres_provider/postgres_provider.py
  keep/providers/providers_factory.py
  keep/step/step.py
Due: black, check-yaml

feat: github stars provider
  docs/docs/state.md
  examples/alerts/new_github_stars.yml
  keep/action/action.py
  keep/alert/alert.py
  keep/alertmanager/alertmanager.py
  keep/contextmanager/contextmanager.py
  keep/iohandler/iohandler.py
  keep/parser/parser.py
  keep/providers/github_provider/__init__.py
  keep/providers/github_provider/github_provider.py
  keep/statemanager/statemanager.py
  keep/throttles/base_throttle.py
  keep/throttles/one_until_resolved_throttle.py
Due: black, check-yaml

fix: remove redundant line
  keep/providers/github_provider/github_provider.py
Due: black

fix: condition name
  keep/step/step.py
Due: black

fix: condition_name
  keep/step/step.py
Due: black

fix: github
  examples/alerts/new_github_stars.yml
  keep/providers/github_provider/github_provider.py
Due: black, check-yaml

Update docs/docs/state.md
  docs/docs/state.md
Due: none

docs: add docs for exclude_state
  keep/contextmanager/contextmanager.py
Due: black

fix: add logger for load state
  keep/contextmanager/contextmanager.py
Due: black

feat: github (stars) provider + improvements (#102)
  docs/docs/state.md
  examples/alerts/new_github_stars.yml
  keep/action/action.py
  keep/alert/alert.py
  keep/alertmanager/alertmanager.py
  keep/contextmanager/contextmanager.py
  keep/iohandler/iohandler.py
  keep/parser/parser.py
  keep/providers/github_provider/__init__.py
  keep/providers/github_provider/github_provider.py
  keep/statemanager/statemanager.py
  keep/step/step.py
  keep/throttles/base_throttle.py
  keep/throttles/one_until_resolved_throttle.py
Due: black, check-yaml

fix: github auth
  examples/alerts/new_github_stars.yml
  keep/providers/github_provider/github_provider.py
Due: black, check-yaml

fix: github auth (#107)
  examples/alerts/new_github_stars.yml
  keep/providers/github_provider/github_provider.py
Due: black, check-yaml

fix: empty state in GitHub
  examples/alerts/new_github_stars.yml
  keep/providers/github_provider/github_provider.py
Due: black, check-yaml

feat: add github stars provider logs
  keep/providers/github_provider/github_provider.py
Due: black

feat: add github stars provider logs (#108)
  keep/providers/github_provider/github_provider.py
Due: black

feat: update state in memory
  keep/contextmanager/contextmanager.py
  keep/providers/github_provider/github_provider.py
Due: black

fix: update state in memory (#109)
  keep/contextmanager/contextmanager.py
  keep/providers/github_provider/github_provider.py
Due: black

fix(github provider): cast str to int when coming from state
  keep/providers/github_provider/github_provider.py
Due: black
