Repository keephq/keep: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, check-yaml

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: black
        name: black
        entry: black
        language: system
        types: [python]
        require_serial: true
      - id: check-added-large-files
        name: Check for added large files
        entry: check-added-large-files
        language: system
      - id: check-yaml
        name: Check Yaml
        entry: check-yaml
        language: system
        types: [yaml]
      - id: end-of-file-fixer
        name: Fix End of Files
        entry: end-of-file-fixer
        language: system
        types: [text]
        stages: [commit, push, manual]
      - id: isort
        name: isort
        entry: isort
        require_serial: true
        language: system
        types_or: [cython, pyi, python]
        args: ["--filter-files", "--profile", "black"]
      - id: trailing-whitespace
        name: Trim Trailing Whitespace
        entry: trailing-whitespace-fixer
        language: system
        types: [text]
        stages: [commit, push, manual]
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v2.6.0
    hooks:
      - id: prettier
  - repo: https://github.com/compilerla/conventional-pre-commit
    rev: v2.1.1
    hooks:
      - id: conventional-pre-commit
        stages: [commit-msg]
        args: [] # optional: list of Conventional Commits types to allow e.g. [feat, fix, ci, chore, test]

fix: build
  examples/workflows/create_jira_ticket_upon_alerts.yml
  keep-ui/app/workflows/workflow-tile.tsx
Due: check-yaml

feat: add the ability to run workflows with alert trigger from UI (#536)
  examples/workflows/create_jira_ticket_upon_alerts.yml
  keep-ui/app/workflows/models.tsx
  keep-ui/app/workflows/workflow-menu.tsx
  keep-ui/app/workflows/workflow-run-with-alert-modal.tsx
  keep-ui/app/workflows/workflow-tile.tsx
  keep/providers/base/base_provider.py
Due: black, check-yaml

Added a provider document icon
  keep-ui/app/providers/provider-form.tsx
Due: none

fix: env init
  keep/cli/cli.py
Due: black

fix: env init (#540)
  keep/cli/cli.py
Due: black

feat(ui): added a provider documentation icon (#539)
  keep-ui/app/providers/provider-form.tsx
Due: none

feat: fix cli and add cli workflow
  .github/workflows/sync-keep-workflows.yml
  docker/Dockerfile.cli
  keep/cli/cli.py
Due: black, check-yaml

fix: env init (#546)
  .github/workflows/sync-keep-workflows.yml
  docker/Dockerfile.cli
  keep/cli/cli.py
Due: black, check-yaml

fix: small issue
  .github/workflows/sync-keep-workflows.yml
Due: check-yaml

fix(workflow): minor typo (#547)
  .github/workflows/sync-keep-workflows.yml
Due: check-yaml

fix: catch generic auth exception
  .github/workflows/sync-keep-workflows.yml
  keep/cli/cli.py
Due: black, check-yaml

feat(cli): add generic make_keep_requests (#548)
  .github/workflows/sync-keep-workflows.yml
  keep/cli/cli.py
Due: black, check-yaml

docs: add docs
  .github/workflows/sync-keep-workflows.yml
  docs/cli/github-actions.mdx
  docs/mint.json
Due: check-yaml

feat(docs): add docs on github action (#549)
  .github/workflows/sync-keep-workflows.yml
  docs/cli/github-actions.mdx
  docs/mint.json
Due: check-yaml

Update bigquery_provider.py
  keep/providers/bigquery_provider/bigquery_provider.py
Due: black

feat: disable webhooks on localhost
  docs/cli/overview.mdx
  docs/development/external-url.mdx
  docs/mint.json
  keep-ui/app/providers/page.client.tsx
  keep-ui/app/providers/provider-form.tsx
  keep-ui/app/providers/providers-tiles.tsx
  keep-ui/app/providers/providers.tsx
  keep/api/routes/providers.py
Due: black

feat: disable webhooks on localhost (#553)
  docs/cli/overview.mdx
  docs/development/external-url.mdx
  docs/mint.json
  keep-ui/app/providers/page.client.tsx
  keep-ui/app/providers/provider-form.tsx
  keep-ui/app/providers/providers-tiles.tsx
  keep-ui/app/providers/providers.tsx
  keep/api/routes/providers.py
Due: black

feat: cli login with oauth
  .gitignore
  keep/cli/cli.py
Due: black

fix: start the server
  .keep.yaml
  keep/cli/cli.py
Due: black, check-yaml

fix: remove keep yaml
  .keep.yaml
Due: check-yaml

fix: start the server (#554)
  keep/cli/cli.py
Due: black

feat: delete alerts (pulled & push) and show deleted view
  keep-ui/app/alerts/alert-menu.tsx
  keep-ui/app/alerts/alert-table.tsx
  keep-ui/app/alerts/alert-transition.tsx
  keep-ui/app/alerts/alerts-table-body.tsx
  keep-ui/app/alerts/alerts.client.tsx
  keep-ui/app/alerts/alerts.tsx
  keep-ui/app/alerts/models.tsx
  keep-ui/package-lock.json
  keep-ui/package.json
  keep/api/core/db.py
  keep/api/models/alert.py
  keep/api/models/db/alert.py
  keep/api/routes/alerts.py
Due: black

fix: texts
  keep-ui/app/alerts/alert-menu.tsx
Due: none

chore: init
  keep-ui/app/providers/provider-tile.tsx
  keep-ui/app/providers/providers-tiles.css
Due: none

feat: wip
  .github/workflows/test-pr.yml
  keep-ui/app/providers/context.ts
  keep-ui/app/providers/layout.tsx
  keep-ui/app/providers/page.client.tsx
  keep-ui/app/providers/provider-form.tsx
  keep-ui/app/providers/provider-tile.tsx
  keep-ui/app/providers/providers.tsx
  keep/api/models/provider.py
  keep/providers/axiom_provider/axiom_provider.py
  keep/providers/base/base_provider.py
  keep/providers/discord_provider/discord_provider.py
  keep/providers/kafka_provider/kafka_provider.py
  keep/providers/mattermost_provider/mattermost_provider.py
  keep/providers/oncall_provider/oncall_provider.py
  keep/providers/planner_provider/planner_provider.py
  keep/providers/providers_factory.py
  keep/providers/pushover_provider/pushover_provider.py
  keep/providers/teams_provider/teams_provider.py
Due: black, check-yaml

feat: wip
  keep-ui/app/providers/layout.tsx
  keep-ui/app/providers/provider-tile.tsx
  keep-ui/app/providers/providers-tiles.tsx
Due: none

chore: Upload json instead of giving json path in Bigquery
  keep/providers/bigquery_provider/bigquery_provider.py
Due: black
