Repository keephq/keep: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, check-yaml

black:
  name: black
  entry: black
  language: system
  require_serial: true

check-yaml:
  name: Check Yaml
  entry: check-yaml
  language: system

fix: remove span from compress
  keep/api/routes/alerts.py
Due: black

fix: add cluster
  keep-ui/app/alerts/alerts.tsx
  keep/api/core/dependencies.py
Due: black

fix: wip
  keep-ui/app/alerts/alert-table.tsx
  keep/api/api.py
  keep/api/routes/alerts.py
Due: black

chore(deps): pusher
  keep-ui/package-lock.json
  keep-ui/package.json
Due: none

fix: improve compression
  keep/api/routes/alerts.py
Due: black

fix: max size of message
  keep/api/core/dependencies.py
  keep/api/routes/alerts.py
  keep/providers/sentry_provider/sentry_provider.py
Due: black

fix: more improvements
  keep/api/routes/alerts.py
Due: black

fix: compression
  keep-ui/app/alerts/alerts.tsx
  keep-ui/package-lock.json
  keep-ui/package.json
  keep/api/routes/alerts.py
Due: black

chore: subscribed successfully
  docker-compose-with-auth.yml
  docker-compose-with-otel.yaml
  docker-compose.dev.yml
  docker-compose.yml
  keep-ui/app/alerts/alerts.tsx
  keep-ui/next.config.js
  keep-ui/package-lock.json
  keep-ui/package.json
  keep-ui/postcss.config.js
  keep/api/core/dependencies.py
  keep/api/routes/pusher.py
Due: black, check-yaml

fix: skeleton
  keep-ui/app/alerts/alert-table.tsx
  keep-ui/app/alerts/alerts-table-body.tsx
Due: none

fix: improve mechanism
  keep/api/routes/alerts.py
Due: black

fix: docker-compose and pusher host and port
  docker-compose-with-auth.yml
  docker-compose-with-otel.yaml
  docker-compose.dev.yml
  docker-compose.yml
  keep/api/core/dependencies.py
Due: black, check-yaml

feat: working
  keep-ui/app/alerts/alert-table.tsx
  keep-ui/app/alerts/alerts-table-body.tsx
  keep-ui/app/alerts/alerts.tsx
  keep/api/routes/alerts.py
  keep/providers/datadog_provider/datadog_provider.py
Due: black

fix: improve
  keep/api/routes/alerts.py
Due: black

feat: add pusher authentication endpoint
  keep/api/api.py
  keep/api/core/dependencies.py
  keep/api/routes/pusher.py
  poetry.lock
  pyproject.toml
Due: black

fix: better compression
  keep-ui/app/alerts/alerts.tsx
  keep/api/routes/alerts.py
Due: black

chore: helm chart
  chart/keep/Chart.yaml
  chart/keep/README.md
  chart/keep/templates/keep-websocket-server-service.yaml
  chart/keep/templates/keep-websocket-server.yaml
  chart/keep/values.yaml
  poetry.lock
Due: check-yaml

fix: final fixes
  chart/keep/README.md
  chart/keep/templates/keep-websocket-server-service.yaml
  chart/keep/templates/keep-websocket-server.yaml
  chart/keep/values.yaml
  keep-ui/app/alerts/alert-table.tsx
  keep-ui/app/alerts/alerts-table-body.tsx
  keep-ui/app/alerts/models.tsx
Due: check-yaml

fix: index
  keep-ui/app/alerts/alerts-table-body.tsx
Due: none

chore: remove redundant deps
  keep-ui/package-lock.json
  keep-ui/package.json
Due: none

fix: timeout
  keep/providers/sentry_provider/sentry_provider.py
Due: black

feat: get alerts async (#504)
  chart/keep/Chart.yaml
  chart/keep/README.md
  chart/keep/templates/keep-websocket-server-service.yaml
  chart/keep/templates/keep-websocket-server.yaml
  chart/keep/values.yaml
  docker-compose-with-auth.yml
  docker-compose-with-otel.yaml
  docker-compose.dev.yml
  docker-compose.yml
  keep-ui/app/alerts/alert-table.tsx
  keep-ui/app/alerts/alerts-table-body.tsx
  keep-ui/app/alerts/alerts.client.tsx
  keep-ui/app/alerts/alerts.tsx
  keep-ui/app/alerts/models.tsx
  keep-ui/app/providers/page.client.tsx
  keep-ui/next.config.js
  keep-ui/package-lock.json
  keep-ui/package.json
  keep-ui/pages/api/auth/[...nextauth].ts
  keep-ui/postcss.config.js
  keep-ui/types/next-auth.d.ts
  keep-ui/utils/customAuth.ts
  keep/api/api.py
  keep/api/core/dependencies.py
  keep/api/routes/alerts.py
  keep/api/routes/pusher.py
  keep/providers/datadog_provider/datadog_provider.py
  keep/providers/sentry_provider/sentry_provider.py
  poetry.lock
  pyproject.toml
Due: black, check-yaml

fix: arm
  keep-ui/next_build.sh
Due: none

fix: arm (#508)
  keep-ui/next_build.sh
Due: none

fix: next_build.sh
  keep-ui/next_build.sh
Due: none

feat(ui): alert trigger to include provider icon
  keep-ui/app/alerts/alerts.tsx
  keep-ui/app/workflows/workflow-tile.tsx
  keep/api/models/workflow.py
  keep/api/routes/alerts.py
Due: black

fix: next_build again
  keep-ui/next_build.sh
Due: none

fix: when image does not exist
  keep-ui/app/workflows/workflow-tile.tsx
Due: none

fix: default to keep image
  keep-ui/app/workflows/workflow-tile.tsx
Due: none

fix: href
  keep-ui/app/workflows/workflow-tile.tsx
Due: none

fix: baseVal
  keep-ui/app/workflows/workflow-tile.tsx
Due: none

feat(ui): alert trigger to include provider icon (#507)
  keep-ui/app/alerts/alerts.tsx
  keep-ui/app/workflows/workflow-tile.tsx
  keep-ui/next_build.sh
  keep/api/models/workflow.py
  keep/api/routes/alerts.py
Due: black

fix: pusher on docker
  chart/keep/values.yaml
  docker-compose-with-auth.yml
  docker-compose-with-otel.yaml
  docker-compose.dev.yml
  docker-compose.yml
  docker/Dockerfile.dev.api
  docker/Dockerfile.ui
  keep-ui/pages/api/auth/[...nextauth].ts
  keep/api/api.py
Due: black, check-yaml

fix: pusher on docker (#510)
  chart/keep/values.yaml
  docker-compose-with-auth.yml
  docker-compose-with-otel.yaml
  docker-compose.dev.yml
  docker-compose.yml
  docker/Dockerfile.dev.api
  docker/Dockerfile.ui
  keep-ui/pages/api/auth/[...nextauth].ts
  keep/api/api.py
Due: black, check-yaml

fix: generic event and alert deletion
  keep-ui/app/alerts/alert-menu.tsx
  keep-ui/app/alerts/alert-table.tsx
  keep-ui/app/alerts/alerts-table-body.tsx
  keep-ui/app/alerts/alerts.tsx
  keep/api/models/alert.py
  keep/api/routes/alerts.py
Due: black

fix: generic event and alert deletion (#511)
  keep-ui/app/alerts/alert-menu.tsx
  keep-ui/app/alerts/alert-table.tsx
  keep-ui/app/alerts/alerts-table-body.tsx
  keep-ui/app/alerts/alerts.tsx
  keep/api/models/alert.py
  keep/api/routes/alerts.py
Due: black

Path conditions:
  black: any of: \.py$
  check-yaml: any of: \.(yaml|yml)$
