Repository keephq/keep: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, check-yaml

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: black
        name: black
        entry: black
        language: system
        types: [python]
        require_serial: true
      - id: check-added-large-files
        name: Check for added large files
        entry: check-added-large-files
        language: system
      - id: check-yaml
        name: Check Yaml
        entry: check-yaml
        language: system
        types: [yaml]
      - id: end-of-file-fixer
        name: Fix End of Files
        entry: end-of-file-fixer
        language: system
        types: [text]
        stages: [commit, push, manual]
      - id: isort
        name: isort
        entry: isort
        require_serial: true
        language: system
        types_or: [cython, pyi, python]
        args: ["--filter-files", "--profile", "black"]
      - id: trailing-whitespace
        name: Trim Trailing Whitespace
        entry: trailing-whitespace-fixer
        language: system
        types: [text]
        stages: [commit, push, manual]
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v2.6.0
    hooks:
      - id: prettier
  - repo: https://github.com/compilerla/conventional-pre-commit
    rev: v2.1.1
    hooks:
      - id: conventional-pre-commit
        stages: [commit-msg]
        args: [] # optional: list of Conventional Commits types to allow e.g. [feat, fix, ci, chore, test]

Fix
  ee/experimental/incident_utils.py
Due: black

alert-correlation-v01
  ee/experimental/graph_utils.py
  ee/experimental/note_utils.py
  ee/experimental/statistical_utils.py
  keep/api/core/db.py
  keep/api/core/db_on_start.py
  keep/api/models/db/migrations/env.py
  keep/api/models/db/migrations/versions/2024-07-24-13-39_9ba0aeecd4d0.py
  keep/api/models/db/statistics.py
  keep/api/routes/incidents.py
  keep/api/utils/import_ee.py
Due: black

fix:rounded the trigger buttona and truncate the timeago
  keep-ui/app/workflows/workflow-tile.tsx
Due: none

chore:added the border color to the card on hover
  keep-ui/app/workflows/mockworkflows.tsx
  keep-ui/app/workflows/workflow-tile.tsx
Due: none

Allow forcing timestamps
  keep/api/tasks/process_event_task.py
  scripts/shoot_alerts_from_dump.py
Due: black

fixed the button round issue
  keep-ui/app/workflows/workflow-tile.tsx
Due: none

fix(slack): blocks could be list too
  keep/providers/slack_provider/slack_provider.py
Due: black

fix(slack): blocks could be list too (#1457)
  keep/providers/slack_provider/slack_provider.py
Due: black

Bulk enrich alerts when using elastic search
  keep/api/core/elastic.py
Due: black

Add test to cover enrichments in elastic search
  tests/test_search_alerts.py
Due: black

fix:added missed condition in interval
  keep-ui/app/workflows/workflow-tile.tsx
Due: none

chore:referted the duplicate code
  keep/api/routes/workflows.py
Due: black

chore:code clean up
  keep-ui/app/workflows/mockworkflows.tsx
  keep-ui/app/workflows/workflow-tile.tsx
  keep/api/routes/workflows.py
Due: black

chore:reverted the extra spaces
  keep/api/routes/workflows.py
Due: black

chore: reverted the duplicate import
  keep/api/routes/workflows.py
Due: black

chore:handled the trigger button and hover broder on cards
  keep-ui/app/workflows/mockworkflows.tsx
  keep-ui/app/workflows/workflow-tile.tsx
Due: none

feat: new workflow capabilities
  examples/workflows/workflow_start_example.yml
  keep/api/core/db.py
  keep/functions/__init__.py
  tests/conftest.py
  tests/test_functions.py
  tests/test_workflow_execution.py
Due: black, check-yaml

feat: new workflow capabilities
  tests/test_workflow_execution.py
Due: black

chore(ui): handled the trigger button and hover broder on cards (#1458)
  keep-ui/app/workflows/mockworkflows.tsx
  keep-ui/app/workflows/workflow-tile.tsx
Due: none

feat: wip
  tests/conftest.py
  tests/test_workflow_execution.py
Due: black

fix: enrichments
  keep/api/core/elastic.py
  keep/searchengine/searchengine.py
Due: black

fix: groupingCriteria
  keep-ui/app/rules/CorrelationSidebar/CorrelationSidebarBody.tsx
  keep/api/core/db.py
  keep/api/routes/rules.py
Due: black

fix: groupingCriteria (#1463)
  keep-ui/app/rules/CorrelationSidebar/CorrelationSidebarBody.tsx
  keep/api/core/db.py
  keep/api/routes/rules.py
Due: black

fix: test
  tests/test_search_alerts.py
Due: black

fix: enrichments (#1461)
  keep/api/core/elastic.py
  keep/searchengine/searchengine.py
  tests/test_search_alerts.py
Due: black

chore:handled the image error issue
  keep-ui/app/workflows/workflow-tile.tsx
Due: none

feat: redundant
  keep/api/core/db.py
Due: black

chore:removed unwanted empty lines
  keep-ui/app/workflows/workflow-tile.tsx
Due: none

few params added
  .gitignore
  keep/api/routes/alerts.py
  keep/api/routes/incidents.py
Due: black

fix: missing trigger icon if image not found (#1464)
  keep-ui/app/workflows/workflow-tile.tsx
Due: none

fix: notify
  keep/api/tasks/process_event_task.py
Due: black
