Repository keephq/keep: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, check-yaml

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: black
        name: black
        entry: black
        language: system
        types: [python]
        require_serial: true
      - id: check-added-large-files
        name: Check for added large files
        entry: check-added-large-files
        language: system
      - id: check-yaml
        name: Check Yaml
        entry: check-yaml
        language: system
        types: [yaml]
      - id: end-of-file-fixer
        name: Fix End of Files
        entry: end-of-file-fixer
        language: system
        types: [text]
        stages: [commit, push, manual]
      - id: isort
        name: isort
        entry: isort
        require_serial: true
        language: system
        types_or: [cython, pyi, python]
        args: ["--filter-files", "--profile", "black"]
      - id: trailing-whitespace
        name: Trim Trailing Whitespace
        entry: trailing-whitespace-fixer
        language: system
        types: [text]
        stages: [commit, push, manual]
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v2.6.0
    hooks:
      - id: prettier
  - repo: https://github.com/compilerla/conventional-pre-commit
    rev: v2.1.1
    hooks:
      - id: conventional-pre-commit
        stages: [commit-msg]
        args: [] # optional: list of Conventional Commits types to allow e.g. [feat, fix, ci, chore, test]

feat: users management (#260)
  keep-ui/app/alerts/alert-menu.tsx
  keep-ui/app/alerts/alert-table.tsx
  keep-ui/app/alerts/alerts-table-body.css
  keep-ui/app/alerts/alerts-table-body.tsx
  keep-ui/app/settings/layout.tsx
  keep-ui/app/settings/models.tsx
  keep-ui/app/settings/page.tsx
  keep-ui/app/settings/settings.client.tsx
  keep-ui/app/settings/users-menu.tsx
  keep-ui/app/settings/users-settings.tsx
  keep-ui/app/settings/webhook-settings.tsx
  keep-ui/next.config.js
  keep-ui/utils/customAuth.ts
  keep/api/models/alert.py
  keep/api/models/db/tenant.py
  keep/api/models/user.py
  keep/api/routes/alerts.py
  keep/api/routes/settings.py
  keep/api/utils/auth0_utils.py
  keep/api/utils/tenant_utils.py
  poetry.lock
  pyproject.toml
Due: black

feat: add the execution logs page
  examples/workflows/dd.yml
  keep-ui/app/workflows/[workflow_id]/page.tsx
  keep-ui/app/workflows/[workflow_id]/runs/[workflow_execution_id]/page.tsx
  keep-ui/app/workflows/workflows.client.tsx
  keep/api/core/db.py
  keep/api/logging.py
  keep/api/models/db/workflow.py
  keep/api/models/workflow.py
  keep/api/routes/workflows.py
  keep/contextmanager/contextmanager.py
  keep/step/step.py
  keep/workflowmanager/workflow.py
  keep/workflowmanager/workflowmanager.py
  keep/workflowmanager/workflowscheduler.py
  keep/workflowmanager/workflowstore.py
Due: black, check-yaml

fix: datadog provider to update api key in webhook
  keep/providers/datadog_provider/datadog_provider.py
Due: black

fix: datadog provider to update api key in webhook (#261)
  keep/providers/datadog_provider/datadog_provider.py
Due: black

feat: starting to make UT's pass again
  keep/api/core/db.py
  keep/workflowmanager/workflowstore.py
  tests/__init__.py
  tests/conftest.py
  tests/test_contextmanager.py
  tests/test_iohandler.py
  tests/test_parser.py
  tests/workflows/db_disk_space_for_testing.yml
  tests/workflows/providers_for_testing.yaml
Due: black, check-yaml

feat: fix the linter'
  keep-ui/app/workflows/[workflow_id]/runs/[workflow_execution_id]/page.tsx
Due: none

feat: add external alert url if available
  keep-ui/app/alerts/alert-menu.tsx
  keep-ui/app/alerts/alerts-table-body.tsx
  keep-ui/app/alerts/models.tsx
  keep/api/models/alert.py
  keep/providers/datadog_provider/datadog_provider.py
  keep/providers/zabbix_provider/zabbix_provider.py
Due: black

feat: add external alert url if available (#262)
  keep-ui/app/alerts/alert-menu.tsx
  keep-ui/app/alerts/alerts-table-body.tsx
  keep-ui/app/alerts/models.tsx
  keep/api/models/alert.py
  keep/providers/datadog_provider/datadog_provider.py
  keep/providers/zabbix_provider/zabbix_provider.py
Due: black

feat: docs
  docs/api/ai/create-alert.mdx
  docs/api/ai/repair-alert.mdx
  docs/api/alerts/get-alerts.mdx
  docs/api/alerts/receive-event.mdx
  docs/api/healthcheck/healthcheck.mdx
  docs/api/providers/add-alert.mdx
  docs/api/providers/delete-provider.mdx
  docs/api/providers/get-alerts-configuration.mdx
  docs/api/providers/get-alerts-schema.mdx
  docs/api/providers/get-logs.mdx
  docs/api/providers/get-providers.mdx
  docs/api/providers/get-webhook-settings.mdx
  docs/api/providers/install-provider-webhook.mdx
  docs/api/providers/install-provider.mdx
  docs/api/providers/test-provider.mdx
  docs/api/settings/webhook-settings.mdx
  docs/api/tenant/is-onboarded.mdx
  docs/api/tenant/save-github-installation-id.mdx
  docs/api/workflows/create-workflow.mdx
  docs/api/workflows/delete-workflow-by-id.mdx
  docs/api/workflows/get-workflow-by-id.mdx
  docs/api/workflows/get-workflow-execution-status.mdx
  docs/api/workflows/get-workflows.mdx
  docs/api/workflows/run-workflow.mdx
  docs/mint.json
  docs/openapi.json
  docs/overview/examples.mdx
  docs/platform/overview.mdx
  docs/platform/workflows.mdx
Due: none

feat: wip - add workflows
  .gitignore
  keep-ui/app/alerts/alerts-table-body.tsx
  keep-ui/app/alerts/models.tsx
  keep-ui/app/navbar-inner.tsx
  keep-ui/app/workflows/layout.tsx
  keep-ui/app/workflows/models.tsx
  keep-ui/app/workflows/page.tsx
  keep-ui/app/workflows/workflows.client.tsx
  keep/alertmanager/__init__.py
  keep/alertmanager/alertcheduler.py
  keep/alertmanager/alertmanager.py
  keep/alertmanager/alertstore.py
  keep/api/api.py
  keep/api/models/workflow.py
  keep/api/routes/alertsworkflows.py
  keep/api/routes/workflows.py
  keep/cli/cli.py
  keep/contextmanager/contextmanager.py
  keep/iohandler/iohandler.py
  keep/parser/parser.py
  keep/step/step.py
  keep/throttles/one_until_resolved_throttle.py
  keep/workflowmanager/__init__.py
  keep/workflowmanager/workflow.py
  keep/workflowmanager/workflowmanager.py
  keep/workflowmanager/workflowscheduler.py
  keep/workflowmanager/workflowstore.py
  tests/test_contextmanager.py
Due: black

feat: wip
  keep/api/core/db.py
  keep/api/models/db/workflow.py
Due: black

feat: wip
  keep/api/api.py
  keep/api/core/db.py
  keep/api/core/dependencies.py
  keep/api/models/db/workflow.py
  keep/api/routes/workflows.py
  keep/cli/cli.py
  keep/contextmanager/contextmanager.py
  keep/storagemanager/filesystemstoragemanager.py
  keep/storagemanager/gcpstoragemanager.py
  keep/storagemanager/storagemanager.py
  keep/workflowmanager/workflowmanager.py
  keep/workflowmanager/workflowscheduler.py
  keep/workflowmanager/workflowstore.py
  poetry.lock
  pyproject.toml
Due: black

feat: wip
  keep-ui/app/workflows/[workflow_id]/page.tsx
  keep-ui/app/workflows/dragndrop.tsx
  keep-ui/app/workflows/layout.tsx
  keep-ui/app/workflows/models.tsx
  keep-ui/app/workflows/noworfklows.tsx
  keep-ui/app/workflows/page.tsx
  keep-ui/app/workflows/workflows.client.tsx
  keep/api/core/db.py
  keep/api/models/db/provider.py
  keep/api/models/db/workflow.py
  keep/api/models/workflow.py
  keep/api/routes/providers.py
  keep/api/routes/workflows.py
  keep/contextmanager/contextmanager.py
  keep/parser/parser.py
  keep/providers/providers_factory.py
  keep/workflowmanager/workflowscheduler.py
  keep/workflowmanager/workflowstore.py
  poetry.lock
  pyproject.toml
Due: black

feat: wip
  examples/workflows/dd.yml
  keep-ui/app/workflows/dragndrop.tsx
Due: check-yaml

feat: wip
  examples/providers/datadog.yml
  examples/providers/discord.yml
  examples/providers/elastic.yml
  examples/providers/github.yml
  examples/providers/prod-db.yml
  examples/providers/sentry.yml
  examples/providers/slack.yml
  examples/providers/snowflake.yml
  examples/providers/teams.yml
  examples/templates/slack.yaml
  examples/workflows/bigquery.yml
  examples/workflows/db_disk_space.yml
  examples/workflows/dd.yml
  examples/workflows/disk_grown_defects_rule.yml
  examples/workflows/keep_semantic_alert_example_datadog.yml
  examples/workflows/new_auth0_users.yml
  examples/workflows/new_github_stars.yml
  examples/workflows/opsgenie_open_alerts.yml
  examples/workflows/raw_sql_query_datetime.yml
  examples/workflows/simple_http_request_ntfy.yml
  examples/workflows/slack_basic.yml
  examples/workflows/trello_new_card_alert.yml
  keep-ui/app/workflows/dragndrop.tsx
  keep-ui/app/workflows/models.tsx
  keep-ui/app/workflows/workflows.client.tsx
  keep/api/core/db.py
  keep/api/models/workflow.py
  keep/api/routes/workflows.py
  keep/parser/parser.py
  keep/workflowmanager/workflowstore.py
Due: black, check-yaml

feat: wip
  examples/workflows/disk_grown_defects_rule.yml
  examples/workflows/slack_basic_interval.yml
  keep-ui/app/providers/providers-available.tsx
  keep-ui/app/workflows/models.tsx
  keep-ui/app/workflows/workflows.client.tsx
  keep/api/api.py
  keep/api/core/db.py
  keep/api/models/alert.py
  keep/api/routes/alerts.py
  keep/api/routes/workflows.py
  keep/cli/cli.py
  keep/contextmanager/contextmanager.py
  keep/parser/parser.py
  keep/providers/bigquery_provider/bigquery_provider.py
  keep/providers/providers_factory.py
  keep/workflowmanager/workflow.py
  keep/workflowmanager/workflowmanager.py
  keep/workflowmanager/workflowscheduler.py
  keep/workflowmanager/workflowstore.py
Due: black, check-yaml

feat: context manager refactor works, starting to fix cli
  examples/workflows/slack_basic_interval.yml
  keep/api/api.py
  keep/api/core/db.py
  keep/api/routes/workflows.py
  keep/cli/cli.py
  keep/conditions/base_condition.py
  keep/contextmanager/contextmanager.py
  keep/iohandler/iohandler.py
  keep/parser/parser.py
  keep/providers/base/base_provider.py
  keep/providers/bash_provider/bash_provider.py
  keep/providers/bigquery_provider/bigquery_provider.py
  keep/providers/cloudwatch_provider/cloudwatch_provider.py
  keep/providers/console_provider/console_provider.py
  keep/providers/datadog_provider/datadog_provider.py
  keep/providers/providers_factory.py
  keep/step/step.py
  keep/throttles/base_throttle.py
  keep/workflowmanager/workflow.py
  keep/workflowmanager/workflowmanager.py
  keep/workflowmanager/workflowscheduler.py
  keep/workflowmanager/workflowstore.py
  tests/test_iohandler.py
Due: black, check-yaml

feat: fix react lint
  keep/api/models/db/workflow.py
  keep/api/routes/alerts.py
  keep/api/routes/providers.py
Due: black

feat: bugfixes
  keep/api/models/db/workflow.py
  keep/providers/models/provider_config.py
Due: black

feat: cli works
  examples/workflows/dd.yml
  examples/workflows/new_github_stars.yml
  keep/contextmanager/contextmanager.py
  keep/providers/auth0_provider/auth0_provider.py
  keep/providers/discord_provider/discord_provider.py
  keep/providers/elastic_provider/elastic_provider.py
  keep/providers/github_provider/github_provider.py
  keep/providers/grafana_provider/grafana_provider.py
  keep/providers/http_provider/http_provider.py
  keep/providers/jira_provider/jira_provider.py
  keep/providers/logfile_provider/logfile_provider.py
  keep/providers/mock_provider/mock_provider.py
  keep/providers/mysql_provider/mysql_provider.py
  keep/providers/newrelic_provider/newrelic_provider.py
  keep/providers/pagerduty_provider/pagerduty_provider.py
  keep/providers/postgres_provider/postgres_provider.py
  keep/providers/prometheus_provider/prometheus_provider.py
  keep/providers/providers_factory.py
  keep/providers/pushover_provider/pushover_provider.py
  keep/providers/python_provider/python_provider.py
  keep/providers/resend_provider/resend_provider.py
  keep/providers/sentry_provider/sentry_provider.py
  keep/providers/snowflake_provider/snowflake_provider.py
  keep/providers/ssh_provider/ssh_provider.py
  keep/providers/teams_provider/teams_provider.py
  keep/providers/telegram_provider/telegram_provider.py
  keep/providers/trello_provider/trello_provider.py
  keep/providers/websocket_provider/websocket_provider.py
  keep/providers/zabbix_provider/zabbix_provider.py
  keep/providers/zenduty_provider/zenduty_provider.py
  keep/storagemanager/filesystemstoragemanager.py
  keep/workflowmanager/workflow.py
Due: black, check-yaml

feat: fix react lint
  keep/api/models/db/workflow.py
Due: black

feat: bugfixes
  keep/providers/cloudwatch_provider/cloudwatch_provider.py
Due: black

feat: cli sanity back to work
  keep/cli/cli.py
  keep/conditions/base_condition.py
  keep/conditions/condition_factory.py
  keep/parser/parser.py
  keep/providers/base/base_provider.py
  keep/providers/bigquery_provider/bigquery_provider.py
  keep/providers/opsgenie_provider/opsgenie_provider.py
  keep/providers/providers_factory.py
  keep/providers/slack_provider/slack_provider.py
  keep/step/step.py
  keep/workflowmanager/workflow.py
  keep/workflowmanager/workflowmanager.py
Due: black

feat: fix react lint
  keep-ui/app/workflows/[workflow_id]/page.tsx
  keep/api/core/dependencies.py
  keep/providers/cloudwatch_provider/as
  keep/providers/cloudwatch_provider/cloudwatch_provider.py
  keep/storagemanager/gcpstoragemanager.py
Due: black

feat: fix react lint
  keep-ui/app/workflows/dragndrop.tsx
  keep-ui/app/workflows/workflows.client.tsx
Due: none

feat: fix react lint
  keep/providers/cloudwatch_provider/as
Due: none

feat: cli works
  examples/workflows/slack_basic_interval.yml
  keep/providers/auth0_provider/auth0_provider.py
  keep/providers/axiom_provider/axiom_provider.py
  keep/providers/bigquery_provider/bigquery_provider.py
  keep/providers/cloudwatch_provider/cloudwatch_provider.py
  keep/providers/console_provider/console_provider.py
  keep/providers/datadog_provider/datadog_provider.py
  keep/providers/discord_provider/discord_provider.py
  keep/providers/elastic_provider/elastic_provider.py
  keep/providers/grafana_provider/grafana_provider.py
  keep/providers/jira_provider/jira_provider.py
  keep/providers/mysql_provider/mysql_provider.py
  keep/providers/opsgenie_provider/opsgenie_provider.py
  keep/providers/postgres_provider/postgres_provider.py
  keep/providers/prometheus_provider/prometheus_provider.py
  keep/providers/pushover_provider/pushover_provider.py
  keep/providers/resend_provider/resend_provider.py
  keep/providers/sentry_provider/sentry_provider.py
  keep/providers/slack_provider/slack_provider.py
  keep/providers/snowflake_provider/snowflake_provider.py
  keep/providers/ssh_provider/ssh_provider.py
  keep/providers/teams_provider/teams_provider.py
  keep/providers/telegram_provider/telegram_provider.py
  keep/providers/trello_provider/trello_provider.py
  keep/providers/websocket_provider/websocket_provider.py
  keep/providers/zabbix_provider/zabbix_provider.py
  keep/providers/zenduty_provider/zenduty_provider.py
  keep/workflowmanager/workflowmanager.py
  keep/workflowmanager/workflowscheduler.py
Due: black, check-yaml

feat: fix vercel lint
  examples/workflows/new_github_stars.yml
  keep-ui/app/workflows/workflows.client.tsx
Due: check-yaml

feat: fixing status and last execution time
  keep-ui/app/workflows/models.tsx
  keep-ui/app/workflows/workflows.client.tsx
  keep/api/core/db.py
  keep/api/models/workflow.py
  keep/api/routes/providers.py
  keep/api/routes/workflows.py
  keep/workflowmanager/workflowstore.py
Due: black

feat: more fixes and improvments
  keep-ui/app/workflows/workflows.client.tsx
  keep/api/core/db.py
  keep/api/models/workflow.py
  keep/api/routes/workflows.py
  keep/workflowmanager/workflowmanager.py
  keep/workflowmanager/workflowscheduler.py
  keep/workflowmanager/workflowstore.py
Due: black

fix: builder basics with new structure
  keep-ui/app/builder/builder-validators.tsx
  keep-ui/app/builder/builder.tsx
  keep-ui/app/builder/editors.tsx
  keep-ui/app/builder/utils.tsx
Due: none

fix: generate alert to include simple filters
  keep-ui/app/builder/editors.tsx
  keep-ui/app/builder/utils.tsx
Due: none
