Repository keephq/keep: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, check-yaml

black:
  name: black
  entry: black
  language: system
  require_serial: true

check-yaml:
  name: Check Yaml
  entry: check-yaml
  language: system

feat: allow for longer summaries in db (#1724)
  .gitignore
  ee/experimental/ai_temp/.gitkeep
  ee/experimental/incident_utils.py
  keep/api/models/db/alert.py
  keep/api/models/db/migrations/versions/2024-08-25-16-48_1c650a429672.py
  poetry.lock
Due: black

feat: wip
  keycloak/keycloak_entrypoint.sh
Due: none

Unused imports
  keep/api/arq_worker.py
Due: black

Fixes
  keep/api/api.py
  keep/api/arq_worker.py
  keep/api/consts.py
Due: black

fix: add another protection mechanism to avoid db writing errors
  ee/experimental/incident_utils.py
Due: black

fix:preview deployment is resolved
  keep-ui/app/workflows/builder/builder-validators.tsx
  keep-ui/app/workflows/builder/editors.tsx
  keep-ui/app/workflows/preview/[workflowId]/page.tsx
  keep-ui/utils/hooks/useWorkflowInitialization.ts
  keep-ui/utils/reactFlow.ts
Due: none

delete duplicate migration
  keep/api/models/db/migrations/versions/2024-08-25-16-08_1c650a429672.py
Due: black

fix: enable smart summary truncation (#1730)
  ee/experimental/incident_utils.py
Due: black

generated_summary render added
  ee/experimental/incident_utils.py
  keep-ui/app/incidents/[id]/incident-info.tsx
  keep-ui/app/incidents/create-or-update-incident.tsx
  keep-ui/app/incidents/model.ts
  keep/api/core/db.py
Due: black

feat: render generated_summary in UI (#1733)
  ee/experimental/incident_utils.py
  keep-ui/app/incidents/[id]/incident-info.tsx
  keep-ui/app/incidents/create-or-update-incident.tsx
  keep-ui/app/incidents/model.ts
  keep/api/core/db.py
Due: black

fix: jumping linked providers
  keep-ui/app/providers/provider-tile.tsx
Due: none

feat: blackout init
  keep/api/api.py
  keep/api/core/db.py
  keep/api/models/db/blackout.py
  keep/api/models/db/migrations/env.py
  keep/api/routes/blackout.py
Due: black

chore: add migration for blackout
  keep/api/models/db/migrations/versions/2024-08-26-15-40_4702ad2cff08.py
  keep/api/routes/blackout.py
Due: black

feat: wip
  keycloak/readme.md
  keycloak/themes/keep.jar
  tests/conftest.py
  tests/docker-compose-keycloak.yml
  tests/keycloak-realm-export.json
  tests/test_auth.py
Due: black, check-yaml

fix: Extended arq timeouts and a clear separation between AI and non-ai workers (#1701)
  keep/api/api.py
  keep/api/arq_worker.py
  keep/api/consts.py
  keep/cli/cli.py
Due: black

fix: Optimize UI for smaller screens (#1220) (#1491)
  keep-ui/app/alerts/alert-presets.tsx
  keep-ui/app/alerts/alert-table.tsx
  keep-ui/app/alerts/alerts-rules-builder.tsx
  keep-ui/app/dashboard/[id]/dashboard.tsx
  keep-ui/app/extraction/extraction.tsx
  keep-ui/app/extraction/layout.tsx
  keep-ui/app/globals.css
  keep-ui/app/incidents/[id]/incident.tsx
  keep-ui/app/incidents/[id]/layout.tsx
  keep-ui/app/incidents/incident.tsx
  keep-ui/app/layout.tsx
  keep-ui/app/mapping/layout.tsx
  keep-ui/app/mapping/mapping.tsx
  keep-ui/app/providers/provider-form.tsx
  keep-ui/app/providers/provider-tile.css
  keep-ui/app/providers/provider-tile.tsx
  keep-ui/app/rules/CorrelationPlaceholder.tsx
  keep-ui/app/rules/CorrelationSidebar/CorrelationSidebarBody.tsx
  keep-ui/app/rules/CorrelationSidebar/CorrelationSubmission.tsx
  keep-ui/app/rules/PlaceholderSankey.tsx
  keep-ui/app/settings/layout.tsx
  keep-ui/app/settings/smtp-settings.tsx
  keep-ui/app/settings/webhook-settings.tsx
  keep-ui/app/workflows/mockworkflows.tsx
  keep-ui/app/workflows/workflows.client.tsx
  keep-ui/components/navbar/MinimizeMenuButton.tsx
Due: none

feature: slightly different UX for provider tiles without hiding content on hover
  keep-ui/app/providers/provider-tile.tsx
  keep-ui/app/providers/providers-tiles.tsx
Due: none

remove unused comments
  keep-ui/app/workflows/builder/CustomNode.tsx
  keep-ui/app/workflows/builder/editors.tsx
Due: none

feat:added side nav bar and filter tabs for table
  keep-ui/app/workflows/[workflow_id]/layout.tsx
  keep-ui/app/workflows/[workflow_id]/page.tsx
Due: none

chore:remove commented lines
  keep-ui/app/workflows/builder/NodeMenu.tsx
Due: none

chore:remove the sequential design flow packages from project completely
  keep-ui/package-lock.json
  keep-ui/package.json
Due: none

chore: wip
  keep-ui/app/blackout/blackout-table.tsx
  keep-ui/app/blackout/blackout.tsx
  keep-ui/app/blackout/create-or-update-extraction-rule.tsx
  keep-ui/app/blackout/layout.tsx
  keep-ui/app/blackout/model.ts
  keep-ui/app/blackout/page.tsx
  keep-ui/components/navbar/NoiseReductionLinks.tsx
  keep-ui/utils/hooks/useBlackoutRules.ts
Due: none

refactor: make provider tile a button, so it's semantically correct and have a11y features
  keep-ui/app/providers/provider-tile.tsx
Due: none

fiix: update e2e tests for new dom structure
  tests/e2e_tests/test_end_to_end.py
  tests/e2e_tests/test_pushing_prometheus_alerts.py
Due: black

feat: tests
  .github/workflows/test-pr.yml
  keycloak/keep-realm.json
  tests/conftest.py
  tests/docker-compose-keycloak.yml
  tests/keycloak-realm-export.json
  tests/test_auth.py
Due: black, check-yaml

feat: tests
  .github/workflows/test-pr.yml
Due: check-yaml

feat: slightly different UX for provider tiles without hiding content on hover (#1736)
  keep-ui/app/providers/provider-tile.tsx
  keep-ui/app/providers/providers-tiles.tsx
  tests/e2e_tests/test_end_to_end.py
  tests/e2e_tests/test_pushing_prometheus_alerts.py
Due: black

fix: fix
  examples/workflows/jira_on_prem.yml
Due: check-yaml

Path conditions:
  black: any of: \.py$
  check-yaml: any of: \.(yaml|yml)$
