Repository keephq/keep: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, check-yaml

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: black
        name: black
        entry: black
        language: system
        types: [python]
        require_serial: true
      - id: check-added-large-files
        name: Check for added large files
        entry: check-added-large-files
        language: system
      - id: check-yaml
        name: Check Yaml
        entry: check-yaml
        language: system
        types: [yaml]
      - id: end-of-file-fixer
        name: Fix End of Files
        entry: end-of-file-fixer
        language: system
        types: [text]
        stages: [commit, push, manual]
      - id: isort
        name: isort
        entry: isort
        require_serial: true
        language: system
        types_or: [cython, pyi, python]
        args: ["--filter-files", "--profile", "black"]
      - id: trailing-whitespace
        name: Trim Trailing Whitespace
        entry: trailing-whitespace-fixer
        language: system
        types: [text]
        stages: [commit, push, manual]
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v2.6.0
    hooks:
      - id: prettier
  - repo: https://github.com/compilerla/conventional-pre-commit
    rev: v2.1.1
    hooks:
      - id: conventional-pre-commit
        stages: [commit-msg]
        args: [] # optional: list of Conventional Commits types to allow e.g. [feat, fix, ci, chore, test]

fix: mock requests for bad url test (#232)
  pyproject.toml
  tests/test_parser.py
Due: black

ci: use ci cache to cache poetry (#233)
  .github/workflows/test-pr.yml
  .gitignore
  poetry.lock
Due: check-yaml

fix: CI Action Run Keep / Demo has been failing (#234)
  examples/alerts/db_disk_space.yml
Due: check-yaml

fix: Load directory of alerts (#235)
  keep/alertmanager/alertstore.py
Due: black

feat: alerts pulled and pushed separation
  keep-ui/app/alerts/alerts-table-body.tsx
  keep-ui/app/alerts/alerts.client.tsx
  keep-ui/app/alerts/models.tsx
  keep/api/models/alert.py
  keep/api/routes/alerts.py
Due: black

chore: delete unused imports
  keep-ui/app/alerts/alerts.client.tsx
Due: none

fix: alerts mock data (not used)
  keep-ui/app/alerts/mock-data.tsx
Due: none

add tests: parse providers from env vars
  .gitignore
  tests/test_parser.py
Due: black

black formatting
  tests/test_parser.py
Due: black

test: parse providers from env vars (#238)
  .gitignore
  tests/test_parser.py
Due: black

feat: groupBy alert key and show history, more logs
  keep-ui/app/alerts/alert-table.tsx
  keep-ui/app/alerts/alert-transition.tsx
  keep-ui/app/alerts/alerts-table-body.tsx
  keep-ui/app/alerts/alerts.client.tsx
  keep/api/routes/alerts.py
  keep/providers/datadog_provider/datadog_provider.py
Due: black

unit: test providers from file (yaml)
  tests/test_parser.py
Due: black

fix: comments & copypasta
  tests/test_parser.py
Due: black

add tests for alert parsing
  tests/test_parser.py
Due: black

remove exception prevented by dataclasses
  keep/parser/parser.py
Due: black

feat: install webhooks for grafana and datadog
  keep-ui/app/alerts/alerts-table-body.tsx
  keep-ui/app/alerts/models.tsx
  keep-ui/app/providers/provider-tile.tsx
  keep/api/api.py
  keep/api/core/dependencies.py
  keep/api/models/db/tenant.py
  keep/api/routes/providers.py
  keep/api/routes/tenant.py
  keep/api/utils/tenant_utils.py
  keep/providers/base/base_provider.py
  keep/providers/datadog_provider/datadog_provider.py
  keep/providers/grafana_provider/grafana_provider.py
Due: black

fix: keep_api_url not in provider
  keep/api/routes/providers.py
  keep/providers/datadog_provider/datadog_provider.py
  keep/providers/grafana_provider/grafana_provider.py
Due: black

Revert "remove exception prevented by dataclasses"
  keep/parser/parser.py
Due: black

test: add tests for loading providers by file (#241)
  tests/test_parser.py
Due: black

feat: add install webhook for installed providers
  keep-ui/app/layout.tsx
  keep-ui/app/page.tsx
  keep-ui/app/providers/provider-menu.tsx
  keep-ui/app/providers/provider-tile.tsx
  keep-ui/package-lock.json
  keep-ui/package.json
Due: none

feat: install webhook from providers
  keep-ui/app/alerts/alert-table.tsx
  keep-ui/app/alerts/alert-transition.tsx
  keep-ui/app/alerts/alerts-table-body.tsx
  keep-ui/app/alerts/alerts.client.tsx
  keep-ui/app/alerts/models.tsx
  keep-ui/app/navbar-inner.tsx
  keep-ui/app/providers/page.client.tsx
  keep-ui/app/providers/provider-form.tsx
  keep-ui/app/providers/provider-tile.tsx
  keep-ui/app/providers/providers.tsx
  keep-ui/utils/helpers.ts
  keep/api/models/provider.py
  keep/providers/grafana_provider/grafana_provider.py
  keep/providers/providers_factory.py
Due: black

chore: tooltip
  keep-ui/app/providers/provider-form.tsx
Due: none

fix: don't add default policy in grafana twice
  keep/providers/grafana_provider/grafana_provider.py
Due: black

chore: last fixes
  keep-ui/app/command-menu.tsx
  keep-ui/app/favicon.ico
  keep-ui/app/providers/provider-tile.tsx
  keep/api/routes/providers.py
  keep/providers/base/base_provider.py
  keep/providers/datadog_provider/datadog_provider.py
  keep/providers/grafana_provider/grafana_provider.py
Due: black

feat: alerts pulled and pushed separation (#237)
  keep-ui/app/alerts/alert-table.tsx
  keep-ui/app/alerts/alert-transition.tsx
  keep-ui/app/alerts/alerts-table-body.tsx
  keep-ui/app/alerts/alerts.client.tsx
  keep-ui/app/alerts/mock-data.tsx
  keep-ui/app/alerts/models.tsx
  keep-ui/app/command-menu.tsx
  keep-ui/app/favicon.ico
  keep-ui/app/layout.tsx
  keep-ui/app/navbar-inner.tsx
  keep-ui/app/page.tsx
  keep-ui/app/providers/page.client.tsx
  keep-ui/app/providers/provider-form.tsx
  keep-ui/app/providers/provider-menu.tsx
  keep-ui/app/providers/provider-tile.tsx
  keep-ui/app/providers/providers.tsx
  keep-ui/package-lock.json
  keep-ui/package.json
  keep-ui/utils/helpers.ts
  keep/api/api.py
  keep/api/core/dependencies.py
  keep/api/models/alert.py
  keep/api/models/db/tenant.py
  keep/api/models/provider.py
  keep/api/routes/alerts.py
  keep/api/routes/providers.py
  keep/api/routes/tenant.py
  keep/api/utils/tenant_utils.py
  keep/providers/base/base_provider.py
  keep/providers/datadog_provider/datadog_provider.py
  keep/providers/grafana_provider/grafana_provider.py
  keep/providers/providers_factory.py
Due: black

fix: CopyBlock stopped working new version
  keep-ui/app/builder/builder-modal.tsx
Due: none

fix: props any
  keep-ui/app/providers/provider-tile.tsx
Due: none

fix: CopyBlock stopped working new version (#243)
  keep-ui/app/builder/builder-modal.tsx
  keep-ui/app/providers/provider-tile.tsx
Due: none

fix: grayscale on installed providers
  keep-ui/app/providers/provider-tile.tsx
Due: none

fix: grayscale on installed providers (#244)
  keep-ui/app/providers/provider-tile.tsx
Due: none
