Repository keephq/keep: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, check-yaml

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: black
        name: black
        entry: black
        language: system
        types: [python]
        require_serial: true
      - id: check-added-large-files
        name: Check for added large files
        entry: check-added-large-files
        language: system
      - id: check-yaml
        name: Check Yaml
        entry: check-yaml
        language: system
        types: [yaml]
      - id: end-of-file-fixer
        name: Fix End of Files
        entry: end-of-file-fixer
        language: system
        types: [text]
        stages: [commit, push, manual]
      - id: isort
        name: isort
        entry: isort
        require_serial: true
        language: system
        types_or: [cython, pyi, python]
        args: ["--filter-files", "--profile", "black"]
      - id: trailing-whitespace
        name: Trim Trailing Whitespace
        entry: trailing-whitespace-fixer
        language: system
        types: [text]
        stages: [commit, push, manual]
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v2.6.0
    hooks:
      - id: prettier
  - repo: https://github.com/compilerla/conventional-pre-commit
    rev: v2.1.1
    hooks:
      - id: conventional-pre-commit
        stages: [commit-msg]
        args: [] # optional: list of Conventional Commits types to allow e.g. [feat, fix, ci, chore, test]

fix(ui): remove message from known keys (#737)
  keep-ui/app/alerts/models.tsx
  keep/parser/parser.py
  keep/workflowmanager/workflowmanager.py
  keep/workflowmanager/workflowscheduler.py
Due: black

feat: build version
  docker/Dockerfile.ui
  keep-ui/app/layout.tsx
Due: none

feat: build v
  keep-ui/app/layout.tsx
Due: none

feat: typo
  keep-ui/app/layout.tsx
Due: none

feat: build version (#738)
  docker/Dockerfile.ui
  keep-ui/app/layout.tsx
Due: none

added frontend and backend routes
  chart/keep/templates/backend-route.yaml
  chart/keep/templates/frontend-route.yaml
  chart/keep/values.yaml
Due: check-yaml

fix: remove use ngrok
  docker-compose.dev.yml
Due: check-yaml

fix: remove use ngrok (#741)
  docker-compose.dev.yml
Due: check-yaml

refactor:rewrite `filterAlerts`
  keep-ui/app/alerts/alerts.tsx
Due: none

fix:adjust conditionals
  keep-ui/utils/hooks/useAlerts.ts
Due: none

refactor:move filtering and tab panel to own component
  keep-ui/app/alerts/alert-table-tab-panel.tsx
  keep-ui/app/alerts/alerts.tsx
Due: none

refactor:move `accessToken` and `mutate` to component
  keep-ui/app/alerts/alert-presets.tsx
Due: none

refactor:remove `accessToken` as prop from `Alerts`
  keep-ui/app/alerts/alerts.client.tsx
Due: none

refactor:add simple conditional props
  keep-ui/app/alerts/alert-pagination.tsx
  keep-ui/app/alerts/alert-table.tsx
Due: none

fix:fix bug crashing page due to no data
  keep-ui/app/alerts/alert-history.tsx
Due: none

refactor:use new conditional props
  keep-ui/app/alerts/alert-table-tab-panel.tsx
Due: none

added docs
  chart/keep/README.md
  docs/development/getting-started.mdx
Due: none

refactor:prefer to use `table`
  keep-ui/app/alerts/alert-columns-select.tsx
Due: none

refactor:use params to open history
  keep-ui/app/alerts/alert-history.tsx
  keep-ui/app/alerts/alerts.tsx
Due: none

refactor:move table columns to `alert-table`
  keep-ui/app/alerts/alert-table-tab-panel.tsx
Due: none

refactor:rely on props for state
  keep-ui/app/alerts/alert-extra-payload.tsx
Due: none

refactor:move `columns` out of table
  keep-ui/app/alerts/alert-table.tsx
Due: none

refactor:call `useAlertTableCols` and pass to `AlertTable`
  keep-ui/app/alerts/alert-history.tsx
  keep-ui/app/alerts/alert-table-tab-panel.tsx
Due: none

feat: chart with ingress (#739)
  chart/keep/README.md
  chart/keep/templates/backend-route.yaml
  chart/keep/templates/frontend-route.yaml
  chart/keep/values.yaml
  docs/development/getting-started.mdx
Due: check-yaml

fix: preset filters in main feed
  keep-ui/app/alerts/alert-table-tab-panel.tsx
  keep-ui/utils/hooks/useAlerts.ts
Due: none

fix:revert to `tremor` for tabs
  keep-ui/app/alerts/alert-table-tab-panel.tsx
Due: none

fixed docs to include where to edit yaml
  docs/development/getting-started.mdx
Due: none

fix: add route reference to docs (#742)
  docs/development/getting-started.mdx
Due: none

feat: group improvements
  keep/api/core/db.py
  keep/api/models/alert.py
  keep/api/routes/alerts.py
  keep/rulesengine/rulesengine.py
Due: black

feat: opsgenie provider, add close alert and comment on alert
  keep/providers/opsgenie_provider/opsgenie_provider.py
Due: black

refactor:change `es5` to `es6`
  keep-ui/tsconfig.json
Due: none

feat:add comments to `useAlertswithSubscription`
  keep-ui/utils/hooks/useAlerts.ts
Due: none

fix:re-add generated cols
  keep-ui/app/alerts/alert-table-tab-panel.tsx
  keep-ui/app/alerts/alert-table.tsx
Due: none

chore: alert deleted and assignee
  keep/api/models/alert.py
  keep/api/routes/alerts.py
  keep/api/utils/enrichment_helpers.py
  keep/providers/base/base_provider.py
Due: black

SIGNL4 provider added
  docs/providers/documentation/signl4-provider.mdx
  keep-ui/public/icons/signl4-icon.png
  keep/providers/signl4_provider/__init__.py
  keep/providers/signl4_provider/signl4_provider.py
Due: black
