Repository keephq/keep: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, check-yaml

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: black
        name: black
        entry: black
        language: system
        types: [python]
        require_serial: true
      - id: check-added-large-files
        name: Check for added large files
        entry: check-added-large-files
        language: system
      - id: check-yaml
        name: Check Yaml
        entry: check-yaml
        language: system
        types: [yaml]
      - id: end-of-file-fixer
        name: Fix End of Files
        entry: end-of-file-fixer
        language: system
        types: [text]
        stages: [commit, push, manual]
      - id: isort
        name: isort
        entry: isort
        require_serial: true
        language: system
        types_or: [cython, pyi, python]
        args: ["--filter-files", "--profile", "black"]
      - id: trailing-whitespace
        name: Trim Trailing Whitespace
        entry: trailing-whitespace-fixer
        language: system
        types: [text]
        stages: [commit, push, manual]
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v2.6.0
    hooks:
      - id: prettier
  - repo: https://github.com/compilerla/conventional-pre-commit
    rev: v2.1.1
    hooks:
      - id: conventional-pre-commit
        stages: [commit-msg]
        args: [] # optional: list of Conventional Commits types to allow e.g. [feat, fix, ci, chore, test]

fix: datadog provider auth config (#146)
  keep/providers/datadog_provider/datadog_provider.py
Due: black

fix: https://github.com/snowflakedb/snowflake-connector-python/issues/1584
  pyproject.toml
Due: none

fix: https://github.com/snowflakedb/snowflake-connector-python/issues/1584 (#147)
  pyproject.toml
Due: none

feat: wip
  docker-compose.dev.yml
  keep-ui/app/providers/provider-form.tsx
  keep-ui/app/providers/provider-row.tsx
  keep-ui/app/providers/providers.tsx
  keep/providers/datadog_provider/datadog_provider.py
Due: black, check-yaml

fix: typo
  keep/providers/datadog_provider/datadog_provider.py
Due: black

fix: datadog provider auth config (#148)
  keep/providers/datadog_provider/datadog_provider.py
Due: black

feat: add multiple endpoints for frontend
  keep-ui/app/page.tsx
  keep-ui/app/providers/alert.tsx
  keep-ui/app/providers/datadog-alert.tsx
  keep-ui/app/providers/grafana-alert.tsx
  keep-ui/app/providers/provider-form.tsx
  keep-ui/app/providers/providers.tsx
  keep-ui/app/providers/table.tsx
  keep/api/routes/providers.py
  keep/providers/base/provider_exceptions.py
  keep/providers/datadog_provider/datadog_provider.py
  keep/providers/grafana_provider/grafana_provider.py
  keep/secretmanager/secretmanagerfactory.py
Due: black

feat: wip
  keep/api/routes/ai.py
  keep/api/routes/providers.py
  keep/api/utils/gpt_utils.py
Due: black

fix: rename func
  keep/api/api.py
  keep/api/core/db.py
Due: black

feat: fix CSS
  keep-ui/app/providers/provider-form.css
Due: none

feat: exception if provider does not exist
  keep/api/routes/providers.py
Due: black

fix: install openai
  pyproject.toml
Due: none

fix: remove requirements.txt
  requirements.txt
Due: none

feat: mv Dockerfile.ui
  keep-ui/Dockerfile.ui
Due: none

feat: fix build failure
  keep-ui/app/providers/provider-form.tsx
Due: none

feat: add cloudbuild
  cloudbuild.ui.yaml
  docker-compose.dev.yml
  docker/Dockerfile.dev.api
  docker/Dockerfile.ui
  keep-ui/Dockerfile.dev.ui
Due: check-yaml

feat: add cloudbuild to api
  cloudbuild.api.yaml
  docker/Dockerfile.dev.api
  docker/Dockerfile.dev.ui
  docker/Dockerfile.ui
Due: check-yaml

feat: add cloudbuild api
  cloudbuild.api.yaml
Due: check-yaml

feat: move NEXT PUBLIC env variables to the dockerfile
  docker-compose.dev.yml
  docker/Dockerfile.ui
Due: check-yaml

feat: move NEXT PUBLIC env variables to the dockerfile
  docker/Dockerfile.ui
Due: none

fix: endpoints return dict
  keep/api/routes/ai.py
  keep/api/utils/gpt_utils.py
Due: black

fix: move logs
  keep/api/api.py
  keep/cli/cli.py
Due: black

feat: add observability
  keep/api/api.py
  keep/api/observability.py
  pyproject.toml
Due: black

feat: add coming soon providers
  keep-ui/app/providers/provider-row.tsx
  keep-ui/app/providers/providers.css
  keep-ui/app/providers/providers.tsx
  keep-ui/public/elasticsearch.svg
  keep-ui/public/newrelic.svg
Due: none

feat: wip
  keep/api/api.py
  keep/api/logging.py
Due: black

feat: add ngrok
  docker-compose.dev.yml
  docker/Dockerfile.dev.api
  keep/api/api.py
  pyproject.toml
Due: black, check-yaml

feat: wip
  docker-compose.yml
Due: check-yaml

feat: add hidden inputs
  keep/cli/cli.py
  keep/contextmanager/contextmanager.py
  keep/providers/cloudwatch_provider/cloudwatch_provider.py
  keep/providers/datadog_provider/datadog_provider.py
  keep/providers/discord_provider/discord_provider.py
  keep/providers/elastic_provider/elastic_provider.py
  keep/providers/github_provider/github_provider.py
  keep/providers/jira_provider/jira_provider.py
  keep/providers/mysql_provider/mysql_provider.py
  keep/providers/newrelic_provider/newrelic_provider.py
  keep/providers/opsgenie_provider/opsgenie_provider.py
  keep/providers/pagerduty_provider/pagerduty_provider.py
  keep/providers/postgres_provider/postgres_provider.py
  keep/providers/psql_provider/psql_provider.py
  keep/providers/pushover_provider/pushover_provider.py
  keep/providers/sentry_provider/sentry_provider.py
  keep/providers/slack_provider/slack_provider.py
  keep/providers/snowflake_provider/snowflake_provider.py
  keep/providers/ssh_provider/ssh_provider.py
  keep/providers/teams_provider/teams_provider.py
  keep/providers/telegram_provider/telegram_provider.py
  keep/providers/trello_provider/trello_provider.py
  keep/providers/zenduty_provider/zenduty_provider.py
Due: black

feat: add hidden inputs (#149)
  keep/cli/cli.py
  keep/contextmanager/contextmanager.py
  keep/providers/cloudwatch_provider/cloudwatch_provider.py
  keep/providers/datadog_provider/datadog_provider.py
  keep/providers/discord_provider/discord_provider.py
  keep/providers/elastic_provider/elastic_provider.py
  keep/providers/github_provider/github_provider.py
  keep/providers/jira_provider/jira_provider.py
  keep/providers/mysql_provider/mysql_provider.py
  keep/providers/newrelic_provider/newrelic_provider.py
  keep/providers/opsgenie_provider/opsgenie_provider.py
  keep/providers/pagerduty_provider/pagerduty_provider.py
  keep/providers/postgres_provider/postgres_provider.py
  keep/providers/psql_provider/psql_provider.py
  keep/providers/pushover_provider/pushover_provider.py
  keep/providers/sentry_provider/sentry_provider.py
  keep/providers/slack_provider/slack_provider.py
  keep/providers/snowflake_provider/snowflake_provider.py
  keep/providers/ssh_provider/ssh_provider.py
  keep/providers/teams_provider/teams_provider.py
  keep/providers/telegram_provider/telegram_provider.py
  keep/providers/trello_provider/trello_provider.py
  keep/providers/zenduty_provider/zenduty_provider.py
Due: black

feat: openai_api_key in docker-compose
  docker-compose.dev.yml
  docker-compose.yml
Due: check-yaml

feat: add frill.co
  keep-ui/app/frill.tsx
  keep-ui/app/navbar-inner.tsx
  keep-ui/app/not-found.tsx
  keep-ui/app/page.tsx
  keep-ui/public/keep.png
Due: none

feat: wip
  docs/docusaurus.config.js
  keep/providers/base/base_provider.py
Due: black

docs: wip
  README.md
  docs/docs/011-introduction.md
  docs/docs/013-deployment.md
  docs/docs/023_conditions/conditions/_category_.json
Due: none

docs: wip
  README.md
  docs/docs/011-introduction.md
  docs/docs/013-deployment.md
Due: none

docs: wip
  docs/docs/011-introduction.md
  docs/docs/012-quick-start.md
  docs/docs/013-deployment.md
  docs/docs/021_core/021_syntax/01-syntax.md
  docs/docs/021_core/021_syntax/03-context.md
  docs/docs/021_core/021_syntax/04-state.md
  docs/docs/021_core/024_functions/01-what-is-a-function.md
  docs/docs/021_core/024_functions/10-encode.md
  docs/docs/021_core/024_functions/_category_.json
  docs/docs/021_core/_category_.json
  docs/docs/022_platform/001-getting-started.md
  docs/docs/022_platform/012-quick-start.md
  docs/docs/022_platform/_category_.json
  docs/docs/023_applications/01-github.md
  docs/docs/023_applications/_category_.json
  docs/docs/023_integrations/01-github.md
  docs/docs/023_integrations/_category_.json
  docs/docusaurus.config.js
  docs/package-lock.json
  docs/package.json
  docs/src/components/NavbarItems/CustomGithubNavbarItem.tsx
  docs/src/css/custom.css
  docs/src/theme/NavbarItem/ComponentTypes.tsx
  docs/static/img/github-app-install.png
  docs/yarn.lock
Due: none

docs: wip
  package-lock.json
Due: none
