Repository keephq/keep: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, check-yaml

black:
  name: black
  entry: black
  language: system
  require_serial: true

check-yaml:
  name: Check Yaml
  entry: check-yaml
  language: system

feat: add top contributors
  README.md
Due: none

feat: add top contributors (#1045)
  README.md
Due: none

feat: typo
  README.md
Due: none

feat: typo (#1046)
  README.md
Due: none

chore(tests): add tests for new slice function
  tests/test_functions.py
Due: black

fix(db): distinct workflows
  keep/api/core/db.py
Due: black

fix(db): distinct workflows (#1047)
  keep/api/core/db.py
  tests/test_functions.py
Due: black

feat(ci): test ci
  .github/workflows/release.yml
Due: check-yaml

feat(workflows): dict_pop function
  keep/functions/__init__.py
  tests/test_functions.py
Due: black

feat(workflows): dict_pop function (#1048)
  keep/functions/__init__.py
  tests/test_functions.py
Due: black

fix(provider): splunk duplicate alerts mislogic
  keep/providers/splunk_provider/splunk_provider.py
Due: black

fix(provider): splunk duplicate alerts mislogic (#1050)
  keep/providers/splunk_provider/splunk_provider.py
Due: black

fix(api): args should be string
  keep/iohandler/iohandler.py
Due: black

fix(api): args should be string (#1051)
  keep/iohandler/iohandler.py
Due: black

feat: wip
  keep-ui/package-lock.json
  keep-ui/package.json
  keep/api/core/db.py
  keep/api/routes/alerts.py
  keep/rulesengine/rulesengine.py
Due: black

fix: ruleengine
  keep/rulesengine/rulesengine.py
Due: black

fix: ruleengine (#1054)
  keep/rulesengine/rulesengine.py
Due: black

feat: wip
  keep/rulesengine/rulesengine.py
  tests/test_search_alerts.py
Due: black

feat: add index
  keep/functions/__init__.py
Due: black

feat: index
  tests/test_functions.py
Due: black

feat: index (#1055)
  keep/functions/__init__.py
  tests/test_functions.py
Due: black

feat:create basic rule grouping component
  keep-ui/app/rules/CreateCorrelationSidebar/CreateCorrelationGroups.tsx
  keep-ui/app/rules/CreateCorrelationSidebar/CreateCorrelationSidebarBody.tsx
  keep-ui/app/rules/CreateCorrelationSidebar/RuleFields.tsx
  keep-ui/app/rules/CreateCorrelationSidebar/RuleGroup.tsx
  keep-ui/app/rules/CreateCorrelationSidebar/index.tsx
Due: none

feat: search alerts
  tests/test_search_alerts.py
Due: black

feat:add custom values in dropdown
  keep-ui/app/rules/CreateCorrelationSidebar/CreateCorrelationGroups.tsx
  keep-ui/app/rules/CreateCorrelationSidebar/RuleFields.tsx
Due: none

feat:wip
  keep-ui/app/rules/CreateCorrelationSidebar/CreateCorrelationGroups.tsx
  keep-ui/app/rules/CreateCorrelationSidebar/RuleFields.tsx
  keep-ui/app/rules/CreateCorrelationSidebar/RuleGroup.tsx
Due: none

refactor:use `onPropsChange` func to update values
  keep-ui/app/rules/CreateCorrelationSidebar/CreateCorrelationGroups.tsx
  keep-ui/app/rules/CreateCorrelationSidebar/RuleFields.tsx
  keep-ui/app/rules/CreateCorrelationSidebar/RuleGroup.tsx
Due: none

feat:add filtering for rule inputs
  keep-ui/app/rules/CreateCorrelationSidebar/RuleFields.tsx
Due: none

feat: cel backend
  keep/rulesengine/rulesengine.py
  tests/test_search_alerts.py
Due: black

feat: search CEL on backend
  keep/api/models/alert.py
  keep/api/routes/alerts.py
  keep/rulesengine/rulesengine.py
  tests/test_search_alerts.py
Due: black

feat: more tests
  tests/test_search_alerts.py
Due: black

Path conditions:
  black: any of: \.py$
  check-yaml: any of: \.(yaml|yml)$
