Repository keephq/keep: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, check-yaml

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: black
        name: black
        entry: black
        language: system
        types: [python]
        require_serial: true
      - id: check-added-large-files
        name: Check for added large files
        entry: check-added-large-files
        language: system
      - id: check-yaml
        name: Check Yaml
        entry: check-yaml
        language: system
        types: [yaml]
      - id: end-of-file-fixer
        name: Fix End of Files
        entry: end-of-file-fixer
        language: system
        types: [text]
        stages: [commit, push, manual]
      - id: isort
        name: isort
        entry: isort
        require_serial: true
        language: system
        types_or: [cython, pyi, python]
        args: ["--filter-files", "--profile", "black"]
      - id: trailing-whitespace
        name: Trim Trailing Whitespace
        entry: trailing-whitespace-fixer
        language: system
        types: [text]
        stages: [commit, push, manual]
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v2.6.0
    hooks:
      - id: prettier
  - repo: https://github.com/compilerla/conventional-pre-commit
    rev: v2.1.1
    hooks:
      - id: conventional-pre-commit
        stages: [commit-msg]
        args: [] # optional: list of Conventional Commits types to allow e.g. [feat, fix, ci, chore, test]

wip import-export
  docker-compose.yml
  keep-ui/app/workflows/workflows.client.tsx
  keep/api/core/db.py
  keep/api/routes/providers.py
  keep/api/routes/workflows.py
  keep/workflowmanager/workflowstore.py
Due: black, check-yaml

added docs and removed zip endpoints
  docker-compose.yml
  docs/api-ref/providers/export-providers.mdx
  docs/api-ref/users/create-user.mdx
  docs/api-ref/users/delete-user-by-email.mdx
  docs/api-ref/users/get-users.mdx
  docs/api-ref/workflows/export-workflows.mdx
  keep-ui/app/workflows/workflows.client.tsx
  keep/api/routes/providers.py
  keep/api/routes/workflows.py
Due: black, check-yaml

conflicts
  docker-compose.yml
  keep-ui/app/workflows/workflows.client.tsx
Due: check-yaml

fixed update_provider method
  keep/api/routes/providers.py
Due: black

removed redundant imports
  keep/api/routes/providers.py
  keep/api/routes/workflows.py
Due: black

fix: local build
  docker/Dockerfile.ui
Due: none

fix: build
  docker/Dockerfile.ui
Due: none

fix: local build (#779)
  docker/Dockerfile.ui
Due: none

fix: remove deleted api keys
  keep-ui/app/settings/api-key-settings.tsx
  keep/api/utils/tenant_utils.py
Due: black

feat: done
  keep-ui/app/rules/rules.client.tsx
Due: none

fix: alert group fixes and chart (#777)
  docs/mint.json
  keep-ui/app/rules/query-builder.scss
  keep-ui/app/rules/rules.client.tsx
  keep/api/core/db.py
  keep/api/models/db/alert.py
  keep/api/routes/rules.py
  scripts/simulate_alerts.py
Due: black

feat: fixes
  keep-ui/app/settings/api-key-menu.tsx
  keep-ui/app/settings/api-key-settings.tsx
  keep-ui/app/settings/create-api-key-modal.tsx
  keep-ui/app/settings/users-menu.tsx
  keep-ui/app/settings/users-settings.tsx
Due: none

fix: remove redunadnt code
  keep/api/utils/tenant_utils.py
Due: black

fix: mysql fixes
  keep/api/core/db.py
Due: black

fix: mysql fixes (#782)
  keep/api/core/db.py
Due: black

feat: new status mechanism
  keep/rulesengine/rulesengine.py
Due: black

feat: new status mechanism (#783)
  keep/rulesengine/rulesengine.py
Due: black

fix(api): steps to expose output as well
  keep/api/core/db.py
  keep/api/routes/workflows.py
  keep/providers/base/base_provider.py
  keep/workflowmanager/workflowmanager.py
Due: black

fix(api): steps to expose output as well (#784)
  keep/api/core/db.py
  keep/api/routes/workflows.py
  keep/providers/base/base_provider.py
  keep/workflowmanager/workflowmanager.py
Due: black

fix(ui): remove text overflow
  keep-ui/app/settings/create-api-key-modal.tsx
Due: none

feat(provider): linearb
  docs/providers/documentation/linearb-provider.mdx
  keep-ui/public/icons/linearb-icon.png
  keep/providers/linearb_provider/__init__.py
  keep/providers/linearb_provider/linearb_provider.py
Due: black

fix: should use patch
  keep/providers/linearb_provider/linearb_provider.py
Due: black

feat(provider): linearb (#785)
  docs/providers/documentation/linearb-provider.mdx
  keep-ui/public/icons/linearb-icon.png
  keep/providers/linearb_provider/__init__.py
  keep/providers/linearb_provider/linearb_provider.py
Due: black

feat: add more context to groups
  keep/rulesengine/rulesengine.py
Due: black

feat: add more context to groups (#786)
  keep/rulesengine/rulesengine.py
Due: black

fix(provider): handful of small fixes in providers and workflows execution page
  docs/mint.json
  keep-ui/app/workflows/[workflow_id]/page.tsx
  keep-ui/app/workflows/[workflow_id]/runs/[workflow_execution_id]/page.tsx
  keep/functions/__init__.py
  keep/providers/datadog_provider/datadog_provider.py
  keep/providers/jiraonprem_provider/jiraonprem_provider.py
  keep/providers/linearb_provider/linearb_provider.py
  keep/step/step.py
Due: black

fix(provider): handful of small fixes in providers and workflows exec… (#787)
  docs/mint.json
  keep-ui/app/workflows/[workflow_id]/page.tsx
  keep-ui/app/workflows/[workflow_id]/runs/[workflow_execution_id]/page.tsx
  keep/functions/__init__.py
  keep/providers/datadog_provider/datadog_provider.py
  keep/providers/jiraonprem_provider/jiraonprem_provider.py
  keep/providers/linearb_provider/linearb_provider.py
  keep/step/step.py
Due: black

chore(provider): prometheus route continue attribute
  keep/providers/prometheus_provider/prometheus_provider.py
Due: black

chore(provider): prometheus route continue attribute (#788)
  keep/providers/prometheus_provider/prometheus_provider.py
Due: black

fix: expand only appropriate row
  keep-ui/app/alerts/alert-table-utils.tsx
Due: none

fix: expand only appropriate row (#790)
  keep-ui/app/alerts/alert-table-utils.tsx
Due: none
