Repository keephq/keep: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, check-yaml

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: black
        name: black
        entry: black
        language: system
        types: [python]
        require_serial: true
      - id: check-added-large-files
        name: Check for added large files
        entry: check-added-large-files
        language: system
      - id: check-yaml
        name: Check Yaml
        entry: check-yaml
        language: system
        types: [yaml]
      - id: end-of-file-fixer
        name: Fix End of Files
        entry: end-of-file-fixer
        language: system
        types: [text]
        stages: [commit, push, manual]
      - id: isort
        name: isort
        entry: isort
        require_serial: true
        language: system
        types_or: [cython, pyi, python]
        args: ["--filter-files", "--profile", "black"]
      - id: trailing-whitespace
        name: Trim Trailing Whitespace
        entry: trailing-whitespace-fixer
        language: system
        types: [text]
        stages: [commit, push, manual]
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v2.6.0
    hooks:
      - id: prettier
  - repo: https://github.com/compilerla/conventional-pre-commit
    rev: v2.1.1
    hooks:
      - id: conventional-pre-commit
        stages: [commit-msg]
        args: [] # optional: list of Conventional Commits types to allow e.g. [feat, fix, ci, chore, test]

chore(internal): add pr to issue link gate
  .github/workflows/check-linked-issue.yml
Due: check-yaml

chore(internal): add pr to issue link gate
  .github/workflows/check-linked-issue.yml
  .github/workflows/lint-pr.yml
Due: check-yaml

fix: improve pre formatting mechanism (#1508)
  keep/api/bl/enrichments.py
  keep/api/tasks/process_event_task.py
Due: black

chore(internal): add pr to issue gate (#1510)
  .github/workflows/lint-pr.yml
Due: check-yaml

Fixed VS code quickstart
  docs/development/getting-started.mdx
  keep-ui/.env.local.example
Due: none

1 line missing
  docs/development/getting-started.mdx
Due: none

feat: wip
  keep-ui/app/settings/auth/multiselect.css
  keep-ui/app/settings/auth/permissions-tab.tsx
  keep-ui/app/settings/auth/roles-tab.tsx
  keep/api/core/db.py
  keep/identitymanager/identity_managers/keycloak/keycloak_identitymanager.py
  keep/identitymanager/identitymanager.py
  keep/identitymanager/rbac.py
Due: black

Update keep-ui/.env.local.example
  keep-ui/.env.local.example
Due: none

feat: many too
  examples/workflows/sendgrid_basic.yml
  keep/providers/sendgrid_provider/sendgrid_provider.py
Due: black, check-yaml

feat: fix
  .github/workflows/test-pr-e2e.yml
Due: check-yaml

feat: more than one "to" (#1516)
  .github/workflows/test-pr-e2e.yml
  examples/workflows/sendgrid_basic.yml
  keep/providers/sendgrid_provider/sendgrid_provider.py
Due: black, check-yaml

feat: incidents from providers
  keep/api/arq_worker.py
  keep/api/models/alert.py
  keep/api/models/db/alert.py
  keep/api/routes/preset.py
  keep/api/tasks/process_incidents_task.py
  keep/api/tasks/process_topology_task.py
  keep/providers/base/base_provider.py
  keep/providers/pagerduty_provider/pagerduty_provider.py
Due: black

fix: small fix
  keep/api/routes/preset.py
  keep/api/tasks/process_topology_task.py
  keep/providers/base/base_provider.py
  keep/providers/datadog_provider/datadog_provider.py
Due: black

refactor:usiign store for handling the basic operation like add duplicate,seletion and added toolbox and etting on the flow
  keep-ui/app/workflows/builder/CustomNode.tsx
  keep-ui/app/workflows/builder/NodeMenu.tsx
  keep-ui/app/workflows/builder/ReactFlowBuilder.tsx
  keep-ui/app/workflows/builder/ReactFlowEditor.tsx
  keep-ui/app/workflows/builder/ToolBox.tsx
  keep-ui/app/workflows/builder/builder-store.tsx
  keep-ui/app/workflows/builder/builder.tsx
  keep-ui/app/workflows/builder/editors.tsx
  keep-ui/utils/hooks/useWorkflowInitialization.ts
Due: none

chore:clean up
  keep-ui/app/workflows/builder/ToolBox.tsx
Due: none

feat: working
  keep-ui/app/incidents/[id]/incident-info.tsx
  keep-ui/components/navbar/IncidentLinks.tsx
  keep/api/models/alert.py
  keep/api/models/db/alert.py
  keep/api/models/db/migrations/versions/2024-08-01-17-55_77353bc66243.py
  keep/api/routes/incidents.py
  keep/api/tasks/process_incidents_task.py
  keep/providers/pagerduty_provider/pagerduty_provider.py
Due: black

fix: VS code quickstart (#1514)
  docs/development/getting-started.mdx
  keep-ui/.env.local.example
Due: none

feat: wip
  keep-ui/app/settings/auth/multiselect.css
  keep-ui/app/settings/auth/roles-tab.tsx
  keep-ui/app/settings/settings.client.tsx
  keep-ui/utils/hooks/useScopes.ts
  keep/identitymanager/identity_managers/keycloak/keycloak_identitymanager.py
  keep/identitymanager/identitymanager.py
Due: black

fix: labels in query params as a initial filters
  keep-ui/app/providers/components/providers-filter-by-label/index.ts
  keep-ui/app/providers/components/providers-filter-by-label/providers-filter-by-label.tsx
  keep-ui/app/providers/components/providers-search/index.ts
  keep-ui/app/providers/components/providers-search/providers-search.tsx
  keep-ui/app/providers/filter-context/constants.ts
  keep-ui/app/providers/filter-context/filter-context.tsx
  keep-ui/app/providers/filter-context/index.ts
  keep-ui/app/providers/filter-context/types.ts
  keep-ui/app/providers/filter-context/use-filter-context.ts
  keep-ui/app/providers/layout.tsx
  keep-ui/app/providers/page.client.tsx
  keep-ui/app/providers/providers.tsx
Due: none

feat: wip
  keep-ui/app/settings/auth/roles-sidebar.tsx
  keep-ui/app/settings/auth/roles-tab.tsx
  keep/identitymanager/authverifierbase.py
  keep/identitymanager/identity_managers/keycloak/keycloak_identitymanager.py
Due: black

fix: patch dismissed
  keep/api/core/elastic.py
Due: black

fix: patch
  keep/api/core/elastic.py
Due: black

fix: patch dismissed (#1519)
  keep/api/core/elastic.py
Due: black

feat:added connection restrictions and code clean up
  keep-ui/app/workflows/builder/CustomEdge.tsx
  keep-ui/app/workflows/builder/ReactFlowBuilder.tsx
  keep-ui/app/workflows/builder/ReactFlowEditor.tsx
  keep-ui/app/workflows/builder/SubFlowNode.tsx
  keep-ui/app/workflows/builder/ToolBox.tsx
  keep-ui/app/workflows/builder/builder-store.tsx
  keep-ui/app/workflows/builder/editors.tsx
  keep-ui/utils/hooks/useWorkflowInitialization.ts
Due: none

feat: sort fingerprint fields
  keep/providers/openobserve_provider/openobserve_provider.py
Due: black

feat: sort fingerprint fields (#1522)
  keep/providers/openobserve_provider/openobserve_provider.py
Due: black

enhancement: bulk actions on alerts
  docker/Dockerfile.dev.ui
  keep-ui/app/alerts/alert-actions.tsx
  keep-ui/app/alerts/alert-change-status-modal.tsx
  keep-ui/app/alerts/alert-menu.tsx
  keep-ui/app/alerts/alert-table-tab-panel.tsx
  keep-ui/app/alerts/alert-table-utils.tsx
  keep-ui/app/alerts/alert-table.tsx
  keep-ui/app/alerts/alerts.tsx
  keep-ui/utils/hooks/useAlertActions.ts
Due: none

fix: when preset is private it needs to filtered form the asset links
  keep-ui/app/alerts/models.tsx
  keep-ui/components/navbar/CustomPresetAlertLinks.tsx
  keep-ui/utils/hooks/usePresets.ts
Due: none

Initial UI changes
  keep-ui/app/workflows/builder/ReactFlowBuilder.tsx
  keep-ui/app/workflows/builder/ReactFlowEditor.tsx
  keep-ui/app/workflows/builder/builder.tsx
  keep-ui/app/workflows/builder/page.css
Due: none

fix: when preset is private it needs to filtered for other users (#1526)
  keep-ui/app/alerts/models.tsx
  keep-ui/components/navbar/CustomPresetAlertLinks.tsx
  keep-ui/utils/hooks/usePresets.ts
Due: none

fix: remove license badge from README
  README.md
Due: none

fix: remove license badge from README (#1528)
  README.md
Due: none
