Repository keephq/keep: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, check-yaml

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: black
        name: black
        entry: black
        language: system
        types: [python]
        require_serial: true
      - id: check-added-large-files
        name: Check for added large files
        entry: check-added-large-files
        language: system
      - id: check-yaml
        name: Check Yaml
        entry: check-yaml
        language: system
        types: [yaml]
      - id: end-of-file-fixer
        name: Fix End of Files
        entry: end-of-file-fixer
        language: system
        types: [text]
        stages: [commit, push, manual]
      - id: isort
        name: isort
        entry: isort
        require_serial: true
        language: system
        types_or: [cython, pyi, python]
        args: ["--filter-files", "--profile", "black"]
      - id: trailing-whitespace
        name: Trim Trailing Whitespace
        entry: trailing-whitespace-fixer
        language: system
        types: [text]
        stages: [commit, push, manual]
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v2.6.0
    hooks:
      - id: prettier
  - repo: https://github.com/compilerla/conventional-pre-commit
    rev: v2.1.1
    hooks:
      - id: conventional-pre-commit
        stages: [commit-msg]
        args: [] # optional: list of Conventional Commits types to allow e.g. [feat, fix, ci, chore, test]

feat: red
  package-lock.json
  package.json
Due: none

feat: remove package-lock from main
  package-lock.json
Due: none

feat: close palette after navigating
  keep-ui/app/command-menu.tsx
Due: none

feat: fix few minor things
  keep-ui/app/command-menu.tsx
  keep-ui/package-lock.json
  keep-ui/package.json
Due: none

feat: add control k (#188)
  keep-ui/app/command-menu.tsx
  keep-ui/app/navbar.tsx
  keep-ui/app/page.tsx
  keep-ui/package-lock.json
  keep-ui/package.json
  keep-ui/styles/linear.scss
Due: none

feat: alerts page (#185)
  keep-ui/app/alerts/alerts.client.css
  keep-ui/app/alerts/alerts.client.tsx
  keep-ui/app/alerts/layout.tsx
  keep-ui/app/alerts/mock-data.tsx
  keep-ui/app/alerts/models.tsx
  keep-ui/app/alerts/page.tsx
  keep-ui/app/builder/builder.tsx
  keep-ui/app/builder/page.client.tsx
  keep-ui/app/layout.tsx
  keep-ui/app/navbar-inner.tsx
  keep-ui/app/page.tsx
  keep-ui/app/providers/layout.tsx
  keep-ui/app/providers/page.client.tsx
  keep-ui/app/providers/page.tsx
  keep-ui/app/providers/providers-connect.tsx
  keep-ui/app/toast.tsx
  keep-ui/app/under-construction.tsx
  keep-ui/next.config.js
  keep/api/api.py
  keep/api/core/db.py
  keep/api/models/alert.py
  keep/api/models/db/alert.py
  keep/api/routes/ai.py
  keep/api/routes/alerts.py
  keep/api/routes/providers.py
  keep/providers/base/base_provider.py
  keep/providers/bigquery_provider/bigquery_provider.py
  keep/providers/datadog_provider/datadog_provider.py
  keep/providers/grafana_provider/grafana_provider.py
Due: black

feat: fix CR
  examples/alerts/new_auth0_users.yml
  keep/providers/auth0_provider/auth0_provider.py
Due: black, check-yaml

feat: add auth0 provider (#178)
  examples/alerts/new_auth0_users.yml
  keep/providers/auth0_provider/__init__.py
  keep/providers/auth0_provider/auth0_provider.py
Due: black, check-yaml

feat: add auth0 provider
  examples/alerts/db_disk_space.yml
  keep/alert/alert.py
  keep/alertmanager/alertcheduler.py
  keep/alertmanager/alertmanager.py
  keep/cli/cli.py
  keep/parser/parser.py
Due: black, check-yaml

Update keep/alertmanager/alertmanager.py
  keep/alertmanager/alertmanager.py
Due: black

feat: interval option in alert specification (#190)
  examples/alerts/db_disk_space.yml
  keep/alert/alert.py
  keep/alertmanager/alertcheduler.py
  keep/alertmanager/alertmanager.py
  keep/cli/cli.py
  keep/parser/parser.py
Due: black, check-yaml

fix: fixing identity
  keep-ui/app/posthog-client.tsx
Due: none

fix: fixing identity (#191)
  keep-ui/app/posthog-client.tsx
Due: none

Refactor step action
  keep/parser/parser.py
  keep/step/step.py
Due: black

chore: Enhancement: Merge step and action class implementation (#186)
  docs/platform/core/syntax/basic-syntax.mdx
  keep/action/__init__.py
  keep/action/action.py
  keep/alert/alert.py
  keep/parser/parser.py
  keep/step/step.py
Due: black

fix: set step context in step run
  keep/alert/alert.py
  keep/step/step.py
Due: black

feat: fix
  keep/alertmanager/alertmanager.py
  keep/parser/parser.py
  keep/step/step.py
Due: black

fix: broken step results (#192)
  keep/alert/alert.py
  keep/alertmanager/alertmanager.py
  keep/parser/parser.py
  keep/step/step.py
Due: black

feat: adding frontend endpoints
  keep-ui/app/navbar-inner.tsx
  keep/api/api.py
  keep/cli/cli.py
  pyproject.toml
Due: black

feat: fix the error handling
  keep-ui/app/builder/builder-card.tsx
  keep-ui/app/builder/page.tsx
  keep-ui/app/error-boundary.tsx
  keep-ui/app/error.tsx
  keep-ui/app/globals.css
  keep-ui/app/page.tsx
  keep-ui/app/providers/page.client.tsx
  keep-ui/app/providers/page.tsx
Due: none

feat: better error handling
  keep-ui/app/globals.css
Due: none

feat: better error handling
  keep-ui/app/builder/page.tsx
  keep-ui/app/error-boundary.tsx
Due: none

feat: refactor posthog client
  keep/api/api.py
  keep/cli/cli.py
  keep/posthog/posthog.py
Due: black

feat: refactor posthog client
  keep-ui/app/providers/page.tsx
Due: none

feat: refactor posthog client
  keep/cli/cli.py
Due: black

feat: adding frontend endpoints (#193)
  keep-ui/app/builder/builder-card.tsx
  keep-ui/app/builder/page.tsx
  keep-ui/app/error-boundary.tsx
  keep-ui/app/error.tsx
  keep-ui/app/globals.css
  keep-ui/app/navbar-inner.tsx
  keep-ui/app/page.tsx
  keep-ui/app/providers/page.client.tsx
  keep-ui/app/providers/page.tsx
  keep/api/api.py
  keep/cli/cli.py
  keep/posthog/posthog.py
  pyproject.toml
Due: black

fix(posthog): tried to use self but doesn't exist
  keep/posthog/posthog.py
Due: black

fix(posthog): tried to use self but doesn't exist (#195)
  keep/posthog/posthog.py
Due: black

fix: titles in both providers and builder page and broken builder
  keep-ui/app/builder/page.tsx
  keep-ui/app/error-boundary.tsx
  keep-ui/app/layout.tsx
  keep-ui/app/providers/page.tsx
Due: none

fix: titles in both providers and builder page and broken builder (#196)
  keep-ui/app/builder/page.tsx
  keep-ui/app/error-boundary.tsx
  keep-ui/app/layout.tsx
  keep-ui/app/providers/page.tsx
Due: none
