Repository keephq/keep: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, check-yaml

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: black
        name: black
        entry: black
        language: system
        types: [python]
        require_serial: true
      - id: check-added-large-files
        name: Check for added large files
        entry: check-added-large-files
        language: system
      - id: check-yaml
        name: Check Yaml
        entry: check-yaml
        language: system
        types: [yaml]
      - id: end-of-file-fixer
        name: Fix End of Files
        entry: end-of-file-fixer
        language: system
        types: [text]
        stages: [commit, push, manual]
      - id: isort
        name: isort
        entry: isort
        require_serial: true
        language: system
        types_or: [cython, pyi, python]
        args: ["--filter-files", "--profile", "black"]
      - id: trailing-whitespace
        name: Trim Trailing Whitespace
        entry: trailing-whitespace-fixer
        language: system
        types: [text]
        stages: [commit, push, manual]
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v2.6.0
    hooks:
      - id: prettier
  - repo: https://github.com/compilerla/conventional-pre-commit
    rev: v2.1.1
    hooks:
      - id: conventional-pre-commit
        stages: [commit-msg]
        args: [] # optional: list of Conventional Commits types to allow e.g. [feat, fix, ci, chore, test]

feat: resend provider
  docs/docs/021_platform/core/022_providers/documentation/resend.md
  keep/providers/resend_provider/__init__.py
  keep/providers/resend_provider/resend_provider.py
Due: black

feat: support docker image
  keep/providers/providers_factory.py
Due: black

Apply suggestions from code review
  keep/providers/resend_provider/resend_provider.py
Due: black

feat: trigger build
  keep/providers/providers_factory.py
Due: black

feat: trigger build
  keep/api/routes/providers.py
Due: black

feat: add swr + loading gif
  keep-ui/app/loading.tsx
  keep-ui/app/page.tsx
  keep-ui/app/providers/page.tsx
  keep-ui/public/keep_loading_new.gif
Due: none

feat: add swr + loading gif
  keep-ui/app/builder/page.client.tsx
Due: none

feat: add swr + loading gif
  keep-ui/app/providers/page.tsx
Due: none

feat: move fetcher
  keep-ui/app/builder/page.client.tsx
  keep-ui/app/providers/page.tsx
  keep-ui/utils/fetcher.ts
Due: none

feat: wip
  examples/alerts/keep_semantic_alert_example_datadog.yml
  keep-ui/app/builder/builder.tsx
  keep-ui/app/builder/editors.tsx
  keep-ui/app/builder/utils.tsx
  keep-ui/public/icons/assert-icon.png
  keep-ui/public/icons/github.stars-icon.png
Due: check-yaml

feat: alert generate
  keep-ui/app/builder/alert.tsx
  keep-ui/app/builder/editors.tsx
  keep-ui/app/builder/utils.tsx
Due: none

fix: assert condition editor
  keep-ui/app/builder/editors.tsx
Due: none

feat: working
  keep-ui/app/builder/builder-card.tsx
  keep-ui/app/builder/builder-modal.tsx
  keep-ui/app/builder/builder.tsx
  keep-ui/app/builder/page.client.tsx
  keep-ui/package-lock.json
  keep-ui/package.json
Due: none

fix: small bugfix
  keep-ui/app/builder/builder-card.tsx
Due: none

fix: alert with no action
  keep-ui/app/builder/alert.tsx
  keep-ui/app/builder/builder-modal.tsx
  keep-ui/app/builder/utils.tsx
Due: none

feat: move fetcher
  keep-ui/app/ci/page.tsx
  keep-ui/app/github/page.tsx
Due: none

fix: dont append main to api url
  keep-ui/next_build.sh
Due: none

fix: dont append main to api url (#170)
  keep-ui/next_build.sh
Due: none

fix: fix
  keep-ui/app/builder/builder-card.tsx
  keep-ui/app/builder/page.client.tsx
  keep-ui/app/builder/page.css
  keep-ui/package-lock.json
  keep-ui/package.json
Due: none

fix: small issue with effect in builder (#172)
  keep-ui/app/builder/builder-card.tsx
  keep-ui/app/builder/page.client.tsx
  keep-ui/app/builder/page.css
  keep-ui/package-lock.json
  keep-ui/package.json
Due: none

wip
  README.md
  assets/alert-example.png
  assets/keep.png
  docs/platform/core/providers/documentation/resend-provider.mdx
Due: none

Delete resend.md
  docs/docs/021_platform/core/022_providers/documentation/resend.md
Due: none

feat: resend provider (#169)
  keep/providers/resend_provider/__init__.py
  keep/providers/resend_provider/resend_provider.py
Due: black

fix: some cosmetics
  keep-ui/app/alerts/page.tsx
  keep-ui/app/ci/page.tsx
  keep-ui/app/github/page.tsx
  keep-ui/app/settings/page.tsx
Due: none

fix: some cosmetics (#173)
  keep-ui/app/alerts/page.tsx
  keep-ui/app/ci/page.tsx
  keep-ui/app/github/page.tsx
  keep-ui/app/settings/page.tsx
Due: none

fix: bug
  keep-ui/app/ci/page.tsx
  keep-ui/app/github/page.tsx
Due: none
