Repository keephq/keep: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, check-yaml

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: black
        name: black
        entry: black
        language: system
        types: [python]
        require_serial: true
      - id: check-added-large-files
        name: Check for added large files
        entry: check-added-large-files
        language: system
      - id: check-yaml
        name: Check Yaml
        entry: check-yaml
        language: system
        types: [yaml]
      - id: end-of-file-fixer
        name: Fix End of Files
        entry: end-of-file-fixer
        language: system
        types: [text]
        stages: [commit, push, manual]
      - id: isort
        name: isort
        entry: isort
        require_serial: true
        language: system
        types_or: [cython, pyi, python]
        args: ["--filter-files", "--profile", "black"]
      - id: trailing-whitespace
        name: Trim Trailing Whitespace
        entry: trailing-whitespace-fixer
        language: system
        types: [text]
        stages: [commit, push, manual]
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v2.6.0
    hooks:
      - id: prettier
  - repo: https://github.com/compilerla/conventional-pre-commit
    rev: v2.1.1
    hooks:
      - id: conventional-pre-commit
        stages: [commit-msg]
        args: [] # optional: list of Conventional Commits types to allow e.g. [feat, fix, ci, chore, test]

fix: new relic source (#1863)
  keep/providers/newrelic_provider/newrelic_provider.py
Due: black

fix: poetry.lock breaking changes from 1724
  poetry.lock
Due: none

fix: poetry.lock breaking changes from 1724 (#1865)
  poetry.lock
Due: none

chore: add unit test
  keep/api/bl/enrichments_bl.py
  tests/test_enrichments.py
Due: black

feat: servicenow cmdb and topology mapping (#1825)
  docs/overview/enrichment/mapping.mdx
  keep-ui/app/alerts/alert-sidebar.tsx
  keep-ui/app/mapping/create-or-edit-mapping.tsx
  keep-ui/app/mapping/mapping.tsx
  keep-ui/app/mapping/models.tsx
  keep-ui/app/mapping/rules-table.tsx
  keep-ui/app/topology/custom-node.tsx
  keep-ui/app/topology/layout.tsx
  keep-ui/app/topology/models.tsx
  keep-ui/app/topology/page.tsx
  keep-ui/app/topology/service-search-context.tsx
  keep-ui/app/topology/topology.tsx
  keep-ui/components/navbar/IncidentLinks.tsx
  keep-ui/components/navbar/NoiseReductionLinks.tsx
  keep-ui/utils/hooks/useIncidents.ts
  keep-ui/utils/hooks/useTopology.ts
  keep/api/bl/enrichments_bl.py
  keep/api/core/db.py
  keep/api/models/db/mapping.py
  keep/api/models/db/migrations/versions/2024-09-03-16-24_1a5eb7069f9a.py
  keep/api/models/db/migrations/versions/2024-09-04-13-09_e6653be70b62.py
  keep/api/models/db/topology.py
  keep/api/routes/mapping.py
  keep/api/routes/preset.py
  keep/api/routes/topology.py
  keep/api/tasks/process_event_task.py
  keep/api/tasks/process_topology_task.py
  keep/providers/datadog_provider/topology_mock.py
  keep/providers/servicenow_provider/servicenow_provider.py
  tests/test_enrichments.py
Due: black

docs: add support page
  docs/mint.json
  docs/platform/support.mdx
Due: none

fix: add support
  docs/mint.json
Due: none

docs: add support page (#1867)
  docs/mint.json
  docs/platform/support.mdx
Due: none

fix: roles as headers
  keep/identitymanager/identity_managers/oauth2proxy/oauth2proxy_authverifier.py
Due: black

feat: update cloud sql
  poetry.lock
  pyproject.toml
Due: none

feat: add logs
  keep/api/api.py
Due: black

feat: add logs
  keep/workflowmanager/workflowscheduler.py
  poetry.lock
  pyproject.toml
Due: black

chore(deps): cloud-sql-python-connector (#1868)
  keep/api/api.py
  keep/workflowmanager/workflowscheduler.py
  poetry.lock
  pyproject.toml
Due: black

feat: force version
  .github/workflows/release.yml
Due: check-yaml

feat(release): release 0.24.0
  pyproject.toml
Due: none

chore(release): 0.24.0 (#1873)
  pyproject.toml
Due: none

PMI matrix read/write operations optimized
  ee/experimental/graph_utils.py
  ee/experimental/incident_utils.py
Due: black

First revision of docs edit
  docs/development/external-url.mdx
  docs/overview/comparison.mdx
  docs/overview/introduction.mdx
  docs/overview/keyconcepts.mdx
  docs/overview/usecases.mdx
Due: none

Resolve migrations conflict
  keep/api/models/db/migrations/versions/2024-09-08-17-51_1aacee84447e.py
Due: black

Improve grouping tooltip
  keep-ui/app/rules/CorrelationSidebar/CorrelationForm.tsx
  keep-ui/app/rules/CorrelationSidebar/CorrelationSubmission.tsx
Due: none

Store timeunit in Rule for better UX
  keep-ui/app/rules/CorrelationSidebar/CorrelationForm.tsx
  keep-ui/app/rules/CorrelationSidebar/CorrelationSidebarBody.tsx
  keep-ui/app/rules/CorrelationSidebar/RuleFields.tsx
  keep-ui/app/rules/CorrelationTable.tsx
  keep-ui/utils/hooks/useRules.ts
  keep/api/core/db.py
  keep/api/models/db/migrations/versions/2024-08-26-17-01_1aacee84447e.py
  keep/api/models/db/rule.py
  keep/api/routes/rules.py
Due: black

Remove react-xarrows
  keep-ui/app/rules/CorrelationSidebar/CorrelationSidebarBody.tsx
Due: none

Fix tests
  tests/test_rules_engine.py
Due: black

Change correlation form layout to improve usability
  keep-ui/app/rules/CorrelationSidebar/AlertsFoundBadge.tsx
  keep-ui/app/rules/CorrelationSidebar/CorrelationForm.tsx
  keep-ui/app/rules/CorrelationSidebar/CorrelationGroups.tsx
  keep-ui/app/rules/CorrelationSidebar/CorrelationSidebarBody.tsx
  keep-ui/app/rules/CorrelationSidebar/CorrelationSubmission.tsx
  keep-ui/app/rules/CorrelationSidebar/RuleFields.tsx
  keep-ui/app/rules/CorrelationSidebar/RuleGroup.tsx
  keep-ui/app/rules/CorrelationSidebar/index.tsx
Due: none

Correlations form UI improvements
  keep-ui/app/rules/CorrelationSidebar/AlertsFoundBadge.tsx
  keep-ui/app/rules/CorrelationSidebar/CorrelationForm.tsx
  keep-ui/app/rules/CorrelationSidebar/CorrelationSidebarBody.tsx
  keep-ui/app/rules/CorrelationSidebar/CorrelationSubmission.tsx
  keep-ui/app/rules/CorrelationSidebar/RuleGroup.tsx
  keep-ui/app/rules/CorrelationSidebar/index.tsx
Due: none

alert if alerts == 1 else alerts
  keep-ui/app/rules/CorrelationSidebar/AlertsFoundBadge.tsx
Due: none

Add test for rules' API
  tests/test_rules_api.py
Due: black

Fix timeUnit case and rename update_rule test
  keep/api/routes/rules.py
  tests/test_rules_api.py
Due: black

feat: improve correlation rules form (#1734)
  keep-ui/app/rules/CorrelationSidebar/AlertsFoundBadge.tsx
  keep-ui/app/rules/CorrelationSidebar/CorrelationForm.tsx
  keep-ui/app/rules/CorrelationSidebar/CorrelationGroups.tsx
  keep-ui/app/rules/CorrelationSidebar/CorrelationSidebarBody.tsx
  keep-ui/app/rules/CorrelationSidebar/CorrelationSubmission.tsx
  keep-ui/app/rules/CorrelationSidebar/RuleFields.tsx
  keep-ui/app/rules/CorrelationSidebar/RuleGroup.tsx
  keep-ui/app/rules/CorrelationSidebar/index.tsx
  keep-ui/app/rules/CorrelationTable.tsx
  keep-ui/utils/hooks/useRules.ts
  keep/api/core/db.py
  keep/api/models/db/migrations/versions/2024-09-08-17-51_1aacee84447e.py
  keep/api/models/db/rule.py
  keep/api/routes/rules.py
  tests/test_rules_api.py
  tests/test_rules_engine.py
Due: black

fix: stop the workflow manager thread
  keep/api/api.py
Due: black

fix: stop the workflow manager thread (#1877)
  keep/api/api.py
Due: black

feat: typo
  keep/api/core/db.py
Due: black

fix: Update db.py missing unique_api_key_id
  keep/api/core/db.py
Due: black
