Repository keephq/keep: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, check-yaml

black:
  name: black
  entry: black
  language: system
  require_serial: true

check-yaml:
  name: Check Yaml
  entry: check-yaml
  language: system

fix: fixing few things around dockerfile
  .github/workflows/push-docker-image.yml
  Dockerfile
  keep/statemanager/statemanager.py
Due: black, check-yaml

fix: dockerfile (#75)
  .github/workflows/push-docker-image.yml
  Dockerfile
  keep/statemanager/statemanager.py
Due: black, check-yaml

fix: build for m1
  .github/workflows/push-docker-image.yml
Due: check-yaml

fix: build for m1 (#76)
  .github/workflows/push-docker-image.yml
Due: check-yaml

feat: alerts endpoints init
  keep/action/action.py
  keep/alert/alert.py
  keep/alertmanager/alertmanager.py
  keep/api/api.py
  keep/api/routes/alerts.py
  keep/api/routes/providers.py
  keep/cli/cli.py
  keep/providers/base/base_provider.py
  keep/providers/models/provider_config.py
  keep/providers/mysql_provider/mysql_provider.py
  keep/step/step.py
Due: black

docs(readme): fix deploy to render button
  README.md
Due: none

Update deployment.md
  docs/docs/deployment.md
Due: none

docs(readme): fix deploy to render button (#78)
  README.md
  docs/docs/deployment.md
Due: none

feat: add run step
  keep/alert/alert.py
  keep/alertmanager/alertmanager.py
  keep/api/routes/alerts.py
Due: black

feat: add multistep
  examples/alerts/db_disk_space_multistep_telegram.yml
  keep/action/action.py
  keep/alert/alert.py
  keep/contextmanager/contextmanager.py
  keep/step/step.py
Due: black, check-yaml

feat: add multistep (#79)
  examples/alerts/db_disk_space_multistep_telegram.yml
  keep/action/action.py
  keep/alert/alert.py
  keep/contextmanager/contextmanager.py
  keep/step/step.py
Due: black, check-yaml

docs: add docs for multistep
  docs/docs/syntax.md
  docs/docs/z_examples/_category_.json
  docs/docs/z_examples/multistep-alert-example.md
Due: none

docs: add docs for multistep (#80)
  docs/docs/syntax.md
  docs/docs/z_examples/_category_.json
  docs/docs/z_examples/multistep-alert-example.md
Due: none

feat: opsgenie provider
  docs/docs/providers/documentation/opsgenie.md
  examples/alerts/db_disk_space_opsgenie.yml
  keep/providers/opsgenie_provider/opsgenie_provider.py
  keep/providers/zenduty_provider/zenduty_provider.py
  pyproject.toml
Due: black, check-yaml

fix: remove DS_STORE
  .DS_Store
Due: none

feat: add opsgenie provider (#81)
  docs/docs/providers/documentation/opsgenie.md
  examples/alerts/db_disk_space_opsgenie.yml
  keep/providers/opsgenie_provider/__init__.py
  keep/providers/opsgenie_provider/opsgenie_provider.py
  keep/providers/zenduty_provider/zenduty_provider.py
  pyproject.toml
Due: black, check-yaml

fix: docs
  docs/docs/providers/documentation/opsgenie.md
Due: none

fix: opsgenie docs (#82)
  docs/docs/providers/documentation/opsgenie.md
Due: none

added psql provider
  keep/providers/psql_provider/__init__.py
  keep/providers/psql_provider/psql_provider.py
  pyproject.toml
Due: black

added documentation for postgresql provider
  docs/docs/providers/documentation/postgresql.md
  docs/docs/providers/getting-started.md
Due: none

feat: added postgresql provider and docs (#84)
  docs/docs/providers/documentation/postgresql.md
  docs/docs/providers/getting-started.md
  keep/providers/psql_provider/__init__.py
  keep/providers/psql_provider/psql_provider.py
  pyproject.toml
Due: black

fix: postgres dep
  pyproject.toml
Due: none

fix: postgres dep (#85)
  pyproject.toml
Due: none

feat: wip adding alertsfiles
  examples/alerts/db_disk_space.yml
  examples/alerts/db_disk_space_pagerduty.yml
  examples/alerts/db_disk_space_pushover.yml
  examples/alerts/db_disk_space_several_alerts_in_one_yaml.yml
  examples/alerts/db_disk_space_telegram.yml
  examples/alerts/db_disk_space_zenduty.yml
  keep/alert/alert.py
  keep/api/api.py
  keep/api/routes/alerts.py
  keep/api/routes/alertsfiles.py
  keep/parser/parser.py
Due: black, check-yaml

feat: wip adding alertsfiles
  keep/api/routes/alertsfiles.py
Due: black

fix(mysql provider): client
  keep/providers/mysql_provider/mysql_provider.py
Due: black

feat: fixing and improving context
  examples/alerts/logfile_example.yml
  keep/action/action.py
  keep/alert/alert.py
  keep/alertmanager/alertmanager.py
  keep/api/api.py
  keep/api/routes/alerts.py
  keep/api/routes/alertsfiles.py
  keep/contextmanager/contextmanager.py
  keep/step/step.py
Due: black, check-yaml

feat: opsgenie provider
  keep/alert/alert.py
  keep/api/models/__init__.py
  keep/api/models/step_context.py
  keep/api/routes/alertsfiles.py
  keep/contextmanager/contextmanager.py
  keep/step/step.py
Due: black

feat(healthcheck): api health check
  keep/api/api.py
  keep/api/routes/healthcheck.py
Due: black

feat: add request
  keep/action/action.py
  keep/api/api.py
  keep/api/routes/alertsfiles.py
  keep/contextmanager/contextmanager.py
  pyproject.toml
Due: black

Path conditions:
  black: any of: \.py$
  check-yaml: any of: \.(yaml|yml)$
