Repository keephq/keep: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, check-yaml

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: black
        name: black
        entry: black
        language: system
        types: [python]
        require_serial: true
      - id: check-added-large-files
        name: Check for added large files
        entry: check-added-large-files
        language: system
      - id: check-yaml
        name: Check Yaml
        entry: check-yaml
        language: system
        types: [yaml]
      - id: end-of-file-fixer
        name: Fix End of Files
        entry: end-of-file-fixer
        language: system
        types: [text]
        stages: [commit, push, manual]
      - id: isort
        name: isort
        entry: isort
        require_serial: true
        language: system
        types_or: [cython, pyi, python]
        args: ["--filter-files", "--profile", "black"]
      - id: trailing-whitespace
        name: Trim Trailing Whitespace
        entry: trailing-whitespace-fixer
        language: system
        types: [text]
        stages: [commit, push, manual]
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v2.6.0
    hooks:
      - id: prettier
  - repo: https://github.com/compilerla/conventional-pre-commit
    rev: v2.1.1
    hooks:
      - id: conventional-pre-commit
        stages: [commit-msg]
        args: [] # optional: list of Conventional Commits types to allow e.g. [feat, fix, ci, chore, test]

feat:create `AlertActions` for row selection logic
  keep-ui/app/alerts/alert-actions.tsx
Due: none

feat:add row selection props to `AlertTable`
  keep-ui/app/alerts/alert-table.tsx
Due: none

feat:add conditional checkbox column
  keep-ui/app/alerts/alert-table.tsx
Due: none

feat:move `AlertPresets` into `TabPanel`; group with `AlertActions`
  keep-ui/app/alerts/alerts.tsx
Due: none

fix:fix forbidden async in `forEach` call
  keep-ui/app/alerts/alert-actions.tsx
Due: none

fix:adapt `AlertMenu` positioning for the right
  keep-ui/app/alerts/alert-menu.tsx
Due: none

chore: verify ssl false for mattermost and jira
  keep/providers/jira_provider/jira_provider.py
  keep/providers/mattermost_provider/mattermost_provider.py
Due: black

chore: verify ssl false for mattermost and jira (#661)
  keep/providers/jira_provider/jira_provider.py
  keep/providers/mattermost_provider/mattermost_provider.py
Due: black

feat:add function to get row ids
  keep-ui/app/alerts/alert-table.tsx
Due: none

feat:filter rows to selections before deletion
  keep-ui/app/alerts/alert-actions.tsx
  keep-ui/app/alerts/alerts.tsx
Due: none

[MOD] adding reload option
  docker/Dockerfile.dev.api
Due: none

feat:add types to support new meta properties
  keep-ui/types/react-table.d.ts
Due: none

feat:add special classes for stickied menu column/cell
  keep-ui/app/alerts/alert-table.tsx
  keep-ui/app/alerts/alerts-table-body.tsx
Due: none

feat:move menu to `Portal`; use dynamic positioning
  keep-ui/app/alerts/alert-menu.tsx
Due: none

chore: docker-compose templatization (#651)
  docker-compose-with-auth.yml
  docker-compose-with-otel.yaml
  docker-compose.common.yml
  docker-compose.dev.yml
  docker-compose.yml
  docker/Dockerfile.dev.api
Due: check-yaml

feat: editable columns with tremor
  keep-ui/app/alerts/alert-extra-payload.tsx
  keep-ui/app/alerts/alert-table.tsx
  keep-ui/app/alerts/alerts.tsx
  keep/api/logging.py
Due: black

chore: add span to get_all_alerts and remove double iteration
  keep/api/routes/alerts.py
Due: black

fix: use react-select
  keep-ui/app/alerts/alert-presets.tsx
  keep-ui/app/alerts/alert-table.tsx
  keep-ui/app/alerts/alerts.tsx
Due: none

feat: working
  keep-ui/app/alerts/alert-columns-select.tsx
  keep-ui/app/alerts/alert-presets.tsx
  keep-ui/app/alerts/alert-table.tsx
  keep-ui/app/alerts/alerts.tsx
  keep-ui/package-lock.json
  keep-ui/package.json
  keep/providers/mattermost_provider/mattermost_provider.py
Due: black

feat:conditionally render menu column
  keep-ui/app/alerts/alert-table.tsx
Due: none

Update keep-ui/app/alerts/alert-table.tsx
  keep-ui/app/alerts/alert-table.tsx
Due: none

fix: cr comments
  docker/Dockerfile.dev.ui
  docker/Dockerfile.ui
  keep-ui/app/alerts/alert-table.tsx
Due: none

fix:remove `console.log`
  keep-ui/app/alerts/alert-menu.tsx
Due: none

fix:menu position on scroll
  keep-ui/app/alerts/alert-menu.tsx
Due: none

feat(ui): Delete Multiple Alerts (#657)
  keep-ui/app/alerts/alert-actions.tsx
  keep-ui/app/alerts/alert-menu.tsx
  keep-ui/app/alerts/alert-table-checkbox.tsx
  keep-ui/app/alerts/alert-table.tsx
  keep-ui/app/alerts/alerts-table-body.tsx
  keep-ui/app/alerts/alerts.tsx
  keep-ui/app/alerts/models.tsx
  keep-ui/types/react-table.d.ts
Due: none

fix: more after merge
  keep-ui/app/alerts/alert-columns-select.tsx
  keep-ui/app/alerts/alert-table.tsx
  keep-ui/app/alerts/alerts.tsx
Due: none

fix: still buggy on second drop
  keep-ui/app/alerts/alert-table.tsx
Due: none

removed mattermost channel payload
  keep/providers/mattermost_provider/mattermost_provider.py
Due: black

fix: removed-mattermost-channel-payload (#667)
  keep/providers/mattermost_provider/mattermost_provider.py
Due: black

fix: clearable no
  keep-ui/app/alerts/alert-columns-select.tsx
Due: none

fix: working
  keep-ui/app/alerts/alert-columns-select.tsx
  keep-ui/app/alerts/alert-table.tsx
Due: none

feat: add jira on prem
  docker-compose.yml
  keep-ui/app/providers/page.client.tsx
  keep-ui/app/providers/provider-form.tsx
  keep-ui/app/providers/provider-tile.tsx
  keep-ui/app/providers/providers-tiles.tsx
  keep-ui/app/providers/providers.tsx
  keep-ui/pages/api/auth/[...nextauth].ts
  keep-ui/public/icons/jiracloud-icon.png
  keep-ui/public/icons/jiraonprem-icon.png
  keep-ui/utils/authenticationType.ts
  keep/api/models/provider.py
  keep/providers/aks_provider/aks_provider.py
  keep/providers/bigquery_provider/bigquery_provider.py
  keep/providers/gke_provider/gke_provider.py
  keep/providers/jiracloud_provider/__init__.py
  keep/providers/jiracloud_provider/jiracloud_provider.py
  keep/providers/jiraonprem_provider/README.md
  keep/providers/jiraonprem_provider/__init__.py
  keep/providers/jiraonprem_provider/jiraonprem_provider.py
  keep/providers/mongodb_provider/mongodb_provider.py
  keep/providers/mysql_provider/mysql_provider.py
  keep/providers/newrelic_provider/newrelic_provider.py
  keep/providers/oncall_provider/oncall_provider.py
  keep/providers/opsgenie_provider/opsgenie_provider.py
  keep/providers/pagerduty_provider/pagerduty_provider.py
  keep/providers/providers_factory.py
  keep/providers/servicenow_provider/servicenow_provider.py
  keep/providers/ssh_provider/ssh_provider.py
Due: black, check-yaml

feat: add jira on prem
  keep/providers/jiraonprem_provider/jiraonprem_provider.py
Due: black

feat: revert
  docker-compose.yml
Due: check-yaml

feat: revert
  keep/providers/jiraonprem_provider/jiraonprem_provider.py
Due: black
