Repository keephq/keep: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, check-yaml

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: black
        name: black
        entry: black
        language: system
        types: [python]
        require_serial: true
      - id: check-added-large-files
        name: Check for added large files
        entry: check-added-large-files
        language: system
      - id: check-yaml
        name: Check Yaml
        entry: check-yaml
        language: system
        types: [yaml]
      - id: end-of-file-fixer
        name: Fix End of Files
        entry: end-of-file-fixer
        language: system
        types: [text]
        stages: [commit, push, manual]
      - id: isort
        name: isort
        entry: isort
        require_serial: true
        language: system
        types_or: [cython, pyi, python]
        args: ["--filter-files", "--profile", "black"]
      - id: trailing-whitespace
        name: Trim Trailing Whitespace
        entry: trailing-whitespace-fixer
        language: system
        types: [text]
        stages: [commit, push, manual]
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v2.6.0
    hooks:
      - id: prettier
  - repo: https://github.com/compilerla/conventional-pre-commit
    rev: v2.1.1
    hooks:
      - id: conventional-pre-commit
        stages: [commit-msg]
        args: [] # optional: list of Conventional Commits types to allow e.g. [feat, fix, ci, chore, test]

fix(api): `notify_client` not passed to `_handle_event` (#1465)
  keep/api/tasks/process_event_task.py
Due: black

refactor:changed the trigger fallback icon to alert icon instead of keep
  keep-ui/app/workflows/workflow-tile.tsx
Due: none

fix: tests
  tests/test_functions.py
Due: black

feat: new workflow capabilities (#1459)
  examples/workflows/workflow_start_example.yml
  keep/api/core/db.py
  keep/functions/__init__.py
  tests/conftest.py
  tests/test_functions.py
  tests/test_workflow_execution.py
Due: black, check-yaml

fix: enrichments
  tests/conftest.py
  tests/test_contextmanager.py
  tests/test_workflow_execution.py
Due: black

fix: enrichments
  .github/workflows/test-pr.yml
Due: check-yaml

fix: tests (#1469)
  .github/workflows/test-pr.yml
  tests/conftest.py
  tests/test_contextmanager.py
  tests/test_workflow_execution.py
Due: black, check-yaml

fix: enrichments
  tests/conftest.py
Due: black

fix: tests (#1470)
  tests/conftest.py
Due: black

fix: error image fallback in trigger button (#1467)
  keep-ui/app/workflows/workflow-tile.tsx
Due: none

feat: alerts-empty-state-improvements
  keep-ui/app/alerts/alert-push-alert-to-server-modal.tsx
  keep-ui/app/alerts/alert-table.tsx
  keep-ui/app/alerts/alerts-table-body.tsx
  keep-ui/app/providers/providers.tsx
  keep/api/models/provider.py
  keep/providers/cloudwatch_provider/cloudwatch_provider.py
  keep/providers/grafana_provider/alerts_mock.py
  keep/providers/providers_factory.py
Due: black

feat: alerts-empty-state-improvements (#1476)
  keep-ui/app/alerts/alert-push-alert-to-server-modal.tsx
  keep-ui/app/alerts/alert-table.tsx
  keep-ui/app/alerts/alerts-table-body.tsx
  keep-ui/app/providers/providers.tsx
  keep/api/models/provider.py
  keep/providers/cloudwatch_provider/cloudwatch_provider.py
  keep/providers/grafana_provider/alerts_mock.py
  keep/providers/providers_factory.py
Due: black

feat: wip
  keep-ui/app/settings/auth/api-key-menu.tsx
  keep-ui/app/settings/auth/api-key-settings.tsx
  keep-ui/app/settings/auth/api-key-tab.tsx
  keep-ui/app/settings/auth/groups-tab.tsx
  keep-ui/app/settings/auth/roles-tab.tsx
  keep-ui/app/settings/auth/sso-settings.tsx
  keep-ui/app/settings/auth/sso-tab.tsx
  keep-ui/app/settings/auth/users-menu.tsx
  keep-ui/app/settings/auth/users-settings.tsx
  keep-ui/app/settings/auth/users-tab.tsx
  keep-ui/app/settings/create-api-key-modal.tsx
  keep-ui/app/settings/settings.client.tsx
  keep/api/routes/ai.py
  keep/api/routes/incidents.py
  keep/identitymanager/identity_managers/db/db_authverifier.py
  keep/identitymanager/identity_managers/db/db_identitymanager.py
  keep/identitymanager/identity_managers/keycloak/keycloak_identitymanager.py
  keep/identitymanager/identity_managers/noauth/noauth_authverifier.py
  keep/identitymanager/identitymanagerfactory.py
  keycloak/keycloak_entrypoint.sh
Due: black

feat: sendgrid provider
  README.md
  docs/mint.json
  docs/providers/documentation/sendgrid-provider.mdx
  keep-ui/public/icons/sendgrid-icon.png
  keep/providers/sendgrid_provider/__init__.py
  keep/providers/sendgrid_provider/sendgrid_provider.py
Due: black

feat: sendgrid provider (#1478)
  README.md
  docs/mint.json
  docs/providers/documentation/sendgrid-provider.mdx
  keep-ui/public/icons/sendgrid-icon.png
  keep/providers/sendgrid_provider/__init__.py
  keep/providers/sendgrid_provider/sendgrid_provider.py
Due: black

fix: tpoy
  docs/providers/documentation/sendgrid-provider.mdx
Due: none

fix: sendgrid docs typo (#1479)
  docs/providers/documentation/sendgrid-provider.mdx
Due: none

feat: wip
  keep-ui/app/settings/auth/groups-tab.tsx
  keep-ui/app/settings/auth/users-settings.tsx
  keep-ui/app/settings/layout.tsx
  keep-ui/app/settings/settings.client.tsx
  keep/api/api.py
  keep/api/models/user.py
  keep/api/routes/auth/__init__.py
  keep/api/routes/auth/groups.py
  keep/api/routes/auth/users.py
  keep/identitymanager/identity_managers/keycloak/keycloak_authverifier.py
  keep/identitymanager/identity_managers/keycloak/keycloak_identitymanager.py
  keep/identitymanager/identitymanager.py
  keep/identitymanager/identitymanagerfactory.py
  poetry.lock
  pyproject.toml
Due: black

feat: add api endpoint to count alerts recieved by a provider
  keep/api/core/db.py
  keep/api/routes/providers.py
Due: black

chore(deps): update posthog-js to 1.150.0
  keep-ui/package-lock.json
  keep-ui/package.json
Due: none

chore(deps): update posthog-js to 1.150.0 (#1481)
  keep-ui/package-lock.json
  keep-ui/package.json
Due: none

feat: add dto and documentation
  keep/api/core/db.py
  keep/api/models/provider.py
  keep/api/routes/providers.py
Due: black

fix: sendgrid and workflows
  examples/workflows/sendgrid_basic.yml
  keep-ui/app/workflows/workflow-run-with-alert-modal.tsx
  keep/api/routes/workflows.py
  keep/providers/sendgrid_provider/sendgrid_provider.py
Due: black, check-yaml

fix: sendgrid and workflows
  examples/workflows/sendgrid_basic.yml
Due: check-yaml

fix: sendgrid and workflows (#1482)
  examples/workflows/sendgrid_basic.yml
  keep-ui/app/workflows/workflow-run-with-alert-modal.tsx
  keep/api/routes/workflows.py
  keep/providers/sendgrid_provider/sendgrid_provider.py
Due: black, check-yaml

raw mining
  ee/experimental/incident_utils.py
  keep/api/routes/incidents.py
Due: black

Fix incident gathering
  keep/api/routes/incidents.py
Due: black

minor bugfix
  ee/experimental/incident_utils.py
Due: black

Fix imports for tests
  keep/api/models/db/statistics.py
  keep/api/routes/incidents.py
  keep/api/utils/import_ee.py
Due: black

Incident summary generation added
  ee/experimental/incident_utils.py
  keep/api/core/db.py
  keep/api/models/db/alert.py
  keep/api/models/db/migrations/versions/2024-07-28-16-24_8e5942040de6.py
Due: black
