Repository keephq/keep: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, check-yaml

black:
  name: black
  entry: black
  language: system
  require_serial: true

check-yaml:
  name: Check Yaml
  entry: check-yaml
  language: system

Test docs
  .github/workflows/test-docs.yml
  docs/validate_mint_json.sh
Due: check-yaml

Todos
  .github/workflows/test-docs.yml
Due: check-yaml

Concurrency
  .github/workflows/test-docs.yml
Due: check-yaml

Run tests
  .github/workflows/test-docs.yml
Due: check-yaml

Tests
  .github/workflows/test-docs.yml
  docs/validate_navigation.sh
Due: check-yaml

Validate providers
  .github/workflows/test-docs.yml
  docs/validate_all_providers_are_listed_in_docs.sh
  scripts/get_providers_list.py
Due: black, check-yaml

Missing providers
  docs/providers/overview.mdx
Due: none

Cleanup
  docs/validate_all_providers_are_listed_in_docs.sh
Due: none

Cleanup
  docs/platform/metrics.mdx
Due: none

feat: a
  tests/conftest.py
  tests/test_auth.py
Due: black

fix: debug
  keep/providers/openobserve_provider/openobserve_provider.py
Due: black

fix: debug (#1754)
  keep/providers/openobserve_provider/openobserve_provider.py
Due: black

feat: added stats cards, graph and pagination frontend logic
  keep-ui/app/workflows/[workflow_id]/layout.tsx
  keep-ui/app/workflows/[workflow_id]/page.tsx
  keep-ui/app/workflows/builder/types.tsx
  keep-ui/app/workflows/workflow-graph.tsx
  keep-ui/app/workflows/workflow-tile.tsx
  keep-ui/components/table/GenericTable.tsx
  keep-ui/components/table/Pagination.tsx
  keep-ui/utils/hooks/useWorkflowExecutions.ts
Due: none

fix: multiple fixes
  keep-ui/components/navbar/AlertsLinks.tsx
  keep/api/api.py
  keep/api/consts.py
  keep/api/routes/preset.py
  keep/api/tasks/process_event_task.py
Due: black

feat: redundant
  .github/workflows/test-pr.yml
Due: check-yaml

fix: multiple fixes (#1758)
  keep-ui/components/navbar/AlertsLinks.tsx
  keep/api/api.py
  keep/api/consts.py
  keep/api/routes/preset.py
  keep/api/tasks/process_event_task.py
Due: black

feat: merge
  tests/e2e_tests/docker-compose-e2e-mysql.yml
  tests/e2e_tests/docker-compose-e2e-postgres.yml
Due: check-yaml

feat: merge
  .github/workflows/test-pr.yml
Due: check-yaml

If incident has no user_summary and enough unique fingerprints - generating summary using AI
  keep-ui/app/ai/ai.tsx
  keep-ui/app/incidents/create-or-update-incident.tsx
  keep/api/core/db.py
  keep/api/routes/incidents.py
Due: black

feat: generating summary using AI for manually created incidents (#1761)
  keep-ui/app/ai/ai.tsx
  keep-ui/app/incidents/create-or-update-incident.tsx
  keep/api/core/db.py
  keep/api/routes/incidents.py
Due: black

feat:added backend pagination capability to the workflow executions and refactored the components
  keep-ui/app/workflows/[workflow_id]/executions.tsx
  keep-ui/app/workflows/[workflow_id]/layout.tsx
  keep-ui/app/workflows/[workflow_id]/page.tsx
  keep-ui/app/workflows/[workflow_id]/side-nav-bar.tsx
  keep-ui/app/workflows/[workflow_id]/workflow-execution-table.tsx
  keep-ui/app/workflows/builder/types.tsx
  keep-ui/app/workflows/mockworkflows.tsx
  keep-ui/app/workflows/workflow-graph.tsx
  keep-ui/components/table/GenericTable.tsx
  keep-ui/components/ui/discolsure-section.tsx
  keep/api/core/db.py
  keep/api/models/workflow.py
  keep/api/routes/workflows.py
  keep/api/utils/pagination.py
Due: black

feat: support update ticket jira and jira on-prem
  docs/providers/documentation/jira-provider.mdx
  examples/workflows/update_jira_ticket.yml
  keep/providers/jira_provider/jira_provider.py
  keep/providers/jiraonprem_provider/jiraonprem_provider.py
Due: black, check-yaml

feat: e2e impovements (#1759)
  tests/e2e_tests/docker-compose-e2e-mysql.yml
  tests/e2e_tests/docker-compose-e2e-postgres.yml
Due: check-yaml

chore: wip
  keep/api/bl/blackouts.py
Due: black

feat: support update ticket jira and jira on-prem
  keep/providers/jira_provider/jira_provider.py
  keep/providers/jiraonprem_provider/jiraonprem_provider.py
Due: black

feat: support update ticket jira and jira on-prem
  keep/providers/jiraonprem_provider/jiraonprem_provider.py
Due: black

fix(provider): zabbix failing to extract tags
  keep/providers/zabbix_provider/zabbix_provider.py
  keep/providers/zabbix_provider/zabbix_provider_script.js
Due: black

feat: add run and yaml defintion modals and code cleanup
  keep-ui/app/workflows/[workflow_id]/executions.tsx
  keep-ui/app/workflows/[workflow_id]/side-nav-bar.tsx
  keep-ui/app/workflows/builder/builder-modal.tsx
  keep-ui/components/ui/discolsure-section.tsx
  keep-ui/utils/hooks/useWorkflowRun.ts
Due: none

fix(provider): zabbix failing to extract tags (#1764)
  keep/providers/zabbix_provider/zabbix_provider.py
  keep/providers/zabbix_provider/zabbix_provider_script.js
Due: black

refactor: add original links in side nav bar
  keep-ui/app/workflows/[workflow_id]/side-nav-bar.tsx
  keep-ui/components/ui/discolsure-section.tsx
Due: none

chore: revert the shoAll for workfflow card
  keep-ui/app/workflows/workflow-tile.tsx
Due: none

fix(zabbix): media type response failure
  keep/providers/zabbix_provider/zabbix_provider_script.js
Due: none

fix(zabbix): media type response failure (#1765)
  keep/providers/zabbix_provider/zabbix_provider_script.js
Due: none

Path conditions:
  black: any of: \.py$
  check-yaml: any of: \.(yaml|yml)$
