Repository keephq/keep: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, check-yaml

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: black
        name: black
        entry: black
        language: system
        types: [python]
        require_serial: true
      - id: check-added-large-files
        name: Check for added large files
        entry: check-added-large-files
        language: system
      - id: check-yaml
        name: Check Yaml
        entry: check-yaml
        language: system
        types: [yaml]
      - id: end-of-file-fixer
        name: Fix End of Files
        entry: end-of-file-fixer
        language: system
        types: [text]
        stages: [commit, push, manual]
      - id: isort
        name: isort
        entry: isort
        require_serial: true
        language: system
        types_or: [cython, pyi, python]
        args: ["--filter-files", "--profile", "black"]
      - id: trailing-whitespace
        name: Trim Trailing Whitespace
        entry: trailing-whitespace-fixer
        language: system
        types: [text]
        stages: [commit, push, manual]
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v2.6.0
    hooks:
      - id: prettier
  - repo: https://github.com/compilerla/conventional-pre-commit
    rev: v2.1.1
    hooks:
      - id: conventional-pre-commit
        stages: [commit-msg]
        args: [] # optional: list of Conventional Commits types to allow e.g. [feat, fix, ci, chore, test]

fix: max int (#290)
  keep/parser/parser.py
  keep/workflowmanager/workflowscheduler.py
Due: black

fix: add to db after response
  keep/api/core/db.py
  keep/api/routes/alerts.py
Due: black

fix: logs
  keep/api/routes/alerts.py
Due: black

fix: async db inserts in events
  keep/api/core/db.py
  keep/api/routes/alerts.py
Due: black

Update mint.json: GitHub CTA button
  docs/mint.json
Due: none

chore: mint.json GitHub CTA button (#292)
  docs/mint.json
Due: none

feat: add new provider_request ticket
  keep-ui/app/workflows/[workflow_id]/runs/[workflow_execution_id]/page.tsx
  keep-ui/app/workflows/models.tsx
  keep-ui/app/workflows/workflow-menu.tsx
  keep-ui/app/workflows/workflow-tile.tsx
  keep-ui/app/workflows/workflows.client.tsx
  keep/api/models/db/workflow.py
  keep/api/models/workflow.py
  keep/api/routes/workflows.py
  keep/workflowmanager/workflowscheduler.py
Due: black

feat: run and download (#293)
  keep-ui/app/workflows/[workflow_id]/runs/[workflow_execution_id]/page.tsx
  keep-ui/app/workflows/models.tsx
  keep-ui/app/workflows/workflow-menu.tsx
  keep-ui/app/workflows/workflow-tile.tsx
  keep-ui/app/workflows/workflows.client.tsx
  keep/api/models/db/workflow.py
  keep/api/models/workflow.py
  keep/api/routes/workflows.py
  keep/workflowmanager/workflowscheduler.py
Due: black

chore: update posthog to 1.77.2
  keep-ui/package-lock.json
Due: none

chore: update posthog to 1.77.2 (#294)
  keep-ui/package-lock.json
Due: none

chore: add better triggers mechanism in builder
  keep-ui/app/builder/builder.tsx
  keep-ui/app/builder/editors.tsx
  keep-ui/app/builder/utils.tsx
Due: none

chore: add better triggers mechanism in builder (#295)
  keep-ui/app/builder/builder.tsx
  keep-ui/app/builder/editors.tsx
  keep-ui/app/builder/utils.tsx
Due: none

fix: filters for alert trigger
  keep-ui/app/builder/utils.tsx
Due: none

fix: filters for alert trigger (#296)
  keep-ui/app/builder/utils.tsx
Due: none

feat: fix some bugs and add static workflows
  keep-ui/app/workflows/[workflow_id]/runs/[workflow_execution_id]/page.tsx
  keep-ui/app/workflows/workflow-tile.tsx
  keep-ui/app/workflows/workflows.client.tsx
  keep/workflowmanager/workflowmanager.py
  keep/workflowmanager/workflowscheduler.py
Due: black

feat: fix some bugs and add static workflows
  keep-ui/app/workflows/[workflow_id]/runs/[workflow_execution_id]/page.tsx
Due: none

feat: fix some bugs and add static workflows
  keep-ui/app/workflows/workflow-tile.tsx
Due: none

feat: static workflow examples on upload (#297)
  keep-ui/app/workflows/[workflow_id]/runs/[workflow_execution_id]/page.tsx
  keep-ui/app/workflows/workflow-tile.tsx
  keep-ui/app/workflows/workflows.client.tsx
  keep/workflowmanager/workflowmanager.py
  keep/workflowmanager/workflowscheduler.py
Due: black

fix: not enough segments introduced in created_by
  keep/api/api.py
  keep/api/core/dependencies.py
  keep/api/routes/providers.py
  keep/api/routes/workflows.py
Due: black

fix: not enough segments introduced in created_by (#298)
  keep/api/api.py
  keep/api/core/dependencies.py
  keep/api/routes/providers.py
  keep/api/routes/workflows.py
Due: black

db pvc fixes and k8s min version removed
  chart/keep/Chart.yaml
  chart/keep/templates/keep-db-pv.yaml
  chart/keep/templates/keep-db-pvc.yaml
  chart/keep/templates/keep-db.yaml
  chart/keep/values.yaml
Due: check-yaml

removed default from storageClass
  chart/keep/values.yaml
Due: check-yaml

fix: db pvc fixes and k8s min version removed (#299)
  chart/keep/Chart.yaml
  chart/keep/templates/keep-db-pv.yaml
  chart/keep/templates/keep-db-pvc.yaml
  chart/keep/templates/keep-db.yaml
  chart/keep/values.yaml
Due: check-yaml

chore: premium providers in multi tenant mode (http,bash,python)
  keep-ui/app/builder/utils.tsx
  keep/api/models/db/workflow.py
  keep/parser/parser.py
  keep/workflowmanager/workflow.py
  keep/workflowmanager/workflowmanager.py
Due: black

chore: premium providers in multi tenant mode (http,bash,python) (#300)
  keep-ui/app/builder/utils.tsx
  keep/api/models/db/workflow.py
  keep/parser/parser.py
  keep/workflowmanager/workflow.py
  keep/workflowmanager/workflowmanager.py
Due: black

feat: wip
  chart/keep/templates/cluster-role-binding-secret-manager.yaml
  chart/keep/templates/cluster-role-secret-manager.yaml
  chart/keep/values.yaml
  keep-ui/app/providers/provider-form.tsx
  keep/secretmanager/kubernetessecretmanager.py
  keep/secretmanager/secretmanagerfactory.py
  poetry.lock
  pyproject.toml
Due: black, check-yaml

feat: wip
  chart/keep/templates/keep-backend-serviceaccount.yaml
  chart/keep/values.yaml
Due: check-yaml

fix: k8s
  chart/keep/templates/cluster-role-binding-secret-manager.yaml
  chart/keep/templates/cluster-role-secret-manager.yaml
  chart/keep/templates/keep-backend-serviceaccount.yaml
  keep/api/core/dependencies.py
  keep/secretmanager/kubernetessecretmanager.py
Due: black, check-yaml

fix: revert image
  chart/keep/values.yaml
Due: check-yaml

feat: k8s secret manager (when deploying with helm) (#301)
  chart/keep/templates/cluster-role-binding-secret-manager.yaml
  chart/keep/templates/cluster-role-secret-manager.yaml
  chart/keep/values.yaml
  keep-ui/app/providers/provider-form.tsx
  keep/api/core/dependencies.py
  keep/secretmanager/kubernetessecretmanager.py
  keep/secretmanager/secretmanagerfactory.py
  poetry.lock
  pyproject.toml
Due: black, check-yaml
