Repository keephq/keep: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, check-yaml

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: black
        name: black
        entry: black
        language: system
        types: [python]
        require_serial: true
      - id: check-added-large-files
        name: Check for added large files
        entry: check-added-large-files
        language: system
      - id: check-yaml
        name: Check Yaml
        entry: check-yaml
        language: system
        types: [yaml]
      - id: end-of-file-fixer
        name: Fix End of Files
        entry: end-of-file-fixer
        language: system
        types: [text]
        stages: [commit, push, manual]
      - id: isort
        name: isort
        entry: isort
        require_serial: true
        language: system
        types_or: [cython, pyi, python]
        args: ["--filter-files", "--profile", "black"]
      - id: trailing-whitespace
        name: Trim Trailing Whitespace
        entry: trailing-whitespace-fixer
        language: system
        types: [text]
        stages: [commit, push, manual]
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v2.6.0
    hooks:
      - id: prettier
  - repo: https://github.com/compilerla/conventional-pre-commit
    rev: v2.1.1
    hooks:
      - id: conventional-pre-commit
        stages: [commit-msg]
        args: [] # optional: list of Conventional Commits types to allow e.g. [feat, fix, ci, chore, test]

fix: mongo
  :memory
  keep/providers/mongodb_provider/mongodb_provider.py
  poetry.lock
  pyproject.toml
Due: black

fix: mongo
  :memory
Due: none

fix: typo
  :memory
Due: none

fix: mongo (#626)
  keep/providers/mongodb_provider/mongodb_provider.py
  poetry.lock
  pyproject.toml
Due: black

fix: updated mongo provider to accept special character in passwords, pass authDatabase and additional kwargs if required (like timeout settings)
  docs/providers/documentation/mongodb-provider.mdx
  keep/providers/mongodb_provider/mongodb_provider.py
Due: black

fix: updated mongo provider to accept special character in passwords, pass… (#627)
  docs/providers/documentation/mongodb-provider.mdx
  keep/providers/mongodb_provider/mongodb_provider.py
Due: black

fix: mongodb
  keep/providers/mongodb_provider/mongodb_provider.py
Due: black

fix: mongodb (#628)
  keep/providers/mongodb_provider/mongodb_provider.py
Due: black

chore: send posthog version
  keep-ui/app/posthog-provider.tsx
  keep-ui/package-lock.json
  keep/api/api.py
  keep/cli/cli.py
  pyproject.toml
Due: black

fix: unknown version in front
  keep-ui/app/posthog-provider.tsx
Due: none

fix: build
  keep-ui/package-lock.json
Due: none

fix: build 2
  keep-ui/app/alerts/alerts.client.tsx
Due: none

fix: build 3
  keep-ui/app/alerts/alerts.tsx
Due: none

fix: build 4
  keep-ui/app/alerts/alert-presets.tsx
  keep-ui/app/navbar-inner.tsx
  keep-ui/app/settings/webhook-settings.tsx
Due: none

fix: build 5
  docker-compose-with-auth.yml
  docker-compose-with-otel.yaml
  docker-compose.dev.yml
  docker-compose.yml
  keep-ui/app/providers/provider-semi-automated.tsx
Due: check-yaml

fix: build 6
  keep-ui/app/workflows/[workflow_id]/page.tsx
  keep-ui/app/workflows/workflows.client.tsx
Due: none

chore: send posthog version (#629)
  docker-compose-with-auth.yml
  docker-compose-with-otel.yaml
  docker-compose.dev.yml
  docker-compose.yml
  keep-ui/app/alerts/alert-presets.tsx
  keep-ui/app/alerts/alerts.client.tsx
  keep-ui/app/alerts/alerts.tsx
  keep-ui/app/navbar-inner.tsx
  keep-ui/app/posthog-provider.tsx
  keep-ui/app/providers/provider-semi-automated.tsx
  keep-ui/app/settings/webhook-settings.tsx
  keep-ui/app/workflows/[workflow_id]/page.tsx
  keep-ui/app/workflows/workflows.client.tsx
  keep-ui/package-lock.json
  keep/api/api.py
  keep/cli/cli.py
  pyproject.toml
Due: black, check-yaml

fix: scopes validation logs
  keep/api/routes/providers.py
  keep/providers/grafana_provider/grafana_provider.py
Due: black

fix: mandatory
  keep/api/routes/providers.py
Due: black

fix: scopes validation logs (#630)
  keep/api/routes/providers.py
  keep/providers/grafana_provider/grafana_provider.py
Due: black

feat: better rules client
  keep-ui/app/rules/rules.client.tsx
Due: none

feat: wip
  keep-ui/app/navbar-inner.tsx
  keep-ui/app/rules/rules.client.tsx
Due: none

feat: wip
  :memory
  keep-ui/app/rules/layout.tsx
  keep-ui/app/rules/rules.client.tsx
  keep/api/core/db.py
  keep/api/routes/rules.py
Due: black

feat: UT's for mysql
  :memory
  keep/api/core/db.py
  poetry.lock
  pyproject.toml
  tests/conftest.py
  tests/docker-compose.yml
  tests/test_rules_engine.py
Due: black, check-yaml

Update api.py
  keep/api/api.py
Due: black

Update docker/Dockerfile.api
  docker/Dockerfile.api
Due: none

feat: unit tests
  .github/workflows/test-pr.yml
  :memory
  keep/api/core/db.py
  tests/conftest.py
  tests/docker-compose.yml
  tests/test_rules_engine.py
Due: black, check-yaml

feat: minor fixes
  keep/api/core/db.py
  tests/conftest.py
Due: black

feat: fix lint
  keep-ui/app/rules/rules.client.tsx
Due: none

feat: fix vercel build
  keep-ui/app/rules/rules.client.tsx
  keep-ui/package-lock.json
Due: none

feat: google cloud trace 1.11.3
  docs/mint.json
  docs/overview/keyconcepts.mdx
  docs/overview/ruleengine.mdx
  poetry.lock
  pyproject.toml
Due: none

feat: don't upgrade to 1.22
  pyproject.toml
Due: none

fix: when severity is None
  keep/rulesengine/rulesengine.py
Due: black

fix: remove deprecated pkg_resources lib
  keep/api/api.py
  keep/cli/cli.py
Due: black
