Repository keephq/keep: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, check-yaml

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: black
        name: black
        entry: black
        language: system
        types: [python]
        require_serial: true
      - id: check-added-large-files
        name: Check for added large files
        entry: check-added-large-files
        language: system
      - id: check-yaml
        name: Check Yaml
        entry: check-yaml
        language: system
        types: [yaml]
      - id: end-of-file-fixer
        name: Fix End of Files
        entry: end-of-file-fixer
        language: system
        types: [text]
        stages: [commit, push, manual]
      - id: isort
        name: isort
        entry: isort
        require_serial: true
        language: system
        types_or: [cython, pyi, python]
        args: ["--filter-files", "--profile", "black"]
      - id: trailing-whitespace
        name: Trim Trailing Whitespace
        entry: trailing-whitespace-fixer
        language: system
        types: [text]
        stages: [commit, push, manual]
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v2.6.0
    hooks:
      - id: prettier
  - repo: https://github.com/compilerla/conventional-pre-commit
    rev: v2.1.1
    hooks:
      - id: conventional-pre-commit
        stages: [commit-msg]
        args: [] # optional: list of Conventional Commits types to allow e.g. [feat, fix, ci, chore, test]

ref: refactor authentication scopes
  docs/providers/documentation/gitlab-provider.mdx
  keep/providers/gitlab_provider/gitlab_provider.py
Due: black

feat: add provider for GitLab (#872)
  README.md
  docs/providers/documentation/gitlab-provider.mdx
  keep-ui/public/icons/gitlab-icon.png
  keep/providers/gitlab_provider/__init__.py
  keep/providers/gitlab_provider/gitlab_provider.py
Due: black

Update README.md
  README.md
Due: none

feat(docs): README.md (#873)
  README.md
Due: none

feat(docs): readme
  README.md
Due: none

feat(docs): readme (#874)
  README.md
Due: none

fix(helm): fix ingress backend service names
  chart/keep/templates/backend-ingress.yaml
  chart/keep/templates/frontend-ingress.yaml
Due: check-yaml

fix(helm): fix ingress backend service names
  chart/keep/templates/backend-ingress.yaml
Due: check-yaml

fix(helm): fix ingress backend service names (#875)
  chart/keep/templates/backend-ingress.yaml
  chart/keep/templates/frontend-ingress.yaml
Due: check-yaml

feat(helm): remove chart directory
  chart/keep/Chart.yaml
  chart/keep/README.md
  chart/keep/templates/_helpers.tpl
  chart/keep/templates/backend-hpa.yaml
  chart/keep/templates/backend-ingress.yaml
  chart/keep/templates/backend-route.yaml
  chart/keep/templates/cluster-role-binding-secret-manager.yaml
  chart/keep/templates/cluster-role-secret-manager.yaml
  chart/keep/templates/delete-secret-job.yaml
  chart/keep/templates/frontend-hpa.yaml
  chart/keep/templates/frontend-ingress.yaml
  chart/keep/templates/frontend-route.yaml
  chart/keep/templates/keep-backend-service.yaml
  chart/keep/templates/keep-backend.yaml
  chart/keep/templates/keep-db-pv.yaml
  chart/keep/templates/keep-db-pvc.yaml
  chart/keep/templates/keep-db-service.yaml
  chart/keep/templates/keep-db.yaml
  chart/keep/templates/keep-frontend-service.yaml
  chart/keep/templates/keep-frontend.yaml
  chart/keep/templates/keep-websocket-server-service.yaml
  chart/keep/templates/keep-websocket-server.yaml
  chart/keep/templates/serviceaccount.yaml
  chart/keep/values.yaml
Due: check-yaml

feat(docs): update helm related docs
  docs/deployment/kubernetes.mdx
  docs/workflows/getting-started.mdx
Due: none

feat(docs): add helm installation method to README.md
  README.md
Due: none

feat: happy new year to LICENSE
  LICENSE
Due: none

feat(cli): add mappings support to keep cli
  keep/cli/cli.py
Due: black

fix: fix conflicts
  chart/keep/templates/backend-ingress.yaml
  chart/keep/templates/frontend-ingress.yaml
Due: check-yaml

feat: update helm related docs and remove charts (#878)
  LICENSE
  README.md
  chart/keep/Chart.yaml
  chart/keep/README.md
  chart/keep/templates/_helpers.tpl
  chart/keep/templates/backend-hpa.yaml
  chart/keep/templates/backend-ingress.yaml
  chart/keep/templates/backend-route.yaml
  chart/keep/templates/cluster-role-binding-secret-manager.yaml
  chart/keep/templates/cluster-role-secret-manager.yaml
  chart/keep/templates/delete-secret-job.yaml
  chart/keep/templates/frontend-hpa.yaml
  chart/keep/templates/frontend-ingress.yaml
  chart/keep/templates/frontend-route.yaml
  chart/keep/templates/keep-backend-service.yaml
  chart/keep/templates/keep-backend.yaml
  chart/keep/templates/keep-db-pv.yaml
  chart/keep/templates/keep-db-pvc.yaml
  chart/keep/templates/keep-db-service.yaml
  chart/keep/templates/keep-db.yaml
  chart/keep/templates/keep-frontend-service.yaml
  chart/keep/templates/keep-frontend.yaml
  chart/keep/templates/keep-websocket-server-service.yaml
  chart/keep/templates/keep-websocket-server.yaml
  chart/keep/templates/serviceaccount.yaml
  chart/keep/values.yaml
  docs/deployment/kubernetes.mdx
  docs/workflows/getting-started.mdx
Due: check-yaml

feat(cli): add support for mappings from cli (#880)
  keep/cli/cli.py
Due: black

feat: add squadcast provider.
  README.md
  docs/providers/documentation/squadcast-provider.mdx
  keep-ui/public/icons/squadcast-icon.png
  keep/providers/squadcast_provider/__init__.py
  keep/providers/squadcast_provider/squadcast_provider.py
Due: black

ref: refactor notif_type to notify_types and typos
  docs/providers/documentation/squadcast-provider.mdx
  keep/providers/squadcast_provider/squadcast_provider.py
Due: black

feat: add squadcast provider. (#881)
  README.md
  docs/providers/documentation/squadcast-provider.mdx
  keep-ui/public/icons/squadcast-icon.png
  keep/providers/squadcast_provider/__init__.py
  keep/providers/squadcast_provider/squadcast_provider.py
Due: black

fix: working on modal
  keep-ui/app/alerts/alert-presets.tsx
Due: none

feat: e2e tests with playwright
  .env.tests
  docker-compose.common.yml
  docker-compose.yml
  keep/api/core/db.py
  poetry.lock
  pyproject.toml
  tests/conftest.py
  tests/test_e2e.py
Due: black, check-yaml

feat: e2e tests with playwright
  tests/conftest.py
Due: black

feat: azure provider
  keep-ui/app/providers/provider-form.tsx
  keep-ui/app/providers/provider-semi-automated.tsx
  keep-ui/app/providers/providers-tiles.tsx
  keep-ui/package-lock.json
  keep-ui/package.json
  keep-ui/public/icons/azuremonitoring-icon.png
  keep-ui/tailwind.config.js
  keep-ui/tsconfig.json
  keep/api/models/webhook.py
  keep/api/routes/providers.py
  keep/providers/azuremonitoring_provider/__init__.py
  keep/providers/azuremonitoring_provider/azuremonitoring_provider.py
Due: black

feat: azure monitoring wip
  docs/mint.json
  docs/providers/documentation/azuremonitoring-provider.mdx
Due: none

feat:add `getFilteredRowModel` to table init
  keep-ui/app/alerts/alert-table.tsx
Due: none

feat:create time range filter and select
  keep-ui/app/alerts/alert-columns-select.tsx
Due: none

feat:add `isDateWithinRange` as `filterFn`
  keep-ui/app/alerts/alert-table-utils.tsx
Due: none

feat:move to `DateRangePicker` component
  keep-ui/app/alerts/alert-columns-select.tsx
Due: none

refactor:move `isDateWithRange` to `utils` file
  keep-ui/app/alerts/alert-table-utils.tsx
Due: none
