Repository keephq/keep: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, check-yaml

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: black
        name: black
        entry: black
        language: system
        types: [python]
        require_serial: true
      - id: check-added-large-files
        name: Check for added large files
        entry: check-added-large-files
        language: system
      - id: check-yaml
        name: Check Yaml
        entry: check-yaml
        language: system
        types: [yaml]
      - id: end-of-file-fixer
        name: Fix End of Files
        entry: end-of-file-fixer
        language: system
        types: [text]
        stages: [commit, push, manual]
      - id: isort
        name: isort
        entry: isort
        require_serial: true
        language: system
        types_or: [cython, pyi, python]
        args: ["--filter-files", "--profile", "black"]
      - id: trailing-whitespace
        name: Trim Trailing Whitespace
        entry: trailing-whitespace-fixer
        language: system
        types: [text]
        stages: [commit, push, manual]
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v2.6.0
    hooks:
      - id: prettier
  - repo: https://github.com/compilerla/conventional-pre-commit
    rev: v2.1.1
    hooks:
      - id: conventional-pre-commit
        stages: [commit-msg]
        args: [] # optional: list of Conventional Commits types to allow e.g. [feat, fix, ci, chore, test]

fix: dismiss and manual resolve (#1651)
  keep-ui/.gitignore
  keep-ui/app/alerts/alert-change-status-modal.tsx
  keep-ui/app/alerts/alert-dismiss-modal.css
  keep-ui/app/alerts/alert-dismiss-modal.tsx
  keep-ui/components/ui/Select.tsx
Due: none

Temporary print all tenants to find out why algorithm is not launching
  keep/api/tasks/process_background_ai_task.py
Due: black

feat: wip
  keep-ui/app/settings/auth/api-key-settings.tsx
  keep-ui/app/settings/auth/roles-tab.tsx
  keep-ui/app/settings/auth/users-settings.tsx
  keep-ui/app/settings/auth/users-sidebar.tsx
  keep-ui/app/settings/create-api-key-modal.tsx
  keep-ui/app/settings/settings.client.tsx
  keep-ui/components/ui/Select.tsx
  keep/api/routes/settings.py
  keep/api/utils/tenant_utils.py
  keep/identitymanager/identity_managers/keycloak/keycloak_identitymanager.py
  keep/identitymanager/identitymanager.py
  keycloak/themes/keep.jar
Due: black

Migrations in some cases ignore SKIP_DB_CREATION
  keep/api/config.py
  keep/api/core/db_on_start.py
Due: black

fix
  keep/api/core/db_on_start.py
Due: black

fix: Migrations in some cases ignore SKIP_DB_CREATION (#1656)
  keep/api/config.py
  keep/api/core/db_on_start.py
Due: black

Run backend correlation in optimized way
  keep/api/core/db.py
  keep/api/tasks/process_background_ai_task.py
Due: black

fix: minor fix
  keep-ui/app/alerts/alert-dismiss-modal.tsx
Due: none

fix: Run backend correlation in optimized way (#1658)
  keep/api/core/db.py
  keep/api/tasks/process_background_ai_task.py
Due: black

fix: Retry task only if it's an Arq task (#1640)
  keep/api/tasks/process_event_task.py
Due: black

fix: minor problem with dismiss (#1660)
  keep-ui/app/alerts/alert-dismiss-modal.tsx
Due: none

feat: ready
  docs/images/chart_example_1.webp
  docs/images/chart_example_2.webp
  docs/providers/documentation/quickchart-provider.mdx
  keep/providers/quickchart_provider/quickchart_provider.py
Due: black

fix: add quickchart
  docs/mint.json
Due: none

pmi_matrix clip added
  ee/experimental/statistical_utils.py
Due: black

np.float64 converted to float
  keep/api/core/db.py
Due: black

fix: fix
  .github/workflows/release.yml
Due: check-yaml

0.22.0
  pyproject.toml
Due: none

fix: another try
  .github/workflows/release.yml
Due: check-yaml

fix: release workflow to open PR (#1579)
  .github/workflows/release.yml
Due: check-yaml

write_pmi_matrix update
  keep/api/core/db.py
Due: black

Update rules_tests to work with the incidents
  keep/api/core/db.py
  keep/rulesengine/rulesengine.py
  tests/test_rules_engine.py
Due: black

Remove unused imports
  keep/api/models/db/migrations/versions/2024-08-14-18-30_87594ea6d308.py
Due: black

Squash migrations
  keep/api/models/db/migrations/versions/2024-08-14-18-30_87594ea6d308.py
  keep/api/models/db/migrations/versions/2024-08-18-23-59_9ab9a17c962f.py
  keep/api/models/db/migrations/versions/2024-08-19-15-05_823369ee4931.py
Due: black

Add severity to Incident model
  keep/api/core/db.py
  keep/api/models/alert.py
  keep/api/models/db/alert.py
  keep/api/models/db/migrations/versions/2024-08-18-23-59_9ab9a17c962f.py
  keep/rulesengine/rulesengine.py
  tests/test_rules_engine.py
Due: black

Update titles and fields
  keep-ui/app/incidents/incident.tsx
  keep-ui/app/rules/CorrelationSidebar/CorrelationForm.tsx
  keep-ui/app/rules/CorrelationSidebar/CorrelationSidebarBody.tsx
  keep-ui/app/rules/CorrelationTable.tsx
Due: none

Remove Correlation preset from the menu
  keep-ui/components/navbar/AlertsLinks.tsx
Due: none

remove unused imports
  keep/api/core/db.py
  keep/api/models/db/migrations/versions/2024-08-18-23-59_9ab9a17c962f.py
  keep/rulesengine/rulesengine.py
Due: black

Remove AlertGroup-related code
  keep/api/api.py
  keep/api/core/db.py
  keep/api/models/alert.py
  keep/api/models/db/alert.py
  keep/api/models/group.py
  keep/api/routes/groups.py
  keep/rulesengine/rulesengine.py
Due: black

#1501 - ex-Alert Groups are now creating incidents (or candidates, depends on rule configuration)
  keep-ui/app/rules/CorrelationSidebar/CorrelationForm.tsx
  keep-ui/app/rules/CorrelationSidebar/CorrelationGroups.tsx
  keep-ui/app/rules/CorrelationSidebar/CorrelationSidebarBody.tsx
  keep-ui/app/rules/CorrelationSidebar/index.tsx
  keep-ui/app/rules/CorrelationTable.tsx
  keep-ui/components/navbar/NoiseReductionLinks.tsx
  keep-ui/utils/hooks/useRules.ts
  keep/api/core/db.py
  keep/api/models/db/alert.py
  keep/api/models/db/migrations/env.py
  keep/api/models/db/migrations/versions/2024-08-14-18-30_87594ea6d308.py
  keep/api/models/db/rule.py
  keep/api/routes/rules.py
  keep/api/tasks/process_event_task.py
  keep/rulesengine/rulesengine.py
Due: black

add migration for timestamp to AlertToIncident and drop Group tables
  keep/api/models/db/migrations/versions/2024-08-19-15-05_823369ee4931.py
Due: black
