Repository keephq/keep: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, check-yaml

black:
  name: black
  entry: black
  language: system
  require_serial: true

check-yaml:
  name: Check Yaml
  entry: check-yaml
  language: system

fix: topology
  keep/api/routes/topology.py
Due: black

fix(api): topology route mistakenly removed (#1790)
  keep/api/api.py
  keep/api/routes/topology.py
Due: black

chore: backend blackouts to maintenance windows
  docs/images/maintenance-window-creation.png
  docs/mint.json
  docs/overview/blackouts.mdx
  docs/overview/maintenance-windows.mdx
  keep/api/api.py
  keep/api/bl/maintenance_windows_bl.py
  keep/api/core/db.py
  keep/api/models/db/alert.py
  keep/api/models/db/maintenance_window.py
  keep/api/models/db/migrations/env.py
  keep/api/models/db/migrations/versions/2024-09-02-12-07_70671c95028e.py
  keep/api/routes/blackout.py
  keep/api/routes/maintenance.py
  keep/api/tasks/process_event_task.py
  tests/test_blackouts_bl.py
  tests/test_maintenance_windows_bl.py
Due: black

chore: maintenance window ui
  keep-ui/app/blackout/blackout.tsx
  keep-ui/app/blackout/page.tsx
  keep-ui/app/maintenance/create-or-update-maintenance-rule.tsx
  keep-ui/app/maintenance/layout.tsx
  keep-ui/app/maintenance/maintenance-rules-table.tsx
  keep-ui/app/maintenance/maintenance.tsx
  keep-ui/app/maintenance/model.ts
  keep-ui/app/maintenance/page.tsx
  keep-ui/components/navbar/NoiseReductionLinks.tsx
  keep-ui/utils/hooks/useMaintenanceRules.ts
Due: none

fix: small screens
  keep-ui/app/maintenance/maintenance.tsx
Due: none

"name" changed to "user_generated_name" and "ai_generated_name"
  keep-ui/app/alerts/alert-associate-incident-modal.tsx
  keep-ui/app/incidents/incidents-table.tsx
  keep-ui/app/incidents/predicted-incidents-table.tsx
  keep-ui/components/navbar/IncidentLinks.tsx
  keep/api/models/alert.py
Due: black

feat: introduce LLM-based incident name generator (#1772)
  ee/experimental/incident_utils.py
  keep-ui/app/alerts/alert-associate-incident-modal.tsx
  keep-ui/app/incidents/[id]/incident-info.tsx
  keep-ui/app/incidents/create-or-update-incident.tsx
  keep-ui/app/incidents/incidents-table.tsx
  keep-ui/app/incidents/model.ts
  keep-ui/app/incidents/predicted-incidents-table.tsx
  keep-ui/components/navbar/IncidentLinks.tsx
  keep/api/arq_worker.py
  keep/api/core/db.py
  keep/api/models/alert.py
  keep/api/models/db/alert.py
  keep/api/models/db/migrations/versions/2024-09-01-14-04_94886bc59c11.py
  keep/api/routes/metrics.py
  keep/api/tasks/process_background_ai_task.py
  keep/api/utils/import_ee.py
  scripts/shoot_alerts_from_dump.py
  tests/test_metrics.py
  tests/test_rules_engine.py
Due: black

fix: head in migrations
  keep/api/models/db/migrations/versions/2024-09-02-12-07_70671c95028e.py
Due: black

Revert "feat: introduce LLM-based incident name generator (#1772)"
  ee/experimental/incident_utils.py
  keep-ui/app/alerts/alert-associate-incident-modal.tsx
  keep-ui/app/incidents/[id]/incident-info.tsx
  keep-ui/app/incidents/create-or-update-incident.tsx
  keep-ui/app/incidents/incidents-table.tsx
  keep-ui/app/incidents/model.ts
  keep-ui/app/incidents/predicted-incidents-table.tsx
  keep-ui/components/navbar/IncidentLinks.tsx
  keep/api/arq_worker.py
  keep/api/core/db.py
  keep/api/models/alert.py
  keep/api/models/db/alert.py
  keep/api/models/db/migrations/versions/2024-09-01-14-04_94886bc59c11.py
  keep/api/routes/metrics.py
  keep/api/tasks/process_background_ai_task.py
  keep/api/utils/import_ee.py
  scripts/shoot_alerts_from_dump.py
  tests/test_metrics.py
  tests/test_rules_engine.py
Due: black

fix: Revert "feat: introduce LLM-based incident name generator" (#1791)
  ee/experimental/incident_utils.py
  keep-ui/app/alerts/alert-associate-incident-modal.tsx
  keep-ui/app/incidents/[id]/incident-info.tsx
  keep-ui/app/incidents/create-or-update-incident.tsx
  keep-ui/app/incidents/incidents-table.tsx
  keep-ui/app/incidents/model.ts
  keep-ui/app/incidents/predicted-incidents-table.tsx
  keep-ui/components/navbar/IncidentLinks.tsx
  keep/api/arq_worker.py
  keep/api/core/db.py
  keep/api/models/alert.py
  keep/api/models/db/alert.py
  keep/api/models/db/migrations/versions/2024-09-01-14-04_94886bc59c11.py
  keep/api/routes/metrics.py
  keep/api/tasks/process_background_ai_task.py
  keep/api/utils/import_ee.py
  scripts/shoot_alerts_from_dump.py
  tests/test_metrics.py
  tests/test_rules_engine.py
Due: black

Revert "fix: Revert "feat: introduce LLM-based incident name generator" (#1791)"
  ee/experimental/incident_utils.py
  keep-ui/app/alerts/alert-associate-incident-modal.tsx
  keep-ui/app/incidents/[id]/incident-info.tsx
  keep-ui/app/incidents/create-or-update-incident.tsx
  keep-ui/app/incidents/incidents-table.tsx
  keep-ui/app/incidents/model.ts
  keep-ui/app/incidents/predicted-incidents-table.tsx
  keep-ui/components/navbar/IncidentLinks.tsx
  keep/api/arq_worker.py
  keep/api/core/db.py
  keep/api/models/alert.py
  keep/api/models/db/alert.py
  keep/api/models/db/migrations/versions/2024-09-01-14-04_94886bc59c11.py
  keep/api/routes/metrics.py
  keep/api/tasks/process_background_ai_task.py
  keep/api/utils/import_ee.py
  scripts/shoot_alerts_from_dump.py
  tests/test_metrics.py
  tests/test_rules_engine.py
Due: black

Import error fixed
  ee/experimental/incident_utils.py
Due: black

revert: "fix: Revert "feat: introduce LLM-based incident name generator"" (#1793)
  ee/experimental/incident_utils.py
  keep-ui/app/alerts/alert-associate-incident-modal.tsx
  keep-ui/app/incidents/[id]/incident-info.tsx
  keep-ui/app/incidents/create-or-update-incident.tsx
  keep-ui/app/incidents/incidents-table.tsx
  keep-ui/app/incidents/model.ts
  keep-ui/app/incidents/predicted-incidents-table.tsx
  keep-ui/components/navbar/IncidentLinks.tsx
  keep/api/arq_worker.py
  keep/api/core/db.py
  keep/api/models/alert.py
  keep/api/models/db/alert.py
  keep/api/models/db/migrations/versions/2024-09-01-14-04_94886bc59c11.py
  keep/api/routes/metrics.py
  keep/api/tasks/process_background_ai_task.py
  keep/api/utils/import_ee.py
  scripts/shoot_alerts_from_dump.py
  tests/test_metrics.py
  tests/test_rules_engine.py
Due: black

feat: wip
  .gitignore
  keep/api/core/db.py
  keep/api/routes/settings.py
  keep/identitymanager/authverifierbase.py
  keep/identitymanager/identity_managers/noauth/noauth_authverifier.py
  keep/identitymanager/identity_managers/oauth2proxy/__init__.py
  keep/identitymanager/identity_managers/oauth2proxy/oauth2proxy_authverifier.py
  keep/identitymanager/identity_managers/oauth2proxy/oauth2proxy_identitymanager.py
Due: black

fix: auth0 create user
  ee/identitymanager/identity_managers/auth0/auth0_identitymanager.py
  keep-ui/app/settings/auth/users-sidebar.tsx
Due: black

fix: auth0 create user (#1796)
  ee/identitymanager/identity_managers/auth0/auth0_identitymanager.py
  keep-ui/app/settings/auth/users-sidebar.tsx
Due: black

Fix identity manager type
  keep/identitymanager/identitymanagerfactory.py
Due: black

Fix
  keep/identitymanager/identitymanagerfactory.py
Due: black

fix: fix
  keep-ui/app/maintenance/create-or-update-maintenance-rule.tsx
  keep-ui/app/maintenance/maintenance-rules-table.tsx
  keep-ui/app/maintenance/maintenance.tsx
  keep/api/routes/maintenance.py
Due: black

fix: Fix identity manager type (#1798)
  keep/identitymanager/identitymanagerfactory.py
Due: black

feat: wip
  keep-ui/pages/api/auth/[...nextauth].ts
  keep-ui/utils/authenticationType.ts
  keep/identitymanager/identity_managers/oauth2proxy/oauth2proxy_authverifier.py
  keep/identitymanager/identity_managers/oauth2proxy/oauth2proxy_identitymanager.py
Due: black

Comment about migrations in tests
  .github/workflows/test-pr-e2e.yml
Due: check-yaml

feat: openobserve improvements
  .gitignore
  docs/deployment/authentication/oauth2proxy-auth.mdx
  docs/deployment/authentication/overview.mdx
  docs/mint.json
  keep/api/config.py
  keep/api/core/config.py
  keep/api/core/db_on_start.py
  keep/identitymanager/authverifierbase.py
  keep/identitymanager/identity_managers/noauth/noauth_authverifier.py
  keep/identitymanager/identity_managers/oauth2proxy/oauth2proxy_authverifier.py
Due: black

feat: openobserve improvements
  docs/deployment/authentication/oauth2proxy-auth.mdx
Due: none

feat: simple maintenance windows (#1776)
  .github/workflows/release.yml
  docs/images/maintenance-window-creation.png
  docs/mint.json
  docs/overview/maintenance-windows.mdx
  examples/workflows/elastic_enrich_example.yml
  examples/workflows/jira_on_prem.yml
  examples/workflows/simple_http_request_ntfy.yml
  keep-ui/app/extraction/extraction.tsx
  keep-ui/app/extraction/layout.tsx
  keep-ui/app/maintenance/create-or-update-maintenance-rule.tsx
  keep-ui/app/maintenance/layout.tsx
  keep-ui/app/maintenance/maintenance-rules-table.tsx
  keep-ui/app/maintenance/maintenance.tsx
  keep-ui/app/maintenance/model.ts
  keep-ui/app/maintenance/page.tsx
  keep-ui/app/mapping/mapping.tsx
  keep-ui/components/navbar/NoiseReductionLinks.tsx
  keep-ui/utils/hooks/useMaintenanceRules.ts
  keep/api/api.py
  keep/api/bl/enrichments_bl.py
  keep/api/bl/maintenance_windows_bl.py
  keep/api/core/db.py
  keep/api/models/db/alert.py
  keep/api/models/db/maintenance_window.py
  keep/api/models/db/migrations/env.py
  keep/api/models/db/migrations/versions/2024-09-02-12-07_70671c95028e.py
  keep/api/routes/alerts.py
  keep/api/routes/maintenance.py
  keep/api/tasks/process_event_task.py
  keep/functions/__init__.py
  keep/providers/base/base_provider.py
  tests/test_enrichments.py
  tests/test_functions.py
  tests/test_maintenance_windows_bl.py
  tests/test_search_alerts.py
Due: black, check-yaml

docs: add clarfication for maintenance window behavior
  docs/overview/maintenance-windows.mdx
Due: none

docs: add clarfication for maintenance window behavior (#1803)
  docs/overview/maintenance-windows.mdx
Due: none

fix: remove old code
  keep/api/api.py
  keep/api/config.py
  keep/api/core/config.py
  keep/api/routes/settings.py
  keep/identitymanager/identitymanagerfactory.py
  keep/workflowmanager/workflowmanager.py
Due: black

fix: remove old code
  keep/api/routes/settings.py
Due: black

fix: remove old code
  keep/api/api.py
  keep/api/config.py
Due: black

fix: fix timeline and topology view
  keep-ui/app/alerts/alert-timeline.tsx
  keep-ui/app/topology/topology.tsx
Due: none

Path conditions:
  black: any of: \.py$
  check-yaml: any of: \.(yaml|yml)$
