Repository keephq/keep: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, check-yaml

black:
  name: black
  entry: black
  language: system
  require_serial: true

check-yaml:
  name: Check Yaml
  entry: check-yaml
  language: system

fix: api key extraction in single tenant mode and dynatrace fixes (#587)
  keep/api/core/dependencies.py
  keep/providers/dynatrace_provider/dynatrace_provider.py
Due: black

feat: sending email when workflow fails
  .gitignore
  keep/api/core/db.py
  keep/api/core/dependencies.py
  keep/api/models/db/tenant.py
  keep/api/routes/providers.py
  keep/api/routes/settings.py
  keep/api/utils/email_utils.py
  keep/api/utils/tenant_utils.py
  keep/contextmanager/contextmanager.py
  keep/iohandler/iohandler.py
  keep/workflowmanager/workflowscheduler.py
  poetry.lock
  pyproject.toml
Due: black

feat: send mail on assigned alerts
  keep/api/core/db.py
  keep/api/routes/alerts.py
  keep/api/utils/email_utils.py
  keep/workflowmanager/workflowscheduler.py
Due: black

feat: add logs to email send
  keep/api/routes/alerts.py
  pyproject.toml
Due: black

feat: send emails
  keep/api/routes/alerts.py
  keep/workflowmanager/workflowscheduler.py
Due: black

feat: sending email when workflow fails (#588)
  .gitignore
  keep/api/core/db.py
  keep/api/core/dependencies.py
  keep/api/models/db/tenant.py
  keep/api/routes/alerts.py
  keep/api/routes/providers.py
  keep/api/routes/settings.py
  keep/api/utils/email_utils.py
  keep/api/utils/tenant_utils.py
  keep/contextmanager/contextmanager.py
  keep/iohandler/iohandler.py
  keep/workflowmanager/workflowscheduler.py
  poetry.lock
  pyproject.toml
Due: black

fix(ui): providers responsiveness
  keep-ui/app/providers/provider-tile.css
  keep-ui/app/providers/provider-tile.tsx
  keep-ui/app/providers/providers-tiles.css
  keep-ui/app/providers/providers-tiles.tsx
Due: none

fix: increase gap
  keep-ui/app/providers/provider-tile.css
  keep-ui/app/providers/providers-tiles.tsx
Due: none

fix(ui): providers responsiveness (#589)
  keep-ui/app/providers/provider-tile.css
  keep-ui/app/providers/provider-tile.tsx
  keep-ui/app/providers/providers-tiles.css
  keep-ui/app/providers/providers-tiles.tsx
Due: none

fix: filters
  keep/api/routes/alerts.py
  keep/workflowmanager/workflowmanager.py
Due: black

fix: filters (#590)
  keep/api/routes/alerts.py
  keep/workflowmanager/workflowmanager.py
Due: black

feat: gunicorn
  docker/Dockerfile.api
Due: none

feat: install gunicorn
  poetry.lock
  pyproject.toml
Due: none

fix: workflow tiles overrides css of other pages
  keep-ui/app/workflows/workflow-tile.css
  keep-ui/app/workflows/workflow-tile.tsx
Due: none

fix: workflow tiles overrides css of other pages (#592)
  keep-ui/app/workflows/workflow-tile.css
  keep-ui/app/workflows/workflow-tile.tsx
Due: none

feat: add some info to help debug
  keep/api/api.py
  keep/api/logging.py
Due: black

chore: remove frigade
  keep-ui/app/providers/page.client.tsx
  keep-ui/app/providers/page.tsx
  keep-ui/package-lock.json
  keep-ui/package.json
Due: none

chore: remove frigade (#593)
  keep-ui/app/providers/page.client.tsx
  keep-ui/app/providers/page.tsx
  keep-ui/package-lock.json
  keep-ui/package.json
Due: none

feat: add spans for posthog
  keep/api/api.py
Due: black

feat: more spans
  keep/api/core/db.py
  keep/api/core/dependencies.py
Due: black

fix: email sending on first execution if error
  examples/workflows/new_github_stars.yml
  keep/workflowmanager/workflowscheduler.py
Due: black, check-yaml

fix: email sending on first execution if error (#594)
  examples/workflows/new_github_stars.yml
  keep/workflowmanager/workflowscheduler.py
Due: black, check-yaml

feat: another
  keep/api/api.py
  keep/api/logging.py
  keep/api/routes/settings.py
Due: black

chore(ui): settings page to load relevant tab
  keep-ui/app/settings/api-key-settings.tsx
  keep-ui/app/settings/settings.client.tsx
  keep-ui/app/settings/smtp-settings.tsx
  keep-ui/app/settings/users-settings.tsx
  keep-ui/app/settings/webhook-settings.tsx
Due: none

fix: cosmetics
  keep-ui/app/settings/webhook-settings.tsx
  keep/api/models/alert.py
Due: black

feat: context manager state should be lazy
  keep/contextmanager/contextmanager.py
Due: black

fix: fatigue meter
  keep-ui/app/settings/webhook-settings.tsx
Due: none

chore(ui): settings page to load relevant tab (#595)
  keep-ui/app/settings/api-key-settings.tsx
  keep-ui/app/settings/settings.client.tsx
  keep-ui/app/settings/smtp-settings.tsx
  keep-ui/app/settings/users-settings.tsx
  keep-ui/app/settings/webhook-settings.tsx
  keep/api/models/alert.py
Due: black

feat: add cache to providers
  keep/providers/providers_factory.py
Due: black

feat: cache signing keys
  keep/api/core/dependencies.py
Due: black

feat: more
  keep/api/api.py
Due: black

feat: improve auth0
  keep/api/core/dependencies.py
Due: black

feat: final improvements
  keep-ui/app/settings/smtp-settings.tsx
Due: none

Path conditions:
  black: any of: \.py$
  check-yaml: any of: \.(yaml|yml)$
