Repository keephq/keep: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, check-yaml

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: black
        name: black
        entry: black
        language: system
        types: [python]
        require_serial: true
      - id: check-added-large-files
        name: Check for added large files
        entry: check-added-large-files
        language: system
      - id: check-yaml
        name: Check Yaml
        entry: check-yaml
        language: system
        types: [yaml]
      - id: end-of-file-fixer
        name: Fix End of Files
        entry: end-of-file-fixer
        language: system
        types: [text]
        stages: [commit, push, manual]
      - id: isort
        name: isort
        entry: isort
        require_serial: true
        language: system
        types_or: [cython, pyi, python]
        args: ["--filter-files", "--profile", "black"]
      - id: trailing-whitespace
        name: Trim Trailing Whitespace
        entry: trailing-whitespace-fixer
        language: system
        types: [text]
        stages: [commit, push, manual]
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v2.6.0
    hooks:
      - id: prettier
  - repo: https://github.com/compilerla/conventional-pre-commit
    rev: v2.1.1
    hooks:
      - id: conventional-pre-commit
        stages: [commit-msg]
        args: [] # optional: list of Conventional Commits types to allow e.g. [feat, fix, ci, chore, test]

feat: wip
  keep-ui/app/layout/create/page.tsx
  keep-ui/components/navbar/GridLayoutLinks.tsx
  keep-ui/components/navbar/GridLink.tsx
  keep-ui/components/navbar/Navbar.tsx
  keep-ui/package-lock.json
  keep-ui/package.json
  keep/api/api.py
  keep/api/core/db.py
  keep/api/models/db/layout.py
  keep/api/routes/layout.py
Due: black

fix(api): db serializer for datetime objects (#1185)
  keep/api/core/db.py
Due: black

fix(api): raise HTTPException
  keep/api/routes/alerts.py
Due: black

feat: elastic
  a.py
Due: black

feat: fix telegram
  examples/workflows/telegram_basic.yml
  keep/providers/telegram_provider/telegram_provider.py
  keep/step/step.py
Due: black, check-yaml

fix: remove async tests
  tests/test_steps.py
Due: black

fix: telegram (#1197)
  examples/workflows/telegram_basic.yml
  keep/providers/telegram_provider/telegram_provider.py
  keep/step/step.py
  tests/test_steps.py
Due: black, check-yaml

fix: getting started docker command
  docs/development/getting-started.mdx
Due: none

fix: getting started docker command (#1199)
  docs/development/getting-started.mdx
Due: none

feat:add limit of 14 days to time amount
  keep-ui/app/rules/CorrelationSidebar/CorrelationForm.tsx
  keep-ui/app/rules/CorrelationSidebar/CorrelationSidebarBody.tsx
  keep-ui/app/rules/CorrelationSidebar/CorrelationSubmission.tsx
Due: none

fix: readme
  README.md
Due: none

fix: readme (#1200)
  README.md
Due: none

0.14.0
  pyproject.toml
Due: none

added config_exception.py with ConfigException class; modified keep.api.py:get_app(), now it checks if http is used not on local host, if so -> raises exception
  keep/api/api.py
  keep/exceptions/config_exception.py
Due: black

feat: wip
  a.py
Due: black

fix: ntfy and discord
  docs/providers/documentation/discord-provider.mdx
  docs/providers/documentation/ntfy-provider.mdx
  examples/workflows/discord_basic.yml
  examples/workflows/ntfy_basic.yml
  examples/workflows/telegram_basic.yml
  keep/api/routes/providers.py
  keep/providers/discord_provider/discord_provider.py
  keep/providers/ntfy_provider/docker-compose.yml
  keep/providers/ntfy_provider/ntfy_provider.py
  keep/providers/ntfy_provider/server.yml
Due: black, check-yaml

fix: ntfy and discord (#1201)
  docs/providers/documentation/discord-provider.mdx
  docs/providers/documentation/ntfy-provider.mdx
  examples/workflows/discord_basic.yml
  examples/workflows/ntfy_basic.yml
  examples/workflows/telegram_basic.yml
  keep/api/routes/providers.py
  keep/providers/discord_provider/discord_provider.py
  keep/providers/ntfy_provider/docker-compose.yml
  keep/providers/ntfy_provider/ntfy_provider.py
  keep/providers/ntfy_provider/server.yml
Due: black, check-yaml

fix(ui): allow backend proxy even when no token
  keep-ui/middleware.tsx
Due: none

fix(ui): allow backend proxy even when no token (#1202)
  keep-ui/middleware.tsx
Due: none

feat: wip
  keep/api/core/dependencies.py
  keep/api/routes/alerts.py
  keep/providers/base/base_provider.py
Due: black

Provider and consumer initial support
  .gitignore
  keep/api/api.py
  keep/api/routes/alerts.py
  keep/cli/cli.py
  keep/kafka/__init__.py
  keep/kafka/kafka_provider.py
  pyproject.toml
Due: black

minor
  keep/cli/cli.py
Due: black

Added docker compose for kafka dev
  keep/kafka/docker-compose.yaml
Due: check-yaml

Added Kafka to docker.yml
  docker-compose.yml
Due: check-yaml

Added kafka env config to docket yaml
  docker-compose.yml
Due: check-yaml

ark/redis POC
  .gitignore
  keep/api/arq/__init__.py
  keep/api/arq/arq_provider.py
  keep/api/arq/docker-compose.yml
  keep/api/routes/alerts.py
  pyproject.toml
Due: black, check-yaml

feat: wip
  keep/api/core/dependencies.py
  keep/api/core/elastic.py
  keep/api/models/db/preset.py
  keep/api/routes/alerts.py
  keep/api/routes/preset.py
  keep/api/utils/enrichment_helpers.py
  keep/providers/base/base_provider.py
  keep/searchengine/searchengine.py
  tests/conftest.py
  tests/docker-compose-elastic.yml
  tests/docker-compose-mysql.yml
  tests/test_search_alerts.py
Due: black, check-yaml

feat: wip
  keep/api/bl/enrichments.py
  keep/api/core/elastic.py
  keep/api/models/alert.py
  keep/api/routes/alerts.py
  keep/providers/base/base_provider.py
  keep/searchengine/searchengine.py
  tests/conftest.py
  tests/test_search_alerts.py
Due: black

feat: wip
  keep/api/bl/enrichments.py
  keep/api/core/db.py
  keep/api/core/elastic.py
  keep/api/models/alert.py
  keep/api/models/search_alert.py
  keep/api/routes/alerts.py
  keep/searchengine/searchengine.py
  scripts/migrate_to_elastic.py
  tests/conftest.py
Due: black

feat: wip
  keep-ui/app/alerts/alert-dismiss-modal.tsx
  keep-ui/app/alerts/alert-menu.tsx
  keep-ui/app/alerts/alerts.tsx
  keep-ui/utils/fetcher.ts
  keep-ui/utils/hooks/useAlerts.ts
  keep/api/core/db.py
  keep/api/core/elastic.py
  keep/api/models/db/preset.py
  keep/api/models/search_alert.py
  keep/api/routes/preset.py
  keep/searchengine/searchengine.py
  scripts/migrate_to_elastic.py
Due: black

feat: wip
  keep/api/core/elastic.py
  keep/searchengine/searchengine.py
Due: black

fix: updated provider db model to make name unique
  keep/api/models/db/provider.py
Due: black

fix: added table args
  keep/api/models/db/provider.py
Due: black
