Repository keephq/keep: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, check-yaml

black:
  name: black
  entry: black
  language: system
  require_serial: true

check-yaml:
  name: Check Yaml
  entry: check-yaml
  language: system

feat: coralogix provider
  docs/images/coralogix-provider_1.png
  docs/images/coralogix-provider_2.png
  docs/images/coralogix-provider_3.png
  docs/images/coralogix-provider_4.png
  docs/images/coralogix-provider_5.png
  docs/images/coralogix-provider_6.png
  docs/providers/documentation/coralogix-provider.mdx
  keep/providers/coralogix_provider/alerts_mock.py
  keep/providers/coralogix_provider/coralogix_provider.py
Due: black

feat: coralogix provider (#1618)
  README.md
  docs/images/coralogix-provider_1.png
  docs/images/coralogix-provider_2.png
  docs/images/coralogix-provider_3.png
  docs/images/coralogix-provider_4.png
  docs/images/coralogix-provider_5.png
  docs/images/coralogix-provider_6.png
  docs/mint.json
  docs/providers/documentation/coralogix-provider.mdx
  keep-ui/public/icons/coralogix-icon.png
  keep/providers/coralogix_provider/__init__.py
  keep/providers/coralogix_provider/alerts_mock.py
  keep/providers/coralogix_provider/coralogix_provider.py
Due: black

Move per-tenant ee_enabled to the db
  keep/api/tasks/process_background_ai_task.py
  keep/api/utils/import_ee.py
Due: black

fix: readme coralogix
  README.md
Due: none

Imports
  keep/api/routes/ai.py
  keep/api/tasks/process_background_ai_task.py
Due: black

fix: readme coralogix (#1621)
  README.md
Due: none

Fixing tests
  keep/api/tasks/process_background_ai_task.py
  keep/api/utils/import_ee.py
Due: black

Try tests
  keep/api/utils/import_ee.py
Due: black

fix: modify incident miner behavior (#1607)
  ee/experimental/incident_utils.py
  keep/api/core/db.py
Due: black

feat: better control over background workers (#1620)
  ee/experimental/incident_utils.py
  keep-ui/app/ai/ai.tsx
  keep/api/routes/ai.py
  keep/api/tasks/process_background_ai_task.py
  keep/api/utils/import_ee.py
Due: black

fix:cenetering issue and highlight the node which cause the error and some minor changes
  keep-ui/app/workflows/builder/CustomEdge.tsx
  keep-ui/app/workflows/builder/CustomNode.tsx
  keep-ui/app/workflows/builder/builder-store.tsx
  keep-ui/app/workflows/builder/builder-validators.tsx
  keep-ui/app/workflows/builder/builder.tsx
  keep-ui/utils/hooks/useWorkflowInitialization.ts
  keep-ui/utils/reactFlow.ts
Due: none

feat: add firing time calc on digestion
  keep/api/bl/enrichments.py
  keep/api/core/db.py
  keep/api/core/db_on_start.py
  keep/api/models/alert.py
  keep/api/routes/alerts.py
  keep/api/tasks/process_event_task.py
  keep/api/utils/enrichment_helpers.py
  keep/functions/__init__.py
  tests/conftest.py
  tests/test_functions.py
Due: black

feat: redundant
  keep/api/bl/enrichments.py
Due: black

feat: minor fix
  keep/api/tasks/process_event_task.py
Due: black

feat: another one
  keep/api/tasks/process_event_task.py
Due: black

feat: test fix
  keep/api/core/db.py
  tests/test_workflow_execution.py
Due: black

feat: upload log always
  .github/workflows/test-pr-e2e.yml
Due: check-yaml

added custom keep integration to ilert
  docs/providers/documentation/ilert-provider.mdx
  keep/providers/ilert_provider/ilert_provider.py
Due: black

feat: redundant
  keep/api/core/db_on_start.py
Due: black

made changes to documentation
  docs/providers/documentation/ilert-provider.mdx
Due: none

feat: add firing time calc on digestion (#1624)
  .github/workflows/test-pr-e2e.yml
  keep/api/bl/enrichments.py
  keep/api/core/db.py
  keep/api/models/alert.py
  keep/api/routes/alerts.py
  keep/api/tasks/process_event_task.py
  keep/api/utils/enrichment_helpers.py
  keep/functions/__init__.py
  tests/conftest.py
  tests/test_functions.py
  tests/test_workflow_execution.py
Due: black, check-yaml

chore:clean up and fixed the deletion flicker issue
  keep-ui/app/workflows/builder/CustomNode.tsx
  keep-ui/app/workflows/builder/ReactFlowBuilder.tsx
  keep-ui/app/workflows/builder/builder-store.tsx
  keep-ui/app/workflows/builder/builder.tsx
  keep-ui/utils/hooks/useWorkflowInitialization.ts
  keep-ui/utils/reactFlow.ts
Due: none

feat: more logs + debug mode
  keep/workflowmanager/workflowmanager.py
Due: black

feat: more logs + debug mode (#1629)
  keep/workflowmanager/workflowmanager.py
Due: black

fix:empty node plus icon centering
  keep-ui/app/workflows/builder/CustomNode.tsx
Due: none

fix: redis
  keep/api/routes/alerts.py
Due: black

fix: redis (#1630)
  keep/api/routes/alerts.py
Due: black

chore:edge button updates
  keep-ui/app/workflows/builder/CustomEdge.tsx
Due: none

chore:edge button label adjustments
  keep-ui/app/workflows/builder/CustomEdge.tsx
Due: none

chore:code format and clena up
  keep-ui/app/workflows/builder/CustomEdge.tsx
Due: none

feat: performance
  docker-compose-with-mysql.yml
  docker/Dockerfile.api
  docker/entrypoint.sh
  keep/api/api.py
  keep/api/core/db.py
  keep/api/models/db/alert.py
  keep/workflowmanager/workflowscheduler.py
  scripts/multithreaded_simulate_alerts.py
Due: black, check-yaml

feat: redundant
  docker/Dockerfile.api
Due: none

docs: add validation methods for Grafana provider when Keep is not accessible externally
  docs/providers/documentation/grafana-provider.mdx
Due: none

Path conditions:
  black: any of: \.py$
  check-yaml: any of: \.(yaml|yml)$
