Repository keephq/keep: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, check-yaml

black:
  name: black
  entry: black
  language: system
  require_serial: true

check-yaml:
  name: Check Yaml
  entry: check-yaml
  language: system

chore: some enhancements for @DmarshalTU (#223)
  keep-ui/app/alerts/alerts.client.tsx
  keep-ui/app/alerts/layout.tsx
  keep-ui/app/alerts/models.tsx
  keep-ui/app/providers/page.client.tsx
  keep-ui/app/providers/provider-tile.tsx
  keep-ui/app/providers/providers-installed.tsx
  keep/api/routes/providers.py
  keep/providers/grafana_provider/grafana_provider.py
  keep/providers/prometheus_provider/prometheus_provider.py
  keep/secretmanager/filesecretmanager.py
  keep/secretmanager/gcpsecretmanager.py
  keep/secretmanager/secretmanager.py
Due: black

feat: wip
  .gitignore
  examples/alerts/db_disk_space.yml
  examples/alerts/keep_semantic_alert_example_datadog.yml
  examples/alerts/webhook_example.yml
  keep-ui/app/navbar-inner.tsx
  keep-ui/app/workflows/page.client.tsx
  keep-ui/app/workflows/page.tsx
  keep-ui/app/workflows/workflow-row.tsx
  keep-ui/app/workflows/workflows-table.tsx
  keep/alert/alert.py
  keep/alertmanager/alertmanager.py
  keep/alertmanager/alertstore.py
  keep/api/api.py
  keep/api/core/db.py
  keep/api/models/alertworkflow.py
  keep/api/routes/alertsworkflows.py
  keep/cli/cli.py
  keep/parser/parser.py
  keep/providers/bigquery_provider/bigquery_provider.py
  keep/providers/providers_factory.py
  keep/step/step.py
  keep/storagemanager/__init__.py
  keep/storagemanager/filesystemstoragemanager.py
  keep/storagemanager/gcpstoragemanager.py
  keep/storagemanager/storagemanager.py
  keep/storagemanager/storagemanagerfactory.py
Due: black, check-yaml

chore: remove frill
  keep-ui/app/frill.tsx
  keep-ui/app/globals.css
  keep-ui/app/layout.tsx
Due: none

chore: remove frill (#224)
  keep-ui/app/frill.tsx
  keep-ui/app/globals.css
  keep-ui/app/layout.tsx
Due: none

feat: remove fe, keep backend
  keep-ui/app/workflows/page.client.tsx
  keep-ui/app/workflows/page.tsx
  keep-ui/app/workflows/workflow-row.tsx
  keep-ui/app/workflows/workflows-table.tsx
  keep/alertmanager/alertmanager.py
  keep/alertmanager/alertstore.py
  keep/api/models/alertworkflow.py
  keep/api/routes/alertsworkflows.py
  keep/contextmanager/contextmanager.py
  keep/iohandler/iohandler.py
  keep/parser/parser.py
  keep/providers/base/base_provider.py
  keep/storagemanager/gcpstoragemanager.py
  pyproject.toml
Due: black

feat: minor fixes
  examples/alerts/webhook_example.yml
  keep-ui/app/navbar-inner.tsx
  keep/alertmanager/alertstore.py
  tests/test_parser.py
Due: black, check-yaml

feat: add some tests for iohandler
  tests/test_iohandler.py
Due: black

new chart version
  chart/keep/templates/_helpers.tpl
  chart/keep/templates/backend-hpa.yaml
  chart/keep/templates/frontend-hpa.yaml
  chart/keep/templates/frontend-ingress.yaml
  chart/keep/templates/keep-backend-service.yaml
  chart/keep/templates/keep-backend.yaml
  chart/keep/templates/keep-frontend-service.yaml
  chart/keep/templates/keep-frontend.yaml
  chart/keep/templates/serviceaccount.yaml
  chart/keep/values.yaml
Due: check-yaml

feat: empty commit
  README.md
Due: none

feat: add pull_request trigger
  .github/workflows/test-pr.yml
Due: check-yaml

feat: new chart version (#226)
  .github/workflows/test-pr.yml
  README.md
  chart/keep/templates/_helpers.tpl
  chart/keep/templates/backend-hpa.yaml
  chart/keep/templates/frontend-hpa.yaml
  chart/keep/templates/frontend-ingress.yaml
  chart/keep/templates/keep-backend-service.yaml
  chart/keep/templates/keep-backend.yaml
  chart/keep/templates/keep-frontend-service.yaml
  chart/keep/templates/keep-frontend.yaml
  chart/keep/templates/serviceaccount.yaml
  chart/keep/values.yaml
Due: check-yaml

feat: merge from main
  .github/workflows/test-pr.yml
  README.md
  chart/keep/templates/_helpers.tpl
  chart/keep/templates/backend-hpa.yaml
  chart/keep/templates/frontend-hpa.yaml
  chart/keep/templates/frontend-ingress.yaml
  chart/keep/templates/keep-backend-service.yaml
  chart/keep/templates/keep-backend.yaml
  chart/keep/templates/keep-frontend-service.yaml
  chart/keep/templates/keep-frontend.yaml
  chart/keep/templates/serviceaccount.yaml
  chart/keep/values.yaml
  keep-ui/app/alerts/alerts.client.tsx
  keep-ui/app/alerts/layout.tsx
  keep-ui/app/alerts/models.tsx
  keep-ui/app/frill.tsx
  keep-ui/app/globals.css
  keep-ui/app/layout.tsx
  keep-ui/app/providers/page.client.tsx
  keep-ui/app/providers/provider-tile.tsx
  keep-ui/app/providers/providers-installed.tsx
  keep/api/routes/providers.py
  keep/providers/grafana_provider/grafana_provider.py
  keep/providers/prometheus_provider/prometheus_provider.py
  keep/secretmanager/filesecretmanager.py
  keep/secretmanager/gcpsecretmanager.py
  keep/secretmanager/secretmanager.py
Due: black, check-yaml

Update README.md
  chart/keep/README.md
Due: none

feat: Update README.md (#227)
  chart/keep/README.md
Due: none

feat: more tests coverage
  keep/alertmanager/alertstore.py
  tests/test_iohandler.py
  tests/test_parser.py
Due: black

feat: fix tests
  tests/test_parser.py
Due: black

feat: workflow multi tenancy (backend) (#225)
  .gitignore
  examples/alerts/db_disk_space.yml
  examples/alerts/keep_semantic_alert_example_datadog.yml
  keep/alert/alert.py
  keep/alertmanager/alertmanager.py
  keep/alertmanager/alertstore.py
  keep/api/api.py
  keep/api/core/db.py
  keep/api/models/alertworkflow.py
  keep/api/routes/alertsworkflows.py
  keep/cli/cli.py
  keep/contextmanager/contextmanager.py
  keep/iohandler/iohandler.py
  keep/parser/parser.py
  keep/providers/base/base_provider.py
  keep/providers/bigquery_provider/bigquery_provider.py
  keep/providers/providers_factory.py
  keep/step/step.py
  keep/storagemanager/__init__.py
  keep/storagemanager/filesystemstoragemanager.py
  keep/storagemanager/gcpstoragemanager.py
  keep/storagemanager/storagemanager.py
  keep/storagemanager/storagemanagerfactory.py
  pyproject.toml
  tests/test_iohandler.py
  tests/test_parser.py
Due: black, check-yaml

fix: io
  keep/alertmanager/alertstore.py
Due: black

fix: io (#228)
  keep/alertmanager/alertstore.py
Due: black

chore: database to external service
  chart/keep/templates/keep-backend.yaml
  chart/keep/templates/keep-db-service.yaml
  chart/keep/templates/keep-db.yaml
  chart/keep/values.yaml
  docker-compose.dev.yml
  docker-compose.yml
  keep/api/core/db.py
  setup.sh
Due: black, check-yaml

fix: mysql data persistent
  chart/keep/templates/keep-backend.yaml
Due: check-yaml

fix: revert keep-backend and apply for keep-db
  chart/keep/templates/keep-backend.yaml
  chart/keep/templates/keep-db.yaml
Due: check-yaml

fix: repository
  chart/keep/values.yaml
Due: check-yaml

chore: add a few more posthog events
  keep/cli/cli.py
  keep/posthog/posthog.py
Due: black

chore: database to external service (#229)
  chart/keep/templates/keep-backend.yaml
  chart/keep/templates/keep-db-service.yaml
  chart/keep/templates/keep-db.yaml
  chart/keep/values.yaml
  docker-compose.dev.yml
  docker-compose.yml
  keep/api/core/db.py
  setup.sh
Due: black, check-yaml

fix: ignore random id
  .gitignore
Due: none

chore: add a few more posthog events (#230)
  .gitignore
  keep/cli/cli.py
  keep/posthog/posthog.py
Due: black

unit: mock requests for bad url test
  pyproject.toml
  tests/test_parser.py
Due: black

set up python/poetry cache
  .github/workflows/test-pr.yml
Due: check-yaml

add poetry.lock to the repo
  .gitignore
  poetry.lock
Due: none

remove interval from db_disk_space.yml
  examples/alerts/db_disk_space.yml
Due: check-yaml

Load directory of alerts
  keep/alertmanager/alertstore.py
Due: black

fix: mock requests for bad url test (#232)
  pyproject.toml
  tests/test_parser.py
Due: black

Path conditions:
  black: any of: \.py$
  check-yaml: any of: \.(yaml|yml)$
